/.gitattributes export-ignore
/.github/** export-ignore
/.gitignore export-ignore
/CONTRIBUTING.md export-ignore
/FUNDING.yml export-ignore
/bin/** export-ignore
/phpunit.dist.xml export-ignore
/resources/apis.json export-ignore
/resources/metadata/** export-ignore
/resources/models/** export-ignore
/tests/** export-ignore
