{
    "openapi": "3.0.1",
    "info": {
        "title": "The Selling Partner API for Amazon Warehousing and Distribution",
        "description": "The Selling Partner API for Amazon Warehousing and Distribution (AWD) provides programmatic access to information about AWD shipments and inventory. ",
        "contact": {
            "name": "Selling Partner API Developer Support",
            "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
        },
        "license": {
            "name": "Apache License 2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "2024-05-09"
    },
    "servers": [
        {
            "url": "https://sellingpartnerapi-na.amazon.com/"
        }
    ],
    "paths": {
        "/awd/2024-05-09/inboundShipments/{shipmentId}": {
            "get": {
                "tags": [
                    "AmazonWarehousingAndDistributionV20240509"
                ],
                "description": "Retrieves an AWD inbound shipment.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 2 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api)",
                "operationId": "getInboundShipment",
                "parameters": [
                    {
                        "name": "shipmentId",
                        "in": "path",
                        "description": "ID for the shipment. A shipment contains the cases being inbounded.",
                        "required": true,
                        "schema": {
                            "minLength": 1,
                            "type": "string"
                        }
                    },
                    {
                        "name": "skuQuantities",
                        "in": "query",
                        "description": "If equal to `SHOW`, the response includes the shipment SKU quantity details.\n\nDefaults to `HIDE`, in which case the response does not contain SKU quantities",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "SHOW",
                                "HIDE"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "description": "Show the additional SKU quantity details.",
                                    "value": "SHOW"
                                },
                                {
                                    "description": "Hide the additional SKU quantity details.",
                                    "value": "HIDE"
                                }
                            ]
                        },
                        "example": "SHOW",
                        "x-docgen-enum-table-extension": [
                            {
                                "description": "Show the additional SKU quantity details.",
                                "value": "SHOW"
                            },
                            {
                                "description": "Hide the additional SKU quantity details.",
                                "value": "HIDE"
                            }
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The 200 response for `getInboundShipment`.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InboundShipment"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "shipmentId": {
                                                "value": "TestShipmentId"
                                            }
                                        }
                                    },
                                    "response": {
                                        "createdAt": "2023-06-07T12:12:09.061Z",
                                        "destinationAddress": {
                                            "addressLine1": "address_line_1",
                                            "addressLine2": "address_line_2",
                                            "addressLine3": "address_line_3",
                                            "city": "City1",
                                            "countryCode": "CC",
                                            "district": "District1",
                                            "name": "DestinationName",
                                            "postalCode": "123456",
                                            "stateOrRegion": "State1"
                                        },
                                        "orderId": "TestOrderId",
                                        "originAddress": {
                                            "addressLine1": "address_1",
                                            "addressLine2": "address_2",
                                            "addressLine3": "address_3",
                                            "city": "City1",
                                            "countryCode": "CC",
                                            "district": "District1",
                                            "name": "address_name",
                                            "postalCode": "123456",
                                            "stateOrRegion": "State1"
                                        },
                                        "receivedQuantity": [
                                            {
                                                "quantity": 0,
                                                "unitOfMeasurement": "CASES"
                                            }
                                        ],
                                        "shipmentContainerQuantities": [
                                            {
                                                "count": 2,
                                                "distributionPackage": {
                                                    "contents": {
                                                        "packages": [],
                                                        "products": [
                                                            {
                                                                "quantity": 20,
                                                                "sku": "testPen"
                                                            }
                                                        ]
                                                    },
                                                    "measurements": {
                                                        "dimensions": {
                                                            "height": 33.02,
                                                            "length": 45.72,
                                                            "unitOfMeasurement": "CENTIMETERS",
                                                            "width": 15.24
                                                        },
                                                        "weight": {
                                                            "unitOfMeasurement": "KILOGRAMS",
                                                            "weight": 5.443104
                                                        }
                                                    },
                                                    "type": "CASE"
                                                }
                                            }
                                        ],
                                        "shipmentId": "TestShipmentId",
                                        "shipmentStatus": "CREATED",
                                        "shipmentSkuQuantities": [
                                            {
                                                "sku": "testPen",
                                                "expectedQuantity": {
                                                    "quantity": 2,
                                                    "unitOfMeasurement": "CASE"
                                                },
                                                "receivedQuantity": {
                                                    "quantity": 0,
                                                    "unitOfMeasurement": "CASE"
                                                }
                                            }
                                        ],
                                        "updatedAt": "2023-06-07T12:12:09.061Z"
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "shipmentId": {
                                                "value": " "
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "BAD_REQUEST",
                                                "details": "This exception is thrown when client inputs are invalid",
                                                "message": "ShipmentId should be present for this request"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/awd/2024-05-09/inboundShipments": {
            "get": {
                "tags": [
                    "AmazonWarehousingAndDistributionV20240509"
                ],
                "description": "Retrieves a summary of all the inbound AWD shipments associated with a merchant, with the ability to apply optional filters.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 1 | 1 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "listInboundShipments",
                "parameters": [
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Field to sort results by. By default, the response will be sorted by UPDATED_AT.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "UPDATED_AT",
                                "CREATED_AT"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "description": "Sort by the time of update.",
                                    "value": "UPDATED_AT"
                                },
                                {
                                    "description": "Sort by the time of creation.",
                                    "value": "CREATED_AT"
                                }
                            ]
                        },
                        "x-docgen-enum-table-extension": [
                            {
                                "description": "Sort by the time of update.",
                                "value": "UPDATED_AT"
                            },
                            {
                                "description": "Sort by the time of creation.",
                                "value": "CREATED_AT"
                            }
                        ]
                    },
                    {
                        "name": "sortOrder",
                        "in": "query",
                        "description": "Sort the response in ASCENDING or DESCENDING order. By default, the response will be sorted in DESCENDING order.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ASCENDING",
                                "DESCENDING"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "description": "Sorts the collection in ascending order.",
                                    "value": "ASCENDING"
                                },
                                {
                                    "description": "Sorts the collection in descending order.",
                                    "value": "DESCENDING"
                                }
                            ]
                        },
                        "example": "ASCENDING",
                        "x-docgen-enum-table-extension": [
                            {
                                "description": "Sorts the collection in ascending order.",
                                "value": "ASCENDING"
                            },
                            {
                                "description": "Sorts the collection in descending order.",
                                "value": "DESCENDING"
                            }
                        ]
                    },
                    {
                        "name": "shipmentStatus",
                        "in": "query",
                        "description": "Filter by inbound shipment status.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "CREATED",
                                "SHIPPED",
                                "IN_TRANSIT",
                                "RECEIVING",
                                "DELIVERED",
                                "CLOSED",
                                "CANCELLED"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "description": "Shipment is created, but hasn't shipped.",
                                    "value": "CREATED"
                                },
                                {
                                    "description": "Shipment was picked up by the carrier or was dropped off with the carrier.",
                                    "value": "SHIPPED"
                                },
                                {
                                    "description": "The carrier has notified AWD that the shipment is in transit between the origin and destination nodes.",
                                    "value": "IN_TRANSIT"
                                },
                                {
                                    "description": "The shipment has been partially received.",
                                    "value": "RECEIVING"
                                },
                                {
                                    "description": "The shipment has reached the destination node and has been delivered to the facility yard. The shipment `receive` process at the warehouse will start soon.",
                                    "value": "DELIVERED"
                                },
                                {
                                    "description": "No more actions are required for the shipment. This is a final state.",
                                    "value": "CLOSED"
                                },
                                {
                                    "description": "The shipment is cancelled. This is a final state.",
                                    "value": "CANCELLED"
                                }
                            ]
                        },
                        "example": "CREATED",
                        "x-docgen-enum-table-extension": [
                            {
                                "description": "Shipment is created, but hasn't shipped.",
                                "value": "CREATED"
                            },
                            {
                                "description": "Shipment was picked up by the carrier or was dropped off with the carrier.",
                                "value": "SHIPPED"
                            },
                            {
                                "description": "The carrier has notified AWD that the shipment is in transit between the origin and destination nodes.",
                                "value": "IN_TRANSIT"
                            },
                            {
                                "description": "The shipment has been partially received.",
                                "value": "RECEIVING"
                            },
                            {
                                "description": "The shipment has reached the destination node and has been delivered to the facility yard. The shipment `receive` process at the warehouse will start soon.",
                                "value": "DELIVERED"
                            },
                            {
                                "description": "No more actions are required for the shipment. This is a final state.",
                                "value": "CLOSED"
                            },
                            {
                                "description": "The shipment is cancelled. This is a final state.",
                                "value": "CANCELLED"
                            }
                        ]
                    },
                    {
                        "name": "updatedAfter",
                        "in": "query",
                        "description": "List the inbound shipments that were updated after a certain time (inclusive). The date must be in <a href='https://developer-docs.amazon.com/sp-api/docs/iso-8601'>ISO 8601</a> format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "example": "2023-01-12T10:00:00.000Z"
                    },
                    {
                        "name": "updatedBefore",
                        "in": "query",
                        "description": "List the inbound shipments that were updated before a certain time (inclusive). The date must be in <a href='https://developer-docs.amazon.com/sp-api/docs/iso-8601'>ISO 8601</a> format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "example": "2023-01-12T10:00:00.000Z"
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "description": "Maximum number of results to return.",
                        "schema": {
                            "maximum": 200,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32",
                            "default": 25
                        },
                        "example": "10"
                    },
                    {
                        "name": "nextToken",
                        "in": "query",
                        "description": "A token that is used to retrieve the next page of results. The response includes `nextToken` when the number of results exceeds the specified `maxResults` value. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `nextToken` is null. Note that this operation can return empty pages.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "SampleToken"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The 200 response for `listInboundShipments`.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShipmentListing"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {}
                                    },
                                    "response": {
                                        "shipments": [
                                            {
                                                "createdAt": "2023-06-07T12:12:09.061Z",
                                                "orderId": "TestOrderId",
                                                "shipmentId": "TestShipmentId",
                                                "shipmentStatus": "CREATED",
                                                "updatedAt": "2023-06-07T12:12:09.061Z"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "sortBy": {
                                                "value": "TEST"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "BAD_REQUEST",
                                                "details": "This exception is thrown when client inputs are invalid",
                                                "message": "Invalid shipment sortable field received: TEST"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/awd/2024-05-09/inventory": {
            "get": {
                "tags": [
                    "AmazonWarehousingAndDistributionV20240509"
                ],
                "description": "Lists AWD inventory associated with a merchant with the ability to apply optional filters.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 2 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "listInventory",
                "parameters": [
                    {
                        "name": "sku",
                        "in": "query",
                        "description": "Filter by seller or merchant SKU for the item.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "TestSKU"
                    },
                    {
                        "name": "sortOrder",
                        "in": "query",
                        "description": "Sort the response in `ASCENDING` or `DESCENDING` order.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ASCENDING",
                                "DESCENDING"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "description": "Sorts the collection in ascending order.",
                                    "value": "ASCENDING"
                                },
                                {
                                    "description": "Sorts the collection in descending order.",
                                    "value": "DESCENDING"
                                }
                            ]
                        },
                        "x-docgen-enum-table-extension": [
                            {
                                "description": "Sorts the collection in ascending order.",
                                "value": "ASCENDING"
                            },
                            {
                                "description": "Sorts the collection in descending order.",
                                "value": "DESCENDING"
                            }
                        ]
                    },
                    {
                        "name": "details",
                        "in": "query",
                        "description": "Set to `SHOW` to return summaries with additional inventory details. Defaults to `HIDE,` which returns only inventory summary totals.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "SHOW",
                                "HIDE"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "description": "Show the additional summarized inventory details.",
                                    "value": "SHOW"
                                },
                                {
                                    "description": "Hide the additional summarized inventory details.",
                                    "value": "HIDE"
                                }
                            ]
                        },
                        "example": "SHOW",
                        "x-docgen-enum-table-extension": [
                            {
                                "description": "Show the additional summarized inventory details.",
                                "value": "SHOW"
                            },
                            {
                                "description": "Hide the additional summarized inventory details.",
                                "value": "HIDE"
                            }
                        ]
                    },
                    {
                        "name": "nextToken",
                        "in": "query",
                        "description": "A token that is used to retrieve the next page of results. The response includes `nextToken` when the number of results exceeds the specified `maxResults` value. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `nextToken` is null. Note that this operation can return empty pages.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "SampleToken"
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "description": "Maximum number of results to return.",
                        "schema": {
                            "maximum": 200,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32",
                            "default": 25
                        },
                        "example": "10"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The 200 response for `listInventory`.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InventoryListing"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {},
                                    "response": {
                                        "inventory": [
                                            {
                                                "totalOnhandQuantity": 20,
                                                "totalInboundQuantity": 10,
                                                "sku": "100TestSKU1Pen",
                                                "inventoryDetails": {
                                                    "availableDistributableQuantity": 10,
                                                    "reservedDistributableQuantity": 10
                                                },
                                                "expirationDetails": [
                                                    {
                                                        "onhandQuantity": 10,
                                                        "expiration": "2027-01-12T10:00:00.000Z"
                                                    },
                                                    {
                                                        "onhandQuantity": 10,
                                                        "expiration": "2028-01-12T10:00:00.000Z"
                                                    }
                                                ]
                                            },
                                            {
                                                "totalOnhandQuantity": 20,
                                                "totalInboundQuantity": 5,
                                                "sku": "2U-BKEX-VW4D",
                                                "inventoryDetails": {
                                                    "availableDistributableQuantity": 10,
                                                    "reservedDistributableQuantity": 10
                                                },
                                                "expirationDetails": [
                                                    {
                                                        "onhandQuantity": 20,
                                                        "expiration": "2027-01-12T10:00:00.000Z"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "sortOrder": {
                                                "value": "UNKNOWN"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "BAD_REQUEST",
                                                "details": "This exception is thrown when client inputs are invalid",
                                                "message": "Invalid value: UNKNOWN passed for sort order. Possible values are: [ASCENDING, DESCENDING]"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Address": {
                "required": [
                    "addressLine1",
                    "countryCode",
                    "name",
                    "stateOrRegion"
                ],
                "type": "object",
                "properties": {
                    "addressLine1": {
                        "type": "string",
                        "description": "First line of the address text."
                    },
                    "addressLine2": {
                        "type": "string",
                        "description": "Optional second line of the address text."
                    },
                    "addressLine3": {
                        "type": "string",
                        "description": "Optional third line of the address text."
                    },
                    "city": {
                        "type": "string",
                        "description": "Optional city where this address is located."
                    },
                    "countryCode": {
                        "type": "string",
                        "description": "Two-digit, ISO 3166-1 alpha-2 formatted country code where this address is located."
                    },
                    "county": {
                        "type": "string",
                        "description": "Optional county where this address is located.",
                        "example": "Washington"
                    },
                    "district": {
                        "type": "string",
                        "description": "Optional district where this address is located."
                    },
                    "name": {
                        "type": "string",
                        "description": "Name of the person, business, or institution at this address."
                    },
                    "phoneNumber": {
                        "type": "string",
                        "description": "Optional E.164-formatted phone number for an available contact at this address.",
                        "example": "+14155552671"
                    },
                    "postalCode": {
                        "type": "string",
                        "description": "Optional postal code where this address is located."
                    },
                    "stateOrRegion": {
                        "type": "string",
                        "description": "State or region where this address is located. Note that this is contextual to the specified country code."
                    }
                },
                "description": "Shipping address that represents the origin or destination location.",
                "example": {
                    "addressLine1": "address_1",
                    "addressLine2": "address_2",
                    "addressLine3": "address_3",
                    "city": "Seattle",
                    "countryCode": "US",
                    "county": "Washington",
                    "district": "District1",
                    "name": "address_name",
                    "phoneNumber": "+14155552671",
                    "postalCode": "123456",
                    "stateOrRegion": "Washington"
                }
            },
            "CarrierCode": {
                "type": "object",
                "properties": {
                    "carrierCodeType": {
                        "$ref": "#/components/schemas/CarrierCodeType"
                    },
                    "carrierCodeValue": {
                        "type": "string",
                        "description": "Value of the carrier code.",
                        "example": "TestCarrierCode"
                    }
                },
                "description": "Identifies the carrier that will deliver the shipment.",
                "example": {
                    "carrierCodeType": "SCAC",
                    "carrierCodeValue": "TestCarrierCode"
                }
            },
            "CarrierCodeType": {
                "type": "string",
                "description": "Denotes the type for the carrier.",
                "example": "SCAC",
                "enum": [
                    "SCAC"
                ],
                "x-docgen-enum-table-extension": [
                    {
                        "description": "Standard Carrier Alpha Code. Refer to [What is a Standard Carrier Alpha Code](https://www.help.cbp.gov/s/article/Article-1420?language=en_US) for more information.",
                        "value": "SCAC"
                    }
                ]
            },
            "DimensionUnitOfMeasurement": {
                "type": "string",
                "description": "Unit of measurement for package dimensions.",
                "example": "INCHES",
                "enum": [
                    "INCHES",
                    "CENTIMETERS"
                ],
                "x-docgen-enum-table-extension": [
                    {
                        "description": "Denotes package dimensions in inches.",
                        "value": "INCHES"
                    },
                    {
                        "description": "Denotes package dimensions in centimeters.",
                        "value": "CENTIMETERS"
                    }
                ]
            },
            "DistributionPackage": {
                "required": [
                    "contents",
                    "measurements",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "contents": {
                        "$ref": "#/components/schemas/DistributionPackageContents"
                    },
                    "measurements": {
                        "$ref": "#/components/schemas/MeasurementData"
                    },
                    "type": {
                        "$ref": "#/components/schemas/DistributionPackageType"
                    }
                },
                "description": "Represents an AWD distribution package.",
                "example": {
                    "contents": {
                        "products": [
                            {
                                "quantity": 1,
                                "sku": "testPen",
                                "expiration": "2025-06-07T12:12:09.061Z",
                                "prepDetails": {
                                    "prepCategory": "PERFORATED",
                                    "prepOwner": "AMAZON",
                                    "labelOwner": "SELF",
                                    "prepInstructions": [
                                        {
                                            "prepType": "ITEM_POLYBAGGING",
                                            "prepOwner": "AMAZON"
                                        }
                                    ]
                                }
                            }
                        ]
                    },
                    "measurements": {
                        "dimensions": {
                            "height": 1,
                            "length": 1,
                            "unitOfMeasurement": "INCHES",
                            "width": 1
                        },
                        "volume": {
                            "unitOfMeasurement": "CUIN",
                            "volume": 1
                        },
                        "weight": {
                            "unitOfMeasurement": "POUNDS",
                            "weight": 1
                        }
                    },
                    "type": "CASE"
                }
            },
            "DistributionPackageContents": {
                "type": "object",
                "properties": {
                    "packages": {
                        "type": "array",
                        "description": "This is required only when `DistributionPackageType=PALLET`.",
                        "items": {
                            "$ref": "#/components/schemas/DistributionPackageQuantity"
                        }
                    },
                    "products": {
                        "type": "array",
                        "description": "This is required only when `DistributionPackageType=CASE`.",
                        "items": {
                            "$ref": "#/components/schemas/ProductQuantity"
                        }
                    }
                },
                "description": "Represents the contents inside a package, which can be products or a nested package."
            },
            "DistributionPackageQuantity": {
                "required": [
                    "count",
                    "distributionPackage"
                ],
                "type": "object",
                "properties": {
                    "count": {
                        "type": "integer",
                        "description": "Number of cases or pallets with the same package configuration.",
                        "format": "int32"
                    },
                    "distributionPackage": {
                        "$ref": "#/components/schemas/DistributionPackage"
                    }
                },
                "description": "Represents a distribution package with its respective quantity.",
                "example": {
                    "count": 1,
                    "distributionPackage": {
                        "contents": {
                            "products": [
                                {
                                    "quantity": 1,
                                    "sku": "testPen",
                                    "expiration": "2025-06-07T12:12:09.061Z",
                                    "prepDetails": {
                                        "prepCategory": "PERFORATED",
                                        "prepOwner": "AMAZON",
                                        "labelOwner": "SELF",
                                        "prepInstructions": [
                                            {
                                                "prepType": "ITEM_POLYBAGGING",
                                                "prepOwner": "AMAZON"
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "measurements": {
                            "dimensions": {
                                "height": 1,
                                "length": 1,
                                "unitOfMeasurement": "INCHES",
                                "width": 1
                            },
                            "volume": {
                                "unitOfMeasurement": "CUIN",
                                "volume": 1
                            },
                            "weight": {
                                "unitOfMeasurement": "POUNDS",
                                "weight": 1
                            }
                        },
                        "type": "CASE"
                    }
                }
            },
            "DistributionPackageType": {
                "type": "string",
                "description": "Type of distribution packages.",
                "example": "CASE",
                "enum": [
                    "CASE",
                    "PALLET"
                ],
                "x-docgen-enum-table-extension": [
                    {
                        "description": "Package type `CASE`.",
                        "value": "CASE"
                    },
                    {
                        "description": "Package type `PALLET`. Currently, the `PALLET` package type is not supported.",
                        "value": "PALLET"
                    }
                ]
            },
            "Error": {
                "required": [
                    "code",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "An error code that identifies the type of error that occurred."
                    },
                    "details": {
                        "type": "string",
                        "description": "Additional details that can help the caller understand or fix the issue."
                    },
                    "message": {
                        "type": "string",
                        "description": "A message that describes the error condition."
                    }
                },
                "description": "Error response returned when the request is unsuccessful."
            },
            "ErrorList": {
                "required": [
                    "errors"
                ],
                "type": "object",
                "properties": {
                    "errors": {
                        "type": "array",
                        "description": "A list of errors describing the failures.",
                        "items": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                },
                "description": "This exception is thrown when client inputs are invalid."
            },
            "FormatType": {
                "type": "string",
                "description": "The label format type extension.",
                "example": "PDF",
                "enum": [
                    "PDF"
                ],
                "x-docgen-enum-table-extension": [
                    {
                        "description": "PDF format.",
                        "value": "PDF"
                    }
                ]
            },
            "InboundEligibility": {
                "required": [
                    "packagesToInbound",
                    "previewedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "ineligibilityReasons": {
                        "type": "array",
                        "description": "If there are order level eligibility issues, then this list will contain those error codes and descriptions.",
                        "items": {
                            "$ref": "#/components/schemas/OrderIneligibilityReason"
                        }
                    },
                    "packagesToInbound": {
                        "type": "array",
                        "description": "Details on SKU eligibility for each inbound package.",
                        "items": {
                            "$ref": "#/components/schemas/SkuEligibility"
                        }
                    },
                    "previewedAt": {
                        "type": "string",
                        "description": "Timestamp when the eligibility check is performed.",
                        "format": "date-time"
                    },
                    "status": {
                        "$ref": "#/components/schemas/InboundEligibilityStatus"
                    }
                },
                "description": "Represents the eligibility status of the inbound packages."
            },
            "InboundEligibilityStatus": {
                "type": "string",
                "description": "Enum denoting the package inbound eligibility.",
                "enum": [
                    "ELIGIBLE",
                    "INELIGIBLE"
                ],
                "x-docgen-enum-table-extension": [
                    {
                        "description": "Eligible to inbound.",
                        "value": "ELIGIBLE"
                    },
                    {
                        "description": "Ineligible to inbound.",
                        "value": "INELIGIBLE"
                    }
                ]
            },
            "InboundOrder": {
                "required": [
                    "channelPlacedInboundShipments",
                    "createdAt",
                    "orderId",
                    "orderStatus",
                    "orderVersion",
                    "originAddress",
                    "packagesToInbound"
                ],
                "type": "object",
                "properties": {
                    "channelPlacedInboundShipments": {
                        "minItems": 1,
                        "type": "array",
                        "description": "List of inbound shipments part of this order.",
                        "items": {
                            "$ref": "#/components/schemas/InboundShipment"
                        }
                    },
                    "createdAt": {
                        "type": "string",
                        "description": "Date when this order was created.",
                        "format": "date-time"
                    },
                    "externalReferenceId": {
                        "type": "string",
                        "description": "Reference ID that can be used to correlate the order with partner resources.",
                        "example": "TestReferenceId"
                    },
                    "orderId": {
                        "type": "string",
                        "description": "Inbound order ID."
                    },
                    "orderStatus": {
                        "$ref": "#/components/schemas/InboundStatus"
                    },
                    "orderVersion": {
                        "type": "string",
                        "description": "Inbound order version."
                    },
                    "originAddress": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "packagesToInbound": {
                        "minItems": 1,
                        "type": "array",
                        "description": "List of packages to be inbounded.",
                        "items": {
                            "$ref": "#/components/schemas/DistributionPackageQuantity"
                        }
                    },
                    "preferences": {
                        "$ref": "#/components/schemas/InboundPreferences"
                    },
                    "shipBy": {
                        "type": "string",
                        "description": "Date by which this order will be shipped.",
                        "format": "date-time",
                        "example": "2023-01-12T10:00:00Z"
                    },
                    "updatedAt": {
                        "type": "string",
                        "description": "Date when this order was last updated.",
                        "format": "date-time"
                    }
                },
                "description": "Represents an AWD inbound order.",
                "example": {
                    "channelPlacedInboundShipments": [
                        {
                            "destinationAddress": {
                                "addressLine1": "address_1",
                                "addressLine2": "address_2",
                                "addressLine3": "address_3",
                                "city": "Seattle",
                                "countryCode": "US",
                                "county": "Washington",
                                "district": "District1",
                                "name": "address_name",
                                "phoneNumber": "+14155552671",
                                "postalCode": "123456",
                                "stateOrRegion": "Washington"
                            },
                            "orderId": "TestOrderId",
                            "originAddress": {
                                "addressLine1": "address_1",
                                "addressLine2": "address_2",
                                "addressLine3": "address_3",
                                "city": "Seattle",
                                "countryCode": "US",
                                "county": "Washington",
                                "district": "District1",
                                "name": "address_name",
                                "phoneNumber": "+14155552671",
                                "postalCode": "123456",
                                "stateOrRegion": "Washington"
                            },
                            "receivedQuantity": [],
                            "shipmentContainerQuantities": [
                                {
                                    "count": 1,
                                    "distributionPackage": {
                                        "contents": {
                                            "packages": [],
                                            "products": [
                                                {
                                                    "quantity": 1,
                                                    "sku": "testPen"
                                                }
                                            ]
                                        },
                                        "measurements": {
                                            "dimensions": {
                                                "height": 2.54,
                                                "length": 2.54,
                                                "unitOfMeasurement": "CENTIMETERS",
                                                "width": 2.54
                                            },
                                            "weight": {
                                                "unitOfMeasurement": "KILOGRAMS",
                                                "weight": 0.453592
                                            }
                                        },
                                        "type": "CASE"
                                    }
                                }
                            ],
                            "shipmentId": "TestShipmentId",
                            "shipmentStatus": "CREATED"
                        }
                    ],
                    "createdAt": "2023-06-07T12:12:09.061Z",
                    "externalReferenceId": "TestReferenceId",
                    "destinationRegion": "us-west",
                    "orderId": "TestOrderId",
                    "orderStatus": "DRAFT",
                    "orderVersion": "2",
                    "originAddress": {
                        "addressLine1": "address_1",
                        "addressLine2": "address_2",
                        "addressLine3": "address_3",
                        "city": "Seattle",
                        "countryCode": "US",
                        "county": "Washington",
                        "district": "District1",
                        "name": "address_name",
                        "phoneNumber": "+14155552671",
                        "postalCode": "123456",
                        "stateOrRegion": "Washington"
                    },
                    "packagesToInbound": [
                        {
                            "count": 1,
                            "distributionPackage": {
                                "contents": {
                                    "packages": [],
                                    "products": [
                                        {
                                            "quantity": 1,
                                            "sku": "testPen"
                                        }
                                    ]
                                },
                                "measurements": {
                                    "dimensions": {
                                        "height": 2.54,
                                        "length": 2.54,
                                        "unitOfMeasurement": "CENTIMETERS",
                                        "width": 2.54
                                    },
                                    "weight": {
                                        "unitOfMeasurement": "KILOGRAMS",
                                        "weight": 0.453592
                                    }
                                },
                                "type": "CASE"
                            }
                        }
                    ],
                    "shipBy": "2023-06-07T12:12:09.061Z",
                    "updatedAt": "2023-06-07T12:12:09.061Z",
                    "preferences": {
                        "destinationRegion": "us-west"
                    }
                }
            },
            "InboundOrderCreationData": {
                "required": [
                    "originAddress",
                    "packagesToInbound"
                ],
                "type": "object",
                "properties": {
                    "externalReferenceId": {
                        "type": "string",
                        "description": "Reference ID that can be used to correlate the order with partner resources.",
                        "example": "TestReferenceId"
                    },
                    "originAddress": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "packagesToInbound": {
                        "minItems": 1,
                        "type": "array",
                        "description": "List of packages to be inbounded.",
                        "example": [
                            {
                                "count": 1,
                                "distributionPackage": {
                                    "contents": {
                                        "products": [
                                            {
                                                "quantity": 1,
                                                "sku": "testPen"
                                            }
                                        ]
                                    },
                                    "measurements": {
                                        "dimensions": {
                                            "height": 1,
                                            "length": 1,
                                            "unitOfMeasurement": "INCHES",
                                            "width": 1
                                        },
                                        "volume": {
                                            "unitOfMeasurement": "CUIN",
                                            "volume": 1
                                        },
                                        "weight": {
                                            "unitOfMeasurement": "POUNDS",
                                            "weight": 1
                                        }
                                    },
                                    "type": "CASE"
                                }
                            }
                        ],
                        "items": {
                            "$ref": "#/components/schemas/DistributionPackageQuantity"
                        }
                    },
                    "preferences": {
                        "$ref": "#/components/schemas/InboundPreferences"
                    },
                    "shipBy": {
                        "type": "string",
                        "description": "Estimated date by when goods have to be picked up.",
                        "format": "date-time",
                        "example": "2023-06-07T12:12:09.061Z"
                    }
                },
                "description": "Payload for creating an inbound order.",
                "example": {
                    "externalReferenceId": "TestReferenceId",
                    "originAddress": {
                        "addressLine1": "address_1",
                        "addressLine2": "address_2",
                        "addressLine3": "address_3",
                        "city": "City1",
                        "countryCode": "CC",
                        "district": "District1",
                        "name": "address_name",
                        "postalCode": "123456",
                        "stateOrRegion": "State1"
                    },
                    "packagesToInbound": [
                        {
                            "count": 1,
                            "distributionPackage": {
                                "contents": {
                                    "products": [
                                        {
                                            "quantity": 1,
                                            "sku": "testPen"
                                        }
                                    ]
                                },
                                "measurements": {
                                    "dimensions": {
                                        "height": 1,
                                        "length": 1,
                                        "unitOfMeasurement": "INCHES",
                                        "width": 1
                                    },
                                    "volume": {
                                        "unitOfMeasurement": "CUIN",
                                        "volume": 1
                                    },
                                    "weight": {
                                        "unitOfMeasurement": "POUNDS",
                                        "weight": 1
                                    }
                                },
                                "type": "CASE"
                            }
                        }
                    ],
                    "shipBy": "2023-06-07T12:12:09.061Z",
                    "preferences": {
                        "destinationRegion": "us-west"
                    }
                }
            },
            "InboundOrderReference": {
                "required": [
                    "orderId",
                    "orderVersion"
                ],
                "type": "object",
                "properties": {
                    "orderId": {
                        "type": "string",
                        "description": "Order ID of the inbound order."
                    },
                    "orderVersion": {
                        "type": "string",
                        "description": "Order version of the inbound order."
                    }
                },
                "description": "A response that contains the reference identifiers for the newly created or updated inbound order. Consists of an order ID and version."
            },
            "InboundPackages": {
                "required": [
                    "packagesToInbound"
                ],
                "type": "object",
                "properties": {
                    "packagesToInbound": {
                        "minItems": 1,
                        "type": "array",
                        "description": "List of packages to be inbounded.",
                        "example": [
                            {
                                "count": 1,
                                "distributionPackage": {
                                    "contents": {
                                        "products": [
                                            {
                                                "quantity": 1,
                                                "sku": "testPen"
                                            }
                                        ]
                                    },
                                    "measurements": {
                                        "dimensions": {
                                            "height": 1,
                                            "length": 1,
                                            "unitOfMeasurement": "INCHES",
                                            "width": 1
                                        },
                                        "volume": {
                                            "unitOfMeasurement": "CUIN",
                                            "volume": 1
                                        },
                                        "weight": {
                                            "unitOfMeasurement": "POUNDS",
                                            "weight": 1
                                        }
                                    },
                                    "type": "CASE"
                                }
                            }
                        ],
                        "items": {
                            "$ref": "#/components/schemas/DistributionPackageQuantity"
                        }
                    }
                },
                "description": "Represents the packages to inbound.",
                "example": {
                    "packagesToInbound": [
                        {
                            "count": 1,
                            "distributionPackage": {
                                "contents": {
                                    "products": [
                                        {
                                            "quantity": 1,
                                            "sku": "testPen"
                                        }
                                    ]
                                },
                                "measurements": {
                                    "dimensions": {
                                        "height": 1,
                                        "length": 1,
                                        "unitOfMeasurement": "INCHES",
                                        "width": 1
                                    },
                                    "volume": {
                                        "unitOfMeasurement": "CUIN",
                                        "volume": 1
                                    },
                                    "weight": {
                                        "unitOfMeasurement": "POUNDS",
                                        "weight": 1
                                    }
                                },
                                "type": "CASE"
                            }
                        }
                    ]
                }
            },
            "InboundPreferences": {
                "type": "object",
                "properties": {
                    "destinationRegion": {
                        "type": "string",
                        "description": "Pass a preferred region so that the inbound order can be shipped to an AWD warehouse located in that region. This doesn't guarantee the order to be assigned in the specified destination region as it depends on warehouse capacity availability. AWD currently supports following region IDs: [us-west, us-east]"
                    }
                },
                "description": "Preferences that can be passed in context of an inbound order"
            },
            "InboundShipment": {
                "required": [
                    "destinationAddress",
                    "orderId",
                    "originAddress",
                    "shipmentContainerQuantities",
                    "shipmentId",
                    "shipmentStatus"
                ],
                "type": "object",
                "properties": {
                    "carrierCode": {
                        "$ref": "#/components/schemas/CarrierCode"
                    },
                    "createdAt": {
                        "type": "string",
                        "description": "Timestamp when the shipment was created. The date is returned in <a href='https://developer-docs.amazon.com/sp-api/docs/iso-8601'>ISO 8601</a> format.",
                        "format": "date-time"
                    },
                    "destinationAddress": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "externalReferenceId": {
                        "type": "string",
                        "description": "Client-provided reference ID that can correlate this shipment to client resources. For example, to map this shipment to an internal bookkeeping order record.",
                        "example": "TestReferenceId"
                    },
                    "orderId": {
                        "minLength": 1,
                        "type": "string",
                        "description": "The AWD inbound order ID that this inbound shipment belongs to."
                    },
                    "originAddress": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "receivedQuantity": {
                        "type": "array",
                        "description": "Quantity received (at the receiving end) as part of this shipment.",
                        "items": {
                            "$ref": "#/components/schemas/InventoryQuantity"
                        }
                    },
                    "shipBy": {
                        "type": "string",
                        "description": "Timestamp when the shipment will be shipped.",
                        "format": "date-time"
                    },
                    "shipmentContainerQuantities": {
                        "type": "array",
                        "description": "Packages that are part of this shipment.",
                        "items": {
                            "$ref": "#/components/schemas/DistributionPackageQuantity"
                        }
                    },
                    "shipmentId": {
                        "minLength": 1,
                        "type": "string",
                        "description": "Unique shipment ID."
                    },
                    "shipmentSkuQuantities": {
                        "type": "array",
                        "description": "Quantity details at SKU level for the shipment. This attribute will only appear if the skuQuantities parameter in the request is set to SHOW.",
                        "items": {
                            "$ref": "#/components/schemas/SkuQuantity"
                        }
                    },
                    "destinationRegion": {
                        "type": "string",
                        "description": "Assigned region where the order will be shipped. This can differ from what was passed as preference. AWD currently supports following region IDs: [us-west, us-east]",
                        "example": "us-west"
                    },
                    "shipmentStatus": {
                        "$ref": "#/components/schemas/InboundShipmentStatus"
                    },
                    "trackingId": {
                        "minLength": 1,
                        "type": "string",
                        "description": "Carrier-unique tracking ID for this shipment."
                    },
                    "updatedAt": {
                        "type": "string",
                        "description": "Timestamp when the shipment was updated. The date is returned in <a href='https://developer-docs.amazon.com/sp-api/docs/iso-8601'>ISO 8601</a> format.",
                        "format": "date-time"
                    },
                    "warehouseReferenceId": {
                        "type": "string",
                        "description": "An AWD-provided reference ID that you can use to interact with the warehouse. For example, a carrier appointment booking.",
                        "example": "TestWarehouseReferenceId"
                    }
                },
                "description": "Represents an AWD inbound shipment."
            },
            "InboundShipmentStatus": {
                "type": "string",
                "description": "Possible shipment statuses used by shipments.",
                "enum": [
                    "CREATED",
                    "SHIPPED",
                    "IN_TRANSIT",
                    "RECEIVING",
                    "DELIVERED",
                    "CLOSED",
                    "CANCELLED"
                ],
                "x-docgen-enum-table-extension": [
                    {
                        "description": "Shipment is created but has not yet shipped.",
[...]
