{
    "openapi": "3.0.1",
    "info": {
        "title": "Selling Partner API for Supply Sources",
        "description": "Manage configurations and capabilities of seller supply sources.",
        "contact": {
            "name": "Selling Partner API Developer Support",
            "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
        },
        "license": {
            "name": "Apache License 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "2020-07-01"
    },
    "servers": [
        {
            "url": "https://sellingpartnerapi-na.amazon.com/"
        }
    ],
    "paths": {
        "/supplySources/2020-07-01/supplySources": {
            "get": {
                "tags": [
                    "SupplySourcesV20200701"
                ],
                "description": "The path to retrieve paginated supply sources.",
                "operationId": "getSupplySources",
                "parameters": [
                    {
                        "name": "nextPageToken",
                        "in": "query",
                        "description": "The pagination token to retrieve a specific page of results.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The number of supply sources to return per paginated request.",
                        "schema": {
                            "type": "number",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetSupplySourcesResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {}
                                    },
                                    "response": {
                                        "supplySources": [
                                            {
                                                "supplySourceId": "ed85fcf9-798c-4b63-a47e-8d4f0d273ddb",
                                                "supplySourceCode": "owner_s2cs_test_010101_aaaas",
                                                "alias": "alias_jksjdkf_aaaas",
                                                "address": {
                                                    "addressLine1": "addresline 1234 010101 asaaab",
                                                    "city": "Red",
                                                    "stateOrRegion": "string",
                                                    "postalCode": "99999",
                                                    "countryCode": "US"
                                                }
                                            }
                                        ],
                                        "nextPageToken": "eyJzMl9zb3J0X2tleSI6eyJzIjoic3VwcGx5U291cmNlQ29kZSNvd25lcl9zMmNzX3Rlc3RfMDEwMTAxX2FhYWFzIiwibiI6bnVsbCwiYiI6bnVsbCwibSI6bnVsbCwibCI6bnVsbCwiYnMiOm51bGwsIm5zIjpudWxsLCJzcyI6bnVsbCwibnVsbCI6bnVsbCwiYm9vbCI6bnVsbH0sInMyX3ByaW1hcnlfa2V5Ijp7InMiOiJvd25lciNNZXJjaGFudDpBMU1QWVFRSjVUVThRVSIsIm4iOm51bGwsImIiOm51bGwsIm0iOm51bGwsImwiOm51bGwsImJzIjpudWxsLCJucyI6bnVsbCwic3MiOm51bGwsIm51bGwiOm51bGwsImJvb2wiOm51bGx9LCJsc2lTS0xpdmVDcmVhdGVkVGltZSI6eyJzIjpudWxsLCJuIjoiMTU5NzEyNjU2MSIsImIiOm51bGwsIm0iOm51bGwsImwiOm51bGwsImJzIjpudWxsLCJucyI6bnVsbCwic3MiOm51bGwsIm51bGwiOm51bGwsImJvb2wiOm51bGx9fQ=="
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "The request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "pageSize": {
                                                "value": 3
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Invalid or malformed address Id.",
                                                "details": "1012"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "An error that indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "SupplySourcesV20200701"
                ],
                "description": "Create a new supply source.",
                "operationId": "createSupplySource",
                "requestBody": {
                    "description": "A request to create a supply source.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateSupplySourceRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateSupplySourceResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {}
                                    },
                                    "response": {
                                        "supplySourceId": "ed85fcf9-798c-4b63-a47e-8d4f0d273ddb",
                                        "supplySourceCode": "owner_s2cs_test_010101_aaaas"
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "The request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "body": {
                                                "value": {
                                                    "supplySourceCode": "owner_s2cs_test_010101_aaaab",
                                                    "alias": "alias_jksjdkf_aaaab",
                                                    "address": {
                                                        "name": "name",
                                                        "addressLine1": "addresline 1234 010101 asaaab",
                                                        "city": "Red",
                                                        "county": "King",
                                                        "stateOrRegion": "string",
                                                        "postalCode": "99999",
                                                        "countryCode": "US",
                                                        "phone": "string"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Supply Source with given Code already exists",
                                                "details": "1004"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "An error that indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "payload"
            }
        },
        "/supplySources/2020-07-01/supplySources/{supplySourceId}": {
            "get": {
                "tags": [
                    "SupplySourcesV20200701"
                ],
                "description": "Retrieve a supply source.",
                "operationId": "getSupplySource",
                "parameters": [
                    {
                        "name": "supplySourceId",
                        "in": "path",
                        "description": "The unique identifier of a supply source.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SupplySource"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {}
                                    },
                                    "response": {
                                        "supplySourceId": "cbc976e5-1e55-4d33-855b-35e6254f5a58",
                                        "supplySourceCode": "test-gw-435dgh2o39",
                                        "alias": "test-gw-ssss",
                                        "status": "Inactive",
                                        "address": {
                                            "addressLine1": "tst-addressLine1-423",
                                            "addressLine2": "tes-addressLine2-gew",
                                            "addressLine3": "Rufus",
                                            "city": "Gekl",
                                            "county": "",
                                            "district": "",
                                            "stateOrRegion": "WA",
                                            "postalCode": "59202",
                                            "countryCode": "US"
                                        },
                                        "configuration": {
                                            "operationalConfiguration": {
                                                "contactDetails": {
                                                    "primary": {
                                                        "email": "test324@gmail.com",
                                                        "phone": "4813924781"
                                                    }
                                                },
                                                "throughputConfig": {
                                                    "throughputCap": {
                                                        "value": 1,
                                                        "timeUnit": "Days"
                                                    },
                                                    "throughputUnit": "ORDER"
                                                },
                                                "handlingTime": {
                                                    "value": 1,
                                                    "timeUnit": "Hours"
                                                },
                                                "operatingHoursByDay": {
                                                    "monday": [
                                                        {
                                                            "startTime": "00:59",
                                                            "endTime": "06:01"
                                                        }
                                                    ],
                                                    "tuesday": [
                                                        {
                                                            "startTime": "19:03",
                                                            "endTime": "23:25"
                                                        }
                                                    ],
                                                    "wednesday": [
                                                        {
                                                            "startTime": "00:00",
                                                            "endTime": "00:00"
                                                        }
                                                    ],
                                                    "thursday": [
                                                        {
                                                            "startTime": "00:00",
                                                            "endTime": "00:00"
                                                        }
                                                    ],
                                                    "friday": [
                                                        {
                                                            "startTime": "00:00",
                                                            "endTime": "00:00"
                                                        }
                                                    ],
                                                    "saturday": [
                                                        {
                                                            "startTime": "00:00",
                                                            "endTime": "00:00"
                                                        }
                                                    ],
                                                    "sunday": [
                                                        {
                                                            "startTime": "00:00",
                                                            "endTime": "00:00"
                                                        }
                                                    ]
                                                }
                                            },
                                            "timezone": "Africa/Accra"
                                        },
                                        "capabilities": {
                                            "outbound": {
                                                "isSupported": true,
                                                "operationalConfiguration": {
                                                    "contactDetails": {
                                                        "primary": {
                                                            "email": "tet@gmail.com",
                                                            "phone": "4281937491"
                                                        }
                                                    },
                                                    "throughputConfig": {
                                                        "throughputCap": {
                                                            "value": 1,
                                                            "timeUnit": "Days"
                                                        },
                                                        "throughputUnit": "ORDER"
                                                    },
                                                    "handlingTime": {
                                                        "value": 1,
                                                        "timeUnit": "Hours"
                                                    },
                                                    "operatingHoursByDay": {
                                                        "monday": [
                                                            {
                                                                "startTime": "00:43",
                                                                "endTime": "04:05"
                                                            }
                                                        ],
                                                        "tuesday": [
                                                            {
                                                                "startTime": "00:00",
                                                                "endTime": "00:00"
                                                            }
                                                        ],
                                                        "wednesday": [
                                                            {
                                                                "startTime": "00:00",
                                                                "endTime": "00:00"
                                                            }
                                                        ],
                                                        "thursday": [
                                                            {
                                                                "startTime": "00:00",
                                                                "endTime": "00:00"
                                                            }
                                                        ],
                                                        "friday": [
                                                            {
                                                                "startTime": "00:00",
                                                                "endTime": "00:00"
                                                            }
                                                        ],
                                                        "saturday": [
                                                            {
                                                                "startTime": "00:00",
                                                                "endTime": "00:00"
                                                            }
                                                        ],
                                                        "sunday": [
                                                            {
                                                                "startTime": "00:00",
                                                                "endTime": "00:00"
                                                            }
                                                        ]
                                                    }
                                                },
                                                "deliveryChannel": {
                                                    "isSupported": false,
                                                    "operationalConfiguration": {
                                                        "contactDetails": {
                                                            "primary": {
                                                                "email": "",
                                                                "phone": ""
                                                            }
                                                        },
                                                        "throughputConfig": {
                                                            "throughputCap": {
                                                                "value": 1,
                                                                "timeUnit": "Days"
                                                            },
                                                            "throughputUnit": "ORDER"
                                                        },
                                                        "handlingTime": {
                                                            "value": 1,
                                                            "timeUnit": "Hours"
                                                        }
                                                    }
                                                },
                                                "pickupChannel": {
                                                    "isSupported": true,
                                                    "inventoryHoldPeriod": {
                                                        "value": 452,
                                                        "timeUnit": "Minutes"
                                                    },
                                                    "operationalConfiguration": {
                                                        "contactDetails": {
                                                            "primary": {
                                                                "email": "yre4@gmail.com",
                                                                "phone": "4381232840"
                                                            }
                                                        },
                                                        "throughputConfig": {
                                                            "throughputCap": {
                                                                "value": 1,
                                                                "timeUnit": "Days"
                                                            },
                                                            "throughputUnit": "ORDER"
                                                        },
                                                        "handlingTime": {
                                                            "value": 1,
                                                            "timeUnit": "Hours"
                                                        }
                                                    }
                                                }
                                            },
                                            "services": {
                                                "isSupported": true,
                                                "operationalConfiguration": {
                                                    "contactDetails": {
                                                        "primary": {
                                                            "email": "testservices@gmail.com",
                                                            "phone": "4281937491"
                                                        }
                                                    },
                                                    "operatingHoursByDay": {
                                                        "monday": [
                                                            {
                                                                "startTime": "00:43",
                                                                "endTime": "04:05"
                                                            }
                                                        ],
                                                        "tuesday": [
                                                            {
                                                                "startTime": "00:00",
                                                                "endTime": "00:00"
                                                            }
                                                        ],
                                                        "wednesday": [
                                                            {
                                                                "startTime": "00:00",
                                                                "endTime": "00:00"
                                                            }
                                                        ],
                                                        "thursday": [
                                                            {
                                                                "startTime": "00:00",
                                                                "endTime": "00:00"
                                                            }
                                                        ],
                                                        "friday": [
                                                            {
                                                                "startTime": "00:00",
                                                                "endTime": "00:00"
                                                            }
                                                        ],
                                                        "saturday": [
                                                            {
                                                                "startTime": "00:00",
                                                                "endTime": "00:00"
                                                            }
                                                        ],
                                                        "sunday": [
                                                            {
                                                                "startTime": "00:00",
                                                                "endTime": "00:00"
                                                            }
                                                        ]
                                                    }
                                                }
                                            }
                                        },
                                        "createdAt": "1.596578152E9",
                                        "updatedAt": "1.596842808E9"
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "The request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "supplySourceId": {
                                                "value": "cbc976e5-1e55-4d33-855b-35e6254f5a5"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Invalid Input",
                                                "details": ""
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "An error that indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "SupplySourcesV20200701"
                ],
                "description": "Update the configuration and capabilities of a supply source.",
                "operationId": "updateSupplySource",
                "parameters": [
                    {
                        "name": "supplySourceId",
                        "in": "path",
                        "description": "The unique identitier of a supply source.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateSupplySourceRequest"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "204": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {}
                                    },
                                    "response": {}
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "The request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "supplySourceId": {
                                                "value": "cf146560-392a-43e6-bf99-2ca3b5d42b5c"
                                            },
                                            "body": {
                                                "value": {
                                                    "alias": "test-config",
                                                    "configuration": {
                                                        "operationalConfiguration": {
                                                            "contactDetails": {
                                                                "primary": {
                                                                    "email": "111@gmail.com",
                                                                    "phone": "111"
                                                                }
                                                            },
                                                            "operatingHoursByDay": {
                                                                "monday": [
                                                                    {
                                                                        "startTime": "01:30",
                                                                        "endTime": "02:40"
                                                                    }
                                                                ],
                                                                "tuesday": [
                                                                    {
                                                                        "startTime": "2:00",
                                                                        "endTime": "2:00"
                                                                    }
                                                                ]
                                                            },
                                                            "throughputConfig": {
                                                                "throughputCap": {
                                                                    "value": 17,
                                                                    "timeUnit": "Hours"
                                                                }
                                                            },
                                                            "handlingTime": {
                                                                "value": 1,
                                                                "timeUnit": "Hours"
                                                            }
                                                        },
                                                        "timezone": "Africa/Accra"
                                                    },
                                                    "capabilities": {
                                                        "outbound": {
                                                            "isSupported": true,
                                                            "operationalConfiguration": {
                                                                "contactDetails": {
                                                                    "primary": {
                                                                        "email": "outbound@gmail.com",
                                                                        "phone": "222"
                                                                    }
                                                                },
                                                                "operatingHoursByDay": {
                                                                    "wednesday": [
                                                                        {
                                                                            "startTime": "03:30",
                                                                            "endTime": "03:40"
                                                                        }
                                                                    ],
                                                                    "thursday": [
                                                                        {
                                                                            "startTime": "4:00",
                                                                            "endTime": "4:00"
                                                                        }
                                                                    ]
                                                                },
                                                                "throughputConfig": {
                                                                    "throughputCap": {
                                                                        "value": 10,
                                                                        "timeUnit": "Hours"
                                                                    }
                                                                },
                                                                "handlingTime": {
                                                                    "value": 1,
                                                                    "timeUnit": "Hours"
                                                                }
                                                            },
                                                            "returnLocation": {
                                                                "addressWithContact": {
                                                                    "address": {
                                                                        "addressLine1": "returnLocation",
                                                                        "countryCode": "na"
                                                                    },
                                                                    "contactDetails": {
                                                                        "primary": {
                                                                            "email": "returnLocation@gmail.com",
                                                                            "phone": "333"
                                                                        }
                                                                    }
                                                                },
                                                                "supplySourceId": "cbb1658a-949e-4c42-9d29-6c38ac1c4746"
                                                            },
                                                            "deliveryChannel": {
                                                                "isSupported": true,
                                                                "operationalConfiguration": {
                                                                    "contactDetails": {
                                                                        "primary": {
                                                                            "email": "deliveryChannel@gmail.com",
                                                                            "phone": "444"
                                                                        }
                                                                    },
                                                                    "operatingHoursByDay": {
                                                                        "friday": [
                                                                            {
                                                                                "startTime": "03:30",
                                                                                "endTime": "03:40"
                                                                            }
                                                                        ],
                                                                        "thursday": [
                                                                            {
                                                                                "startTime": "4:00",
                                                                                "endTime": "4:00"
                                                                            }
                                                                        ]
                                                                    },
                                                                    "throughputConfig": {
                                                                        "throughputCap": {
                                                                            "value": 4,
                                                                            "timeUnit": "Hours"
                                                                        }
                                                                    },
                                                                    "handlingTime": {
                                                                        "value": 1,
                                                                        "timeUnit": "Hours"
                                                                    }
                                                                }
                                                            },
                                                            "pickupChannel": {
                                                                "isSupported": true,
                                                                "inventoryHoldPeriod": {
                                                                    "value": 4,
                                                                    "timeUnit": "Minutes"
                                                                },
                                                                "operationalConfiguration": {
                                                                    "contactDetails": {
                                                                        "primary": {
                                                                            "email": "pickupChannel@gmail.com",
                                                                            "phone": "555"
                                                                        }
                                                                    },
                                                                    "operatingHoursByDay": {
                                                                        "saturday": [
                                                                            {
                                                                                "startTime": "12:30",
                                                                                "endTime": "03:40"
                                                                            }
                                                                        ],
                                                                        "sunday": [
                                                                            {
                                                                                "startTime": "5:00",
                                                                                "endTime": "23:30"
                                                                            }
                                                                        ]
                                                                    },
                                                                    "throughputConfig": {
                                                                        "throughputCap": {
                                                                            "value": 3,
                                                                            "timeUnit": "Hours"
                                                                        }
                                                                    },
                                                                    "handlingTime": {
                                                                        "value": 1,
                                                                        "timeUnit": "Hours"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "services": {
                                                            "isSupported": true,
                                                            "operationalConfiguration": {
                                                                "contactDetails": {
                                                                    "primary": {
                                                                        "email": "services@gmail.com",
                                                                        "phone": "222"
                                                                    }
                                                                },
                                                                "operatingHoursByDay": {
                                                                    "wednesday": [
                                                                        {
                                                                            "startTime": "03:30",
                                                                            "endTime": "03:40"
                                                                        }
                                                                    ],
                                                                    "thursday": [
                                                                        {
                                                                            "startTime": "4:00",
                                                                            "endTime": "4:00"
                                                                        }
                                                                    ]
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Supply Source has been archived and cannot be modified.",
                                                "details": "1005"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "An error that indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "payload"
            },
            "delete": {
                "tags": [
                    "SupplySourcesV20200701"
                ],
                "description": "Archive a supply source, making it inactive. Cannot be undone.",
                "operationId": "archiveSupplySource",
                "parameters": [
                    {
                        "name": "supplySourceId",
                        "in": "path",
                        "description": "The unique identifier of a supply source.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {}
                                    },
                                    "response": {}
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "The request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "supplySourceId": {
                                                "value": "cf146560-392a-43e6-bf99-2ca3b5d42b5c"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Supply Source has been archived and cannot be modified.",
                                                "details": "1005"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "The unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
[...]
