{
    "openapi": "3.0.1",
    "info": {
        "title": "The Selling Partner API for Amazon Warehousing and Distribution",
        "description": "The Selling Partner API for Amazon Warehousing and Distribution (AWD) provides programmatic access to information about AWD shipments and inventory. ",
        "contact": {
            "name": "Selling Partner API Developer Support",
            "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
        },
        "license": {
            "name": "Apache License 2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "2024-05-09"
    },
    "servers": [
        {
            "url": "https://sellingpartnerapi-na.amazon.com/"
        }
    ],
    "paths": {
        "/awd/2024-05-09/inboundOrders": {
            "post": {
                "tags": [
                    "awd"
                ],
                "description": "Creates a draft AWD inbound order with a list of packages for inbound shipment. The operation creates one shipment per order. \n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 1 | 1 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "createInbound",
                "requestBody": {
                    "description": "Payload for creating an inbound order.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InboundOrderCreationData"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "`createInbound` 201 response.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Location": {
                                "description": "Location header with the order ID for the newly created inbound order.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InboundOrderReference"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "body": {
                                                "value": {
                                                    "externalReferenceId": "string",
                                                    "originAddress": {
                                                        "addressLine1": "address_1",
                                                        "addressLine2": "address_2",
                                                        "addressLine3": "address_3",
                                                        "city": "City1",
                                                        "countryCode": "CC",
                                                        "district": "District1",
                                                        "name": "address_name",
                                                        "postalCode": "123456",
                                                        "stateOrRegion": "State1"
                                                    },
                                                    "packagesToInbound": [
                                                        {
                                                            "count": 1,
                                                            "distributionPackage": {
                                                                "contents": {
                                                                    "products": [
                                                                        {
                                                                            "quantity": 1,
                                                                            "sku": "testPen",
                                                                            "expiration": "2025-06-07T12:12:09.061Z",
                                                                            "prepDetails": {
                                                                                "prepCategory": "PERFORATED",
                                                                                "prepOwner": "AMAZON",
                                                                                "labelOwner": "SELF"
                                                                            }
                                                                        }
                                                                    ]
                                                                },
                                                                "measurements": {
                                                                    "dimensions": {
                                                                        "height": 1,
                                                                        "length": 1,
                                                                        "unitOfMeasurement": "INCHES",
                                                                        "width": 1
                                                                    },
                                                                    "volume": {
                                                                        "unitOfMeasurement": "CUIN",
                                                                        "volume": 1
                                                                    },
                                                                    "weight": {
                                                                        "unitOfMeasurement": "POUNDS",
                                                                        "weight": 1
                                                                    }
                                                                },
                                                                "type": "CASE"
                                                            }
                                                        }
                                                    ]
                                                }
                                            }
                                        }
                                    },
                                    "response": {
                                        "orderId": "TestOrderId"
                                    },
                                    "responseHeaders": {
                                        "Location": {
                                            "value": "TestOrderId"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "body": {
                                                "value": {
                                                    "externalReferenceId": "string",
                                                    "originAddress": {
                                                        "addressLine1": "address_1",
                                                        "addressLine2": "address_2",
                                                        "addressLine3": "address_3",
                                                        "city": "City1",
                                                        "countryCode": "CC",
                                                        "district": "District1",
                                                        "name": "address_name",
                                                        "postalCode": "123456",
                                                        "stateOrRegion": "State1"
                                                    },
                                                    "packagesToInbound": [
                                                        {
                                                            "count": 1,
                                                            "distributionPackage": {
                                                                "contents": {
                                                                    "products": [
                                                                        {
                                                                            "quantity": 1,
                                                                            "sku": "testPen",
                                                                            "expiration": "2025-06-07T12:12:09.061Z",
                                                                            "prepDetails": {
                                                                                "prepCategory": "PERFORATED",
                                                                                "prepOwner": "AMAZON",
                                                                                "labelOwner": "SELF"
                                                                            }
                                                                        }
                                                                    ]
                                                                },
                                                                "measurements": {
                                                                    "dimensions": {
                                                                        "height": 1,
                                                                        "length": 1,
                                                                        "unitOfMeasurement": "INCHES",
                                                                        "width": 1
                                                                    },
                                                                    "volume": {
                                                                        "unitOfMeasurement": "CUIN",
                                                                        "volume": 1
                                                                    },
                                                                    "weight": {
                                                                        "unitOfMeasurement": "POUNDS",
                                                                        "weight": 1
                                                                    }
                                                                },
                                                                "type": "TEST"
                                                            }
                                                        }
                                                    ]
                                                }
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "BAD_REQUEST",
                                                "message": "Invalid value (`TEST`) passed for `DistributionPackageType`. Valid values are: `CASE`, `PALLET`",
                                                "details": "This exception is thrown when client inputs are invalid."
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body"
            }
        },
        "/awd/2024-05-09/inboundOrders/{orderId}": {
            "get": {
                "tags": [
                    "awd"
                ],
                "description": "Retrieves an AWD inbound order.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 2 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "getInbound",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "The ID of the inbound order that you want to retrieve.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The 200 response for `getInbound`.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InboundOrder"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "orderId": {
                                                "value": "TestOrderId"
                                            }
                                        }
                                    },
                                    "response": {
                                        "destinationDetails": {
                                            "destinationAddress": {
                                                "addressLine1": "address_1",
                                                "addressLine2": "address_2",
                                                "addressLine3": "address_3",
                                                "city": "Seattle",
                                                "countryCode": "US",
                                                "county": "Washington",
                                                "district": "District1",
                                                "name": "address_name",
                                                "phoneNumber": "+14155552671",
                                                "postalCode": "123456",
                                                "stateOrRegion": "Washington"
                                            },
                                            "destinationRegion": "us-east"
                                        },
                                        "createdAt": "2023-06-07T12:12:09.061Z",
                                        "externalReferenceId": "TestReferenceId",
                                        "orderId": "TestOrderId",
                                        "orderStatus": "DRAFT",
                                        "originAddress": {
                                            "addressLine1": "address_1",
                                            "addressLine2": "address_2",
                                            "addressLine3": "address_3",
                                            "city": "Seattle",
                                            "countryCode": "US",
                                            "county": "Washington",
                                            "district": "District1",
                                            "name": "address_name",
                                            "phoneNumber": "+14155552671",
                                            "postalCode": "123456",
                                            "stateOrRegion": "Washington"
                                        },
                                        "packagesToInbound": [
                                            {
                                                "count": 1,
                                                "distributionPackage": {
                                                    "contents": {
                                                        "packages": [],
                                                        "products": [
                                                            {
                                                                "quantity": 1,
                                                                "sku": "testPen",
                                                                "expiration": "2025-06-07T12:12:09.061Z",
                                                                "prepDetails": {
                                                                    "prepCategory": "PERFORATED",
                                                                    "prepOwner": "AMAZON",
                                                                    "labelOwner": "SELF",
                                                                    "prepInstructions": [
                                                                        {
                                                                            "prepType": "ITEM_POLYBAGGING",
                                                                            "prepOwner": "AMAZON"
                                                                        }
                                                                    ]
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    "measurements": {
                                                        "dimensions": {
                                                            "height": 2.54,
                                                            "length": 2.54,
                                                            "unitOfMeasurement": "CENTIMETERS",
                                                            "width": 2.54
                                                        },
                                                        "weight": {
                                                            "unitOfMeasurement": "KILOGRAMS",
                                                            "weight": 0.453592
                                                        }
                                                    },
                                                    "type": "CASE"
                                                }
                                            }
                                        ],
                                        "updatedAt": "2023-06-07T12:12:09.061Z"
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "orderId": {
                                                "value": " "
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "BAD_REQUEST",
                                                "details": "This exception is thrown when client inputs are invalid",
                                                "message": "OrderId should be present for this request"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "awd"
                ],
                "description": "Updates an AWD inbound order that is in `DRAFT` status and not yet confirmed. Use this operation to update the `packagesToInbound`, `originAddress` and `preferences` attributes.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 1 | 1 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "updateInbound",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "The ID of the inbound order that you want to update.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Represents an AWD inbound order.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InboundOrder"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "The 204 response for `updateInbound`.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {},
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "orderId": {
                                                "value": "TestOrderId1"
                                            },
                                            "body": {
                                                "value": {
                                                    "createdAt": "2023-06-07T12:12:09.061Z",
                                                    "destinationDetails": {
                                                        "destinationAddress": {
                                                            "addressLine1": "address_1",
                                                            "addressLine2": "address_2",
                                                            "addressLine3": "address_3",
                                                            "city": "Seattle",
                                                            "countryCode": "US",
                                                            "county": "Washington",
                                                            "district": "District1",
                                                            "name": "address_name",
                                                            "phoneNumber": "+14155552671",
                                                            "postalCode": "123456",
                                                            "stateOrRegion": "Washington"
                                                        },
                                                        "destinationRegion": "us-east"
                                                    },
                                                    "orderId": "TestOrderId1",
                                                    "orderStatus": "DRAFT",
                                                    "originAddress": {
                                                        "addressLine1": "address_1",
                                                        "addressLine2": "address_2",
                                                        "addressLine3": "address_3",
                                                        "city": "City1",
                                                        "countryCode": "CC",
                                                        "district": "District1",
                                                        "name": "DestinationName",
                                                        "postalCode": "123456",
                                                        "stateOrRegion": "State1"
                                                    },
                                                    "packagesToInbound": [
                                                        {
                                                            "count": 2,
                                                            "distributionPackage": {
                                                                "contents": {
                                                                    "packages": [],
                                                                    "products": [
                                                                        {
                                                                            "quantity": 10,
                                                                            "sku": "testPen",
                                                                            "expiration": "2025-06-07T12:12:09.061Z",
                                                                            "prepDetails": {
                                                                                "prepCategory": "PERFORATED",
                                                                                "prepOwner": "AMAZON",
                                                                                "labelOwner": "SELF",
                                                                                "prepInstructions": [
                                                                                    {
                                                                                        "prepType": "ITEM_POLYBAGGING",
                                                                                        "prepOwner": "AMAZON"
                                                                                    }
                                                                                ]
                                                                            }
                                                                        }
                                                                    ]
                                                                },
                                                                "measurements": {
                                                                    "dimensions": {
                                                                        "height": 1,
                                                                        "length": 1,
                                                                        "unitOfMeasurement": "CENTIMETERS",
                                                                        "width": 1
                                                                    },
                                                                    "weight": {
                                                                        "unitOfMeasurement": "KILOGRAMS",
                                                                        "weight": 1
                                                                    }
                                                                },
                                                                "type": "CASE"
                                                            }
                                                        }
                                                    ],
                                                    "updatedAt": "2023-06-07T12:12:09.061Z"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "orderId": {
                                                "value": "TestOrderId1"
                                            },
                                            "body": {
                                                "value": {
                                                    "destinationDetails": {
                                                        "destinationAddress": {
                                                            "addressLine1": "address_1",
                                                            "addressLine2": "address_2",
                                                            "addressLine3": "address_3",
                                                            "city": "Seattle",
                                                            "countryCode": "US",
                                                            "county": "Washington",
                                                            "district": "District1",
                                                            "name": "address_name",
                                                            "phoneNumber": "+14155552671",
                                                            "postalCode": "123456",
                                                            "stateOrRegion": "Washington"
                                                        },
                                                        "destinationRegion": "us-east"
                                                    },
                                                    "createdAt": "2023-06-07T12:12:09.061Z",
                                                    "orderId": "TestOrderId1",
                                                    "orderStatus": "DRAFT",
                                                    "originAddress": {
                                                        "addressLine1": "address_1",
                                                        "addressLine2": "address_2",
                                                        "addressLine3": "address_3",
                                                        "city": "City1",
                                                        "countryCode": "CC",
                                                        "district": "District1",
                                                        "name": "DestinationName",
                                                        "postalCode": "123456",
                                                        "stateOrRegion": "State1"
                                                    },
                                                    "packagesToInbound": [
                                                        {
                                                            "count": 2,
                                                            "distributionPackage": {
                                                                "contents": {
                                                                    "packages": [],
                                                                    "products": [
                                                                        {
                                                                            "quantity": 10,
                                                                            "sku": "testPen",
                                                                            "expiration": "2025-06-07T12:12:09.061Z",
                                                                            "prepDetails": {
                                                                                "prepCategory": "PERFORATED",
                                                                                "prepOwner": "AMAZON",
                                                                                "labelOwner": "SELF",
                                                                                "prepInstructions": [
                                                                                    {
                                                                                        "prepType": "ITEM_POLYBAGGING",
                                                                                        "prepOwner": "AMAZON"
                                                                                    }
                                                                                ]
                                                                            }
                                                                        }
                                                                    ]
                                                                },
                                                                "measurements": {
                                                                    "dimensions": {
                                                                        "height": 1,
                                                                        "length": 1,
                                                                        "unitOfMeasurement": "CENTIMETERS",
                                                                        "width": 1
                                                                    },
                                                                    "weight": {
                                                                        "unitOfMeasurement": "KILOGRAMS",
                                                                        "weight": 1
                                                                    }
                                                                },
                                                                "type": "TEST"
                                                            }
                                                        }
                                                    ],
                                                    "updatedAt": "2023-06-07T12:12:09.061Z"
                                                }
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "BAD_REQUEST",
                                                "message": "Invalid value (`TEST`) passed for `DistributionPackageType`. Valid values are: `CASE`, `PALLET`",
                                                "details": "This exception is thrown when client inputs are invalid."
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "`ConflictException` 409 response.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body"
            }
        },
        "/awd/2024-05-09/inboundOrders/{orderId}/cancellation": {
            "post": {
                "tags": [
                    "awd"
                ],
                "description": "Cancels an AWD Inbound order and its associated shipment.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 1 | 1 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "cancelInbound",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "The ID of the inbound order you want to cancel.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The 204 response for `cancelInbound`.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "example": [
                                    {}
                                ]
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "orderId": {
                                                "value": "TestOrderId1"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "orderId": {
                                                "value": " "
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "BAD_REQUEST",
                                                "details": "This exception is thrown when client inputs are invalid",
                                                "message": "OrderId should be present for this request"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "`ConflictException` 409 response.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/awd/2024-05-09/inboundOrders/{orderId}/confirmation": {
            "post": {
                "tags": [
                    "awd"
                ],
                "description": "Confirms an AWD inbound order in `DRAFT` status.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 1 | 1 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "confirmInbound",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "The ID of the inbound order that you want to confirm.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The 204 response for `confirmInbound`.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "example": [
                                    {}
                                ]
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "orderId": {
                                                "value": "TestOrderId1"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "orderId": {
                                                "value": " "
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "BAD_REQUEST",
                                                "details": "This exception is thrown when client inputs are invalid",
                                                "message": "OrderId should be present for this request"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "`ConflictException` 409 response.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/awd/2024-05-09/inboundShipments/{shipmentId}": {
            "get": {
                "tags": [
                    "awd"
                ],
                "description": "Retrieves an AWD inbound shipment.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 2 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api)",
                "operationId": "getInboundShipment",
                "parameters": [
                    {
                        "name": "shipmentId",
                        "in": "path",
                        "description": "ID for the shipment. A shipment contains the cases being inbounded.",
                        "required": true,
                        "schema": {
                            "minLength": 1,
                            "type": "string"
                        }
                    },
                    {
                        "name": "skuQuantities",
                        "in": "query",
                        "description": "If equal to `SHOW`, the response includes the shipment SKU quantity details.\n\nDefaults to `HIDE`, in which case the response does not contain SKU quantities",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "SHOW",
                                "HIDE"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "description": "Show the additional SKU quantity details.",
                                    "value": "SHOW"
                                },
                                {
                                    "description": "Hide the additional SKU quantity details.",
                                    "value": "HIDE"
                                }
                            ]
                        },
                        "example": "SHOW",
                        "x-docgen-enum-table-extension": [
                            {
                                "description": "Show the additional SKU quantity details.",
                                "value": "SHOW"
                            },
                            {
                                "description": "Hide the additional SKU quantity details.",
                                "value": "HIDE"
                            }
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The 200 response for `getInboundShipment`.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InboundShipment"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "shipmentId": {
                                                "value": "TestShipmentId"
                                            }
                                        }
                                    },
                                    "response": {
                                        "createdAt": "2023-06-07T12:12:09.061Z",
                                        "destinationAddress": {
                                            "addressLine1": "address_line_1",
                                            "addressLine2": "address_line_2",
                                            "addressLine3": "address_line_3",
                                            "city": "City1",
                                            "countryCode": "CC",
                                            "district": "District1",
                                            "name": "DestinationName",
                                            "postalCode": "123456",
                                            "stateOrRegion": "State1"
                                        },
                                        "orderId": "TestOrderId",
                                        "originAddress": {
                                            "addressLine1": "address_1",
                                            "addressLine2": "address_2",
                                            "addressLine3": "address_3",
                                            "city": "City1",
                                            "countryCode": "CC",
                                            "district": "District1",
                                            "name": "address_name",
                                            "postalCode": "123456",
                                            "stateOrRegion": "State1"
                                        },
                                        "receivedQuantity": [
                                            {
                                                "quantity": 0,
                                                "unitOfMeasurement": "CASES"
                                            }
                                        ],
                                        "shipmentContainerQuantities": [
                                            {
                                                "count": 2,
                                                "distributionPackage": {
                                                    "contents": {
                                                        "packages": [],
                                                        "products": [
                                                            {
                                                                "quantity": 20,
                                                                "sku": "testPen"
                                                            }
                                                        ]
                                                    },
                                                    "measurements": {
                                                        "dimensions": {
                                                            "height": 33.02,
                                                            "length": 45.72,
                                                            "unitOfMeasurement": "CENTIMETERS",
                                                            "width": 15.24
                                                        },
                                                        "weight": {
                                                            "unitOfMeasurement": "KILOGRAMS",
                                                            "weight": 5.443104
                                                        }
                                                    },
                                                    "type": "CASE"
                                                }
                                            }
                                        ],
                                        "shipmentId": "TestShipmentId",
                                        "shipmentStatus": "CREATED",
                                        "shipmentSkuQuantities": [
                                            {
                                                "sku": "testPen",
                                                "expectedQuantity": {
                                                    "quantity": 2,
                                                    "unitOfMeasurement": "CASE"
                                                },
                                                "receivedQuantity": {
                                                    "quantity": 0,
                                                    "unitOfMeasurement": "CASE"
                                                }
                                            }
                                        ],
                                        "updatedAt": "2023-06-07T12:12:09.061Z"
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "shipmentId": {
                                                "value": " "
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "BAD_REQUEST",
                                                "details": "This exception is thrown when client inputs are invalid",
                                                "message": "ShipmentId should be present for this request"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
[...]
