{
    "openapi": "3.0.1",
    "info": {
        "title": "Selling Partner API for Listings Items",
        "description": "The Selling Partner API for Listings Items (Listings Items API) provides programmatic access to selling partner listings on Amazon. Use this API in collaboration with the Selling Partner API for Product Type Definitions, which you use to retrieve the information about Amazon product types needed to use the Listings Items API.\n\nFor more information, see the [Listings Items API Use Case Guide](https://developer-docs.amazon.com/sp-api/docs/listings-items-api-v2021-08-01-use-case-guide).",
        "contact": {
            "name": "Selling Partner API Developer Support",
            "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
        },
        "license": {
            "name": "Apache License 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "2021-08-01"
    },
    "servers": [
        {
            "url": "https://sellingpartnerapi-na.amazon.com/"
        }
    ],
    "paths": {
        "/listings/2021-08-01/items/{sellerId}/{sku}": {
            "get": {
                "tags": [
                    "ListingsItemsV20210801"
                ],
                "description": "Returns details about a listings item for a selling partner.\n\n**Note:** The parameters associated with this operation may contain special characters that must be encoded to successfully call the API. To avoid errors with SKUs when encoding URLs, refer to [URL Encoding](https://developer-docs.amazon.com/sp-api/docs/url-encoding).\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "getListingsItem",
                "parameters": [
                    {
                        "name": "sellerId",
                        "in": "path",
                        "description": "A selling partner identifier, such as a merchant account or vendor code.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sku",
                        "in": "path",
                        "description": "A selling partner provided identifier for an Amazon listing.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "marketplaceIds",
                        "in": "query",
                        "description": "A comma-delimited list of Amazon marketplace identifiers for the request.",
                        "required": true,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "example": "ATVPDKIKX0DER"
                    },
                    {
                        "name": "issueLocale",
                        "in": "query",
                        "description": "A locale for localization of issues. When not provided, the default language code of the first marketplace is used. Examples: `en_US`, `fr_CA`, `fr_FR`. Localized messages default to `en_US` when a localization is not available in the specified locale.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "en_US"
                    },
                    {
                        "name": "includedData",
                        "in": "query",
                        "description": "A comma-delimited list of data sets to include in the response. Default: `summaries`.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "summaries",
                                    "attributes",
                                    "issues",
                                    "offers",
                                    "fulfillmentAvailability",
                                    "procurement"
                                ],
                                "x-docgen-enum-table-extension": [
                                    {
                                        "value": "summaries",
                                        "description": "Summary details of the listing item."
                                    },
                                    {
                                        "value": "attributes",
                                        "description": "A JSON object containing structured listing item attribute data keyed by attribute name."
                                    },
                                    {
                                        "value": "issues",
                                        "description": "The issues associated with the listing item."
                                    },
                                    {
                                        "value": "offers",
                                        "description": "The current offers for the listing item."
                                    },
                                    {
                                        "value": "fulfillmentAvailability",
                                        "description": "The fulfillment availability details for the listing item."
                                    },
                                    {
                                        "value": "procurement",
                                        "description": "The vendor procurement details for the listing item. "
                                    }
                                ]
                            },
                            "default": "[\"summaries\"]"
                        },
                        "example": "summaries"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Item"
                                },
                                "example": {
                                    "sku": "GM-ZDPI-9B4E",
                                    "summaries": [
                                        {
                                            "marketplaceId": "ATVPDKIKX0DER",
                                            "asin": "B071VG5N9D",
                                            "productType": "LUGGAGE",
                                            "conditionType": "new_new",
                                            "status": [
                                                "BUYABLE"
                                            ],
                                            "itemName": "Hardside Carry-On Spinner Suitcase Luggage",
                                            "createdDate": "2021-02-01T00:00:00Z",
                                            "lastUpdatedDate": "2021-03-01T00:00:00Z",
                                            "mainImage": {
                                                "link": "https://www.example.com/luggage.png",
                                                "height": 500,
                                                "width": 500
                                            }
                                        }
                                    ],
                                    "offers": [
                                        {
                                            "marketplaceId": "ATVPDKIKX0DER",
                                            "offerType": "B2C",
                                            "price": {
                                                "currencyCode": "USD",
                                                "amount": "100.00"
                                            }
                                        }
                                    ],
                                    "fulfillmentAvailability": [
                                        {
                                            "fulfillmentChannelCode": "DEFAULT",
                                            "quantity": 100
                                        }
                                    ],
                                    "issues": [
                                        {
                                            "code": "90220",
                                            "message": "'size' is required but not supplied.",
                                            "severity": "ERROR",
                                            "attributeNames": [
                                                "size"
                                            ],
                                            "categories": [
                                                "MISSING_ATTRIBUTE"
                                            ]
                                        },
                                        {
                                            "code": "18027",
                                            "message": "We believe the main image has text, logo, graphic or watermark which is not permitted for this product type. Please submit a compliant image to lift the suppression. Also refer to Product image requirements.",
                                            "severity": "ERROR",
                                            "categories": [
                                                "INVALID_IMAGE"
                                            ],
                                            "enforcements": {
                                                "actions": [
                                                    {
                                                        "action": "SEARCH_SUPPRESSED"
                                                    }
                                                ],
                                                "exemption": {
                                                    "status": "EXEMPT_UNTIL_EXPIRY_DATE",
                                                    "expiryDate": "2025-05-28T00:36:48.914Z"
                                                }
                                            }
                                        },
                                        {
                                            "code": "99300",
                                            "message": "Product Detail Page Rules Violation (Inaccurate information on product detail page)",
                                            "severity": "ERROR",
                                            "categories": [],
                                            "enforcements": {
                                                "actions": [
                                                    {
                                                        "action": "ATTRIBUTE_SUPPRESSED"
                                                    }
                                                ],
                                                "exemption": {
                                                    "status": "EXEMPT"
                                                }
                                            }
                                        },
                                        {
                                            "code": "18155",
                                            "message": "The 'minimum price' is greater than the selling price (excluding shipping) for the listing. Please review and update your price and/or minimum price.",
                                            "severity": "ERROR",
                                            "categories": [
                                                "INVALID_PRICE"
                                            ],
                                            "enforcements": {
                                                "actions": [
                                                    {
                                                        "action": "LISTING_SUPPRESSED"
                                                    }
                                                ],
                                                "exemption": {
                                                    "status": "NOT_EXEMPT"
                                                }
                                            }
                                        },
                                        {
                                            "code": "18742",
                                            "message": "Restricted Products Policy Violation",
                                            "severity": "ERROR",
                                            "categories": [],
                                            "enforcements": {
                                                "actions": [
                                                    {
                                                        "action": "CATALOG_ITEM_REMOVED"
                                                    }
                                                ],
                                                "exemption": {
                                                    "status": "NOT_EXEMPT"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "body": {}
                                        }
                                    },
                                    "response": {
                                        "sku": "GM-ZDPI-9B4E",
                                        "summaries": [
                                            {
                                                "marketplaceId": "ATVPDKIKX0DER",
                                                "asin": "B071VG5N9D",
                                                "productType": "LUGGAGE",
                                                "conditionType": "new_new",
                                                "status": [
                                                    "BUYABLE"
                                                ],
                                                "itemName": "Hardside Carry-On Spinner Suitcase Luggage",
                                                "createdDate": "2021-02-01T00:00:00Z",
                                                "lastUpdatedDate": "2021-03-01T00:00:00Z",
                                                "mainImage": {
                                                    "link": "https://www.example.com/luggage.png",
                                                    "height": 500,
                                                    "width": 500
                                                }
                                            }
                                        ],
                                        "offers": [
                                            {
                                                "marketplaceId": "ATVPDKIKX0DER",
                                                "offerType": "B2C",
                                                "price": {
                                                    "currencyCode": "USD",
                                                    "amount": "100.00"
                                                }
                                            }
                                        ],
                                        "fulfillmentAvailability": [
                                            {
                                                "fulfillmentChannelCode": "DEFAULT",
                                                "quantity": 100
                                            }
                                        ],
                                        "issues": [
                                            {
                                                "code": "90220",
                                                "message": "'size' is required but not supplied.",
                                                "severity": "ERROR",
                                                "attributeNames": [
                                                    "size"
                                                ],
                                                "categories": [
                                                    "MISSING_ATTRIBUTE"
                                                ]
                                            },
                                            {
                                                "code": "18027",
                                                "message": "We believe the main image has text, logo, graphic or watermark which is not permitted for this product type. Please submit a compliant image to lift the suppression. Also refer to Product image requirements.",
                                                "severity": "ERROR",
                                                "categories": [
                                                    "INVALID_IMAGE"
                                                ],
                                                "enforcements": {
                                                    "actions": [
                                                        {
                                                            "action": "SEARCH_SUPPRESSED"
                                                        }
                                                    ],
                                                    "exemption": {
                                                        "status": "EXEMPT_UNTIL_EXPIRY_DATE",
                                                        "expiryDate": "2025-05-28T00:36:48.914Z"
                                                    }
                                                }
                                            },
                                            {
                                                "code": "99300",
                                                "message": "Product Detail Page Rules Violation (Inaccurate information on product detail page)",
                                                "severity": "ERROR",
                                                "categories": [],
                                                "enforcements": {
                                                    "actions": [
                                                        {
                                                            "action": "ATTRIBUTE_SUPPRESSED"
                                                        }
                                                    ],
                                                    "exemption": {
                                                        "status": "EXEMPT"
                                                    }
                                                }
                                            },
                                            {
                                                "code": "18155",
                                                "message": "The 'minimum price' is greater than the selling price (excluding shipping) for the listing. Please review and update your price and/or minimum price.",
                                                "severity": "ERROR",
                                                "categories": [
                                                    "INVALID_PRICE"
                                                ],
                                                "enforcements": {
                                                    "actions": [
                                                        {
                                                            "action": "LISTING_SUPPRESSED"
                                                        }
                                                    ],
                                                    "exemption": {
                                                        "status": "NOT_EXEMPT"
                                                    }
                                                }
                                            },
                                            {
                                                "code": "18742",
                                                "message": "Restricted Products Policy Violation",
                                                "severity": "ERROR",
                                                "categories": [],
                                                "enforcements": {
                                                    "actions": [
                                                        {
                                                            "action": "CATALOG_ITEM_REMOVED"
                                                        }
                                                    ],
                                                    "exemption": {
                                                        "status": "NOT_EXEMPT"
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "sku": {
                                                "value": "BadSKU"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "BAD_REQUEST",
                                                "message": "Invalid input",
                                                "details": "Invalid input"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "ListingsItemsV20210801"
                ],
                "description": "Creates or fully updates an existing listings item for a selling partner.\n\n**Note:** This operation has a throttling rate of one request per second when `mode` is `VALIDATION_PREVIEW`.\n\n**Note:** The parameters associated with this operation may contain special characters that must be encoded to successfully call the API. To avoid errors with SKUs when encoding URLs, refer to [URL Encoding](https://developer-docs.amazon.com/sp-api/docs/url-encoding).\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "putListingsItem",
                "parameters": [
                    {
                        "name": "sellerId",
                        "in": "path",
                        "description": "A selling partner identifier, such as a merchant account or vendor code.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sku",
                        "in": "path",
                        "description": "A selling partner provided identifier for an Amazon listing.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "marketplaceIds",
                        "in": "query",
                        "description": "A comma-delimited list of Amazon marketplace identifiers for the request.",
                        "required": true,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "example": "ATVPDKIKX0DER"
                    },
                    {
                        "name": "includedData",
                        "in": "query",
                        "description": "A comma-delimited list of data sets to include in the response. Default: `issues`.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "identifiers",
                                    "issues"
                                ],
                                "x-docgen-enum-table-extension": [
                                    {
                                        "value": "identifiers",
                                        "description": "Identifiers associated with the item in the Amazon catalog, such as Amazon Standard Identification Number (ASIN). Can only be requested when `mode` is `VALIDATION_PREVIEW`."
                                    },
                                    {
                                        "value": "issues",
                                        "description": "The issues associated with the listing item."
                                    }
                                ]
                            },
                            "default": "[\"issues\"]"
                        },
                        "example": "issues"
                    },
                    {
                        "name": "mode",
                        "in": "query",
                        "description": "The mode of operation for the request.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "VALIDATION_PREVIEW"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "value": "VALIDATION_PREVIEW",
                                    "description": "Indicates the submitted data should be validated without persisting to the selling partner's catalog."
                                }
                            ]
                        },
                        "example": "VALIDATION_PREVIEW",
                        "x-docgen-enum-table-extension": [
                            {
                                "value": "VALIDATION_PREVIEW",
                                "description": "Indicates the submitted data should be validated without persisting to the selling partner's catalog."
                            }
                        ]
                    },
                    {
                        "name": "issueLocale",
                        "in": "query",
                        "description": "A locale for localization of issues. When not provided, the default language code of the first marketplace is used. Examples: `en_US`, `fr_CA`, `fr_FR`. Localized messages default to `en_US` when a localization is not available in the specified locale.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "en_US"
                    }
                ],
                "requestBody": {
                    "description": "The request body schema for the `putListingsItem` operation.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ListingsItemPutRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully understood the request to create or fully-update a listings item. See the response to determine if the submission has been accepted.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListingsItemSubmissionResponse"
                                },
                                "example": {
                                    "sku": "GM-ZDPI-9B4E",
                                    "status": "ACCEPTED",
                                    "submissionId": "f1dc2914-75dd-11ea-bc55-0242ac130003",
                                    "issues": []
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "body": {}
                                        }
                                    },
                                    "response": {
                                        "sku": "GM-ZDPI-9B4E",
                                        "status": "ACCEPTED",
                                        "submissionId": "f1dc2914-75dd-11ea-bc55-0242ac130003",
                                        "issues": []
                                    }
                                },
                                {
                                    "request": {
                                        "parameters": {
                                            "sku": {
                                                "value": "VALIDATION_VALID"
                                            },
                                            "marketplaceIds": {
                                                "value": [
                                                    "ATVPDKIKX0DER"
                                                ]
                                            },
                                            "includedData": {
                                                "value": [
                                                    "identifiers",
                                                    "issues"
                                                ]
                                            },
                                            "mode": {
                                                "value": "VALIDATION_PREVIEW"
                                            }
                                        }
                                    },
                                    "response": {
                                        "sku": "VALIDATION_VALID",
                                        "status": "VALID",
                                        "submissionId": "1edc94ea-a3d7-210b-42bc-0ec72c1384762",
                                        "identifiers": [
                                            {
                                                "marketplaceId": "ATVPDKIKX0DER",
                                                "asin": "B07N4M94X4"
                                            }
                                        ],
                                        "issues": []
                                    }
                                },
                                {
                                    "request": {
                                        "parameters": {
                                            "sku": {
                                                "value": "VALIDATION_INVALID"
                                            },
                                            "marketplaceIds": {
                                                "value": [
                                                    "ATVPDKIKX0DER"
                                                ]
                                            },
                                            "includedData": {
                                                "value": [
                                                    "identifiers",
                                                    "issues"
                                                ]
                                            },
                                            "mode": {
                                                "value": "VALIDATION_PREVIEW"
                                            }
                                        }
                                    },
                                    "response": {
                                        "sku": "VALIDATION_INVALID",
                                        "status": "INVALID",
                                        "submissionId": "a1c562c2-1695-11ee-be56-0242ac120002",
                                        "identifiers": [],
                                        "issues": [
                                            {
                                                "code": "90220",
                                                "message": "'condition_type' is required but not supplied.",
                                                "severity": "ERROR",
                                                "attributeNames": [
                                                    "condition_type"
                                                ],
                                                "categories": [
                                                    "MISSING_ATTRIBUTE"
                                                ],
                                                "enforcements": {
                                                    "actions": [
                                                        {
                                                            "action": "LISTING_SUPPRESSED"
                                                        }
                                                    ],
                                                    "exemption": {
                                                        "status": "NOT_EXEMPT"
                                                    }
                                                }
                                            },
                                            {
                                                "code": "90000900",
                                                "message": "The attributes are invalid.",
                                                "severity": "ERROR",
                                                "attributeNames": [
                                                    "fake_attribute"
                                                ],
                                                "categories": []
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "sku": {
                                                "value": "BadSKU"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "BAD_REQUEST",
                                                "message": "Invalid input",
                                                "details": "Invalid input"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body"
            },
            "delete": {
                "tags": [
                    "ListingsItemsV20210801"
                ],
                "description": "Delete a listings item for a selling partner.\n\n**Note:** The parameters associated with this operation may contain special characters that must be encoded to successfully call the API. To avoid errors with SKUs when encoding URLs, refer to [URL Encoding](https://developer-docs.amazon.com/sp-api/docs/url-encoding).\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "deleteListingsItem",
                "parameters": [
                    {
                        "name": "sellerId",
                        "in": "path",
                        "description": "A selling partner identifier, such as a merchant account or vendor code.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sku",
                        "in": "path",
                        "description": "A selling partner provided identifier for an Amazon listing.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "marketplaceIds",
                        "in": "query",
                        "description": "A comma-delimited list of Amazon marketplace identifiers for the request.",
                        "required": true,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "example": "ATVPDKIKX0DER"
                    },
                    {
                        "name": "issueLocale",
                        "in": "query",
                        "description": "A locale for localization of issues. When not provided, the default language code of the first marketplace is used. Examples: `en_US`, `fr_CA`, `fr_FR`. Localized messages default to `en_US` when a localization is not available in the specified locale.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "en_US"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully understood the listings item delete request. See the response to determine whether the submission has been accepted.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListingsItemSubmissionResponse"
                                },
                                "example": {
                                    "sku": "GM-ZDPI-9B4E",
                                    "status": "ACCEPTED",
                                    "submissionId": "f1dc2914-75dd-11ea-bc55-0242ac130003",
                                    "issues": []
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {}
                                    },
                                    "response": {
                                        "sku": "GM-ZDPI-9B4E",
                                        "status": "ACCEPTED",
                                        "submissionId": "f1dc2914-75dd-11ea-bc55-0242ac130003",
                                        "issues": []
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "sku": {
                                                "value": "BadSKU"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "BAD_REQUEST",
                                                "message": "Invalid input",
                                                "details": "Invalid input"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "ListingsItemsV20210801"
                ],
                "description": "Partially update (patch) a listings item for a selling partner. Only top-level listings item attributes can be patched. Patching nested attributes is not supported.\n\n**Note:** This operation has a throttling rate of one request per second when `mode` is `VALIDATION_PREVIEW`.\n\n**Note:** The parameters associated with this operation may contain special characters that must be encoded to successfully call the API. To avoid errors with SKUs when encoding URLs, refer to [URL Encoding](https://developer-docs.amazon.com/sp-api/docs/url-encoding).\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "patchListingsItem",
                "parameters": [
                    {
                        "name": "sellerId",
                        "in": "path",
                        "description": "A selling partner identifier, such as a merchant account or vendor code.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sku",
                        "in": "path",
                        "description": "A selling partner provided identifier for an Amazon listing.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "marketplaceIds",
                        "in": "query",
                        "description": "A comma-delimited list of Amazon marketplace identifiers for the request.",
                        "required": true,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "example": "ATVPDKIKX0DER"
                    },
                    {
                        "name": "includedData",
                        "in": "query",
                        "description": "A comma-delimited list of data sets to include in the response. Default: `issues`.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "identifiers",
                                    "issues"
                                ],
                                "x-docgen-enum-table-extension": [
                                    {
                                        "value": "identifiers",
                                        "description": "Identifiers associated with the item in the Amazon catalog, such as Amazon Standard Identification Number (ASIN). Can only be requested when `mode` is `VALIDATION_PREVIEW`."
                                    },
                                    {
                                        "value": "issues",
                                        "description": "The issues associated with the listing item."
                                    }
                                ]
                            },
                            "default": "[\"issues\"]"
                        },
                        "example": "issues"
                    },
                    {
                        "name": "mode",
                        "in": "query",
                        "description": "The mode of operation for the request.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "VALIDATION_PREVIEW"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "value": "VALIDATION_PREVIEW",
                                    "description": "Indicates the submitted data should be validated without persisting to the selling partner's catalog."
                                }
                            ]
                        },
                        "example": "VALIDATION_PREVIEW",
                        "x-docgen-enum-table-extension": [
                            {
                                "value": "VALIDATION_PREVIEW",
                                "description": "Indicates the submitted data should be validated without persisting to the selling partner's catalog."
                            }
                        ]
                    },
                    {
                        "name": "issueLocale",
                        "in": "query",
                        "description": "A locale for localization of issues. When not provided, the default language code of the first marketplace is used. Examples: `en_US`, `fr_CA`, `fr_FR`. Localized messages default to `en_US` when a localization is not available in the specified locale.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "en_US"
                    }
                ],
                "requestBody": {
                    "description": "The request body schema for the `patchListingsItem` operation.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ListingsItemPatchRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully understood the listings item patch request. See the response to determine if the submission was accepted.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListingsItemSubmissionResponse"
                                },
                                "example": {
                                    "sku": "GM-ZDPI-9B4E",
                                    "status": "ACCEPTED",
                                    "submissionId": "f1dc2914-75dd-11ea-bc55-0242ac130003",
                                    "issues": []
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "body": {}
                                        }
                                    },
                                    "response": {
                                        "sku": "GM-ZDPI-9B4E",
                                        "status": "ACCEPTED",
                                        "submissionId": "f1dc2914-75dd-11ea-bc55-0242ac130003",
                                        "issues": []
                                    }
                                },
                                {
                                    "request": {
                                        "parameters": {
                                            "sku": {
                                                "value": "VALIDATION_VALID"
                                            },
                                            "marketplaceIds": {
                                                "value": [
                                                    "ATVPDKIKX0DER"
                                                ]
                                            },
                                            "includedData": {
                                                "value": [
                                                    "identifiers",
                                                    "issues"
                                                ]
                                            },
                                            "mode": {
                                                "value": "VALIDATION_PREVIEW"
                                            }
                                        }
                                    },
                                    "response": {
                                        "sku": "VALIDATION_VALID",
                                        "status": "VALID",
                                        "submissionId": "1edc94ea-a3d7-210b-42bc-0ec72c1384762",
                                        "identifiers": [
                                            {
                                                "marketplaceId": "ATVPDKIKX0DER",
                                                "asin": "B07N4M94X4"
                                            }
                                        ],
                                        "issues": []
                                    }
                                },
                                {
                                    "request": {
                                        "parameters": {
                                            "sku": {
                                                "value": "VALIDATION_INVALID"
                                            },
                                            "marketplaceIds": {
                                                "value": [
                                                    "ATVPDKIKX0DER"
                                                ]
                                            },
                                            "includedData": {
                                                "value": [
                                                    "identifiers",
                                                    "issues"
                                                ]
                                            },
                                            "mode": {
                                                "value": "VALIDATION_PREVIEW"
                                            }
                                        }
                                    },
                                    "response": {
                                        "sku": "VALIDATION_INVALID",
                                        "status": "INVALID",
                                        "submissionId": "a1c562c2-1695-11ee-be56-0242ac120002",
                                        "identifiers": [],
                                        "issues": [
                                            {
                                                "code": "90000900",
                                                "message": "The attributes are invalid.",
                                                "severity": "ERROR",
                                                "attributeNames": [
                                                    "fake_attribute"
                                                ],
                                                "categories": [
                                                    "INVALID_ATTRIBUTE"
                                                ],
                                                "enforcements": {
                                                    "actions": [
                                                        {
                                                            "action": "ATTRIBUTE_SUPPRESSED"
                                                        }
                                                    ],
                                                    "exemption": {
                                                        "status": "NOT_EXEMPT"
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "sku": {
                                                "value": "BadSKU"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "BAD_REQUEST",
                                                "message": "Invalid input",
                                                "details": "Invalid input"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body"
            }
        }
    },
    "components": {
        "schemas": {
            "Error": {
                "required": [
                    "code",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "An error code that identifies the type of error that occurred."
                    },
                    "message": {
                        "type": "string",
                        "description": "A message that describes the error condition."
                    },
                    "details": {
                        "type": "string",
                        "description": "Additional details that can help the caller understand or fix the issue."
                    }
                },
                "description": "Error response returned when the request is unsuccessful."
            },
            "ErrorList": {
                "required": [
                    "errors"
                ],
                "type": "object",
                "properties": {
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                },
                "description": "A list of error responses returned when a request is unsuccessful."
            },
            "Item": {
                "required": [
                    "sku"
                ],
                "type": "object",
                "properties": {
                    "sku": {
                        "type": "string",
                        "description": "A selling partner provided identifier for an Amazon listing."
                    },
                    "summaries": {
                        "$ref": "#/components/schemas/ItemSummaries"
                    },
                    "attributes": {
                        "$ref": "#/components/schemas/ItemAttributes"
                    },
                    "issues": {
                        "$ref": "#/components/schemas/ItemIssues"
                    },
                    "offers": {
                        "$ref": "#/components/schemas/ItemOffers"
                    },
                    "fulfillmentAvailability": {
                        "type": "array",
                        "description": "The fulfillment availability for the listings item.",
                        "items": {
                            "$ref": "#/components/schemas/FulfillmentAvailability"
                        }
                    },
                    "procurement": {
                        "type": "array",
                        "description": "The vendor procurement information for the listings item.",
                        "items": {
                            "$ref": "#/components/schemas/ItemProcurement"
                        }
                    }
                },
                "description": "A listings item."
            },
            "ItemSummaries": {
                "type": "array",
                "description": "Summary details of a listings item.",
                "items": {
                    "$ref": "#/components/schemas/ItemSummaryByMarketplace"
                }
            },
            "ItemSummaryByMarketplace": {
                "required": [
                    "asin",
                    "createdDate",
                    "itemName",
                    "lastUpdatedDate",
                    "marketplaceId",
                    "productType",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "marketplaceId": {
                        "type": "string",
                        "description": "A marketplace identifier. Identifies the Amazon marketplace for the listings item."
                    },
                    "asin": {
                        "type": "string",
                        "description": "Amazon Standard Identification Number (ASIN) of the listings item."
                    },
                    "productType": {
                        "type": "string",
                        "description": "The Amazon product type of the listings item."
                    },
                    "conditionType": {
                        "type": "string",
                        "description": "Identifies the condition of the listings item.",
                        "enum": [
                            "new_new",
                            "new_open_box",
                            "new_oem",
                            "refurbished_refurbished",
                            "used_like_new",
                            "used_very_good",
                            "used_good",
                            "used_acceptable",
                            "collectible_like_new",
                            "collectible_very_good",
                            "collectible_good",
                            "collectible_acceptable",
                            "club_club"
                        ],
                        "x-docgen-enum-table-extension": [
                            {
                                "value": "new_new",
                                "description": "New."
                            },
                            {
                                "value": "new_open_box",
                                "description": "New - Open Box."
                            },
                            {
                                "value": "new_oem",
                                "description": "New - OEM."
                            },
                            {
                                "value": "refurbished_refurbished",
                                "description": "Refurbished."
                            },
                            {
                                "value": "used_like_new",
                                "description": "Used - Like New."
                            },
                            {
                                "value": "used_very_good",
                                "description": "Used - Very Good."
                            },
                            {
                                "value": "used_good",
                                "description": "Used - Good."
                            },
                            {
                                "value": "used_acceptable",
                                "description": "Used - Acceptable."
                            },
                            {
                                "value": "collectible_like_new",
                                "description": "Collectible - Like New."
                            },
                            {
                                "value": "collectible_very_good",
                                "description": "Collectible - Very Good."
                            },
                            {
                                "value": "collectible_good",
                                "description": "Collectible - Good."
                            },
                            {
                                "value": "collectible_acceptable",
                                "description": "Collectible - Acceptable."
                            },
                            {
                                "value": "club_club",
                                "description": "Club."
                            }
                        ]
                    },
                    "status": {
                        "type": "array",
                        "description": "Statuses that apply to the listings item.",
                        "items": {
                            "type": "string",
                            "enum": [
                                "BUYABLE",
                                "DISCOVERABLE"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "value": "BUYABLE",
                                    "description": "The listings item can be purchased by shoppers. This status does not apply to vendor listings."
                                },
                                {
                                    "value": "DISCOVERABLE",
                                    "description": "The listings item is visible to shoppers."
                                }
                            ]
                        }
                    },
                    "fnSku": {
                        "type": "string",
                        "description": "The fulfillment network stock keeping unit is an identifier used by Amazon fulfillment centers to identify each unique item."
                    },
                    "itemName": {
                        "type": "string",
                        "description": "The name or title associated with an Amazon catalog item."
                    },
                    "createdDate": {
                        "type": "string",
                        "description": "The date the listings item was created in ISO 8601 format.",
                        "format": "date-time"
                    },
                    "lastUpdatedDate": {
                        "type": "string",
                        "description": "The date the listings item was last updated in ISO 8601 format.",
                        "format": "date-time"
                    },
                    "mainImage": {
                        "$ref": "#/components/schemas/ItemImage"
                    }
                },
                "description": "Summary details of a listings item for an Amazon marketplace."
            },
            "ItemImage": {
                "required": [
                    "height",
                    "link",
                    "width"
                ],
                "type": "object",
                "properties": {
                    "link": {
                        "type": "string",
                        "description": "The link, or URL, to the image."
                    },
                    "height": {
                        "type": "integer",
                        "description": "The height of the image in pixels."
                    },
                    "width": {
                        "type": "integer",
                        "description": "The width of the image in pixels."
                    }
                },
                "description": "The image for the listings item."
            },
            "ItemAttributes": {
                "type": "object",
                "additionalProperties": true,
                "description": "A JSON object containing structured listings item attribute data keyed by attribute name."
            },
            "ItemIssues": {
                "type": "array",
                "description": "The issues associated with the listings item.",
                "items": {
                    "$ref": "#/components/schemas/Issue"
                }
            },
            "Issue": {
                "required": [
                    "categories",
                    "code",
                    "message",
                    "severity"
                ],
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
[...]
