{
    "openapi": "3.0.1",
    "info": {
        "title": "Selling Partner API for Pricing",
        "description": "The Selling Partner API for Pricing helps you programmatically retrieve product pricing and offer information for Amazon Marketplace products.",
        "contact": {
            "name": "Selling Partner API Developer Support",
            "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
        },
        "license": {
            "name": "Apache License 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "v0"
    },
    "servers": [
        {
            "url": "https://sellingpartnerapi-na.amazon.com/"
        }
    ],
    "paths": {
        "/products/pricing/v0/price": {
            "get": {
                "tags": [
                    "productPricing"
                ],
                "description": "Returns pricing information for a seller's offer listings based on seller SKU or ASIN.\n\n**Note:** The parameters associated with this operation may contain special characters that require URL encoding to call the API. To avoid errors with SKUs when encoding URLs, refer to [URL Encoding](https://developer-docs.amazon.com/sp-api/docs/url-encoding).\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 0.5 | 1 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "getPricing",
                "parameters": [
                    {
                        "name": "MarketplaceId",
                        "in": "query",
                        "description": "A marketplace identifier. Specifies the marketplace for which prices are returned.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Asins",
                        "in": "query",
                        "description": "A list of up to twenty Amazon Standard Identification Number (ASIN) values used to identify items in the given marketplace.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "maxItems": 20,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "Skus",
                        "in": "query",
                        "description": "A list of up to twenty seller SKU values used to identify items in the given marketplace.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "maxItems": 20,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "ItemType",
                        "in": "query",
                        "description": "Indicates whether ASIN values or seller SKU values are used to identify items. If you specify Asin, the information in the response will be dependent on the list of Asins you provide in the Asins parameter. If you specify Sku, the information in the response will be dependent on the list of Skus you provide in the Skus parameter.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Asin",
                                "Sku"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "value": "Asin",
                                    "description": "The Amazon Standard Identification Number (ASIN)."
                                },
                                {
                                    "value": "Sku",
                                    "description": "The seller SKU."
                                }
                            ]
                        },
                        "x-docgen-enum-table-extension": [
                            {
                                "value": "Asin",
                                "description": "The Amazon Standard Identification Number (ASIN)."
                            },
                            {
                                "value": "Sku",
                                "description": "The seller SKU."
                            }
                        ]
                    },
                    {
                        "name": "ItemCondition",
                        "in": "query",
                        "description": "Filters the offer listings based on item condition. Possible values: New, Used, Collectible, Refurbished, Club.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "New",
                                "Used",
                                "Collectible",
                                "Refurbished",
                                "Club"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "value": "New",
                                    "description": "New"
                                },
                                {
                                    "value": "Used",
                                    "description": "Used"
                                },
                                {
                                    "value": "Collectible",
                                    "description": "Collectible"
                                },
                                {
                                    "value": "Refurbished",
                                    "description": "Refurbished"
                                },
                                {
                                    "value": "Club",
                                    "description": "Club"
                                }
                            ]
                        },
                        "x-docgen-enum-table-extension": [
                            {
                                "value": "New",
                                "description": "New"
                            },
                            {
                                "value": "Used",
                                "description": "Used"
                            },
                            {
                                "value": "Collectible",
                                "description": "Collectible"
                            },
                            {
                                "value": "Refurbished",
                                "description": "Refurbished"
                            },
                            {
                                "value": "Club",
                                "description": "Club"
                            }
                        ]
                    },
                    {
                        "name": "OfferType",
                        "in": "query",
                        "description": "Indicates whether to request pricing information for the seller's B2C or B2B offers. Default is B2C.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "B2C",
                                "B2B"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "value": "B2C",
                                    "description": "B2C"
                                },
                                {
                                    "value": "B2B",
                                    "description": "B2B"
                                }
                            ]
                        },
                        "x-docgen-enum-table-extension": [
                            {
                                "value": "B2C",
                                "description": "B2C"
                            },
                            {
                                "value": "B2B",
                                "description": "B2B"
                            }
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPricingResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "MarketplaceId": {
                                                "value": "ATVPDKIKX0DER"
                                            },
                                            "ItemType": {
                                                "value": "Asin"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": [
                                            {
                                                "status": "Success",
                                                "ASIN": "B00V5DG6IQ",
                                                "Product": {
                                                    "Identifiers": {
                                                        "MarketplaceASIN": {
                                                            "MarketplaceId": "ATVPDKIKX0DER",
                                                            "ASIN": "B00V5DG6IQ"
                                                        },
                                                        "SKUIdentifier": {
                                                            "MarketplaceId": "",
                                                            "SellerId": "",
                                                            "SellerSKU": ""
                                                        }
                                                    },
                                                    "Offers": [
                                                        {
                                                            "BuyingPrice": {
                                                                "ListingPrice": {
                                                                    "CurrencyCode": "USD",
                                                                    "Amount": 10
                                                                },
                                                                "LandedPrice": {
                                                                    "CurrencyCode": "USD",
                                                                    "Amount": 10
                                                                },
                                                                "Shipping": {
                                                                    "CurrencyCode": "USD",
                                                                    "Amount": 0
                                                                }
                                                            },
                                                            "RegularPrice": {
                                                                "CurrencyCode": "USD",
                                                                "Amount": 10
                                                            },
                                                            "FulfillmentChannel": "MERCHANT",
                                                            "ItemCondition": "New",
                                                            "ItemSubCondition": "New",
                                                            "SellerSKU": "NABetaASINB00V5DG6IQ"
                                                        }
                                                    ]
                                                }
                                            },
                                            {
                                                "status": "Success",
                                                "ASIN": "B00551Q3CS",
                                                "Product": {
                                                    "Identifiers": {
                                                        "MarketplaceASIN": {
                                                            "MarketplaceId": "ATVPDKIKX0DER",
                                                            "ASIN": "B00551Q3CS"
                                                        },
                                                        "SKUIdentifier": {
                                                            "MarketplaceId": "",
                                                            "SellerId": "",
                                                            "SellerSKU": ""
                                                        }
                                                    },
                                                    "Offers": [
                                                        {
                                                            "BuyingPrice": {
                                                                "ListingPrice": {
                                                                    "CurrencyCode": "USD",
                                                                    "Amount": 10
                                                                },
                                                                "LandedPrice": {
                                                                    "CurrencyCode": "USD",
                                                                    "Amount": 10
                                                                },
                                                                "Shipping": {
                                                                    "CurrencyCode": "USD",
                                                                    "Amount": 0
                                                                }
                                                            },
                                                            "RegularPrice": {
                                                                "CurrencyCode": "USD",
                                                                "Amount": 10
                                                            },
                                                            "FulfillmentChannel": "MERCHANT",
                                                            "ItemCondition": "New",
                                                            "ItemSubCondition": "New",
                                                            "SellerSKU": "NABetaASINB00551Q3CS"
                                                        }
                                                    ]
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "request": {
                                        "parameters": {
                                            "MarketplaceId": {
                                                "value": "ATVPDKIKX0DER"
                                            },
                                            "ItemType": {
                                                "value": "Sku"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": [
                                            {
                                                "status": "Success",
                                                "SellerSKU": "NABetaASINB00V5DG6IQ",
                                                "Product": {
                                                    "Identifiers": {
                                                        "MarketplaceASIN": {
                                                            "MarketplaceId": "ATVPDKIKX0DER",
                                                            "ASIN": "B00V5DG6IQ"
                                                        },
                                                        "SKUIdentifier": {
                                                            "MarketplaceId": "ATVPDKIKX0DER",
                                                            "SellerId": "AXXXXXXXXXXXXX",
                                                            "SellerSKU": "NABetaASINB00V5DG6IQ"
                                                        }
                                                    },
                                                    "Offers": [
                                                        {
                                                            "BuyingPrice": {
                                                                "ListingPrice": {
                                                                    "CurrencyCode": "USD",
                                                                    "Amount": 10
                                                                },
                                                                "LandedPrice": {
                                                                    "CurrencyCode": "USD",
                                                                    "Amount": 10
                                                                },
                                                                "Shipping": {
                                                                    "CurrencyCode": "USD",
                                                                    "Amount": 0
                                                                }
                                                            },
                                                            "RegularPrice": {
                                                                "CurrencyCode": "USD",
                                                                "Amount": 10
                                                            },
                                                            "FulfillmentChannel": "MERCHANT",
                                                            "ItemCondition": "New",
                                                            "ItemSubCondition": "New",
                                                            "SellerSKU": "NABetaASINB00V5DG6IQ"
                                                        }
                                                    ]
                                                }
                                            },
                                            {
                                                "status": "Success",
                                                "SellerSKU": "NABetaASINB00551Q3CS",
                                                "Product": {
                                                    "Identifiers": {
                                                        "MarketplaceASIN": {
                                                            "MarketplaceId": "ATVPDKIKX0DER",
                                                            "ASIN": "B00551Q3CS"
                                                        },
                                                        "SKUIdentifier": {
                                                            "MarketplaceId": "ATVPDKIKX0DER",
                                                            "SellerId": "AXXXXXXXXXXXXX",
                                                            "SellerSKU": "NABetaASINB00551Q3CS"
                                                        }
                                                    },
                                                    "Offers": [
                                                        {
                                                            "BuyingPrice": {
                                                                "ListingPrice": {
                                                                    "CurrencyCode": "USD",
                                                                    "Amount": 10
                                                                },
                                                                "LandedPrice": {
                                                                    "CurrencyCode": "USD",
                                                                    "Amount": 10
                                                                },
                                                                "Shipping": {
                                                                    "CurrencyCode": "USD",
                                                                    "Amount": 0
                                                                }
                                                            },
                                                            "RegularPrice": {
                                                                "CurrencyCode": "USD",
                                                                "Amount": 10
                                                            },
                                                            "FulfillmentChannel": "MERCHANT",
                                                            "ItemCondition": "New",
                                                            "ItemSubCondition": "New",
                                                            "SellerSKU": "NABetaASINB00551Q3CS"
                                                        }
                                                    ]
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "request": {
                                        "parameters": {
                                            "MarketplaceId": {
                                                "value": "ATVPDKIKX0DER"
                                            },
                                            "ItemType": {
                                                "value": "Asin"
                                            },
                                            "OfferType": {
                                                "value": "B2B"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": [
                                            {
                                                "status": "Success",
                                                "ASIN": "B00V5DG6IQ",
                                                "Product": {
                                                    "Identifiers": {
                                                        "MarketplaceASIN": {
                                                            "MarketplaceId": "ATVPDKIKX0DER",
                                                            "ASIN": "B00V5DG6IQ"
                                                        },
                                                        "SKUIdentifier": {
                                                            "MarketplaceId": "",
                                                            "SellerId": "",
                                                            "SellerSKU": ""
                                                        }
                                                    },
                                                    "Offers": [
                                                        {
                                                            "offerType": "B2B",
                                                            "BuyingPrice": {
                                                                "ListingPrice": {
                                                                    "CurrencyCode": "USD",
                                                                    "Amount": 9.5
                                                                },
                                                                "LandedPrice": {
                                                                    "CurrencyCode": "USD",
                                                                    "Amount": 9.5
                                                                },
                                                                "Shipping": {
                                                                    "CurrencyCode": "USD",
                                                                    "Amount": 0
                                                                }
                                                            },
                                                            "RegularPrice": {
                                                                "CurrencyCode": "USD",
                                                                "Amount": 10
                                                            },
                                                            "quantityDiscountPrices": [
                                                                {
                                                                    "quantityTier": 2,
                                                                    "quantityDiscountType": "QUANTITY_DISCOUNT",
                                                                    "listingPrice": {
                                                                        "CurrencyCode": "USD",
                                                                        "Amount": 8
                                                                    }
                                                                },
                                                                {
                                                                    "quantityTier": 3,
                                                                    "quantityDiscountType": "QUANTITY_DISCOUNT",
                                                                    "listingPrice": {
                                                                        "CurrencyCode": "USD",
                                                                        "Amount": 7
                                                                    }
                                                                }
                                                            ],
                                                            "FulfillmentChannel": "MERCHANT",
                                                            "ItemCondition": "New",
                                                            "ItemSubCondition": "New",
                                                            "SellerSKU": "NABetaASINB00V5DG6IQ"
                                                        }
                                                    ]
                                                }
                                            },
                                            {
                                                "status": "Success",
                                                "ASIN": "B00551Q3CS",
                                                "Product": {
                                                    "Identifiers": {
                                                        "MarketplaceASIN": {
                                                            "MarketplaceId": "ATVPDKIKX0DER",
                                                            "ASIN": "B00551Q3CS"
                                                        },
                                                        "SKUIdentifier": {
                                                            "MarketplaceId": "",
                                                            "SellerId": "",
                                                            "SellerSKU": ""
                                                        }
                                                    },
                                                    "Offers": [
                                                        {
                                                            "offerType": "B2B",
                                                            "BuyingPrice": {
                                                                "ListingPrice": {
                                                                    "CurrencyCode": "USD",
                                                                    "Amount": 8
                                                                },
                                                                "LandedPrice": {
                                                                    "CurrencyCode": "USD",
                                                                    "Amount": 8
                                                                },
                                                                "Shipping": {
                                                                    "CurrencyCode": "USD",
                                                                    "Amount": 0
                                                                }
                                                            },
                                                            "RegularPrice": {
                                                                "CurrencyCode": "USD",
                                                                "Amount": 10
                                                            },
                                                            "FulfillmentChannel": "MERCHANT",
                                                            "ItemCondition": "New",
                                                            "ItemSubCondition": "New",
                                                            "SellerSKU": "NABetaASINB00551Q3CS"
                                                        }
                                                    ]
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPricingResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "MarketplaceId": {
                                                "value": "TEST_CASE_400"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Invalid Input"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPricingResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPricingResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The specified resource does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPricingResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPricingResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPricingResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPricingResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/products/pricing/v0/competitivePrice": {
            "get": {
                "tags": [
                    "productPricing"
                ],
                "description": "Returns competitive pricing information for a seller's offer listings based on seller SKU or ASIN.\n\n**Note:** The parameters associated with this operation may contain special characters that require URL encoding to call the API. To avoid errors with SKUs when encoding URLs, refer to [URL Encoding](https://developer-docs.amazon.com/sp-api/docs/url-encoding).\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 0.5 | 1 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "getCompetitivePricing",
                "parameters": [
                    {
                        "name": "MarketplaceId",
                        "in": "query",
                        "description": "A marketplace identifier. Specifies the marketplace for which prices are returned.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Asins",
                        "in": "query",
                        "description": "A list of up to twenty Amazon Standard Identification Number (ASIN) values used to identify items in the given marketplace.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "maxItems": 20,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "Skus",
                        "in": "query",
                        "description": "A list of up to twenty seller SKU values used to identify items in the given marketplace.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "maxItems": 20,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "ItemType",
                        "in": "query",
                        "description": "Indicates whether ASIN values or seller SKU values are used to identify items. If you specify Asin, the information in the response will be dependent on the list of Asins you provide in the Asins parameter. If you specify Sku, the information in the response will be dependent on the list of Skus you provide in the Skus parameter. Possible values: Asin, Sku.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Asin",
                                "Sku"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "value": "Asin",
                                    "description": "The Amazon Standard Identification Number (ASIN)."
                                },
                                {
                                    "value": "Sku",
                                    "description": "The seller SKU."
                                }
                            ]
                        },
                        "x-docgen-enum-table-extension": [
                            {
                                "value": "Asin",
                                "description": "The Amazon Standard Identification Number (ASIN)."
                            },
                            {
                                "value": "Sku",
                                "description": "The seller SKU."
                            }
                        ]
                    },
                    {
                        "name": "CustomerType",
                        "in": "query",
                        "description": "Indicates whether to request pricing information from the point of view of Consumer or Business buyers. Default is Consumer.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Consumer",
                                "Business"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "value": "Consumer",
                                    "description": "Consumer"
                                },
                                {
                                    "value": "Business",
                                    "description": "Business"
                                }
                            ]
                        },
                        "x-docgen-enum-table-extension": [
                            {
                                "value": "Consumer",
                                "description": "Consumer"
                            },
                            {
                                "value": "Business",
                                "description": "Business"
                            }
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPricingResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "MarketplaceId": {
                                                "value": "ATVPDKIKX0DER"
                                            },
                                            "ItemType": {
                                                "value": "Asin"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": [
                                            {
                                                "status": "Success",
                                                "ASIN": "B00V5DG6IQ",
                                                "Product": {
                                                    "Identifiers": {
                                                        "MarketplaceASIN": {
                                                            "MarketplaceId": "ATVPDKIKX0DER",
                                                            "ASIN": "B00V5DG6IQ"
                                                        },
                                                        "SKUIdentifier": {
                                                            "MarketplaceId": "",
                                                            "SellerId": "",
                                                            "SellerSKU": ""
                                                        }
                                                    },
                                                    "CompetitivePricing": {
                                                        "CompetitivePrices": [
                                                            {
                                                                "CompetitivePriceId": "4545645646",
                                                                "Price": {
                                                                    "LandedPrice": {
                                                                        "CurrencyCode": "USD",
                                                                        "Amount": 10
                                                                    },
                                                                    "ListingPrice": {
                                                                        "CurrencyCode": "USD",
                                                                        "Amount": 130
                                                                    },
                                                                    "Shipping": {
                                                                        "CurrencyCode": "USD",
                                                                        "Amount": 120
                                                                    },
                                                                    "Points": {
                                                                        "PointsNumber": 130,
                                                                        "PointsMonetaryValue": {
                                                                            "CurrencyCode": "USD",
                                                                            "Amount": 10
                                                                        }
                                                                    }
                                                                },
                                                                "condition": "new",
                                                                "belongsToRequester": true
                                                            }
                                                        ],
                                                        "NumberOfOfferListings": [
                                                            {
                                                                "Count": 20,
                                                                "condition": "new"
                                                            }
                                                        ],
                                                        "TradeInValue": {
                                                            "CurrencyCode": "USD",
                                                            "Amount": 10
                                                        }
                                                    },
                                                    "SalesRankings": [
                                                        {
                                                            "ProductCategoryId": "325345",
                                                            "Rank": 1
                                                        }
                                                    ]
                                                }
                                            },
                                            {
                                                "status": "Success",
                                                "ASIN": "B00551Q3CS",
                                                "Product": {
                                                    "Identifiers": {
                                                        "MarketplaceASIN": {
                                                            "MarketplaceId": "ATVPDKIKX0DER",
                                                            "ASIN": "B00551Q3CS"
                                                        },
                                                        "SKUIdentifier": {
                                                            "MarketplaceId": "",
                                                            "SellerId": "",
                                                            "SellerSKU": ""
                                                        }
                                                    },
                                                    "CompetitivePricing": {
                                                        "CompetitivePrices": [
                                                            {
                                                                "CompetitivePriceId": "45456452646",
                                                                "Price": {
                                                                    "LandedPrice": {
                                                                        "CurrencyCode": "USD",
                                                                        "Amount": 10
                                                                    },
                                                                    "ListingPrice": {
                                                                        "CurrencyCode": "USD",
                                                                        "Amount": 130
                                                                    },
                                                                    "Shipping": {
                                                                        "CurrencyCode": "USD",
                                                                        "Amount": 120
                                                                    },
                                                                    "Points": {
                                                                        "PointsNumber": 130,
                                                                        "PointsMonetaryValue": {
                                                                            "CurrencyCode": "USD",
                                                                            "Amount": 10
                                                                        }
                                                                    }
                                                                },
                                                                "condition": "new",
                                                                "belongsToRequester": true
                                                            }
                                                        ],
                                                        "NumberOfOfferListings": [
                                                            {
                                                                "Count": 1,
                                                                "condition": "new"
                                                            }
                                                        ],
                                                        "TradeInValue": {
                                                            "CurrencyCode": "string",
                                                            "Amount": 0
                                                        }
                                                    },
                                                    "SalesRankings": [
                                                        {
                                                            "ProductCategoryId": "54564",
                                                            "Rank": 1
                                                        }
                                                    ]
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "request": {
                                        "parameters": {
                                            "MarketplaceId": {
                                                "value": "ATVPDKIKX0DER"
                                            },
                                            "ItemType": {
                                                "value": "Sku"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": [
                                            {
                                                "status": "Success",
                                                "SellerSKU": "NABetaASINB00V5DG6IQ",
                                                "Product": {
                                                    "Identifiers": {
                                                        "MarketplaceASIN": {
                                                            "MarketplaceId": "ATVPDKIKX0DER",
                                                            "ASIN": "B00V5DG6IQ"
                                                        },
                                                        "SKUIdentifier": {
                                                            "MarketplaceId": "ATVPDKIKX0DER",
                                                            "SellerId": "AXXXXXXXXXXXXX",
                                                            "SellerSKU": "NABetaASINB00V5DG6IQ"
                                                        }
                                                    },
                                                    "CompetitivePricing": {
                                                        "CompetitivePrices": [
                                                            {
                                                                "CompetitivePriceId": "3454535",
                                                                "Price": {
                                                                    "LandedPrice": {
                                                                        "CurrencyCode": "USD",
                                                                        "Amount": 10
                                                                    },
                                                                    "ListingPrice": {
                                                                        "CurrencyCode": "USD",
                                                                        "Amount": 130
                                                                    },
                                                                    "Shipping": {
                                                                        "CurrencyCode": "USD",
                                                                        "Amount": 120
                                                                    },
                                                                    "Points": {
                                                                        "PointsNumber": 130,
                                                                        "PointsMonetaryValue": {
                                                                            "CurrencyCode": "USD",
                                                                            "Amount": 10
                                                                        }
                                                                    }
                                                                },
                                                                "condition": "new",
                                                                "belongsToRequester": true
                                                            }
                                                        ],
                                                        "NumberOfOfferListings": [
                                                            {
                                                                "Count": 402,
                                                                "condition": "new"
                                                            }
                                                        ],
                                                        "TradeInValue": {
                                                            "CurrencyCode": "USD",
                                                            "Amount": 20
                                                        }
                                                    },
                                                    "SalesRankings": [
                                                        {
                                                            "ProductCategoryId": "676554",
                                                            "Rank": 1
                                                        }
                                                    ]
                                                }
                                            },
                                            {
                                                "status": "Success",
                                                "SellerSKU": "NABetaASINB00551Q3CS",
                                                "Product": {
                                                    "Identifiers": {
                                                        "MarketplaceASIN": {
                                                            "MarketplaceId": "ATVPDKIKX0DER",
                                                            "ASIN": "B00551Q3CS"
                                                        },
                                                        "SKUIdentifier": {
                                                            "MarketplaceId": "ATVPDKIKX0DER",
                                                            "SellerId": "AXXXXXXXXXXXXX",
                                                            "SellerSKU": "NABetaASINB00551Q3CS"
                                                        }
                                                    },
                                                    "CompetitivePricing": {
                                                        "CompetitivePrices": [
                                                            {
                                                                "CompetitivePriceId": "4545645646",
                                                                "Price": {
                                                                    "LandedPrice": {
                                                                        "CurrencyCode": "USD",
                                                                        "Amount": 10
                                                                    },
                                                                    "ListingPrice": {
                                                                        "CurrencyCode": "USD",
                                                                        "Amount": 130
                                                                    },
                                                                    "Shipping": {
                                                                        "CurrencyCode": "USD",
                                                                        "Amount": 120
                                                                    },
                                                                    "Points": {
                                                                        "PointsNumber": 130,
                                                                        "PointsMonetaryValue": {
                                                                            "CurrencyCode": "USD",
                                                                            "Amount": 10
                                                                        }
                                                                    }
                                                                },
                                                                "condition": "new",
                                                                "belongsToRequester": true
                                                            }
                                                        ],
                                                        "NumberOfOfferListings": [
                                                            {
                                                                "Count": 402,
                                                                "condition": "new"
                                                            }
                                                        ],
                                                        "TradeInValue": {
                                                            "CurrencyCode": "USD",
                                                            "Amount": 20
                                                        }
                                                    },
                                                    "SalesRankings": [
                                                        {
                                                            "ProductCategoryId": "35345",
                                                            "Rank": 1
                                                        }
                                                    ]
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "request": {
                                        "parameters": {
                                            "MarketplaceId": {
                                                "value": "ATVPDKIKX0DER"
                                            },
                                            "ItemType": {
                                                "value": "Asin"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": [
                                            {
                                                "status": "Success",
                                                "ASIN": "B00V5DG6IQ",
                                                "Product": {
                                                    "Identifiers": {
                                                        "MarketplaceASIN": {
                                                            "MarketplaceId": "ATVPDKIKX0DER",
                                                            "ASIN": "B00V5DG6IQ"
                                                        },
                                                        "SKUIdentifier": {
                                                            "MarketplaceId": "",
                                                            "SellerId": "",
                                                            "SellerSKU": ""
                                                        }
                                                    },
                                                    "CompetitivePricing": {
                                                        "CompetitivePrices": [],
                                                        "NumberOfOfferListings": [
                                                            {
                                                                "Count": 1,
                                                                "condition": "New"
                                                            },
                                                            {
                                                                "Count": 1,
                                                                "condition": "Any"
                                                            }
                                                        ]
                                                    },
                                                    "SalesRankings": [
                                                        {
                                                            "ProductCategoryId": "office_product_display_on_website",
                                                            "Rank": 19
                                                        },
                                                        {
                                                            "ProductCategoryId": "1069616",
                                                            "Rank": 1
                                                        },
                                                        {
                                                            "ProductCategoryId": "705333011",
                                                            "Rank": 1
                                                        },
                                                        {
                                                            "ProductCategoryId": "1069242",
                                                            "Rank": 17
                                                        }
                                                    ]
                                                }
                                            },
                                            {
                                                "status": "Success",
                                                "ASIN": "B00551Q3CS",
                                                "Product": {
                                                    "Identifiers": {
                                                        "MarketplaceASIN": {
                                                            "MarketplaceId": "ATVPDKIKX0DER",
                                                            "ASIN": "B00551Q3CS"
                                                        },
                                                        "SKUIdentifier": {
                                                            "MarketplaceId": "",
                                                            "SellerId": "",
                                                            "SellerSKU": ""
                                                        }
                                                    },
                                                    "CompetitivePricing": {
                                                        "CompetitivePrices": [],
                                                        "NumberOfOfferListings": [
                                                            {
                                                                "Count": 1,
                                                                "condition": "New"
                                                            },
                                                            {
                                                                "Count": 1,
                                                                "condition": "Any"
                                                            }
                                                        ]
                                                    },
                                                    "SalesRankings": [
                                                        {
                                                            "ProductCategoryId": "464394",
                                                            "Rank": 224
                                                        },
                                                        {
                                                            "ProductCategoryId": "12954861",
                                                            "Rank": 1057
                                                        }
                                                    ]
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "request": {
                                        "parameters": {
                                            "MarketplaceId": {
                                                "value": "ATVPDKIKX0DER"
                                            },
                                            "ItemType": {
                                                "value": "Sku"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": [
                                            {
                                                "status": "Success",
                                                "SellerSKU": "NABetaASINB00V5DG6IQ",
                                                "Product": {
                                                    "Identifiers": {
                                                        "MarketplaceASIN": {
                                                            "MarketplaceId": "ATVPDKIKX0DER",
                                                            "ASIN": "B00V5DG6IQ"
                                                        },
                                                        "SKUIdentifier": {
                                                            "MarketplaceId": "ATVPDKIKX0DER",
                                                            "SellerId": "AXXXXXXXXXXXXX",
                                                            "SellerSKU": "NABetaASINB00V5DG6IQ"
                                                        }
                                                    },
                                                    "CompetitivePricing": {
                                                        "CompetitivePrices": [],
                                                        "NumberOfOfferListings": [
                                                            {
                                                                "Count": 1,
                                                                "condition": "New"
                                                            },
                                                            {
                                                                "Count": 1,
                                                                "condition": "Any"
                                                            }
                                                        ]
                                                    },
                                                    "SalesRankings": [
                                                        {
                                                            "ProductCategoryId": "office_product_display_on_website",
                                                            "Rank": 19
                                                        },
                                                        {
                                                            "ProductCategoryId": "1069616",
                                                            "Rank": 1
                                                        },
                                                        {
                                                            "ProductCategoryId": "705333011",
                                                            "Rank": 1
                                                        },
                                                        {
                                                            "ProductCategoryId": "1069242",
                                                            "Rank": 17
                                                        }
                                                    ]
                                                }
                                            },
                                            {
                                                "status": "Success",
                                                "SellerSKU": "NABetaASINB00551Q3CS",
                                                "Product": {
                                                    "Identifiers": {
                                                        "MarketplaceASIN": {
                                                            "MarketplaceId": "ATVPDKIKX0DER",
                                                            "ASIN": "B00551Q3CS"
                                                        },
                                                        "SKUIdentifier": {
                                                            "MarketplaceId": "ATVPDKIKX0DER",
                                                            "SellerId": "AXXXXXXXXXXXXX",
                                                            "SellerSKU": "NABetaASINB00551Q3CS"
                                                        }
                                                    },
                                                    "CompetitivePricing": {
                                                        "CompetitivePrices": [],
                                                        "NumberOfOfferListings": [
                                                            {
                                                                "Count": 1,
                                                                "condition": "New"
                                                            },
                                                            {
                                                                "Count": 1,
                                                                "condition": "Any"
                                                            }
                                                        ]
                                                    },
                                                    "SalesRankings": [
                                                        {
                                                            "ProductCategoryId": "464394",
                                                            "Rank": 224
                                                        },
                                                        {
                                                            "ProductCategoryId": "12954861",
                                                            "Rank": 1057
                                                        }
                                                    ]
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "request": {
                                        "parameters": {
                                            "MarketplaceId": {
                                                "value": "ATVPDKIKX0DER"
                                            },
                                            "ItemType": {
                                                "value": "Asin"
                                            },
                                            "CustomerType": {
                                                "value": "Business"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": [
                                            {
                                                "status": "Success",
                                                "ASIN": "B00V5DG6IQ",
                                                "Product": {
                                                    "Identifiers": {
                                                        "MarketplaceASIN": {
                                                            "MarketplaceId": "ATVPDKIKX0DER",
                                                            "ASIN": "B00V5DG6IQ"
                                                        },
                                                        "SKUIdentifier": {
                                                            "MarketplaceId": "",
                                                            "SellerId": "",
                                                            "SellerSKU": ""
                                                        }
                                                    },
                                                    "CompetitivePricing": {
                                                        "CompetitivePrices": [
                                                            {
                                                                "CompetitivePriceId": "1",
                                                                "Price": {
                                                                    "LandedPrice": {
                                                                        "CurrencyCode": "USD",
                                                                        "Amount": 120
                                                                    },
                                                                    "ListingPrice": {
                                                                        "CurrencyCode": "USD",
                                                                        "Amount": 130
                                                                    },
                                                                    "Shipping": {
                                                                        "CurrencyCode": "USD",
                                                                        "Amount": 10
                                                                    },
                                                                    "Points": {
                                                                        "PointsNumber": 130,
                                                                        "PointsMonetaryValue": {
                                                                            "CurrencyCode": "USD",
                                                                            "Amount": 10
                                                                        }
                                                                    }
                                                                },
                                                                "condition": "new",
                                                                "offerType": "B2C",
                                                                "sellerId": "AXXXXXXXXXXXXX",
                                                                "belongsToRequester": true
                                                            },
                                                            {
                                                                "CompetitivePriceId": "1",
                                                                "Price": {
                                                                    "ListingPrice": {
                                                                        "CurrencyCode": "USD",
                                                                        "Amount": 115
                                                                    }
                                                                },
                                                                "condition": "new",
                                                                "offerType": "B2B",
                                                                "quantityTier": 3,
                                                                "quantityDiscountType": "QUANTITY_DISCOUNT",
                                                                "sellerId": "AXXXXXXXXXXXXX",
                                                                "belongsToRequester": true
                                                            },
                                                            {
                                                                "CompetitivePriceId": "1",
                                                                "Price": {
                                                                    "ListingPrice": {
                                                                        "CurrencyCode": "USD",
                                                                        "Amount": 110
                                                                    }
                                                                },
                                                                "condition": "new",
                                                                "offerType": "B2B",
                                                                "quantityTier": 5,
                                                                "quantityDiscountType": "QUANTITY_DISCOUNT",
                                                                "sellerId": "AXXXXXXXXXXXXX",
                                                                "belongsToRequester": true
                                                            }
                                                        ],
                                                        "NumberOfOfferListings": [
                                                            {
                                                                "Count": 3,
                                                                "condition": "new"
                                                            }
                                                        ],
                                                        "TradeInValue": {
                                                            "CurrencyCode": "USD",
                                                            "Amount": 10
                                                        }
                                                    },
                                                    "SalesRankings": [
                                                        {
                                                            "ProductCategoryId": "325345",
                                                            "Rank": 1
                                                        }
                                                    ]
                                                }
                                            },
                                            {
                                                "status": "Success",
                                                "ASIN": "B00551Q3CS",
                                                "Product": {
                                                    "Identifiers": {
                                                        "MarketplaceASIN": {
                                                            "MarketplaceId": "ATVPDKIKX0DER",
                                                            "ASIN": "B00551Q3CS"
                                                        },
                                                        "SKUIdentifier": {
                                                            "MarketplaceId": "",
                                                            "SellerId": "",
                                                            "SellerSKU": ""
                                                        }
                                                    },
                                                    "CompetitivePricing": {
                                                        "CompetitivePrices": [
                                                            {
                                                                "CompetitivePriceId": "1",
                                                                "Price": {
                                                                    "LandedPrice": {
                                                                        "CurrencyCode": "USD",
                                                                        "Amount": 10
                                                                    },
                                                                    "ListingPrice": {
                                                                        "CurrencyCode": "USD",
                                                                        "Amount": 130
                                                                    },
                                                                    "Shipping": {
                                                                        "CurrencyCode": "USD",
                                                                        "Amount": 120
                                                                    },
                                                                    "Points": {
                                                                        "PointsNumber": 130,
                                                                        "PointsMonetaryValue": {
                                                                            "CurrencyCode": "USD",
                                                                            "Amount": 10
                                                                        }
                                                                    }
                                                                },
                                                                "condition": "new",
                                                                "offerType": "B2B",
                                                                "sellerId": "AXXXXXXXXXXXXX",
                                                                "belongsToRequester": true
                                                            }
                                                        ],
                                                        "NumberOfOfferListings": [
                                                            {
                                                                "Count": 1,
                                                                "condition": "new"
                                                            }
                                                        ],
                                                        "TradeInValue": {
                                                            "CurrencyCode": "string",
                                                            "Amount": 0
                                                        }
                                                    },
                                                    "SalesRankings": [
                                                        {
                                                            "ProductCategoryId": "54564",
                                                            "Rank": 1
                                                        }
                                                    ]
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference ID.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPricingResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "MarketplaceId": {
                                                "value": "TEST_CASE_400"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Invalid Input"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
[...]
