{
    "openapi": "3.0.1",
    "info": {
        "title": "Selling Partner API for Orders",
        "description": "Use the Orders Selling Partner API to programmatically retrieve order information. With this API, you can develop fast, flexible, and custom applications to manage order synchronization, perform order research, and create demand-based decision support tools. \n\n_Note:_ For the JP, AU, and SG marketplaces, the Orders API supports orders from 2016 onward. For all other marketplaces, the Orders API supports orders for the last two years (orders older than this don't show up in the response).",
        "contact": {
            "name": "Selling Partner API Developer Support",
            "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
        },
        "license": {
            "name": "Apache License 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "v0"
    },
    "servers": [
        {
            "url": "https://sellingpartnerapi-na.amazon.com/"
        }
    ],
    "paths": {
        "/orders/v0/orders": {
            "get": {
                "tags": [
                    "OrdersV0"
                ],
                "description": "Returns orders that are created or updated during the specified time period. If you want to return specific types of orders, you can apply filters to your request. `NextToken` doesn't affect any filters that you include in your request; it only impacts the pagination for the filtered orders response. \n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 0.0167 | 20 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that are applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may receive higher rate and burst values then those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api) in the Selling Partner API documentation.",
                "operationId": "getOrders",
                "parameters": [
                    {
                        "name": "CreatedAfter",
                        "in": "query",
                        "description": "Use this date to select orders created after (or at) a specified time. Only orders placed after the specified time are returned. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.\n\n**Note**: Either the `CreatedAfter` parameter or the `LastUpdatedAfter` parameter is required. Both cannot be empty. `LastUpdatedAfter` and `LastUpdatedBefore` cannot be set when `CreatedAfter` is set.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "CreatedBefore",
                        "in": "query",
                        "description": "Use this date to select orders created before (or at) a specified time. Only orders placed before the specified time are returned. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.\n\n**Note**: `CreatedBefore` is optional when `CreatedAfter` is set. If specified, `CreatedBefore` must be equal to or after the `CreatedAfter` date and at least two minutes before current time.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "LastUpdatedAfter",
                        "in": "query",
                        "description": "Use this date to select orders that were last updated after (or at) a specified time. An update is defined as any change in order status, including the creation of a new order. Includes updates made by Amazon and by the seller. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.\n\n**Note**: Either the `CreatedAfter` parameter or the `LastUpdatedAfter` parameter is required. Both cannot be empty. `CreatedAfter` or `CreatedBefore` cannot be set when `LastUpdatedAfter` is set.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "LastUpdatedBefore",
                        "in": "query",
                        "description": "Use this date to select orders that were last updated before (or at) a specified time. An update is defined as any change in order status, including the creation of a new order. Includes updates made by Amazon and by the seller. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.\n\n**Note**: `LastUpdatedBefore` is optional when `LastUpdatedAfter` is set. But if specified, `LastUpdatedBefore` must be equal to or after the `LastUpdatedAfter` date and at least two minutes before current time.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "OrderStatuses",
                        "in": "query",
                        "description": "A list of `OrderStatus` values used to filter the results.\n\n**Possible values:**\n- `PendingAvailability` (This status is available for pre-orders only. The order has been placed, payment has not been authorized, and the release date of the item is in the future.)\n- `Pending` (The order has been placed but payment has not been authorized.)\n- `Unshipped` (Payment has been authorized and the order is ready for shipment, but no items in the order have been shipped.)\n- `PartiallyShipped` (One or more, but not all, items in the order have been shipped.)\n- `Shipped` (All items in the order have been shipped.)\n- `InvoiceUnconfirmed` (All items in the order have been shipped. The seller has not yet given confirmation to Amazon that the invoice has been shipped to the buyer.)\n- `Canceled` (The order has been canceled.)\n- `Unfulfillable` (The order cannot be fulfilled. This state applies only to Multi-Channel Fulfillment orders.)",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "MarketplaceIds",
                        "in": "query",
                        "description": "A list of `MarketplaceId` values. Used to select orders that were placed in the specified marketplaces.\n\nRefer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids) for a complete list of `marketplaceId` values.",
                        "required": true,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "maxItems": 50,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "FulfillmentChannels",
                        "in": "query",
                        "description": "A list that indicates how an order was fulfilled. Filters the results by fulfillment channel. \n\n**Possible values**: `AFN` (fulfilled by Amazon), `MFN` (fulfilled by seller).",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "PaymentMethods",
                        "in": "query",
                        "description": "A list of payment method values. Use this field to select orders that were paid with the specified payment methods.\n\n**Possible values**: `COD` (cash on delivery), `CVS` (convenience store), `Other` (Any payment method other than COD or CVS).",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "BuyerEmail",
                        "in": "query",
                        "description": "The email address of a buyer. Used to select orders that contain the specified email address.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "SellerOrderId",
                        "in": "query",
                        "description": "An order identifier that is specified by the seller. Used to select only the orders that match the order identifier. If `SellerOrderId` is specified, then `FulfillmentChannels`, `OrderStatuses`, `PaymentMethod`, `LastUpdatedAfter`, LastUpdatedBefore, and `BuyerEmail` cannot be specified.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "MaxResultsPerPage",
                        "in": "query",
                        "description": "A number that indicates the maximum number of orders that can be returned per page. Value must be 1 - 100. Default 100.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "EasyShipShipmentStatuses",
                        "in": "query",
                        "description": "A list of `EasyShipShipmentStatus` values. Used to select Easy Ship orders with statuses that match the specified values. If `EasyShipShipmentStatus` is specified, only Amazon Easy Ship orders are returned.\n\n**Possible values:**\n- `PendingSchedule` (The package is awaiting the schedule for pick-up.)\n- `PendingPickUp` (Amazon has not yet picked up the package from the seller.)\n- `PendingDropOff` (The seller will deliver the package to the carrier.)\n- `LabelCanceled` (The seller canceled the pickup.)\n- `PickedUp` (Amazon has picked up the package from the seller.)\n- `DroppedOff` (The package is delivered to the carrier by the seller.)\n- `AtOriginFC` (The packaged is at the origin fulfillment center.)\n- `AtDestinationFC` (The package is at the destination fulfillment center.)\n- `Delivered` (The package has been delivered.)\n- `RejectedByBuyer` (The package has been rejected by the buyer.)\n- `Undeliverable` (The package cannot be delivered.)\n- `ReturningToSeller` (The package was not delivered and is being returned to the seller.)\n- `ReturnedToSeller` (The package was not delivered and was returned to the seller.)\n- `Lost` (The package is lost.)\n- `OutForDelivery` (The package is out for delivery.)\n- `Damaged` (The package was damaged by the carrier.)",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "ElectronicInvoiceStatuses",
                        "in": "query",
                        "description": "A list of `ElectronicInvoiceStatus` values. Used to select orders with electronic invoice statuses that match the specified values.\n\n**Possible values:**\n- `NotRequired` (Electronic invoice submission is not required for this order.)\n- `NotFound` (The electronic invoice was not submitted for this order.)\n- `Processing` (The electronic invoice is being processed for this order.)\n- `Errored` (The last submitted electronic invoice was rejected for this order.)\n- `Accepted` (The last submitted electronic invoice was submitted and accepted.)",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "NextToken",
                        "in": "query",
                        "description": "A string token returned in the response of your previous request.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AmazonOrderIds",
                        "in": "query",
                        "description": "A list of `AmazonOrderId` values. An `AmazonOrderId` is an Amazon-defined order identifier, in 3-7-7 format.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "maxItems": 50,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "ActualFulfillmentSupplySourceId",
                        "in": "query",
                        "description": "The `sourceId` of the location from where you want the order fulfilled.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "IsISPU",
                        "in": "query",
                        "description": "When true, this order is marked to be picked up from a store rather than delivered.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "StoreChainStoreId",
                        "in": "query",
                        "description": "The store chain store identifier. Linked to a specific store in a store chain.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "EarliestDeliveryDateBefore",
                        "in": "query",
                        "description": "Use this date to select orders with a earliest delivery date before (or at) a specified time. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "EarliestDeliveryDateAfter",
                        "in": "query",
                        "description": "Use this date to select orders with a earliest delivery date after (or at) a specified time. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "LatestDeliveryDateBefore",
                        "in": "query",
                        "description": "Use this date to select orders with a latest delivery date before (or at) a specified time. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "LatestDeliveryDateAfter",
                        "in": "query",
                        "description": "Use this date to select orders with a latest delivery date after (or at) a specified time. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrdersResponse"
                                },
                                "example": {
                                    "payload": {
                                        "NextToken": "2YgYW55IGNhcm5hbCBwbGVhc3VyZS4",
                                        "Orders": [
                                            {
                                                "AmazonOrderId": "902-3159896-1390916",
                                                "PurchaseDate": "2017-01-20T19:49:35Z",
                                                "LastUpdateDate": "2017-01-20T19:49:35Z",
                                                "OrderStatus": "Pending",
                                                "FulfillmentChannel": "SellerFulfilled",
                                                "NumberOfItemsShipped": 0,
                                                "NumberOfItemsUnshipped": 0,
                                                "PaymentMethod": "Other",
                                                "PaymentMethodDetails": [
                                                    "CreditCard",
                                                    "GiftCerificate"
                                                ],
                                                "MarketplaceId": "ATVPDKIKX0DER",
                                                "ShipmentServiceLevelCategory": "Standard",
                                                "OrderType": "StandardOrder",
                                                "EarliestShipDate": "2017-01-20T19:51:16Z",
                                                "LatestShipDate": "2017-01-25T19:49:35Z",
                                                "IsBusinessOrder": false,
                                                "IsPrime": false,
                                                "IsAccessPointOrder": false,
                                                "IsGlobalExpressEnabled": false,
                                                "IsPremiumOrder": false,
                                                "IsSoldByAB": false,
                                                "IsIBA": false,
                                                "ShippingAddress": {
                                                    "Name": "Michigan address",
                                                    "AddressLine1": "1 Cross St.",
                                                    "City": "Canton",
                                                    "StateOrRegion": "MI",
                                                    "PostalCode": "48817",
                                                    "CountryCode": "US"
                                                },
                                                "BuyerInfo": {
                                                    "BuyerEmail": "user@example.com",
                                                    "BuyerName": "John Doe",
                                                    "BuyerTaxInfo": {
                                                        "CompanyLegalName": "A Company Name"
                                                    },
                                                    "PurchaseOrderNumber": "1234567890123"
                                                }
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "CreatedAfter": {
                                                "value": "TEST_CASE_200"
                                            },
                                            "MarketplaceIds": {
                                                "value": [
                                                    "ATVPDKIKX0DER"
                                                ]
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "CreatedBefore": "1.569521782042E9",
                                            "Orders": [
                                                {
                                                    "AmazonOrderId": "902-1845936-5435065",
                                                    "PurchaseDate": "1970-01-19T03:58:30Z",
                                                    "LastUpdateDate": "1970-01-19T03:58:32Z",
                                                    "OrderStatus": "Unshipped",
                                                    "FulfillmentChannel": "MFN",
                                                    "SalesChannel": "Amazon.com",
                                                    "ShipServiceLevel": "Std US D2D Dom",
                                                    "OrderTotal": {
                                                        "CurrencyCode": "USD",
                                                        "Amount": "11.01"
                                                    },
                                                    "NumberOfItemsShipped": 0,
                                                    "NumberOfItemsUnshipped": 1,
                                                    "PaymentMethod": "Other",
                                                    "PaymentMethodDetails": [
                                                        "Standard"
                                                    ],
                                                    "IsReplacementOrder": false,
                                                    "MarketplaceId": "ATVPDKIKX0DER",
                                                    "ShipmentServiceLevelCategory": "Standard",
                                                    "OrderType": "StandardOrder",
                                                    "EarliestShipDate": "1970-01-19T03:59:27Z",
                                                    "LatestShipDate": "1970-01-19T04:05:13Z",
                                                    "EarliestDeliveryDate": "1970-01-19T04:06:39Z",
                                                    "LatestDeliveryDate": "1970-01-19T04:15:17Z",
                                                    "IsBusinessOrder": false,
                                                    "IsPrime": false,
                                                    "IsGlobalExpressEnabled": false,
                                                    "IsPremiumOrder": false,
                                                    "IsSoldByAB": false,
                                                    "IsIBA": false,
                                                    "DefaultShipFromLocationAddress": {
                                                        "Name": "MFNIntegrationTestMerchant",
                                                        "AddressLine1": "2201 WESTLAKE AVE",
                                                        "City": "SEATTLE",
                                                        "StateOrRegion": "WA",
                                                        "PostalCode": "98121-2778",
                                                        "CountryCode": "US",
                                                        "Phone": "+1 480-386-0930 ext. 73824",
                                                        "AddressType": "Commercial"
                                                    },
                                                    "FulfillmentInstruction": {
                                                        "FulfillmentSupplySourceId": "sampleSupplySourceId"
                                                    },
                                                    "IsISPU": false,
                                                    "IsAccessPointOrder": false,
                                                    "AutomatedShippingSettings": {
                                                        "HasAutomatedShippingSettings": false
                                                    },
                                                    "EasyShipShipmentStatus": "PendingPickUp",
                                                    "ElectronicInvoiceStatus": "NotRequired"
                                                },
                                                {
                                                    "AmazonOrderId": "902-8745147-1934268",
                                                    "PurchaseDate": "1970-01-19T03:58:30Z",
                                                    "LastUpdateDate": "1970-01-19T03:58:32Z",
                                                    "OrderStatus": "Unshipped",
                                                    "FulfillmentChannel": "MFN",
                                                    "SalesChannel": "Amazon.com",
                                                    "ShipServiceLevel": "Std US D2D Dom",
                                                    "OrderTotal": {
                                                        "CurrencyCode": "USD",
                                                        "Amount": "11.01"
                                                    },
                                                    "NumberOfItemsShipped": 0,
                                                    "NumberOfItemsUnshipped": 1,
                                                    "PaymentMethod": "Other",
                                                    "PaymentMethodDetails": [
                                                        "Standard"
                                                    ],
                                                    "IsReplacementOrder": false,
                                                    "MarketplaceId": "ATVPDKIKX0DER",
                                                    "ShipmentServiceLevelCategory": "Standard",
                                                    "OrderType": "StandardOrder",
                                                    "EarliestShipDate": "1970-01-19T03:59:27Z",
                                                    "LatestShipDate": "1970-01-19T04:05:13Z",
                                                    "EarliestDeliveryDate": "1970-01-19T04:06:39Z",
                                                    "LatestDeliveryDate": "1970-01-19T04:15:17Z",
                                                    "IsBusinessOrder": false,
                                                    "IsPrime": false,
                                                    "IsAccessPointOrder": false,
                                                    "IsGlobalExpressEnabled": false,
                                                    "IsPremiumOrder": false,
                                                    "IsSoldByAB": false,
                                                    "IsIBA": false,
                                                    "EasyShipShipmentStatus": "PendingPickUp",
                                                    "ElectronicInvoiceStatus": "NotRequired"
                                                }
                                            ]
                                        }
                                    }
                                },
                                {
                                    "request": {
                                        "parameters": {
                                            "CreatedAfter": {
                                                "value": "TEST_CASE_200_NEXT_TOKEN"
                                            },
                                            "MarketplaceIds": {
                                                "value": [
                                                    "ATVPDKIKX0DER"
                                                ]
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "NextToken": "2YgYW55IGNhcm5hbCBwbGVhc3VyZS4",
                                            "Orders": [
                                                {
                                                    "AmazonOrderId": "902-3159896-1390916",
                                                    "PurchaseDate": "2017-01-20T19:49:35Z",
                                                    "LastUpdateDate": "2017-01-20T19:49:35Z",
                                                    "OrderStatus": "Pending",
                                                    "FulfillmentChannel": "SellerFulfilled",
                                                    "NumberOfItemsShipped": 0,
                                                    "NumberOfItemsUnshipped": 0,
                                                    "PaymentMethod": "Other",
                                                    "PaymentMethodDetails": [
                                                        "CreditCard",
                                                        "GiftCerificate"
                                                    ],
                                                    "MarketplaceId": "ATVPDKIKX0DER",
                                                    "ShipmentServiceLevelCategory": "Standard",
                                                    "OrderType": "StandardOrder",
                                                    "EasyShipShipmentStatus": "PendingPickUp",
                                                    "ElectronicInvoiceStatus": "NotRequired",
                                                    "EarliestShipDate": "2017-01-20T19:51:16Z",
                                                    "LatestShipDate": "2017-01-25T19:49:35Z",
                                                    "IsBusinessOrder": false,
                                                    "IsPrime": false,
                                                    "IsAccessPointOrder": false,
                                                    "IsGlobalExpressEnabled": false,
                                                    "IsPremiumOrder": false,
                                                    "IsSoldByAB": false,
                                                    "IsIBA": false
                                                }
                                            ]
                                        }
                                    }
                                },
                                {
                                    "request": {
                                        "parameters": {
                                            "CreatedAfter": {
                                                "value": "TEST_CASE_200_NEXT_TOKEN"
                                            },
                                            "MarketplaceIds": {
                                                "value": [
                                                    "ATVPDKIKX0DER"
                                                ]
                                            },
                                            "NextToken": {
                                                "value": "2YgYW55IGNhcm5hbCBwbGVhc3VyZS4"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "Orders": [
                                                {
                                                    "AmazonOrderId": "902-3159896-1390916",
                                                    "PurchaseDate": "2017-01-20T19:49:35Z",
                                                    "LastUpdateDate": "2017-01-20T19:49:35Z",
                                                    "OrderStatus": "Pending",
                                                    "FulfillmentChannel": "SellerFulfilled",
                                                    "NumberOfItemsShipped": 0,
                                                    "NumberOfItemsUnshipped": 0,
                                                    "PaymentMethod": "Other",
                                                    "PaymentMethodDetails": [
                                                        "CreditCard",
                                                        "GiftCerificate"
                                                    ],
                                                    "MarketplaceId": "ATVPDKIKX0DER",
                                                    "ShipmentServiceLevelCategory": "Standard",
                                                    "OrderType": "StandardOrder",
                                                    "EasyShipShipmentStatus": "PendingPickUp",
                                                    "ElectronicInvoiceStatus": "NotRequired",
                                                    "EarliestShipDate": "2017-01-20T19:51:16Z",
                                                    "LatestShipDate": "2017-01-25T19:49:35Z",
                                                    "IsBusinessOrder": false,
                                                    "IsPrime": false,
                                                    "IsAccessPointOrder": false,
                                                    "IsGlobalExpressEnabled": false,
                                                    "IsPremiumOrder": false,
                                                    "IsSoldByAB": false,
                                                    "IsIBA": false
                                                }
                                            ]
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrdersResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "CreatedAfter": {
                                                "value": "TEST_CASE_400"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Invalid Input"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrdersResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrdersResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrdersResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrdersResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrdersResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/orders/v0/orders/{orderId}": {
            "get": {
                "tags": [
                    "OrdersV0"
                ],
                "description": "Returns the order that you specify.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 0.5 | 30 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may receive higher rate and burst values then those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "getOrder",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "An Amazon-defined order identifier, in 3-7-7 format.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderResponse"
                                },
                                "example": {
                                    "payload": {
                                        "AmazonOrderId": "902-3159896-1390916",
                                        "PurchaseDate": "2017-01-20T19:49:35Z",
                                        "LastUpdateDate": "2017-01-20T19:49:35Z",
                                        "OrderStatus": "Pending",
                                        "FulfillmentChannel": "SellerFulfilled",
                                        "NumberOfItemsShipped": 0,
                                        "NumberOfItemsUnshipped": 0,
                                        "PaymentMethod": "Other",
                                        "PaymentMethodDetails": [
                                            "CreditCard",
                                            "GiftCerificate"
                                        ],
                                        "MarketplaceId": "ATVPDKIKX0DER",
                                        "ShipmentServiceLevelCategory": "Standard",
                                        "OrderType": "StandardOrder",
                                        "EarliestShipDate": "2017-01-20T19:51:16Z",
                                        "LatestShipDate": "2017-01-25T19:49:35Z",
                                        "IsBusinessOrder": false,
                                        "IsPrime": false,
                                        "IsGlobalExpressEnabled": false,
                                        "IsPremiumOrder": false,
                                        "IsSoldByAB": false,
                                        "IsIBA": false,
                                        "DefaultShipFromLocationAddress": {
                                            "Name": "MFNIntegrationTestMerchant",
                                            "AddressLine1": "2201 WESTLAKE AVE",
                                            "City": "SEATTLE",
                                            "StateOrRegion": "WA",
                                            "PostalCode": "98121-2778",
                                            "CountryCode": "US",
                                            "Phone": "+1 480-386-0930 ext. 73824",
                                            "AddressType": "Commercial"
                                        },
                                        "FulfillmentInstruction": {
                                            "FulfillmentSupplySourceId": "sampleSupplySourceId"
                                        },
                                        "IsISPU": false,
                                        "IsAccessPointOrder": false,
                                        "ShippingAddress": {
                                            "Name": "Michigan address",
                                            "AddressLine1": "1 Cross St.",
                                            "City": "Canton",
                                            "StateOrRegion": "MI",
                                            "PostalCode": "48817",
                                            "CountryCode": "US"
                                        },
                                        "BuyerInfo": {
                                            "BuyerEmail": "user@example.com",
                                            "BuyerName": "John Doe",
                                            "BuyerTaxInfo": {
                                                "CompanyLegalName": "A Company Name"
                                            },
                                            "PurchaseOrderNumber": "1234567890123"
                                        },
                                        "AutomatedShippingSettings": {
                                            "HasAutomatedShippingSettings": false
                                        }
                                    }
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "orderId": {
                                                "value": "TEST_CASE_200"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "AmazonOrderId": "902-1845936-5435065",
                                            "PurchaseDate": "1970-01-19T03:58:30Z",
                                            "LastUpdateDate": "1970-01-19T03:58:32Z",
                                            "OrderStatus": "Unshipped",
                                            "FulfillmentChannel": "MFN",
                                            "SalesChannel": "Amazon.com",
                                            "ShipServiceLevel": "Std US D2D Dom",
                                            "OrderTotal": {
                                                "CurrencyCode": "USD",
                                                "Amount": "11.01"
                                            },
                                            "NumberOfItemsShipped": 0,
                                            "NumberOfItemsUnshipped": 1,
                                            "PaymentMethod": "Other",
                                            "PaymentMethodDetails": [
                                                "Standard"
                                            ],
                                            "IsReplacementOrder": false,
                                            "MarketplaceId": "ATVPDKIKX0DER",
                                            "ShipmentServiceLevelCategory": "Standard",
                                            "OrderType": "StandardOrder",
                                            "EarliestShipDate": "1970-01-19T03:59:27Z",
                                            "LatestShipDate": "1970-01-19T04:05:13Z",
                                            "EarliestDeliveryDate": "1970-01-19T04:06:39Z",
                                            "LatestDeliveryDate": "1970-01-19T04:15:17Z",
                                            "IsBusinessOrder": false,
                                            "IsPrime": false,
                                            "IsGlobalExpressEnabled": false,
                                            "IsPremiumOrder": false,
                                            "IsSoldByAB": false,
                                            "IsIBA": false,
                                            "DefaultShipFromLocationAddress": {
                                                "Name": "MFNIntegrationTestMerchant",
                                                "AddressLine1": "2201 WESTLAKE AVE",
                                                "City": "SEATTLE",
                                                "StateOrRegion": "WA",
                                                "PostalCode": "98121-2778",
                                                "CountryCode": "US",
                                                "Phone": "+1 480-386-0930 ext. 73824",
                                                "AddressType": "Commercial"
                                            },
                                            "FulfillmentInstruction": {
                                                "FulfillmentSupplySourceId": "sampleSupplySourceId"
                                            },
                                            "IsISPU": false,
                                            "IsAccessPointOrder": false,
                                            "AutomatedShippingSettings": {
                                                "HasAutomatedShippingSettings": false
                                            },
                                            "EasyShipShipmentStatus": "PendingPickUp",
                                            "ElectronicInvoiceStatus": "NotRequired"
                                        }
                                    }
                                },
                                {
                                    "request": {
                                        "parameters": {
                                            "orderId": {
                                                "value": "TEST_CASE_IBA_200"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "AmazonOrderId": "921-3175655-0452641",
                                            "PurchaseDate": "2019-05-07T15:42:57.058Z",
                                            "LastUpdateDate": "2019-05-08T21:59:59Z",
                                            "OrderStatus": "Shipped",
                                            "FulfillmentChannel": "AFN",
                                            "SalesChannel": "Amazon.de",
                                            "ShipServiceLevel": "Standard",
                                            "OrderTotal": {
                                                "CurrencyCode": "EUR",
                                                "Amount": "100.00"
                                            },
                                            "NumberOfItemsShipped": 1,
                                            "NumberOfItemsUnshipped": 0,
                                            "PaymentMethod": "Other",
                                            "PaymentMethodDetails": [
                                                "Invoice"
                                            ],
                                            "IsReplacementOrder": false,
                                            "MarketplaceId": "A1PA6795UKMFR9",
                                            "ShipmentServiceLevelCategory": "Standard",
                                            "OrderType": "StandardOrder",
                                            "EarliestShipDate": "1970-01-19T03:59:27Z",
                                            "LatestShipDate": "2019-05-08T21:59:59Z",
                                            "EarliestDeliveryDate": "2019-05-10T21:59:59Z",
                                            "LatestDeliveryDate": "2019-05-12T21:59:59Z",
                                            "IsBusinessOrder": true,
                                            "IsPrime": false,
                                            "IsGlobalExpressEnabled": false,
                                            "IsPremiumOrder": false,
                                            "IsSoldByAB": true,
                                            "IsIBA": true,
                                            "DefaultShipFromLocationAddress": {
                                                "Name": "MFNIntegrationTestMerchant",
                                                "AddressLine1": "2201 WESTLAKE AVE",
                                                "City": "SEATTLE",
                                                "StateOrRegion": "WA",
                                                "PostalCode": "98121-2778",
                                                "CountryCode": "US",
                                                "Phone": "+1 480-386-0930 ext. 73824",
                                                "AddressType": "Commercial"
                                            },
                                            "FulfillmentInstruction": {
                                                "FulfillmentSupplySourceId": "sampleSupplySourceId"
                                            },
                                            "IsISPU": false,
                                            "IsAccessPointOrder": false,
                                            "AutomatedShippingSettings": {
                                                "HasAutomatedShippingSettings": false
                                            },
                                            "EasyShipShipmentStatus": "PendingPickUp",
                                            "ElectronicInvoiceStatus": "NotRequired"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "orderId": {
                                                "value": "TEST_CASE_400"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Invalid Input"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/orders/v0/orders/{orderId}/buyerInfo": {
            "get": {
                "tags": [
                    "OrdersV0"
                ],
                "description": "Returns buyer information for the order that you specify.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 0.5 | 30 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may receive higher rate and burst values then those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "getOrderBuyerInfo",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "An `orderId` is an Amazon-defined order identifier, in 3-7-7 format.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderBuyerInfoResponse"
                                },
                                "example": {
                                    "payload": {
                                        "AmazonOrderId": "902-3159896-1390916",
                                        "BuyerEmail": "user@example.com",
                                        "BuyerName": "John Smith",
                                        "BuyerTaxInfo": {
                                            "CompanyLegalName": "Company Name"
                                        },
                                        "PurchaseOrderNumber": "1234567890123"
                                    }
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "orderId": {
                                                "value": "TEST_CASE_200"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "AmazonOrderId": "902-1845936-5435065",
                                            "BuyerEmail": "fzyrv6gwkhbb15c@example.com",
                                            "BuyerName": "MFNIntegrationTestMerchant"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderBuyerInfoResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "orderId": {
                                                "value": "TEST_CASE_400"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Invalid Input"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderBuyerInfoResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderBuyerInfoResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderBuyerInfoResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderBuyerInfoResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderBuyerInfoResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/orders/v0/orders/{orderId}/address": {
            "get": {
                "tags": [
                    "OrdersV0"
                ],
                "description": "Returns the shipping address for the order that you specify.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 0.5 | 30 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may receive higher rate and burst values then those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "getOrderAddress",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "An `orderId` is an Amazon-defined order identifier, in 3-7-7 format.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderAddressResponse"
                                },
                                "example": {
                                    "payload": {
                                        "AmazonOrderId": "902-3159896-1390916",
                                        "ShippingAddress": {
                                            "Name": "Michigan address",
                                            "AddressLine1": "1 cross st",
                                            "City": "Canton",
                                            "StateOrRegion": "MI",
                                            "PostalCode": "48817",
                                            "CountryCode": "US"
                                        }
                                    }
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "orderId": {
                                                "value": "TEST_CASE_200"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "AmazonOrderId": "902-1845936-5435065",
                                            "ShippingAddress": {
                                                "Name": "MFNIntegrationTestMerchant",
                                                "AddressLine1": "2201 WESTLAKE AVE",
                                                "City": "SEATTLE",
                                                "StateOrRegion": "WA",
                                                "PostalCode": "98121-2778",
                                                "CountryCode": "US",
                                                "Phone": "+1 480-386-0930 ext. 73824",
                                                "AddressType": "Commercial"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderAddressResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "orderId": {
                                                "value": "TEST_CASE_400"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Invalid Input"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderAddressResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderAddressResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderAddressResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderAddressResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderAddressResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/orders/v0/orders/{orderId}/orderItems": {
            "get": {
                "tags": [
                    "OrdersV0"
                ],
                "description": "Returns detailed order item information for the order that you specify. If `NextToken` is provided, it's used to retrieve the next page of order items.\n\n__Note__: When an order is in the Pending state (the order has been placed but payment has not been authorized), the getOrderItems operation does not return information about pricing, taxes, shipping charges, gift status or promotions for the order items in the order. After an order leaves the Pending state (this occurs when payment has been authorized) and enters the Unshipped, Partially Shipped, or Shipped state, the getOrderItems operation returns information about pricing, taxes, shipping charges, gift status and promotions for the order items in the order.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 0.5 | 30 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may receive higher rate and burst values then those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "getOrderItems",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "An Amazon-defined order identifier, in 3-7-7 format.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "NextToken",
                        "in": "query",
                        "description": "A string token returned in the response of your previous request.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderItemsResponse"
                                },
                                "example": {
                                    "payload": {
                                        "AmazonOrderId": "903-1671087-0812628",
                                        "NextToken": "2YgYW55IGNhcm5hbCBwbGVhc3VyZS4",
                                        "OrderItems": [
                                            {
                                                "ASIN": "BT0093TELA",
                                                "OrderItemId": "68828574383266",
                                                "SellerSKU": "CBA_OTF_1",
                                                "Title": "Example item name",
                                                "QuantityOrdered": 1,
                                                "QuantityShipped": 1,
                                                "PointsGranted": {
                                                    "PointsNumber": 10,
                                                    "PointsMonetaryValue": {
                                                        "CurrencyCode": "JPY",
                                                        "Amount": "10.00"
                                                    }
                                                },
                                                "ItemPrice": {
                                                    "CurrencyCode": "JPY",
                                                    "Amount": "25.99"
                                                },
                                                "ShippingPrice": {
                                                    "CurrencyCode": "JPY",
                                                    "Amount": "1.26"
                                                },
                                                "ScheduledDeliveryEndDate": "2013-09-09T01:30:00Z",
                                                "ScheduledDeliveryStartDate": "2013-09-07T02:00:00Z",
                                                "CODFee": {
                                                    "CurrencyCode": "JPY",
                                                    "Amount": "10.00"
                                                },
                                                "CODFeeDiscount": {
                                                    "CurrencyCode": "JPY",
                                                    "Amount": "1.00"
                                                },
                                                "PriceDesignation": "BusinessPrice",
                                                "BuyerInfo": {
                                                    "BuyerCustomizedInfo": {
                                                        "CustomizedURL": "https://zme-caps.amazon.com/t/bR6qHkzSOxuB/J8nbWhze0Bd3DkajkOdY-XQbWkFralegp2sr_QZiKEE/1"
                                                    },
                                                    "GiftMessageText": "For you!",
                                                    "GiftWrapPrice": {
                                                        "CurrencyCode": "GBP",
                                                        "Amount": "41.99"
                                                    },
                                                    "GiftWrapLevel": "Classic"
                                                },
                                                "BuyerRequestedCancel": {
                                                    "IsBuyerRequestedCancel": "true",
                                                    "BuyerCancelReason": "Found cheaper somewhere else."
                                                },
                                                "SerialNumbers": [
                                                    "854"
                                                ]
                                            },
                                            {
                                                "ASIN": "BCTU1104UEFB",
                                                "OrderItemId": "79039765272157",
                                                "SellerSKU": "CBA_OTF_5",
                                                "Title": "Example item name",
                                                "QuantityOrdered": 2,
                                                "ItemPrice": {
                                                    "CurrencyCode": "JPY",
                                                    "Amount": "17.95"
                                                },
                                                "PromotionIds": [
                                                    "FREESHIP"
                                                ],
                                                "ConditionId": "Used",
                                                "ConditionSubtypeId": "Mint",
                                                "ConditionNote": "Example ConditionNote",
                                                "PriceDesignation": "BusinessPrice",
                                                "BuyerInfo": {
                                                    "BuyerCustomizedInfo": {
                                                        "CustomizedURL": "https://zme-caps.amazon.com/t/bR6qHkzSOxuB/J8nbWhze0Bd3DkajkOdY-XQbWkFralegp2sr_QZiKEE/1"
                                                    },
                                                    "GiftMessageText": "For you!",
                                                    "GiftWrapPrice": {
                                                        "CurrencyCode": "JPY",
                                                        "Amount": "1.99"
                                                    },
                                                    "GiftWrapLevel": "Classic"
                                                },
                                                "BuyerRequestedCancel": {
                                                    "IsBuyerRequestedCancel": "true",
                                                    "BuyerCancelReason": "Found cheaper somewhere else."
                                                }
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "orderId": {
                                                "value": "TEST_CASE_200"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "AmazonOrderId": "902-1845936-5435065",
                                            "OrderItems": [
                                                {
                                                    "ASIN": "B00551Q3CS",
                                                    "OrderItemId": "05015851154158",
                                                    "SellerSKU": "NABetaASINB00551Q3CS",
                                                    "Title": "B00551Q3CS [Card Book]",
                                                    "QuantityOrdered": 1,
                                                    "QuantityShipped": 0,
                                                    "ProductInfo": {
                                                        "NumberOfItems": "1"
                                                    },
                                                    "ItemPrice": {
                                                        "CurrencyCode": "USD",
                                                        "Amount": "10.00"
                                                    },
                                                    "ItemTax": {
                                                        "CurrencyCode": "USD",
                                                        "Amount": "1.01"
                                                    },
                                                    "PromotionDiscount": {
[...]
