{
    "openapi": "3.0.1",
    "info": {
        "title": "The Selling Partner API for FBA inbound operations.",
        "description": "The Selling Partner API for Fulfillment By Amazon (FBA) Inbound. The FBA Inbound API enables building inbound workflows to create, manage, and send shipments into Amazon's fulfillment network. The API has interoperability with the Send-to-Amazon user interface.",
        "contact": {
            "name": "Selling Partner API Developer Support",
            "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
        },
        "license": {
            "name": "Apache License 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "2024-03-20"
    },
    "servers": [
        {
            "url": "https://sellingpartnerapi-na.amazon.com/"
        }
    ],
    "paths": {
        "/inbound/fba/2024-03-20/inboundPlans": {
            "get": {
                "tags": [
                    "FBAInboundV20240320"
                ],
                "description": "Provides a list of inbound plans with minimal information.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 6 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "listInboundPlans",
                "parameters": [
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The number of inbound plans to return in the response matching the given query.",
                        "schema": {
                            "maximum": 30,
                            "minimum": 1,
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "paginationToken",
                        "in": "query",
                        "description": "A token to fetch a certain page when there are multiple pages worth of results. The value of this token is fetched from the `pagination` returned in the API response. In the absence of the token value from the query parameter the API returns the first page of the result.",
                        "schema": {
                            "maxLength": 1024,
                            "minLength": 0,
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "The status of an inbound plan.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ACTIVE",
                                "VOIDED",
                                "SHIPPED"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "value": "ACTIVE",
                                    "description": "An inbound plan that is being worked on."
                                },
                                {
                                    "value": "VOIDED",
                                    "description": "An inbound plan with all shipment cancelled and can no longer be modified."
                                },
                                {
                                    "value": "SHIPPED",
                                    "description": "A completed inbound plan. Only minor modifications can be made at this time."
                                }
                            ]
                        },
                        "x-docgen-enum-table-extension": [
                            {
                                "value": "ACTIVE",
                                "description": "An inbound plan that is being worked on."
                            },
                            {
                                "value": "VOIDED",
                                "description": "An inbound plan with all shipment cancelled and can no longer be modified."
                            },
                            {
                                "value": "SHIPPED",
                                "description": "A completed inbound plan. Only minor modifications can be made at this time."
                            }
                        ]
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Sort by field.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "LAST_UPDATED_TIME",
                                "CREATION_TIME"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "value": "LAST_UPDATED_TIME",
                                    "description": "Last updated time of the inbound plan."
                                },
                                {
                                    "value": "CREATION_TIME",
                                    "description": "Inbound plan creation time."
                                }
                            ]
                        },
                        "x-docgen-enum-table-extension": [
                            {
                                "value": "LAST_UPDATED_TIME",
                                "description": "Last updated time of the inbound plan."
                            },
                            {
                                "value": "CREATION_TIME",
                                "description": "Inbound plan creation time."
                            }
                        ]
                    },
                    {
                        "name": "sortOrder",
                        "in": "query",
                        "description": "The sort order.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ASC",
                                "DESC"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "value": "ASC",
                                    "description": "Ascending order."
                                },
                                {
                                    "value": "DESC",
                                    "description": "Descending order."
                                }
                            ]
                        },
                        "x-docgen-enum-table-extension": [
                            {
                                "value": "ASC",
                                "description": "Ascending order."
                            },
                            {
                                "value": "DESC",
                                "description": "Descending order."
                            }
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ListInboundPlans 200 response",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListInboundPlansResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "status": {
                                                "value": "ACTIVE"
                                            },
                                            "sortBy": {
                                                "value": "LAST_UPDATED_TIME"
                                            },
                                            "sortOrder": {
                                                "value": "ASC"
                                            },
                                            "pageSize": {
                                                "value": 2
                                            },
                                            "paginationToken": {
                                                "value": "paginationToken"
                                            }
                                        }
                                    },
                                    "response": {
                                        "inboundPlans": [
                                            {
                                                "inboundPlanId": "wf1234abcd-1234-abcd-5678-1234abcd5678",
                                                "name": "FBA (03/08/2023, 01:15 PM)",
                                                "createdAt": "2023-03-08T13:15:30Z",
                                                "lastUpdatedAt": "2023-03-08T13:15:30Z",
                                                "status": "ACTIVE",
                                                "marketplaceIds": [
                                                    "A2EUQ1WTGCTBG2"
                                                ],
                                                "sourceAddress": {
                                                    "name": "name",
                                                    "companyName": "Acme",
                                                    "addressLine1": "123 example street",
                                                    "addressLine2": "Unit 102",
                                                    "city": "Toronto",
                                                    "countryCode": "CA",
                                                    "stateOrProvinceCode": "ON",
                                                    "postalCode": "M1M1M1",
                                                    "phoneNumber": "1234567890",
                                                    "email": "email@email.com"
                                                }
                                            },
                                            {
                                                "inboundPlanId": "wf2234abcd-1234-abcd-5678-1234abcd5678",
                                                "name": "FBA (03/08/2023, 01:15 PM)",
                                                "createdAt": "2023-03-08T13:15:30Z",
                                                "lastUpdatedAt": "2023-03-08T13:15:30Z",
                                                "status": "ACTIVE",
                                                "marketplaceIds": [
                                                    "A2EUQ1WTGCTBG2"
                                                ],
                                                "sourceAddress": {
                                                    "name": "name",
                                                    "companyName": "Acme",
                                                    "addressLine1": "123 example street",
                                                    "addressLine2": "Unit 102",
                                                    "city": "Toronto",
                                                    "countryCode": "CA",
                                                    "stateOrProvinceCode": "ON",
                                                    "postalCode": "M1M1M1",
                                                    "phoneNumber": "1234567890",
                                                    "email": "email@email.com"
                                                }
                                            }
                                        ],
                                        "pagination": {
                                            "nextToken": "nextPaginationToken"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "status": {
                                                "value": "badStatus"
                                            },
                                            "sortBy": {
                                                "value": "LAST_UPDATED_TIME"
                                            },
                                            "sortOrder": {
                                                "value": "ASC"
                                            },
                                            "pageSize": {
                                                "value": 5
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "BadRequest",
                                                "message": "The status is invalid."
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "FBAInboundV20240320"
                ],
                "description": "Creates an inbound plan. An inbound plan contains all the necessary information to send shipments into Amazon's fufillment network.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 2 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "createInboundPlan",
                "requestBody": {
                    "description": "The body of the request to `createInboundPlan`.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateInboundPlanRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "CreateInboundPlan 202 response",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateInboundPlanResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "body": {
                                                "value": {
                                                    "name": "FBA (03/20/2024, 12:01 PM)",
                                                    "sourceAddress": {
                                                        "name": "name",
                                                        "companyName": "Acme",
                                                        "addressLine1": "123 example street",
                                                        "addressLine2": "Unit 102",
                                                        "city": "Toronto",
                                                        "countryCode": "CA",
                                                        "stateOrProvinceCode": "ON",
                                                        "postalCode": "M1M1M1",
                                                        "phoneNumber": "1234567890",
                                                        "email": "email@email.com"
                                                    },
                                                    "destinationMarketplaces": [
                                                        "A2EUQ1WTGCTBG2"
                                                    ],
                                                    "items": [
                                                        {
                                                            "msku": "msku",
                                                            "prepOwner": "AMAZON",
                                                            "labelOwner": "AMAZON",
                                                            "quantity": 2,
                                                            "expiration": "2024-01-01",
                                                            "manufacturingLotCode": "lotCode"
                                                        }
                                                    ]
                                                }
                                            }
                                        }
                                    },
                                    "response": {
                                        "inboundPlanId": "wf1234abcd-1234-abcd-5678-1234abcd5678",
                                        "operationId": "1234abcd-1234-abcd-5678-1234abcd5678"
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "body": {
                                                "value": {
                                                    "name": "FBA (03/20/2024, 12:01 PM)",
                                                    "sourceAddress": {
                                                        "name": "name",
                                                        "companyName": "Acme",
                                                        "addressLine1": "123 example street",
                                                        "addressLine2": "Unit 102",
                                                        "city": "Toronto",
                                                        "countryCode": "CA",
                                                        "stateOrProvinceCode": "ON",
                                                        "postalCode": "M1M1M1",
                                                        "phoneNumber": "1234567890",
                                                        "email": "email@email.com"
                                                    },
                                                    "destinationMarketplaces": [
                                                        "badMarketplace"
                                                    ],
                                                    "items": [
                                                        {
                                                            "msku": "msku",
                                                            "prepOwner": "AMAZON",
                                                            "labelOwner": "AMAZON",
                                                            "quantity": 2,
                                                            "expiration": "2024-01-01",
                                                            "manufacturingLotCode": "lotCode"
                                                        }
                                                    ]
                                                }
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "BadRequest",
                                                "message": "Invalid destinationMarketplace provided."
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body"
            }
        },
        "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}": {
            "get": {
                "tags": [
                    "FBAInboundV20240320"
                ],
                "description": "Fetches the top level information about an inbound plan.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 6 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "getInboundPlan",
                "parameters": [
                    {
                        "name": "inboundPlanId",
                        "in": "path",
                        "description": "Identifier of an inbound plan.",
                        "required": true,
                        "schema": {
                            "maxLength": 38,
                            "minLength": 38,
                            "pattern": "^[a-zA-Z0-9-]*$",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "GetInboundPlan 200 response",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InboundPlan"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "inboundPlanId": {
                                                "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                                            }
                                        }
                                    },
                                    "response": {
                                        "inboundPlanId": "wf1234abcd-1234-abcd-5678-1234abcd5678",
                                        "name": "FBA (03/20/2024, 12:01 PM)",
                                        "createdAt": "2024-03-20T12:01:00Z",
                                        "lastUpdatedAt": "2024-03-28T13:15:30Z",
                                        "status": "ACTIVE",
                                        "marketplaceIds": [
                                            "A2EUQ1WTGCTBG2"
                                        ],
                                        "packingOptions": [],
                                        "placementOptions": [],
                                        "shipments": [],
                                        "sourceAddress": {
                                            "name": "name",
                                            "companyName": "Acme",
                                            "addressLine1": "123 example street",
                                            "addressLine2": "Unit 102",
                                            "city": "Toronto",
                                            "countryCode": "CA",
                                            "stateOrProvinceCode": "ON",
                                            "postalCode": "M1M1M1",
                                            "phoneNumber": "1234567890",
                                            "email": "email@email.com"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "inboundPlanId": {
                                                "value": "wfbad4abcd-1234-abcd-5678-1234abcd5678"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "BadRequest",
                                                "message": "The inboundPlanId is malformed."
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/boxes": {
            "get": {
                "tags": [
                    "FBAInboundV20240320"
                ],
                "description": "Provides a paginated list of box packages in an inbound plan.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 6 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "listInboundPlanBoxes",
                "parameters": [
                    {
                        "name": "inboundPlanId",
                        "in": "path",
                        "description": "Identifier of an inbound plan.",
                        "required": true,
                        "schema": {
                            "maxLength": 38,
                            "minLength": 38,
                            "pattern": "^[a-zA-Z0-9-]*$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The number of boxes to return in the response matching the given query.",
                        "schema": {
                            "maximum": 1000,
                            "minimum": 1,
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "paginationToken",
                        "in": "query",
                        "description": "A token to fetch a certain page when there are multiple pages worth of results. The value of this token is fetched from the `pagination` returned in the API response. In the absence of the token value from the query parameter the API returns the first page of the result.",
                        "schema": {
                            "maxLength": 1024,
                            "minLength": 0,
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ListInboundPlanBoxes 200 response",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListInboundPlanBoxesResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "inboundPlanId": {
                                                "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                                            },
                                            "pageSize": {
                                                "value": 2
                                            },
                                            "paginationToken": {
                                                "value": "paginationToken"
                                            }
                                        }
                                    },
                                    "response": {
                                        "boxes": [
                                            {
                                                "packageId": "pk1234abcd-1234-abcd-5678-1234abcd5678",
                                                "weight": {
                                                    "unit": "KG",
                                                    "value": 5.5
                                                },
                                                "dimensions": {
                                                    "unitOfMeasurement": "CM",
                                                    "length": 3,
                                                    "width": 4,
                                                    "height": 5
                                                },
                                                "quantity": 2,
                                                "boxId": "boxId",
                                                "templateName": "templateName",
                                                "items": [
                                                    {
                                                        "quantity": 5,
                                                        "expiration": "2024-01-01",
                                                        "manufacturingLotCode": "manufacturingLotCode",
                                                        "prepInstructions": [
                                                            {
                                                                "prepType": "ITEM_POLYBAGGING",
                                                                "prepOwner": "AMAZON",
                                                                "fee": {
                                                                    "code": "USD",
                                                                    "amount": 10
                                                                }
                                                            }
                                                        ],
                                                        "msku": "msku",
                                                        "asin": "asin",
                                                        "fnsku": "fnsku",
                                                        "labelOwner": "AMAZON"
                                                    }
                                                ],
                                                "destinationRegion": {
                                                    "countryCode": "US",
                                                    "state": "CA",
                                                    "warehouseId": "ABC1"
                                                },
                                                "contentInformationSource": "BOX_CONTENT_PROVIDED"
                                            }
                                        ],
                                        "pagination": {
                                            "nextToken": "nextPaginationToken"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "inboundPlanId": {
                                                "value": "bad234abcd-1234-abcd-5678-1234abcd5678"
                                            },
                                            "pageSize": {
                                                "value": 2
                                            },
                                            "paginationToken": {
                                                "value": "paginationToken"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "BadRequest",
                                                "message": "The requested inboundPlanId does not exist."
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/cancellation": {
            "put": {
                "tags": [
                    "FBAInboundV20240320"
                ],
                "description": "Cancels an Inbound Plan. Charges may apply if the cancellation is performed outside of a void window. The window for Amazon Partnered Carriers is 24 hours for Small Parcel Delivery (SPD) and one hour for Less-Than-Truckload (LTL) carrier shipments.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 2 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "cancelInboundPlan",
                "parameters": [
                    {
                        "name": "inboundPlanId",
                        "in": "path",
                        "description": "Identifier of an inbound plan.",
                        "required": true,
                        "schema": {
                            "maxLength": 38,
                            "minLength": 38,
                            "pattern": "^[a-zA-Z0-9-]*$",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "CancelInboundPlan 202 response",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelInboundPlanResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "inboundPlanId": {
                                                "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                                            }
                                        }
                                    },
                                    "response": {
                                        "operationId": "1234abcd-1234-abcd-5678-1234abcd5678"
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "inboundPlanId": {
                                                "value": "wfbad4abcd-1234-abcd-5678-1234abcd5678"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "BadRequest",
                                                "message": "The inbound plan is already cancelled."
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/items": {
            "get": {
                "tags": [
                    "FBAInboundV20240320"
                ],
                "description": "Provides a paginated list of item packages in an inbound plan.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 6 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "listInboundPlanItems",
                "parameters": [
                    {
                        "name": "inboundPlanId",
                        "in": "path",
                        "description": "Identifier of an inbound plan.",
                        "required": true,
                        "schema": {
                            "maxLength": 38,
                            "minLength": 38,
                            "pattern": "^[a-zA-Z0-9-]*$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The number of items to return in the response matching the given query.",
                        "schema": {
                            "maximum": 1000,
                            "minimum": 1,
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "paginationToken",
                        "in": "query",
                        "description": "A token to fetch a certain page when there are multiple pages worth of results. The value of this token is fetched from the `pagination` returned in the API response. In the absence of the token value from the query parameter the API returns the first page of the result.",
                        "schema": {
                            "maxLength": 1024,
                            "minLength": 0,
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ListInboundPlanItems 200 response",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListInboundPlanItemsResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "inboundPlanId": {
                                                "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                                            },
                                            "pageSize": {
                                                "value": 2
                                            },
                                            "paginationToken": {
                                                "value": "paginationToken"
                                            }
                                        }
                                    },
                                    "response": {
                                        "items": [
                                            {
                                                "quantity": 5,
                                                "expiration": "2024-01-01",
                                                "manufacturingLotCode": "manufacturingLotCode",
                                                "prepInstructions": [
                                                    {
                                                        "prepType": "ITEM_POLYBAGGING",
                                                        "prepOwner": "AMAZON",
                                                        "fee": {
                                                            "code": "USD",
                                                            "amount": 10
                                                        }
                                                    }
                                                ],
                                                "msku": "msku",
                                                "asin": "asin",
                                                "fnsku": "fnsku",
                                                "labelOwner": "AMAZON"
                                            }
                                        ],
                                        "pagination": {
                                            "nextToken": "nextPaginationToken"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "inboundPlanId": {
                                                "value": "wfbad4abcd-1234-abcd-5678-1234abcd5678"
                                            },
                                            "pageSize": {
                                                "value": 1
                                            },
                                            "paginationToken": {
                                                "value": ""
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "BadRequest",
                                                "message": "The requested inbound plan does not exist."
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/name": {
            "put": {
                "tags": [
                    "FBAInboundV20240320"
                ],
                "description": "Updates the name of an existing inbound plan.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "updateInboundPlanName",
                "parameters": [
                    {
                        "name": "inboundPlanId",
                        "in": "path",
                        "description": "Identifier of an inbound plan.",
                        "required": true,
                        "schema": {
                            "maxLength": 38,
                            "minLength": 38,
                            "pattern": "^[a-zA-Z0-9-]*$",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The body of the request to `updateInboundPlanName`.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateInboundPlanNameRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "UpdateInboundPlanName 204 response",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {},
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "inboundPlanId": {
                                                "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                                            },
                                            "body": {
                                                "value": {
                                                    "name": "updatedInboundPlanName"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
[...]
