## VerificationStatus

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------

[[OrdersV0 Models]](../) [[API list]](../../Api) [[README]](../../../README.md)
