{
    "openapi": "3.0.1",
    "info": {
        "title": "Selling Partner API for Finances",
        "description": "The Selling Partner API for Finances provides financial information that is relevant to a seller's business. You can obtain financial events for a given order, financial event group, or date range without having to wait until a statement period closes. You can also obtain financial event groups for a given date range. ",
        "contact": {
            "name": "Selling Partner API Developer Support",
            "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
        },
        "license": {
            "name": "Apache License 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "v0"
    },
    "servers": [
        {
            "url": "https://sellingpartnerapi-na.amazon.com/"
        }
    ],
    "paths": {
        "/finances/v0/financialEventGroups": {
            "get": {
                "description": "Returns financial event groups for a given date range. Orders from the last 48 hours might not be included in financial events.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 0.5 | 30 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput can have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits).",
                "operationId": "listFinancialEventGroups",
                "parameters": [
                    {
                        "name": "MaxResultsPerPage",
                        "in": "query",
                        "description": "The maximum number of results per page. If the response exceeds the maximum number of transactions or 10 MB, the response is `InvalidInput`.",
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "FinancialEventGroupStartedBefore",
                        "in": "query",
                        "description": "A date that selects financial event groups that opened before (but not at) a specified date and time, in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format. The date-time must be after `FinancialEventGroupStartedAfter` and more than two minutes before the time of request. If `FinancialEventGroupStartedAfter` and `FinancialEventGroupStartedBefore` are more than 180 days apart, no financial event groups are returned.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "FinancialEventGroupStartedAfter",
                        "in": "query",
                        "description": "A date that selects financial event groups that opened after (or at) a specified date and time, in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format. The date-time must be more than two minutes before you submit the request.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "NextToken",
                        "in": "query",
                        "description": "The response includes `nextToken` when the number of results exceeds the specified `pageSize` value. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `nextToken` is null. Note that this operation can return empty pages.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventGroupsResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "MaxResultsPerPage": {
                                                "value": 1
                                            },
                                            "FinancialEventGroupStartedBefore": {
                                                "value": "2019-10-31"
                                            },
                                            "FinancialEventGroupStartedAfter": {
                                                "value": "2019-10-13"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "NextToken": "3493805734095308457308475",
                                            "FinancialEventGroupList": [
                                                {
                                                    "FinancialEventGroupId": "1",
                                                    "ProcessingStatus": "PROCESSED",
                                                    "FundTransferStatus": "TRANSFERED",
                                                    "OriginalTotal": {
                                                        "CurrencyCode": "USD",
                                                        "CurrencyAmount": 10.34
                                                    },
                                                    "ConvertedTotal": {
                                                        "CurrencyCode": "USD",
                                                        "CurrencyAmount": 39.43
                                                    },
                                                    "FundTransferDate": "2020-02-07T14:38:42.128Z",
                                                    "TraceId": "34550454504545",
                                                    "AccountTail": "4854564857",
                                                    "BeginningBalance": {
                                                        "CurrencyCode": "USD",
                                                        "CurrencyAmount": 55.33
                                                    },
                                                    "FinancialEventGroupStart": "2020-02-07T14:38:42.128Z",
                                                    "FinancialEventGroupEnd": "2020-02-07T14:38:42.128Z"
                                                }
                                            ]
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventGroupsResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "MaxResultsPerPage": {
                                                "value": 10
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Date range is invalid."
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventGroupsResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventGroupsResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventGroupsResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventGroupsResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventGroupsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/finances/v0/financialEventGroups/{eventGroupId}/financialEvents": {
            "get": {
                "description": "Returns all financial events for the specified financial event group. Orders from the last 48 hours might not be included in financial events.\n\n**Note:** This operation only retrieves a group's data for the past two years. A request for data spanning more than two years produces an empty response.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 0.5 | 30 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput can have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits).",
                "operationId": "listFinancialEventsByGroupId",
                "parameters": [
                    {
                        "name": "MaxResultsPerPage",
                        "in": "query",
                        "description": "The maximum number of results to return per page. If the response exceeds the maximum number of transactions or 10 MB, the response is `InvalidInput`.",
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32",
                            "default": 100
                        }
                    },
                    {
                        "name": "PostedAfter",
                        "in": "query",
                        "description": "The response includes financial events posted after (or on) this date. This date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. The date-time must be more than two minutes before the time of the request.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "PostedBefore",
                        "in": "query",
                        "description": "The response includes financial events posted before (but not on) this date. This date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.\n\nThe date-time must be later than `PostedAfter` and more than two minutes before the requestd was submitted. If `PostedAfter` and `PostedBefore` are more than 180 days apart, the response is empty. If you include the `PostedBefore` parameter in your request, you must also specify the `PostedAfter` parameter.\n\n**Default:** Two minutes before the time of the request.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "eventGroupId",
                        "in": "path",
                        "description": "The identifier of the financial event group to which the events belong.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "NextToken",
                        "in": "query",
                        "description": "The response includes `nextToken` when the number of results exceeds the specified `pageSize` value. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `nextToken` is null. Note that this operation can return empty pages.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventsResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "MaxResultsPerPage": {
                                                "value": 10
                                            },
                                            "eventGroupId": {
                                                "value": "485734534857"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "NextToken": "Next token value",
                                            "FinancialEvents": {
                                                "ChargebackEventList": [
                                                    {
                                                        "AmazonOrderId": "444-555-3343433",
                                                        "SellerOrderId": "454645645656456",
                                                        "MarketplaceName": "1",
                                                        "OrderChargeList": [
                                                            {
                                                                "ChargeType": "Tax",
                                                                "ChargeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "OrderChargeAdjustmentList": [
                                                            {
                                                                "ChargeType": "Tax",
                                                                "ChargeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "ShipmentFeeList": [
                                                            {
                                                                "FeeType": "FixedClosingFee",
                                                                "FeeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "ShipmentFeeAdjustmentList": [
                                                            {
                                                                "FeeType": "FixedClosingFee",
                                                                "FeeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "OrderFeeList": [
                                                            {
                                                                "FeeType": "FixedClosingFee",
                                                                "FeeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "OrderFeeAdjustmentList": [
                                                            {
                                                                "FeeType": "FixedClosingFee",
                                                                "FeeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "DirectPaymentList": [
                                                            {
                                                                "DirectPaymentType": "StoredValueCardRevenue",
                                                                "DirectPaymentAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "PostedDate": "2020-02-05T13:56:00.363Z",
                                                        "ShipmentItemList": [
                                                            {
                                                                "SellerSKU": "456454455464",
                                                                "OrderItemId": "4565465645646",
                                                                "OrderAdjustmentItemId": "456456465464",
                                                                "QuantityShipped": 0,
                                                                "ItemChargeList": [
                                                                    {
                                                                        "ChargeType": "Tax",
                                                                        "ChargeAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "ItemChargeAdjustmentList": [
                                                                    {
                                                                        "ChargeType": "Tax",
                                                                        "ChargeAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "ItemFeeList": [
                                                                    {
                                                                        "FeeType": "FixedClosingFee",
                                                                        "FeeAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "ItemFeeAdjustmentList": [
                                                                    {
                                                                        "FeeType": "FixedClosingFee",
                                                                        "FeeAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "ItemTaxWithheldList": [
                                                                    {
                                                                        "TaxCollectionModel": "Free",
                                                                        "TaxesWithheld": [
                                                                            {
                                                                                "ChargeType": "Tax",
                                                                                "ChargeAmount": {
                                                                                    "CurrencyCode": "USD",
                                                                                    "CurrencyAmount": 25.37
                                                                                }
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "PromotionList": [
                                                                    {
                                                                        "PromotionType": "Free",
                                                                        "PromotionId": "546564565",
                                                                        "PromotionAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "PromotionAdjustmentList": [
                                                                    {
                                                                        "PromotionType": "Free",
                                                                        "PromotionId": "546564565",
                                                                        "PromotionAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "CostOfPointsGranted": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                },
                                                                "CostOfPointsReturned": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "ShipmentItemAdjustmentList": [
                                                            {
                                                                "SellerSKU": "456454455464",
                                                                "OrderItemId": "4565465645646",
                                                                "OrderAdjustmentItemId": "456456465464",
                                                                "QuantityShipped": 0,
                                                                "ItemChargeList": [
                                                                    {
                                                                        "ChargeType": "Tax",
                                                                        "ChargeAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "ItemChargeAdjustmentList": [
                                                                    {
                                                                        "ChargeType": "Tax",
                                                                        "ChargeAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "ItemFeeList": [
                                                                    {
                                                                        "FeeType": "FixedClosingFee",
                                                                        "FeeAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "ItemFeeAdjustmentList": [
                                                                    {
                                                                        "FeeType": "FixedClosingFee",
                                                                        "FeeAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "ItemTaxWithheldList": [
                                                                    {
                                                                        "TaxCollectionModel": "Free",
                                                                        "TaxesWithheld": [
                                                                            {
                                                                                "ChargeType": "Tax",
                                                                                "ChargeAmount": {
                                                                                    "CurrencyCode": "USD",
                                                                                    "CurrencyAmount": 25.37
                                                                                }
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "PromotionList": [
                                                                    {
                                                                        "PromotionType": "Free",
                                                                        "PromotionId": "546564565",
                                                                        "PromotionAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "PromotionAdjustmentList": [
                                                                    {
                                                                        "PromotionType": "Free",
                                                                        "PromotionId": "546564565",
                                                                        "PromotionAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ],
                                                                "CostOfPointsGranted": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                },
                                                                "CostOfPointsReturned": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "ImagingServicesFeeEventList": [
                                                    {
                                                        "ImagingRequestBillingItemID": "456456456",
                                                        "ASIN": "4564565456456546456",
                                                        "PostedDate": "2020-02-05T13:56:00.363Z",
                                                        "FeeList": [
                                                            {
                                                                "FeeType": "FixedClosingFee",
                                                                "FeeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "NetworkComminglingTransactionEventList": [
                                                    {
                                                        "TransactionType": "Free",
                                                        "PostedDate": "2020-02-05T13:56:00.363Z",
                                                        "NetCoTransactionID": "4565645",
                                                        "SwapReason": "None",
                                                        "ASIN": "464567656576",
                                                        "MarketplaceId": "string",
                                                        "TaxExclusiveAmount": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "TaxAmount": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        }
                                                    }
                                                ],
                                                "AffordabilityExpenseReversalEventList": [
                                                    {
                                                        "AmazonOrderId": "444-555-3343433",
                                                        "PostedDate": "2020-02-05T13:56:00.363Z",
                                                        "MarketplaceId": "1",
                                                        "TransactionType": "Free",
                                                        "BaseExpense": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "TaxTypeCGST": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "TaxTypeSGST": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "TaxTypeIGST": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "TotalExpense": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        }
                                                    }
                                                ],
                                                "TrialShipmentEventList": [
                                                    {
                                                        "AmazonOrderId": "444-555-3343433",
                                                        "FinancialEventGroupId": "1",
                                                        "PostedDate": "2020-02-05T13:56:00.363Z",
                                                        "SKU": "456454455464",
                                                        "FeeList": [
                                                            {
                                                                "FeeType": "FixedClosingFee",
                                                                "FeeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "TaxWithholdingEventList": [
                                                    {
                                                        "PostedDate": "2020-02-05T13:56:00.363Z",
                                                        "BaseAmount": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "WithheldAmount": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "TaxWithholdingPeriod": {
                                                            "StartDate": "2020-02-05T13:56:00.363Z",
                                                            "EndDate": "2020-02-05T13:56:00.363Z"
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventsResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "eventGroupId": {
                                                "value": "BADID"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Bad event group ID provided."
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventsResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventsResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventsResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventsResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/finances/v0/orders/{orderId}/financialEvents": {
            "get": {
                "description": "Returns all financial events for the specified order. Orders from the last 48 hours might not be included in financial events.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 0.5 | 30 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput can have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits).",
                "operationId": "listFinancialEventsByOrderId",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "An Amazon-defined order identifier, in 3-7-7 format.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "MaxResultsPerPage",
                        "in": "query",
                        "description": "The maximum number of results to return per page. If the response exceeds the maximum number of transactions or 10 MB, the response is `InvalidInput`.",
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32",
                            "default": 100
                        }
                    },
                    {
                        "name": "NextToken",
                        "in": "query",
                        "description": "The response includes `nextToken` when the number of results exceeds the specified `pageSize` value. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `nextToken` is null. Note that this operation can return empty pages.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Financial Events successfully retrieved.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventsResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "MaxResultsPerPage": {
                                                "value": 10
                                            },
                                            "orderId": {
                                                "value": "485-734-5434857"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "NextToken": "Next token value",
                                            "FinancialEvents": {
                                                "RetrochargeEventList": [
                                                    {
                                                        "RetrochargeEventType": "Retrocharge",
                                                        "AmazonOrderId": "444-555-3343433",
                                                        "PostedDate": "2020-02-05T13:56:00.363Z",
                                                        "BaseTax": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "ShippingTax": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "MarketplaceName": "1",
                                                        "RetrochargeTaxWithheldList": [
                                                            {
                                                                "TaxCollectionModel": "Free",
                                                                "TaxesWithheld": [
                                                                    {
                                                                        "ChargeType": "Tax",
                                                                        "ChargeAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "RentalTransactionEventList": [
                                                    {
                                                        "AmazonOrderId": "444-555-3343433",
                                                        "RentalEventType": "string",
                                                        "ExtensionLength": 0,
                                                        "PostedDate": "2020-02-05T13:56:00.363Z",
                                                        "RentalChargeList": [
                                                            {
                                                                "ChargeType": "Tax",
                                                                "ChargeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "RentalFeeList": [
                                                            {
                                                                "FeeType": "FixedClosingFee",
                                                                "FeeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "MarketplaceName": "1",
                                                        "RentalInitialValue": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "RentalReimbursement": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "RentalTaxWithheldList": [
                                                            {
                                                                "TaxCollectionModel": "Free",
                                                                "TaxesWithheld": [
                                                                    {
                                                                        "ChargeType": "Tax",
                                                                        "ChargeAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "ProductAdsPaymentEventList": [
                                                    {
                                                        "postedDate": "2020-02-05T13:56:00.363Z",
                                                        "transactionType": "Free",
                                                        "invoiceId": "3454535453",
                                                        "baseValue": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "taxValue": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "transactionValue": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        }
                                                    }
                                                ],
                                                "ServiceFeeEventList": [
                                                    {
                                                        "AmazonOrderId": "444-555-3343433",
                                                        "FeeReason": "Free",
                                                        "FeeList": [
                                                            {
                                                                "FeeType": "FixedClosingFee",
                                                                "FeeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "SellerSKU": "456454455464",
                                                        "FnSKU": "Fn134",
                                                        "FeeDescription": "FeeDescription",
                                                        "ASIN": "KJHJ457648GHD"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventsResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "orderId": {
                                                "value": "BAD-ORDER"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Bad order ID provided."
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventsResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventsResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventsResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventsResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/finances/v0/financialEvents": {
            "get": {
                "description": "Returns financial events for the specified data range. Orders from the last 48 hours might not be included in financial events.\n\n**Note:** in `ListFinancialEvents`, deferred events don't show up in responses until in they are released.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 0.5 | 30 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput can have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits).",
                "operationId": "listFinancialEvents",
                "parameters": [
                    {
                        "name": "MaxResultsPerPage",
                        "in": "query",
                        "description": "The maximum number of results to return per page. If the response exceeds the maximum number of transactions or 10 MB, the response is `InvalidInput`.",
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32",
                            "default": 100
                        }
                    },
                    {
                        "name": "PostedAfter",
                        "in": "query",
                        "description": "The response includes financial events posted after (or on) this date. This date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. The date-time must be more than two minutes before the time of the request.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "PostedBefore",
                        "in": "query",
                        "description": "The response includes financial events posted before (but not on) this date. This date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.\n\nThe date-time must be later than `PostedAfter` and more than two minutes before the request was submitted. If `PostedAfter` and `PostedBefore` are more than 180 days apart, the response is empty. If you include the `PostedBefore` parameter in your request, you must also specify the `PostedAfter` parameter.\n\n**Default:** Two minutes before the time of the request.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "NextToken",
                        "in": "query",
                        "description": "The response includes `nextToken` when the number of results exceeds the specified `pageSize` value. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `nextToken` is null. Note that this operation can return empty pages.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventsResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "MaxResultsPerPage": {
                                                "value": 10
                                            },
                                            "NextToken": {
                                                "value": "jehgri34yo7jr9e8f984tr9i4o"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "NextToken": "Next token value",
                                            "FinancialEvents": {
                                                "PayWithAmazonEventList": [
                                                    {
                                                        "SellerOrderId": "454645645656456",
                                                        "TransactionPostedDate": "2020-02-05T13:56:00.363Z",
                                                        "BusinessObjectType": "Free",
                                                        "SalesChannel": "None",
                                                        "Charge": {
                                                            "ChargeType": "Tax",
                                                            "ChargeAmount": {
                                                                "CurrencyCode": "USD",
                                                                "CurrencyAmount": 25.37
                                                            }
                                                        },
                                                        "FeeList": [
                                                            {
                                                                "FeeType": "FixedClosingFee",
                                                                "FeeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "PaymentAmountType": "Tax",
                                                        "AmountDescription": "Tax",
                                                        "FulfillmentChannel": "FulfillmentChannel",
                                                        "StoreName": "Etsy"
                                                    }
                                                ],
                                                "ServiceProviderCreditEventList": [
                                                    {
                                                        "ProviderTransactionType": "Free",
                                                        "SellerOrderId": "454645645656456",
                                                        "MarketplaceId": "1",
                                                        "MarketplaceCountryCode": "US",
                                                        "SellerId": "4564565546",
                                                        "SellerStoreName": "Etsy",
                                                        "ProviderId": "1",
                                                        "ProviderStoreName": "Etsy",
                                                        "TransactionAmount": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "TransactionCreationDate": "2020-02-05T13:56:00.363Z"
                                                    }
                                                ],
                                                "RentalTransactionEventList": [
                                                    {
                                                        "AmazonOrderId": "444-555-3343433",
                                                        "RentalEventType": "string",
                                                        "ExtensionLength": 0,
                                                        "PostedDate": "2020-02-05T13:56:00.363Z",
                                                        "RentalChargeList": [
                                                            {
                                                                "ChargeType": "Tax",
                                                                "ChargeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "RentalFeeList": [
                                                            {
                                                                "FeeType": "FixedClosingFee",
                                                                "FeeAmount": {
                                                                    "CurrencyCode": "USD",
                                                                    "CurrencyAmount": 25.37
                                                                }
                                                            }
                                                        ],
                                                        "MarketplaceName": "1",
                                                        "RentalInitialValue": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "RentalReimbursement": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "RentalTaxWithheldList": [
                                                            {
                                                                "TaxCollectionModel": "Free",
                                                                "TaxesWithheld": [
                                                                    {
                                                                        "ChargeType": "Tax",
                                                                        "ChargeAmount": {
                                                                            "CurrencyCode": "USD",
                                                                            "CurrencyAmount": 25.37
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "ProductAdsPaymentEventList": [
                                                    {
                                                        "postedDate": "2020-02-05T13:56:00.363Z",
                                                        "transactionType": "Free",
                                                        "invoiceId": "3454535453",
                                                        "baseValue": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "taxValue": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        },
                                                        "transactionValue": {
                                                            "CurrencyCode": "USD",
                                                            "CurrencyAmount": 25.37
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventsResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "MaxResultsPerPage": {
                                                "value": 2
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Input not valid."
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventsResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventsResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventsResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventsResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFinancialEventsResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AdhocDisbursementEvent": {
                "type": "object",
                "properties": {
                    "TransactionType": {
                        "type": "string",
                        "description": "The type of transaction. For example, \"Disbursed to Amazon Gift Card balance\"."
                    },
                    "PostedDate": {
                        "$ref": "#/components/schemas/Date"
                    },
                    "TransactionId": {
                        "type": "string",
                        "description": "The identifier for the transaction."
                    },
                    "TransactionAmount": {
                        "$ref": "#/components/schemas/Currency"
                    }
                },
                "description": "An event related to an Adhoc Disbursement."
            },
            "AdhocDisbursementEventList": {
                "type": "array",
                "description": "A list of `AdhocDisbursement` events.",
                "items": {
                    "$ref": "#/components/schemas/AdhocDisbursementEvent"
                }
            },
            "AdjustmentEvent": {
                "type": "object",
                "properties": {
                    "AdjustmentType": {
                        "type": "string",
[...]
