{
    "openapi": "3.0.1",
    "info": {
        "title": "The Selling Partner API for Orders",
        "description": "The Selling Partner API for Orders returns orders information. This API supports the following types of orders:\n\n- FBM (Fulfilled by Merchant)\n- FBA (Fulfilled by Amazon) - read only\n- Amazon Fresh\n\nThis API does not display order data that is more than two years old, except in the JP, AU, and SG marketplaces, for which data from 2016 and after is available.",
        "contact": {
            "name": "Selling Partner API Developer Support",
            "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
        },
        "license": {
            "name": "Apache License 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "2026-01-01"
    },
    "servers": [
        {
            "url": "https://sellingpartnerapi-na.amazon.com/"
        }
    ],
    "paths": {
        "/orders/2026-01-01/orders": {
            "get": {
                "tags": [
                    "searchOrders"
                ],
                "description": "Returns orders that are created or updated during the time period that you specify. You can filter the response for specific types of orders.",
                "operationId": "searchOrders",
                "parameters": [
                    {
                        "name": "createdAfter",
                        "in": "query",
                        "description": "The response includes orders created at or after this time. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.\n\n**Note**: You must provide exactly one of `createdAfter` and `lastUpdatedAfter` in your request. If `createdAfter` is provided, neither `lastUpdatedAfter` nor `lastUpdatedBefore` may be provided.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "example": "2025-01-01T00:00:00Z"
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "The response includes orders created at or before this time. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.\n\n**Note**: If you include `createdAfter` in the request, `createdBefore` is optional, and if provided must be equal to or after the `createdAfter` date and at least two minutes before the time of the request. If `createdBefore` is provided, neither `lastUpdatedAfter` nor `lastUpdatedBefore` may be provided.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "example": "2025-01-01T00:00:00Z"
                    },
                    {
                        "name": "lastUpdatedAfter",
                        "in": "query",
                        "description": "The response includes orders updated at or after this time. An update is defined as any change made by Amazon or by the seller, including an update to the order status. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.\n\n**Note**: You must provide exactly one of `createdAfter` and `lastUpdatedAfter`. If `lastUpdatedAfter` is provided, neither `createdAfter` nor `createdBefore` may be provided.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "example": "2025-01-01T00:00:00Z"
                    },
                    {
                        "name": "lastUpdatedBefore",
                        "in": "query",
                        "description": "The response includes orders updated at or before this time. An update is defined as any change made by Amazon or by the seller, including an update to the order status. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.\n\n**Note**: If you include `lastUpdatedAfter` in the request, `lastUpdatedBefore` is optional, and if provided must be equal to or after the `lastUpdatedAfter` date and at least two minutes before the time of the request. If `lastUpdatedBefore` is provided, neither `createdAfter` nor `createdBefore` may be provided.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "example": "2025-01-01T00:00:00Z"
                    },
                    {
                        "name": "fulfillmentStatuses",
                        "in": "query",
                        "description": "A list of `FulfillmentStatus` values you can use to filter the results.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "PENDING_AVAILABILITY",
                                    "PENDING",
                                    "UNSHIPPED",
                                    "PARTIALLY_SHIPPED",
                                    "SHIPPED",
                                    "CANCELLED",
                                    "UNFULFILLABLE"
                                ],
                                "x-docgen-enum-table-extension": [
                                    {
                                        "value": "PENDING_AVAILABILITY",
                                        "description": "This status is available for pre-orders only. The order has been placed, payment has not been authorized, and the release date of the item is in the future. The order is not ready for shipment."
                                    },
                                    {
                                        "value": "PENDING",
                                        "description": "The order has been placed but is not ready for shipment. For standard orders, the initial order status is `PENDING`. For pre-orders, the initial order status is `PENDING_AVAILABILITY`, and the order passes into the `PENDING` status when payment authorization begins."
                                    },
                                    {
                                        "value": "UNSHIPPED",
                                        "description": "The order is ready for shipment, but no items in the order have been shipped."
                                    },
                                    {
                                        "value": "PARTIALLY_SHIPPED",
                                        "description": "At least one, but not all, items in the order have been shipped."
                                    },
                                    {
                                        "value": "SHIPPED",
                                        "description": "All items have been shipped to the customer."
                                    },
                                    {
                                        "value": "CANCELLED",
                                        "description": "The order has been canceled and will not be fulfilled."
                                    },
                                    {
                                        "value": "UNFULFILLABLE",
                                        "description": "The order cannot be fulfilled. This state only applies to Amazon-fulfilled orders that were not placed on Amazon's retail web site."
                                    }
                                ]
                            }
                        },
                        "example": [
                            "PENDING",
                            "UNSHIPPED"
                        ]
                    },
                    {
                        "name": "marketplaceIds",
                        "in": "query",
                        "description": "The response includes orders that were placed in marketplaces you include in this list.\n\nRefer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids) for a complete list of `marketplaceId` values.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "maxItems": 50,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "example": [
                            "ATVPDKIKX0DER",
                            "A2EUQ1WTGCTBG2"
                        ]
                    },
                    {
                        "name": "fulfilledBy",
                        "in": "query",
                        "description": "The response includes orders that are fulfilled by the parties that you include in this list.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "MERCHANT",
                                    "AMAZON"
                                ],
                                "x-docgen-enum-table-extension": [
                                    {
                                        "value": "MERCHANT",
                                        "description": "Fulfilled by the merchant"
                                    },
                                    {
                                        "value": "AMAZON",
                                        "description": "Fulfilled by Amazon"
                                    }
                                ]
                            }
                        },
                        "example": [
                            "AMAZON",
                            "MERCHANT"
                        ]
                    },
                    {
                        "name": "maxResultsPerPage",
                        "in": "query",
                        "description": "The maximum number of orders that can be returned per page. The value must be between 1 and 100. **Default:** 100.",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 50
                    },
                    {
                        "name": "paginationToken",
                        "in": "query",
                        "description": "Pagination occurs when a request produces a response that exceeds the `maxResultsPerPage`. This means that the response is divided into individual pages. To retrieve the next page, you must pass the `nextToken` value as the `paginationToken` query parameter in the next request. You will not receive a `nextToken` value on the last page.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "2YgYW55IGNhcm5hbCBwbGVhc3VyZS4"
                    },
                    {
                        "name": "includedData",
                        "in": "query",
                        "description": "A list of datasets to include in the response.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "BUYER",
                                    "RECIPIENT",
                                    "PROCEEDS",
                                    "EXPENSE",
                                    "PROMOTION",
                                    "CANCELLATION",
                                    "FULFILLMENT",
                                    "PACKAGES"
                                ],
                                "x-docgen-enum-table-extension": [
                                    {
                                        "value": "BUYER",
                                        "description": "Information about the buyer who purchased the order."
                                    },
                                    {
                                        "value": "RECIPIENT",
                                        "description": "Information about the recipient to whom the order is delivered."
                                    },
                                    {
                                        "value": "PROCEEDS",
                                        "description": "The revenue and financial breakdown for the order and order items."
                                    },
                                    {
                                        "value": "EXPENSE",
                                        "description": "The cost information about the order and order items."
                                    },
                                    {
                                        "value": "PROMOTION",
                                        "description": "The discount and promotional offer details applied to the order and order items."
                                    },
                                    {
                                        "value": "CANCELLATION",
                                        "description": "Cancellation information applied to the order and order items."
                                    },
                                    {
                                        "value": "FULFILLMENT",
                                        "description": "Information about how the order and order items are processed and shipped."
                                    },
                                    {
                                        "value": "PACKAGES",
                                        "description": "Information about shipping packages and tracking."
                                    }
                                ]
                            }
                        },
                        "example": [
                            "BUYER",
                            "PACKAGES"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SearchOrdersResponse"
                                },
                                "example": {
                                    "orders": [
                                        {
                                            "orderId": "123-4567890-1234567",
                                            "orderAliases": [
                                                {
                                                    "aliasId": "SELLER-ORDER-2024-001",
                                                    "aliasType": "SELLER_ORDER_ID"
                                                }
                                            ],
                                            "createdTime": "2024-12-25T10:30:00Z",
                                            "lastUpdatedTime": "2024-12-25T14:45:00Z",
                                            "programs": [
                                                "PRIME",
                                                "AMAZON_BUSINESS"
                                            ],
                                            "associatedOrders": [
                                                {
                                                    "orderId": "123-4567890-1234566",
                                                    "associationType": "REPLACEMENT_ORIGINAL_ID"
                                                }
                                            ],
                                            "salesChannel": {
                                                "channelName": "AMAZON",
                                                "marketplaceId": "ATVPDKIKX0DER",
                                                "marketplaceName": "Amazon.com"
                                            },
                                            "buyer": {
                                                "buyerName": "John Smith",
                                                "buyerEmail": "buyer-email@marketplace.amazon.com",
                                                "buyerCompanyName": "Smith Industries LLC",
                                                "buyerPurchaseOrderNumber": "PO-2024-12345"
                                            },
                                            "recipient": {
                                                "deliveryAddress": {
                                                    "name": "John Smith",
                                                    "companyName": "Smith Industries LLC",
                                                    "addressLine1": "123 Main Street",
                                                    "addressLine2": "Suite 456",
                                                    "addressLine3": "",
                                                    "city": "Seattle",
                                                    "districtOrCounty": "King County",
                                                    "stateOrRegion": "WA",
                                                    "municipality": "",
                                                    "postalCode": "98101",
                                                    "countryCode": "US",
                                                    "phone": "555-123-4567",
                                                    "addressType": "COMMERCIAL"
                                                },
                                                "deliveryPreference": {
                                                    "dropOffLocation": "Front desk reception",
                                                    "addressInstruction": "Enter through main lobby, ask for John Smith at reception",
                                                    "deliveryTime": {
                                                        "businessHours": [
                                                            {
                                                                "dayOfWeek": "MON",
                                                                "timeWindows": [
                                                                    {
                                                                        "startTime": {
                                                                            "hour": 9,
                                                                            "minute": 0
                                                                        },
                                                                        "endTime": {
                                                                            "hour": 17,
                                                                            "minute": 0
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "dayOfWeek": "TUE",
                                                                "timeWindows": [
                                                                    {
                                                                        "startTime": {
                                                                            "hour": 9,
                                                                            "minute": 0
                                                                        },
                                                                        "endTime": {
                                                                            "hour": 17,
                                                                            "minute": 0
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "dayOfWeek": "WED",
                                                                "timeWindows": [
                                                                    {
                                                                        "startTime": {
                                                                            "hour": 9,
                                                                            "minute": 0
                                                                        },
                                                                        "endTime": {
                                                                            "hour": 17,
                                                                            "minute": 0
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "dayOfWeek": "THU",
                                                                "timeWindows": [
                                                                    {
                                                                        "startTime": {
                                                                            "hour": 9,
                                                                            "minute": 0
                                                                        },
                                                                        "endTime": {
                                                                            "hour": 17,
                                                                            "minute": 0
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "dayOfWeek": "FRI",
                                                                "timeWindows": [
                                                                    {
                                                                        "startTime": {
                                                                            "hour": 9,
                                                                            "minute": 0
                                                                        },
                                                                        "endTime": {
                                                                            "hour": 17,
                                                                            "minute": 0
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "exceptionDates": [
                                                            {
                                                                "exceptionDate": "2024-12-31",
                                                                "exceptionDateType": "CLOSED",
                                                                "timeWindows": []
                                                            }
                                                        ]
                                                    },
                                                    "deliveryCapabilities": [
                                                        "HAS_ACCESS_POINT",
                                                        "PALLET_ENABLED"
                                                    ]
                                                }
                                            },
                                            "proceeds": {
                                                "grandTotal": {
                                                    "amount": "149.99",
                                                    "currencyCode": "USD"
                                                }
                                            },
                                            "fulfillment": {
                                                "fulfillmentStatus": "SHIPPED",
                                                "fulfilledBy": "MERCHANT",
                                                "fulfillmentServiceLevel": "STANDARD",
                                                "shipByWindow": {
                                                    "earliestDateTime": "2024-12-26T00:00:00Z",
                                                    "latestDateTime": "2024-12-27T23:59:59Z"
                                                },
                                                "deliverByWindow": {
                                                    "earliestDateTime": "2024-12-28T00:00:00Z",
                                                    "latestDateTime": "2024-12-30T23:59:59Z"
                                                }
                                            },
                                            "orderItems": [
                                                {
                                                    "orderItemId": "12345678901234",
                                                    "quantityOrdered": 2,
                                                    "programs": [
                                                        "TRANSPARENCY",
                                                        "SUBSCRIBE_AND_SAVE"
                                                    ],
                                                    "product": {
                                                        "asin": "B08N5WRWNW",
                                                        "title": "Echo Dot (4th Gen) | Smart speaker with Alexa | Charcoal",
                                                        "sellerSku": "ECHO-DOT-4-CHARCOAL",
                                                        "condition": {
                                                            "conditionType": "NEW",
                                                            "conditionSubtype": "NEW",
                                                            "conditionNote": "Brand new in original packaging"
                                                        },
                                                        "price": {
                                                            "unitPrice": {
                                                                "amount": "49.99",
                                                                "currencyCode": "USD"
                                                            },
                                                            "priceDesignation": "BUSINESS_PRICE"
                                                        },
                                                        "customization": {
                                                            "customizedUrl": "https://amazon.com/custom/view/12345"
                                                        }
                                                    },
                                                    "proceeds": {
                                                        "proceedsTotal": {
                                                            "amount": "99.98",
                                                            "currencyCode": "USD"
                                                        },
                                                        "breakdowns": [
                                                            {
                                                                "type": "ITEM",
                                                                "subtotal": {
                                                                    "amount": "99.98",
                                                                    "currencyCode": "USD"
                                                                }
                                                            },
                                                            {
                                                                "type": "TAX",
                                                                "subtotal": {
                                                                    "amount": "0.02",
                                                                    "currencyCode": "USD"
                                                                },
                                                                "detailedBreakdowns": [
                                                                    {
                                                                        "subtype": "ITEM",
                                                                        "value": {
                                                                            "amount": "0.02",
                                                                            "currencyCode": "USD"
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "promotion": {
                                                        "breakdowns": [
                                                            {
                                                                "promotionId": "PROMO-HOLIDAY-2024"
                                                            }
                                                        ]
                                                    },
                                                    "cancellation": {
                                                        "cancellationRequest": {
                                                            "requester": "BUYER",
                                                            "cancelReason": "Changed mind about purchase"
                                                        }
                                                    },
                                                    "fulfillment": {
                                                        "quantityFulfilled": 2,
                                                        "quantityUnfulfilled": 0,
                                                        "packing": {
                                                            "giftOption": {
                                                                "giftMessage": "Happy Holidays! Enjoy your new smart speakers.",
                                                                "giftWrapLevel": "PREMIUM"
                                                            }
                                                        },
                                                        "shipping": {
                                                            "scheduledDeliveryWindow": {
                                                                "earliestDateTime": "2024-12-28T09:00:00Z",
                                                                "latestDateTime": "2024-12-28T17:00:00Z"
                                                            },
                                                            "shippingConstraints": {
                                                                "palletDelivery": "MANDATORY",
                                                                "cashOnDelivery": "MANDATORY",
                                                                "signatureConfirmation": "MANDATORY",
                                                                "recipientIdentityVerification": "MANDATORY",
                                                                "recipientAgeVerification": "MANDATORY"
                                                            }
                                                        }
                                                    }
                                                },
                                                {
                                                    "orderItemId": "12345678901235",
                                                    "quantityOrdered": 1,
                                                    "programs": [],
                                                    "product": {
                                                        "asin": "B07XJ8C8F5",
                                                        "title": "Fire TV Stick 4K with Alexa Voice Remote",
                                                        "sellerSku": "FIRE-TV-4K-2021",
                                                        "condition": {
                                                            "conditionType": "NEW",
                                                            "conditionSubtype": "NEW",
                                                            "conditionNote": ""
                                                        },
                                                        "price": {
                                                            "unitPrice": {
                                                                "amount": "49.99",
                                                                "currencyCode": "USD"
                                                            }
                                                        }
                                                    },
                                                    "proceeds": {
                                                        "proceedsTotal": {
                                                            "amount": "49.99",
                                                            "currencyCode": "USD"
                                                        },
                                                        "breakdowns": [
                                                            {
                                                                "type": "ITEM",
                                                                "subtotal": {
                                                                    "amount": "49.99",
                                                                    "currencyCode": "USD"
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    "fulfillment": {
                                                        "quantityFulfilled": 1,
                                                        "quantityUnfulfilled": 0,
                                                        "shipping": {
                                                            "scheduledDeliveryWindow": {
                                                                "earliestDateTime": "2024-12-28T09:00:00Z",
                                                                "latestDateTime": "2024-12-28T17:00:00Z"
                                                            },
                                                            "shippingConstraints": {
                                                                "signatureConfirmation": "MANDATORY"
                                                            }
                                                        }
                                                    }
                                                }
                                            ],
                                            "packages": [
                                                {
                                                    "packageReferenceId": "PKG-2024-001",
                                                    "createdTime": "2024-12-25T15:00:00Z",
                                                    "packageStatus": {
                                                        "status": "DELIVERED",
                                                        "detailedStatus": "DELIVERED"
                                                    },
                                                    "carrier": "UPS",
                                                    "shipTime": "2024-12-25T14:00:00Z",
                                                    "shippingService": "UPS Ground",
                                                    "trackingNumber": "1Z999AA1234567890",
                                                    "shipFromAddress": {
                                                        "name": "Smith Electronics Warehouse",
                                                        "addressLine1": "456 Industrial Blvd",
                                                        "addressLine2": "Building A",
                                                        "city": "Bellevue",
                                                        "districtOrCounty": "King County",
                                                        "stateOrRegion": "WA",
                                                        "postalCode": "98004",
                                                        "countryCode": "US"
                                                    },
                                                    "packageItems": [
                                                        {
                                                            "orderItemId": "12345678901234",
                                                            "quantity": 2,
                                                            "transparencyCodes": [
                                                                "T12345ABCDE67890",
                                                                "T12346ABCDF67891"
                                                            ]
                                                        },
                                                        {
                                                            "orderItemId": "12345678901235",
                                                            "quantity": 1,
                                                            "transparencyCodes": [
                                                                "T67890GHIJK12345"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ],
                                    "pagination": {
                                        "nextToken": "2YgYW55IGNhcm5hbCBwbGVhc3VyZS4"
                                    },
                                    "lastUpdatedBefore": "2024-12-25T15:00:00Z"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "createdAfter": {
                                                "value": "2024-12-25T00:00:00Z"
                                            },
                                            "marketplaceIds": {
                                                "value": [
                                                    "A1VC38T7YXB528"
                                                ]
                                            },
                                            "includedData": {
                                                "value": [
                                                    "BUYER",
                                                    "RECIPIENT",
                                                    "PROCEEDS",
                                                    "EXPENSE",
                                                    "PROMOTION",
                                                    "CANCELLATION",
                                                    "FULFILLMENT",
                                                    "PACKAGES"
                                                ]
                                            }
                                        }
                                    },
                                    "response": {
                                        "orders": [
                                            {
                                                "orderId": "250-1234567-8901234",
                                                "orderAliases": [
                                                    {
                                                        "aliasId": "JP-ORDER-2024-001",
                                                        "aliasType": "SELLER_ORDER_ID"
                                                    }
                                                ],
                                                "createdTime": "2024-12-25T02:30:00Z",
                                                "lastUpdatedTime": "2024-12-25T06:45:00Z",
                                                "programs": [
                                                    "PRIME"
                                                ],
                                                "associatedOrders": [],
                                                "salesChannel": {
                                                    "channelName": "AMAZON",
                                                    "marketplaceId": "A1VC38T7YXB528",
                                                    "marketplaceName": "Amazon.co.jp"
                                                },
                                                "buyer": {
                                                    "buyerName": "John Smith",
                                                    "buyerEmail": "buyer-email@marketplace.amazon.co.jp"
                                                },
                                                "recipient": {
                                                    "deliveryAddress": {
                                                        "name": "John Smith",
                                                        "addressLine1": "123 Business Park",
                                                        "addressLine2": "Suite 456",
                                                        "city": "Tokyo",
                                                        "postalCode": "150-0002",
                                                        "countryCode": "JP",
                                                        "addressType": "RESIDENTIAL"
                                                    }
                                                },
                                                "proceeds": {
                                                    "grandTotal": {
                                                        "amount": "19940",
                                                        "currencyCode": "JPY"
                                                    }
                                                },
                                                "fulfillment": {
                                                    "fulfillmentStatus": "SHIPPED",
                                                    "fulfilledBy": "AMAZON",
                                                    "fulfillmentServiceLevel": "STANDARD",
                                                    "shipByWindow": {
                                                        "earliestDateTime": "2024-12-25T00:00:00Z",
                                                        "latestDateTime": "2024-12-25T23:59:59Z"
                                                    }
                                                },
                                                "orderItems": [
                                                    {
                                                        "orderItemId": "25012345678901",
                                                        "quantityOrdered": 1,
                                                        "programs": [
                                                            "TRANSPARENCY"
                                                        ],
                                                        "product": {
                                                            "asin": "B08C1W5N87",
                                                            "title": "Echo Dot (\u7b2c4\u4e16\u4ee3) \u30b9\u30de\u30fc\u30c8\u30b9\u30d4\u30fc\u30ab\u30fc with Alexa \u30c1\u30e3\u30b3\u30fc\u30eb",
                                                            "sellerSku": "ECHO-DOT-4-JP-CHARCOAL",
                                                            "condition": {
                                                                "conditionType": "NEW",
                                                                "conditionSubtype": "NEW",
                                                                "conditionNote": ""
                                                            },
                                                            "price": {
                                                                "unitPrice": {
                                                                    "amount": "5980",
                                                                    "currencyCode": "JPY"
                                                                }
                                                            },
                                                            "serialNumbers": [
                                                                "ED4JP-2024-ABC123456789",
                                                                "ED4JP-2024-DEF987654321"
                                                            ]
                                                        },
                                                        "proceeds": {
                                                            "proceedsTotal": {
                                                                "amount": "5980",
                                                                "currencyCode": "JPY"
                                                            },
                                                            "breakdowns": [
                                                                {
                                                                    "type": "ITEM",
                                                                    "subtotal": {
                                                                        "amount": "5980",
                                                                        "currencyCode": "JPY"
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        "expense": {
                                                            "pointsCost": {
                                                                "pointsGranted": {
                                                                    "pointsNumber": 60,
                                                                    "pointsMonetaryValue": {
                                                                        "amount": "60",
                                                                        "currencyCode": "JPY"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "promotion": {
                                                            "breakdowns": [
                                                                {
                                                                    "promotionId": "JP-WINTER-SALE-2024"
                                                                }
                                                            ]
                                                        },
                                                        "fulfillment": {
                                                            "quantityFulfilled": 1,
                                                            "quantityUnfulfilled": 0
                                                        }
                                                    },
                                                    {
                                                        "orderItemId": "25012345678902",
                                                        "quantityOrdered": 2,
                                                        "product": {
                                                            "asin": "B07PFFMP9P",
                                                            "title": "Fire TV Stick 4K Max \u30b9\u30c8\u30ea\u30fc\u30df\u30f3\u30b0\u30c7\u30d0\u30a4\u30b9",
                                                            "sellerSku": "FIRE-TV-4K-MAX-JP",
                                                            "condition": {
                                                                "conditionType": "NEW",
                                                                "conditionSubtype": "NEW",
                                                                "conditionNote": ""
                                                            },
                                                            "price": {
                                                                "unitPrice": {
                                                                    "amount": "6980",
                                                                    "currencyCode": "JPY"
                                                                }
                                                            },
                                                            "serialNumbers": [
                                                                "FTV4KMAXJP-2024-GHI123456789",
                                                                "FTV4KMAXJP-2024-JKL987654321"
                                                            ]
                                                        },
                                                        "proceeds": {
                                                            "proceedsTotal": {
                                                                "amount": "13960",
                                                                "currencyCode": "JPY"
                                                            },
                                                            "breakdowns": [
                                                                {
                                                                    "type": "ITEM",
                                                                    "subtotal": {
                                                                        "amount": "13960",
                                                                        "currencyCode": "JPY"
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        "expense": {
                                                            "pointsCost": {
                                                                "pointsGranted": {
                                                                    "pointsNumber": 140,
                                                                    "pointsMonetaryValue": {
                                                                        "amount": "140",
                                                                        "currencyCode": "JPY"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "fulfillment": {
                                                            "quantityFulfilled": 2,
                                                            "quantityUnfulfilled": 0
                                                        }
                                                    }
                                                ]
                                            }
                                        ],
                                        "pagination": {
                                            "nextToken": "2YgYW55IGNhcm5hbCBwbGVhc3VyZS4"
                                        },
                                        "createdBefore": "2024-12-25T03:00:00Z"
                                    }
                                },
                                {
                                    "request": {
                                        "parameters": {
                                            "createdAfter": {
                                                "value": "2024-12-23T00:00:00Z"
                                            },
                                            "marketplaceIds": {
                                                "value": [
                                                    "A1F83G8C2ARO7P"
                                                ]
                                            },
                                            "includedData": {
                                                "value": [
                                                    "BUYER",
                                                    "RECIPIENT",
                                                    "PROCEEDS",
                                                    "EXPENSE",
                                                    "PROMOTION",
                                                    "CANCELLATION",
                                                    "FULFILLMENT",
                                                    "PACKAGES"
                                                ]
                                            },
                                            "paginationToken": {
                                                "value": "9ZhB4RmVyc2lvbiAxLjAgb2YgdGhl"
                                            }
                                        }
                                    },
                                    "response": {
                                        "orders": [
                                            {
                                                "orderId": "202-7654321-1098765",
                                                "orderAliases": [
                                                    {
                                                        "aliasId": "UK-CONSUMER-ORDER-2024-002",
                                                        "aliasType": "SELLER_ORDER_ID"
                                                    }
                                                ],
                                                "createdTime": "2024-12-24T14:20:00Z",
                                                "lastUpdatedTime": "2024-12-24T18:45:00Z",
                                                "programs": [
                                                    "PRIME"
                                                ],
                                                "salesChannel": {
                                                    "channelName": "AMAZON",
                                                    "marketplaceId": "A1F83G8C2ARO7P",
                                                    "marketplaceName": "Amazon.co.uk"
                                                },
                                                "buyer": {
                                                    "buyerName": "Sarah Thompson",
                                                    "buyerEmail": "buyer-email@marketplace.amazon.co.uk"
                                                },
                                                "recipient": {
                                                    "deliveryAddress": {
                                                        "name": "Sarah Thompson",
                                                        "addressLine1": "45 Oak Avenue",
                                                        "addressLine2": "Flat 2A",
                                                        "addressLine3": "",
                                                        "city": "London",
                                                        "districtOrCounty": "Greater London",
                                                        "stateOrRegion": "England",
                                                        "municipality": "",
                                                        "postalCode": "SW1A 1AA",
                                                        "countryCode": "GB",
                                                        "phone": "+44 20 7946 0958",
                                                        "addressType": "RESIDENTIAL"
                                                    }
                                                },
                                                "proceeds": {
                                                    "grandTotal": {
                                                        "amount": "34.99",
                                                        "currencyCode": "GBP"
                                                    }
                                                },
                                                "fulfillment": {
                                                    "fulfillmentStatus": "SHIPPED",
                                                    "fulfilledBy": "MERCHANT",
                                                    "fulfillmentServiceLevel": "STANDARD",
                                                    "shipByWindow": {
                                                        "earliestDateTime": "2024-12-24T00:00:00Z",
                                                        "latestDateTime": "2024-12-25T23:59:59Z"
                                                    },
                                                    "deliverByWindow": {
                                                        "earliestDateTime": "2024-12-26T00:00:00Z",
                                                        "latestDateTime": "2024-12-28T23:59:59Z"
                                                    }
                                                },
                                                "orderItems": [
                                                    {
                                                        "orderItemId": "20276543210987",
                                                        "quantityOrdered": 1,
                                                        "measurement": {
                                                            "unit": "COUNT",
                                                            "value": 1
                                                        },
                                                        "product": {
                                                            "asin": "B08C1W5N87",
                                                            "title": "Amazon Echo Dot (4th Generation) | Smart speaker with Alexa | Charcoal",
                                                            "sellerSku": "ECHO-DOT-4-UK-CHARCOAL-SINGLE",
                                                            "condition": {
                                                                "conditionType": "NEW",
                                                                "conditionSubtype": "NEW",
                                                                "conditionNote": ""
                                                            },
                                                            "price": {
                                                                "unitPrice": {
                                                                    "amount": "34.99",
                                                                    "currencyCode": "GBP"
                                                                }
                                                            }
                                                        },
                                                        "proceeds": {
                                                            "proceedsTotal": {
                                                                "amount": "34.99",
                                                                "currencyCode": "GBP"
                                                            },
                                                            "breakdowns": [
                                                                {
                                                                    "type": "ITEM",
                                                                    "subtotal": {
                                                                        "amount": "34.99",
                                                                        "currencyCode": "GBP"
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        "fulfillment": {
                                                            "quantityFulfilled": 1,
                                                            "quantityUnfulfilled": 0,
                                                            "picking": {
                                                                "substitutionPreference": {
                                                                    "substitutionType": "CUSTOMER_PREFERENCE",
                                                                    "substitutionOptions": [
                                                                        {
                                                                            "asin": "B08C1W5N88",
                                                                            "quantityOrdered": 1,
                                                                            "sellerSku": "ECHO-DOT-4-UK-WHITE-SINGLE",
                                                                            "title": "Amazon Echo Dot (4th Generation) | Smart speaker with Alexa | Glacier White",
                                                                            "measurement": {
                                                                                "unit": "COUNT",
                                                                                "value": 1
                                                                            }
                                                                        },
                                                                        {
                                                                            "asin": "B08C1W5N89",
                                                                            "quantityOrdered": 1,
                                                                            "sellerSku": "ECHO-DOT-4-UK-BLUE-SINGLE",
                                                                            "title": "Amazon Echo Dot (4th Generation) | Smart speaker with Alexa | Twilight Blue",
                                                                            "measurement": {
                                                                                "unit": "COUNT",
                                                                                "value": 1
                                                                            }
                                                                        }
                                                                    ]
                                                                }
                                                            }
                                                        }
                                                    }
                                                ],
                                                "packages": [
                                                    {
                                                        "packageReferenceId": "UK-PKG-CONSUMER-2024-002",
                                                        "createdTime": "2024-12-24T19:00:00Z",
                                                        "packageStatus": {
                                                            "status": "IN_TRANSIT",
                                                            "detailedStatus": "OUT_FOR_DELIVERY"
                                                        },
                                                        "carrier": "DPD",
                                                        "shipTime": "2024-12-25T14:00:00Z",
                                                        "shippingService": "DPD Next Day Delivery",
                                                        "trackingNumber": "15501234567890123456",
                                                        "shipFromAddress": {
                                                            "name": "SmartHome Electronics Warehouse",
                                                            "addressLine1": "Unit 7, Technology Park",
                                                            "addressLine2": "Innovation Drive",
                                                            "addressLine3": "",
                                                            "city": "Reading",
                                                            "districtOrCounty": "Berkshire",
                                                            "stateOrRegion": "England",
                                                            "municipality": "",
                                                            "postalCode": "RG6 1AZ",
                                                            "countryCode": "GB"
                                                        },
                                                        "packageItems": [
                                                            {
                                                                "orderItemId": "20276543210987",
                                                                "quantity": 1,
                                                                "transparencyCodes": [
                                                                    "T98765ZYXWV43210UK"
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ],
                                        "createdBefore": "2024-12-24T15:00:00Z"
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "createdAfter": {
                                                "value": "TEST_CASE_400"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Invalid Input",
                                                "details": "Invalid Input"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/orders/2026-01-01/orders/{orderId}": {
            "get": {
                "tags": [
                    "getOrder"
                ],
                "description": "Returns the order that you specify.",
                "operationId": "getOrder",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "An Amazon-defined order identifier.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "includedData",
                        "in": "query",
                        "description": "A list of datasets to include in the response.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "BUYER",
                                    "RECIPIENT",
                                    "PROCEEDS",
                                    "EXPENSE",
                                    "PROMOTION",
                                    "CANCELLATION",
                                    "FULFILLMENT",
                                    "PACKAGES"
                                ],
                                "x-docgen-enum-table-extension": [
                                    {
                                        "value": "BUYER",
                                        "description": "Information about the buyer who purchased the order."
                                    },
                                    {
                                        "value": "RECIPIENT",
                                        "description": "Information about the recipient to whom the order is delivered."
                                    },
                                    {
                                        "value": "PROCEEDS",
                                        "description": "The revenue and financial breakdown for the order and order items."
                                    },
                                    {
                                        "value": "EXPENSE",
                                        "description": "The cost information applied to the order and order items."
                                    },
                                    {
                                        "value": "PROMOTION",
                                        "description": "The discount and promotional offer details applied to the order and order items."
                                    },
                                    {
                                        "value": "CANCELLATION",
                                        "description": "Cancellation information applied to the order and order items."
                                    },
                                    {
                                        "value": "FULFILLMENT",
                                        "description": "Information about how this order and order items are processed and shipped."
                                    },
                                    {
                                        "value": "PACKAGES",
                                        "description": "Shipping packages and tracking information."
                                    }
                                ]
                            }
                        },
                        "example": [
                            "BUYER",
                            "PACKAGES"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderResponse"
                                },
                                "example": {
                                    "order": {
                                        "orderId": "202-1234567-8901234",
                                        "orderAliases": [
                                            {
                                                "aliasId": "UK-MERCHANT-ORDER-2024-001",
                                                "aliasType": "SELLER_ORDER_ID"
                                            }
                                        ],
                                        "createdTime": "2024-12-25T09:15:00Z",
                                        "lastUpdatedTime": "2024-12-25T16:30:00Z",
                                        "programs": [
                                            "PRIME"
                                        ],
                                        "salesChannel": {
                                            "channelName": "AMAZON",
                                            "marketplaceId": "A1F83G8C2ARO7P",
                                            "marketplaceName": "Amazon.co.uk"
                                        },
                                        "buyer": {
                                            "buyerName": "James Wilson",
                                            "buyerEmail": "buyer-email@marketplace.amazon.co.uk"
                                        },
                                        "recipient": {
                                            "deliveryAddress": {
                                                "name": "James Wilson",
                                                "companyName": "Wilson Electronics Ltd",
                                                "addressLine1": "123 High Street",
                                                "addressLine2": "Unit 4B",
                                                "addressLine3": "",
                                                "city": "Manchester",
                                                "districtOrCounty": "Greater Manchester",
                                                "stateOrRegion": "England",
                                                "municipality": "",
                                                "postalCode": "M1 2AB",
                                                "countryCode": "GB",
                                                "phone": "+44 161 123 4567",
                                                "addressType": "COMMERCIAL"
                                            }
                                        },
                                        "proceeds": {
                                            "grandTotal": {
                                                "amount": "103.97",
                                                "currencyCode": "GBP"
                                            }
                                        },
                                        "fulfillment": {
                                            "fulfillmentStatus": "SHIPPED",
                                            "fulfilledBy": "MERCHANT",
                                            "fulfillmentServiceLevel": "STANDARD",
                                            "shipByWindow": {
                                                "earliestDateTime": "2024-12-25T00:00:00Z",
                                                "latestDateTime": "2024-12-26T23:59:59Z"
                                            },
                                            "deliverByWindow": {
                                                "earliestDateTime": "2024-12-27T00:00:00Z",
                                                "latestDateTime": "2024-12-30T23:59:59Z"
                                            }
                                        },
                                        "orderItems": [
                                            {
                                                "orderItemId": "20212345678901",
                                                "quantityOrdered": 3,
                                                "programs": [
                                                    "TRANSPARENCY"
                                                ],
                                                "product": {
                                                    "asin": "B08DFPV54V",
                                                    "title": "Echo Dot (4th Gen) | Smart speaker with Alexa | Charcoal",
                                                    "sellerSku": "ECHO-DOT-4-UK-CHARCOAL-3PACK",
                                                    "condition": {
                                                        "conditionType": "NEW",
                                                        "conditionSubtype": "NEW",
                                                        "conditionNote": "Brand new, sealed in original packaging"
                                                    },
                                                    "price": {
                                                        "unitPrice": {
                                                            "amount": "29.99",
                                                            "currencyCode": "GBP"
                                                        },
                                                        "priceDesignation": "BUSINESS_PRICE"
                                                    },
                                                    "serialNumbers": [
                                                        "ED4UK-2024-ABC123456789",
                                                        "ED4UK-2024-DEF987654321",
                                                        "ED4UK-2024-GHI456789123"
                                                    ],
                                                    "customization": {
                                                        "customizedUrl": ""
                                                    }
                                                },
                                                "proceeds": {
                                                    "proceedsTotal": {
                                                        "amount": "103.97",
                                                        "currencyCode": "GBP"
                                                    },
                                                    "breakdowns": [
                                                        {
                                                            "type": "ITEM",
                                                            "subtotal": {
                                                                "amount": "89.97",
                                                                "currencyCode": "GBP"
                                                            }
                                                        },
                                                        {
                                                            "type": "SHIPPING",
                                                            "subtotal": {
                                                                "amount": "10.00",
                                                                "currencyCode": "GBP"
                                                            }
                                                        },
                                                        {
                                                            "type": "TAX",
                                                            "subtotal": {
                                                                "amount": "4.00",
                                                                "currencyCode": "GBP"
                                                            },
                                                            "detailedBreakdowns": [
                                                                {
                                                                    "subtype": "ITEM",
                                                                    "value": {
                                                                        "amount": "3.00",
                                                                        "currencyCode": "GBP"
                                                                    }
                                                                },
                                                                {
                                                                    "subtype": "SHIPPING",
                                                                    "value": {
                                                                        "amount": "1.00",
                                                                        "currencyCode": "GBP"
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "promotion": {
                                                    "breakdowns": [
                                                        {
                                                            "promotionId": "UK-BOXING-DAY-2024"
                                                        }
                                                    ]
                                                },
                                                "fulfillment": {
                                                    "quantityFulfilled": 3,
                                                    "quantityUnfulfilled": 0,
                                                    "packing": {
                                                        "giftOption": {
                                                            "giftMessage": "Happy Christmas! Hope you enjoy your new smart speakers.",
                                                            "giftWrapLevel": "PREMIUM"
                                                        }
                                                    },
                                                    "shipping": {
                                                        "scheduledDeliveryWindow": {
                                                            "earliestDateTime": "2024-12-27T09:00:00Z",
                                                            "latestDateTime": "2024-12-27T17:00:00Z"
                                                        },
                                                        "shippingConstraints": {
                                                            "signatureConfirmation": "MANDATORY",
                                                            "recipientIdentityVerification": "MANDATORY"
                                                        },
                                                        "internationalShipping": {
                                                            "iossNumber": "IM1234567890"
                                                        }
                                                    }
                                                }
                                            }
                                        ],
                                        "packages": [
                                            {
                                                "packageReferenceId": "UK-PKG-2024-001",
                                                "createdTime": "2024-12-25T16:45:00Z",
                                                "packageStatus": {
                                                    "status": "IN_TRANSIT",
                                                    "detailedStatus": "OUT_FOR_DELIVERY"
                                                },
                                                "carrier": "Royal Mail",
                                                "shipTime": "2024-12-26T14:00:00Z",
                                                "shippingService": "Royal Mail Tracked 48",
                                                "trackingNumber": "RR123456789GB",
                                                "shipFromAddress": {
                                                    "name": "TechGear UK Warehouse",
                                                    "addressLine1": "Industrial Estate Unit 15",
                                                    "addressLine2": "Riverside Business Park",
                                                    "addressLine3": "",
                                                    "city": "Birmingham",
                                                    "districtOrCounty": "West Midlands",
                                                    "stateOrRegion": "England",
                                                    "municipality": "",
                                                    "postalCode": "B12 0XY",
                                                    "countryCode": "GB"
                                                },
                                                "packageItems": [
                                                    {
                                                        "orderItemId": "20212345678901",
                                                        "quantity": 3,
                                                        "transparencyCodes": [
                                                            "T12345ABCDE67890UK",
                                                            "T12346ABCDF67891UK",
[...]
