{
    "openapi": "3.0.1",
    "info": {
        "title": "Selling Partner API for Merchant Fulfillment",
        "description": "The Selling Partner API for Merchant Fulfillment helps you build applications that let sellers purchase shipping for non-Prime and Prime orders using Amazon\u2019s Buy Shipping Services.",
        "contact": {
            "name": "Selling Partner API Developer Support",
            "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
        },
        "license": {
            "name": "Apache License 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "v0"
    },
    "servers": [
        {
            "url": "https://sellingpartnerapi-na.amazon.com/"
        }
    ],
    "paths": {
        "/mfn/v0/eligibleShippingServices": {
            "post": {
                "tags": [
                    "MerchantFulfillmentV0"
                ],
                "description": "Returns a list of shipping service offers that satisfy the specified shipment request details.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "getEligibleShipmentServices",
                "requestBody": {
                    "description": "Request schema for GetEligibleShipmentServices operation.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetEligibleShipmentServicesRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetEligibleShipmentServicesResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "body": {
                                                "value": {
                                                    "ShipmentRequestDetails": {
                                                        "AmazonOrderId": "903-5563053-5647845",
                                                        "ItemList": [
                                                            {
                                                                "OrderItemId": "52986411826454",
                                                                "Quantity": 1
                                                            }
                                                        ],
                                                        "ShipFromAddress": {
                                                            "Name": "John Doe",
                                                            "AddressLine1": "300 Turnbull Ave",
                                                            "Email": "jdoeasdfllkj@yahoo.com",
                                                            "City": "Detroit",
                                                            "StateOrProvinceCode": "MI",
                                                            "PostalCode": "48123",
                                                            "CountryCode": "US",
                                                            "Phone": "7132341234"
                                                        },
                                                        "PackageDimensions": {
                                                            "Length": 10.25,
                                                            "Width": 10.25,
                                                            "Height": 10.25,
                                                            "Unit": "inches"
                                                        },
                                                        "Weight": {
                                                            "Value": 10.25,
                                                            "Unit": "oz"
                                                        },
                                                        "ShippingServiceOptions": {
                                                            "DeliveryExperience": "NoTracking",
                                                            "CarrierWillPickUp": false,
                                                            "CarrierWillPickUpOption": "ShipperWillDropOff"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "ShippingServiceList": [
                                                {
                                                    "ShippingServiceName": "UPS 2nd Day Air\u00ae",
                                                    "CarrierName": "UPS\u00ae",
                                                    "ShippingServiceId": "UPS_PTP_2ND_DAY_AIR",
                                                    "ShippingServiceOfferId": "WHgxtyn6qjGGaCzOCog1azF5HLHje5Pz3Lc2Fmt5eKoZAReW8oJ1SMumuBS8lA/Hjuglhyiu0+KRLvyJxFV0PB9YFMDhygs3VyTL0WGYkGxiuRkmuEvpqldUn9rrkWVodqnR4vx2VtXvtER/Ju6RqYoddJZGy6RS2KLzzhQ2NclN0NYXMZVqpOe5RsRBddXaGuJr7oza3M52+JzChocAHzcurIhCRynpbxfmNLzZMQEbgnpGLzuaoSMzfxg90/NaXFR/Ou01du/uKd5AbfMW/AxAKP9ht6Oi9lDHq6WkGqvjkVLW0/jj/fBgblIwcs+t",
                                                    "ShipDate": "2019-10-28T16:36:36Z",
                                                    "EarliestEstimatedDeliveryDate": "2019-10-31T06:00:00Z",
                                                    "LatestEstimatedDeliveryDate": "2019-10-31T06:00:00Z",
                                                    "Rate": {
                                                        "CurrencyCode": "USD",
                                                        "Amount": 34.73
                                                    },
                                                    "ShippingServiceOptions": {
                                                        "DeliveryExperience": "NoTracking",
                                                        "CarrierWillPickUp": false,
                                                        "LabelFormat": ""
                                                    },
                                                    "AvailableLabelFormats": [
                                                        "ZPL203",
                                                        "ShippingServiceDefault",
                                                        "PDF",
                                                        "PNG"
                                                    ],
                                                    "AvailableFormatOptionsForLabel": [
                                                        {
                                                            "LabelFormat": "ZPL203"
                                                        },
                                                        {
                                                            "LabelFormat": "ShippingServiceDefault"
                                                        },
                                                        {
                                                            "LabelFormat": "PDF"
                                                        },
                                                        {
                                                            "LabelFormat": "PNG"
                                                        }
                                                    ],
                                                    "Benefits": {
                                                        "IncludedBenefits": [
                                                            "CLAIMS_PROTECTED"
                                                        ],
                                                        "ExcludedBenefits": []
                                                    }
                                                },
                                                {
                                                    "ShippingServiceName": "UPS Next Day Air Saver\u00ae",
                                                    "CarrierName": "UPS\u00ae",
                                                    "ShippingServiceId": "UPS_PTP_NEXT_DAY_AIR_SAVER",
                                                    "ShippingServiceOfferId": "WHgxtyn6qjGGaCzOCog1azF5HLHje5Pz3Lc2Fmt5eKqqhKGQ2YZmuxsXKVXmdgdWNvfxb1qfm5bGm8NuqlqnNT3eTiJ4viTctepggbeUKUSykClJ+Qmw43zdA8wsgREhQCmb4Bbo/skapLQS1F9uwH2FgY5SfMsj/egudyocpVRT45KSQAT0H5YiXW3OyyRAae9fZ0RzDJAABHiisOyYyXnB1mtWOZqc7rlGR4yyqN7jmiT4t8dmuGPX7ptY4qskrN+6VHZO9bM9tdDS0ysHhAVv4jO3Q5sWFg4nEPaARWSsrpa6zSGMLxAOj56O3tcP",
                                                    "ShipDate": "2019-10-28T16:36:36Z",
                                                    "EarliestEstimatedDeliveryDate": "2019-10-30T06:00:00Z",
                                                    "LatestEstimatedDeliveryDate": "2019-10-30T06:00:00Z",
                                                    "Rate": {
                                                        "CurrencyCode": "USD",
                                                        "Amount": 98.75
                                                    },
                                                    "ShippingServiceOptions": {
                                                        "DeliveryExperience": "NoTracking",
                                                        "CarrierWillPickUp": false,
                                                        "LabelFormat": ""
                                                    },
                                                    "AvailableLabelFormats": [
                                                        "ZPL203",
                                                        "ShippingServiceDefault",
                                                        "PDF",
                                                        "PNG"
                                                    ],
                                                    "AvailableFormatOptionsForLabel": [
                                                        {
                                                            "LabelFormat": "ZPL203"
                                                        },
                                                        {
                                                            "LabelFormat": "ShippingServiceDefault"
                                                        },
                                                        {
                                                            "LabelFormat": "PDF"
                                                        },
                                                        {
                                                            "LabelFormat": "PNG"
                                                        }
                                                    ],
                                                    "Benefits": {
                                                        "IncludedBenefits": [],
                                                        "ExcludedBenefits": [
                                                            {
                                                                "Benefit": "CLAIMS_PROTECTED",
                                                                "ReasonCodes": [
                                                                    "LATE_DELIVERY_RISK"
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                }
                                            ],
                                            "TemporarilyUnavailableCarrierList": [
                                                {
                                                    "CarrierName": "UPS\u00ae"
                                                },
                                                {
                                                    "CarrierName": "DHLECOMMERCE"
                                                }
                                            ],
                                            "TermsAndConditionsNotAcceptedCarrierList": [
                                                {
                                                    "CarrierName": "YANWEN"
                                                },
                                                {
                                                    "CarrierName": "CHINA_POST"
                                                }
                                            ]
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetEligibleShipmentServicesResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "body": {
                                                "value": {
                                                    "ShipmentRequestDetails": {
                                                        "AmazonOrderId": "TEST_CASE_400",
                                                        "ItemList": [
                                                            {
                                                                "OrderItemId": "52986411826454",
                                                                "Quantity": 1
                                                            }
                                                        ],
                                                        "ShipFromAddress": {
                                                            "Name": "John Doe",
                                                            "AddressLine1": "300 Turnbull Ave",
                                                            "Email": "jdoeasdfllkj@yahoo.com",
                                                            "City": "Detroit",
                                                            "StateOrProvinceCode": "MI",
                                                            "PostalCode": "48123",
                                                            "CountryCode": "USA",
                                                            "Phone": "7132341234"
                                                        },
                                                        "PackageDimensions": {
                                                            "Length": 10.25,
                                                            "Width": 10.25,
                                                            "Height": 10.25,
                                                            "Unit": "inches"
                                                        },
                                                        "Weight": {
                                                            "Value": 10.25,
                                                            "Unit": "oz"
                                                        },
                                                        "ShippingServiceOptions": {
                                                            "DeliveryExperience": "NoTracking",
                                                            "CarrierWillPickUp": false,
                                                            "CarrierWillPickUpOption": "ShipperWillDropOff"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "1 validation error detected: Value 'USA' at 'shipmentRequestDetails.shipFromAddress.countryCode' failed to satisfy constraint: Member must have length less than or equal to 2",
                                                "details": ""
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetEligibleShipmentServicesResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetEligibleShipmentServicesResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The specified resource does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetEligibleShipmentServicesResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetEligibleShipmentServicesResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetEligibleShipmentServicesResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetEligibleShipmentServicesResponse"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body"
            }
        },
        "/mfn/v0/shipments/{shipmentId}": {
            "get": {
                "tags": [
                    "MerchantFulfillmentV0"
                ],
                "description": "Returns the shipment information for an existing shipment.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 1 | 1 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "getShipment",
                "parameters": [
                    {
                        "name": "shipmentId",
                        "in": "path",
                        "description": "The Amazon-defined shipment identifier for the shipment.",
                        "required": true,
                        "schema": {
                            "pattern": "[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetShipmentResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "shipmentId": {
                                                "value": "abcddcba-00c3-4f6f-a63a-639f76ee9253"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "ShipmentId": "abcddcba-00c3-4f6f-a63a-639f76ee9253",
                                            "AmazonOrderId": "903-5563053-5647845",
                                            "SellerOrderId": "903-5563053-5647845",
                                            "Insurance": {
                                                "CurrencyCode": "USD",
                                                "Amount": 0
                                            },
                                            "ItemList": [
                                                {
                                                    "OrderItemId": "12958298061782",
                                                    "Quantity": 1
                                                }
                                            ],
                                            "ShipFromAddress": {
                                                "Name": "John Doe",
                                                "AddressLine1": "300 Turnbull Ave",
                                                "Email": "jdoeasdfllkj@yahoo.com",
                                                "City": "Detroit",
                                                "StateOrProvinceCode": "MI",
                                                "PostalCode": "48123",
                                                "CountryCode": "US",
                                                "Phone": "7132341234"
                                            },
                                            "ShipToAddress": {
                                                "Name": "New York",
                                                "AddressLine1": "TIME WARNER CENTER",
                                                "AddressLine2": "10 COLUMBUS CIR",
                                                "Email": "",
                                                "City": "NEW YORK",
                                                "StateOrProvinceCode": "NY",
                                                "PostalCode": "10019-1158",
                                                "CountryCode": "US",
                                                "Phone": ""
                                            },
                                            "PackageDimensions": {
                                                "Length": 10.25,
                                                "Width": 10.25,
                                                "Height": 10.25,
                                                "Unit": "inches"
                                            },
                                            "Weight": {
                                                "Value": 10.25,
                                                "Unit": "oz"
                                            },
                                            "ShippingService": {
                                                "ShippingServiceName": "UPS 2nd Day Air\u00ae",
                                                "CarrierName": "UPS\u00ae",
                                                "ShippingServiceId": "UPS_PTP_2ND_DAY_AIR",
                                                "ShippingServiceOfferId": "",
                                                "ShipDate": "2019-10-28T18:00:00Z",
                                                "Rate": {
                                                    "CurrencyCode": "USD",
                                                    "Amount": 34.73
                                                },
                                                "ShippingServiceOptions": {
                                                    "DeliveryExperience": "DeliveryConfirmationWithoutSignature",
                                                    "DeclaredValue": {
                                                        "CurrencyCode": "USD",
                                                        "Amount": 0
                                                    }
                                                },
                                                "RequiresAdditionalSellerInputs": false,
                                                "Benefits": {
                                                    "IncludedBenefits": [],
                                                    "ExcludedBenefits": [
                                                        {
                                                            "Benefit": "CLAIMS_PROTECTED",
                                                            "ReasonCodes": [
                                                                "LATE_DELIVERY_RISK"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            },
                                            "Label": {
                                                "Dimensions": {
                                                    "Length": 6,
                                                    "Width": 4,
                                                    "Unit": "inches"
                                                },
                                                "FileContents": {
                                                    "Contents": "H4sIAAAAAAAAAOS6dV",
                                                    "FileType": "image/png",
                                                    "Checksum": "9ALVyphCKfc3+Lb2ssyh8A=="
                                                }
                                            },
                                            "Status": "Purchased",
                                            "TrackingId": "1Z17E2100206868939",
                                            "CreatedDate": "2019-10-28T18:29:34Z",
                                            "LastUpdatedDate": "2019-10-28T18:30:35Z"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetShipmentResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "shipmentId": {
                                                "value": "aabbccdd-1beb-4cda-8bf4-7366cfddbec1"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "1 validation error detected: Value 'TEST_CASE_400' at 'shipmentId' failed to satisfy constraint: Member must satisfy regular expression pattern: [0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}",
                                                "details": ""
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetShipmentResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetShipmentResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The specified resource does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetShipmentResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetShipmentResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetShipmentResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetShipmentResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "MerchantFulfillmentV0"
                ],
                "description": "Cancel the shipment indicated by the specified shipment identifier.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 1 | 1 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "cancelShipment",
                "parameters": [
                    {
                        "name": "shipmentId",
                        "in": "path",
                        "description": "The Amazon-defined shipment identifier for the shipment to cancel.",
                        "required": true,
                        "schema": {
                            "pattern": "[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelShipmentResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "shipmentId": {
                                                "value": "be7a0a53-00c3-4f6f-a63a-639f76ee9253"
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "ShipmentId": "be7a0a53-00c3-4f6f-a63a-639f76ee9253",
                                            "AmazonOrderId": "903-5563053-5647845",
                                            "SellerOrderId": "903-5563053-5647845",
                                            "Insurance": {
                                                "CurrencyCode": "USD",
                                                "Amount": 0
                                            },
                                            "ItemList": [
                                                {
                                                    "OrderItemId": "12958298061782",
                                                    "Quantity": 1
                                                }
                                            ],
                                            "ShipFromAddress": {
                                                "Name": "John Doe",
                                                "AddressLine1": "300 Turnbull Ave",
                                                "Email": "jdoeasdfllkj@yahoo.com",
                                                "City": "Detroit",
                                                "StateOrProvinceCode": "MI",
                                                "PostalCode": "48123",
                                                "CountryCode": "US",
                                                "Phone": "7132341234"
                                            },
                                            "ShipToAddress": {
                                                "Name": "New York",
                                                "AddressLine1": "TIME WARNER CENTER",
                                                "AddressLine2": "10 COLUMBUS CIR",
                                                "Email": "",
                                                "City": "NEW YORK",
                                                "StateOrProvinceCode": "NY",
                                                "PostalCode": "10019-1158",
                                                "CountryCode": "US",
                                                "Phone": ""
                                            },
                                            "PackageDimensions": {
                                                "Length": 10.25,
                                                "Width": 10.25,
                                                "Height": 10.25,
                                                "Unit": "inches"
                                            },
                                            "Weight": {
                                                "Value": 10.25,
                                                "Unit": "oz"
                                            },
                                            "ShippingService": {
                                                "ShippingServiceName": "UPS 2nd Day Air\u00ae",
                                                "CarrierName": "UPS\u00ae",
                                                "ShippingServiceId": "UPS_PTP_2ND_DAY_AIR",
                                                "ShippingServiceOfferId": "",
                                                "ShipDate": "2019-10-28T18:00:00Z",
                                                "Rate": {
                                                    "CurrencyCode": "USD",
                                                    "Amount": 34.73
                                                },
                                                "ShippingServiceOptions": {
                                                    "DeliveryExperience": "DeliveryConfirmationWithoutSignature",
                                                    "DeclaredValue": {
                                                        "CurrencyCode": "USD",
                                                        "Amount": 0
                                                    }
                                                },
                                                "RequiresAdditionalSellerInputs": false
                                            },
                                            "Label": {
                                                "Dimensions": {},
                                                "FileContents": {
                                                    "Contents": "",
                                                    "FileType": "",
                                                    "Checksum": ""
                                                }
                                            },
                                            "Status": "RefundPending",
                                            "TrackingId": "1Z17E2100206868939",
                                            "CreatedDate": "2019-10-28T18:29:34Z",
                                            "LastUpdatedDate": "2019-10-28T18:36:55Z"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelShipmentResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "shipmentId": {
                                                "value": "87d20cf7-1beb-4cda-8bf4-7366cfddbec1"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "1 validation error detected: Value 'TEST_CASE_400' at 'shipmentId' failed to satisfy constraint: Member must satisfy regular expression pattern: [0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}",
                                                "details": ""
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelShipmentResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelShipmentResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelShipmentResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelShipmentResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelShipmentResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelShipmentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mfn/v0/shipments": {
            "post": {
                "tags": [
                    "MerchantFulfillmentV0"
                ],
                "description": "Create a shipment with the information provided.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 1 | 1 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "createShipment",
                "requestBody": {
                    "description": "Request schema for CreateShipment operation.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateShipmentRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateShipmentResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "body": {
                                                "value": {
                                                    "ShipmentRequestDetails": {
                                                        "AmazonOrderId": "903-5563053-5647845",
                                                        "ItemList": [
                                                            {
                                                                "OrderItemId": "52986411826454",
                                                                "Quantity": 1
                                                            }
                                                        ],
                                                        "ShipFromAddress": {
                                                            "Name": "John Doe",
                                                            "AddressLine1": "300 Turnbull Ave",
                                                            "Email": "jdoeasdfllkj@yahoo.com",
                                                            "City": "Detroit",
                                                            "StateOrProvinceCode": "MI",
                                                            "PostalCode": "48123",
                                                            "CountryCode": "US",
                                                            "Phone": "7132341234"
                                                        },
                                                        "PackageDimensions": {
                                                            "Length": 10.25,
                                                            "Width": 10.25,
                                                            "Height": 10.25,
                                                            "Unit": "inches"
                                                        },
                                                        "Weight": {
                                                            "Value": 10.25,
                                                            "Unit": "oz"
                                                        },
                                                        "ShippingServiceOptions": {
                                                            "DeliveryExperience": "NoTracking",
                                                            "CarrierWillPickUp": false,
                                                            "CarrierWillPickUpOption": "ShipperWillDropOff"
                                                        }
                                                    },
                                                    "ShippingServiceId": "UPS_PTP_2ND_DAY_AIR",
                                                    "ShippingServiceOfferId": "WHgxtyn6qjGGaCzOCog1azF5HLHje5Pz3Lc2Fmt5eKoZAReW8oJ1SMumuBS8lA/Hjuglhyiu0+KRLvyJxFV0PB9YFMDhygs3VyTL0WGYkGxiuRkmuEvpqldUn9rrkWVodqnR4vx2VtXvtER/Ju6RqYoddJZGy6RS2KLzzhQ2NclN0NYXMZVqpOe5RsRBddXaGuJr7oza3M52+JzChocAHzcurIhCRynpbxfmNLzZMQEbgnpGLzuaoSMzfxg90/NaXFR/Ou01du/uKd5AbfMW/AxAKP9ht6Oi9lDHq6WkGqvjkVLW0/jj/fBgblIwcs+t"
                                                }
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "ShipmentId": "be7a0a53-00c3-4f6f-a63a-639f76ee9253",
                                            "AmazonOrderId": "903-5563053-5647845",
                                            "Insurance": {
                                                "CurrencyCode": "USD",
                                                "Amount": 0
                                            },
                                            "ItemList": [
                                                {
                                                    "OrderItemId": "12958298061782",
                                                    "Quantity": 1
                                                }
                                            ],
                                            "ShipFromAddress": {
                                                "Name": "John Doe",
                                                "AddressLine1": "300 Turnbull Ave",
                                                "Email": "jdoeasdfllkj@yahoo.com",
                                                "City": "Detroit",
                                                "StateOrProvinceCode": "MI",
                                                "PostalCode": "48123",
                                                "CountryCode": "US",
                                                "Phone": "7132341234"
                                            },
                                            "ShipToAddress": {
                                                "Name": "New York",
                                                "AddressLine1": "TIME WARNER CENTER",
                                                "AddressLine2": "10 COLUMBUS CIR",
                                                "Email": "",
                                                "City": "NEW YORK",
                                                "StateOrProvinceCode": "NY",
                                                "PostalCode": "10019-1158",
                                                "CountryCode": "US",
                                                "Phone": ""
                                            },
                                            "PackageDimensions": {
                                                "Length": 10.25,
                                                "Width": 10.25,
                                                "Height": 10.25,
                                                "Unit": "inches"
                                            },
                                            "Weight": {
                                                "Value": 10.25,
                                                "Unit": "oz"
                                            },
                                            "ShippingService": {
                                                "ShippingServiceName": "UPS 2nd Day Air\u00ae",
                                                "CarrierName": "UPS\u00ae",
                                                "ShippingServiceId": "UPS_PTP_2ND_DAY_AIR",
                                                "ShippingServiceOfferId": "WHgxtyn6qjGGaCzOCog1azF5HLHje5Pz3Lc2Fmt5eKoZAReW8oJ1SMumuBS8lA/Hjuglhyiu0+KRLvyJxFV0PB9YFMDhygs3VyTL0WGYkGxiuRkmuEvpqldUn9rrkWVodqnR4vx2VtXvtER/Ju6RqYoddJZGy6RS2KLzzhQ2NclN0NYXMZVqpOe5RsRBddXaGuJr7oza3M52+JzChocAHzcurIhCRynpbxfmNLzZMQEbgnpGLzuaoSMzfxg90/NaXFR/Ou01du/uKd5AbfMW/AxAKP9ht6Oi9lDHq6WkGqvjkVLW0/jj/fBgblIwcs+t",
                                                "ShipDate": "2019-10-28T16:37:37Z",
                                                "EarliestEstimatedDeliveryDate": "2019-10-30T07:00:00Z",
                                                "LatestEstimatedDeliveryDate": "2019-10-30T07:00:00Z",
                                                "Rate": {
                                                    "CurrencyCode": "USD",
                                                    "Amount": 34.73
                                                },
                                                "ShippingServiceOptions": {
                                                    "DeliveryExperience": "NoTracking",
                                                    "DeclaredValue": {
                                                        "CurrencyCode": "USD",
                                                        "Amount": 0
                                                    }
                                                },
                                                "RequiresAdditionalSellerInputs": false,
                                                "Benefits": {
                                                    "IncludedBenefits": [
                                                        "CLAIMS_PROTECTED"
                                                    ],
                                                    "ExcludedBenefits": []
                                                }
                                            },
                                            "Label": {
                                                "Dimensions": {
                                                    "Length": 6,
                                                    "Width": 4,
                                                    "Unit": "inches"
                                                },
                                                "FileContents": {
                                                    "Contents": "H4sIAAAAAAAAAOR",
                                                    "FileType": "image/png",
                                                    "Checksum": "d+eUxK5WTGxkGsTF0pmefQ=="
                                                },
                                                "LabelFormat": "PNG"
                                            },
                                            "Status": "Purchased",
                                            "TrackingId": "1Z17E2100217295733",
                                            "CreatedDate": "2019-10-28T16:37:43Z"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateShipmentResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "body": {
                                                "value": {
                                                    "ShipmentRequestDetails": {
                                                        "AmazonOrderId": "TEST_CASE_400",
                                                        "ItemList": [
                                                            {
                                                                "OrderItemId": "52986411826454",
                                                                "Quantity": 1
                                                            }
                                                        ],
                                                        "ShipFromAddress": {
                                                            "Name": "John Doe",
                                                            "AddressLine1": "300 Turnbull Ave",
                                                            "Email": "jdoeasdfllkj@yahoo.com",
                                                            "City": "Detroit",
                                                            "StateOrProvinceCode": "MI",
                                                            "PostalCode": "48123",
                                                            "CountryCode": "USA",
                                                            "Phone": "7132341234"
                                                        },
                                                        "PackageDimensions": {
                                                            "Length": 10,
                                                            "Width": 10,
                                                            "Height": 10,
                                                            "Unit": "inches"
                                                        },
                                                        "Weight": {
                                                            "Value": 10,
                                                            "Unit": "oz"
                                                        },
                                                        "ShippingServiceOptions": {
                                                            "DeliveryExperience": "NoTracking",
                                                            "CarrierWillPickUp": false,
                                                            "CarrierWillPickUpOption": "ShipperWillDropOff"
                                                        }
                                                    },
                                                    "ShippingServiceId": "UPS_PTP_2ND_DAY_AIR",
                                                    "ShippingServiceOfferId": "WHgxtyn6qjGGaCzOCog1azF5HLHje5Pz3Lc2Fmt5eKoZAReW8oJ1SMumuBS8lA/Hjuglhyiu0+KRLvyJxFV0PB9YFMDhygs3VyTL0WGYkGxiuRkmuEvpqldUn9rrkWVodqnR4vx2VtXvtER/Ju6RqYoddJZGy6RS2KLzzhQ2NclN0NYXMZVqpOe5RsRBddXaGuJr7oza3M52+JzChocAHzcurIhCRynpbxfmNLzZMQEbgnpGLzuaoSMzfxg90/NaXFR/Ou01du/uKd5AbfMW/AxAKP9ht6Oi9lDHq6WkGqvjkVLW0/jj/fBgblIwcs+t"
                                                }
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "1 validation error detected: Value 'USA' at 'shipmentRequestDetails.shipFromAddress.countryCode' failed to satisfy constraint: Member must have length less than or equal to 2",
                                                "details": ""
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateShipmentResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateShipmentResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The specified resource does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateShipmentResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateShipmentResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateShipmentResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateShipmentResponse"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body"
            }
        },
        "/mfn/v0/additionalSellerInputs": {
            "post": {
                "tags": [
                    "MerchantFulfillmentV0"
                ],
                "description": "Gets a list of additional seller inputs required for a ship method. This is generally used for international shipping.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 1 | 1 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "getAdditionalSellerInputs",
                "requestBody": {
                    "description": "Request schema for GetAdditionalSellerInputs operation.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetAdditionalSellerInputsRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAdditionalSellerInputsResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "body": {
                                                "value": {
                                                    "ShippingServiceId": "UPS_PTP_GND",
                                                    "ShipFromAddress": {
                                                        "Name": "John Doe",
                                                        "AddressLine1": "300 Turnbull Ave",
                                                        "Email": "jdoeasdfllkj@yahoo.com",
                                                        "City": "Detroit",
                                                        "StateOrProvinceCode": "MI",
                                                        "PostalCode": "48123",
                                                        "CountryCode": "US",
                                                        "Phone": "7132341234"
                                                    },
                                                    "OrderId": "903-5563053-5647845"
                                                }
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "ShipmentLevelFields": [
                                                {
                                                    "AdditionalInputFieldName": "John Doe"
                                                }
                                            ],
                                            "ItemLevelFieldsList": [
                                                {
                                                    "Asin": "ASIN_ID_200",
                                                    "AdditionalInputs": []
                                                }
                                            ]
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAdditionalSellerInputsResponse"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "body": {
                                                "value": {
                                                    "ShippingServiceId": "UPS_PTP_GND",
                                                    "ShipFromAddress": {
                                                        "Name": "John Doe",
                                                        "AddressLine1": "300 Turnbull Ave",
                                                        "Email": "jdoeasdfllkj@yahoo.com",
                                                        "City": "Detroit",
                                                        "StateOrProvinceCode": "MI",
                                                        "PostalCode": "48123",
                                                        "CountryCode": "XX",
                                                        "Phone": "7132341234"
                                                    },
                                                    "OrderId": "901-5563053-5647845"
                                                }
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Invalid Ship From Address when calling GetAdditionalSellerInputs",
                                                "details": ""
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAdditionalSellerInputsResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAdditionalSellerInputsResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The specified resource does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAdditionalSellerInputsResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAdditionalSellerInputsResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAdditionalSellerInputsResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAdditionalSellerInputsResponse"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body"
            }
        }
    },
    "components": {
        "schemas": {
            "Error": {
                "required": [
                    "code",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "An error code that identifies the type of error that occured."
                    },
                    "message": {
                        "type": "string",
                        "description": "A message that describes the error condition in a human-readable form."
                    },
                    "details": {
                        "type": "string",
                        "description": "Additional details that can help the caller understand or fix the issue."
                    }
                },
                "description": "Error response returned when the request is unsuccessful."
            },
            "ErrorList": {
                "required": [
                    "errors"
                ],
                "type": "object",
                "description": "A list of error responses returned when a request is unsuccessful.",
                "properties": {
                    "errors": {
                        "type": "array",
                        "description": "A list of error responses returned when a request is unsuccessful.",
                        "items": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            },
            "LabelFormatOptionRequest": {
                "type": "object",
                "properties": {
                    "IncludePackingSlipWithLabel": {
                        "type": "boolean",
                        "description": "When true, include a packing slip with the label."
                    }
                },
                "description": "Whether to include a packing slip."
            },
            "LabelFormatOption": {
                "type": "object",
                "properties": {
                    "IncludePackingSlipWithLabel": {
                        "type": "boolean",
                        "description": "When true, include a packing slip with the label."
                    },
                    "LabelFormat": {
                        "$ref": "#/components/schemas/LabelFormat"
                    }
                },
                "description": "The label format details and whether to include a packing slip."
            },
            "AvailableCarrierWillPickUpOption": {
                "required": [
                    "CarrierWillPickUpOption",
                    "Charge"
                ],
                "type": "object",
                "properties": {
[...]
