{
    "openapi": "3.0.1",
    "info": {
        "title": "Selling Partner API for Replenishment",
        "description": "The Selling Partner API for Replenishment (Replenishment API) provides programmatic access to replenishment program metrics and offers. These programs provide recurring delivery of any replenishable item at a frequency chosen by the customer.\n\nThe Replenishment API is available worldwide wherever Amazon Subscribe & Save is available or is supported. The API is available to vendors and FBA selling partners.",
        "contact": {
            "name": "Selling Partner API Developer Support",
            "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
        },
        "license": {
            "name": "Apache License 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "2022-11-07"
    },
    "servers": [
        {
            "url": "https://sellingpartnerapi-na.amazon.com/"
        }
    ],
    "paths": {
        "/replenishment/2022-11-07/sellingPartners/metrics/search": {
            "post": {
                "tags": [
                    "ReplenishmentV20221107"
                ],
                "description": "Returns aggregated replenishment program metrics for a selling partner. \n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 1 | 1 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "getSellingPartnerMetrics",
                "requestBody": {
                    "description": "The request body for the `getSellingPartnerMetrics` operation.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetSellingPartnerMetricsRequest"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetSellingPartnerMetricsResponse"
                                },
                                "example": {
                                    "metrics": [
                                        {
                                            "subscriberAverageRevenue": 125.93,
                                            "nonSubscriberAverageRevenue": 73.62,
                                            "shippedSubscriptionUnits": 5290,
                                            "notDeliveredDueToOOS": 5.54,
                                            "totalSubscriptionsRevenue": 131340.24,
                                            "activeSubscriptions": 0,
                                            "lostRevenueDueToOOS": 38493.29,
                                            "subscriberAverageReorders": 3.25,
                                            "nonSubscriberAverageReorders": 1.11,
                                            "couponsRevenuePenetration": 0,
                                            "currencyCode": "USD",
                                            "timeInterval": {
                                                "endDate": "2023-05-09T22:36:56Z",
                                                "startDate": "2022-05-09T22:36:56Z"
                                            }
                                        }
                                    ]
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "body": {
                                                "value": {
                                                    "aggregationFrequency": "YEAR",
                                                    "timeInterval": {
                                                        "startDate": "2022-01-01T00:00:00Z",
                                                        "endDate": "2022-12-31T00:00:00Z"
                                                    },
                                                    "metrics": [
                                                        "TOTAL_SUBSCRIPTIONS_REVENUE"
                                                    ],
                                                    "timePeriodType": "PERFORMANCE",
                                                    "marketplaceId": "ATVPDKIKX0DER",
                                                    "programTypes": [
                                                        "SUBSCRIBE_AND_SAVE"
                                                    ]
                                                }
                                            }
                                        }
                                    },
                                    "response": {
                                        "metrics": [
                                            {
                                                "subscriberAverageRevenue": 125.93,
                                                "nonSubscriberAverageRevenue": 73.62,
                                                "shippedSubscriptionUnits": 5290,
                                                "notDeliveredDueToOOS": 5.54,
                                                "totalSubscriptionsRevenue": 131340.24,
                                                "activeSubscriptions": 0,
                                                "lostRevenueDueToOOS": 38493.29,
                                                "subscriberAverageReorders": 3.25,
                                                "nonSubscriberAverageReorders": 1.11,
                                                "couponsRevenuePenetration": 0,
                                                "currencyCode": "USD",
                                                "timeInterval": {
                                                    "endDate": "2023-05-09T22:36:56Z",
                                                    "startDate": "2022-05-09T22:36:56Z"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "body": {
                                                "value": {
                                                    "aggregationFrequency": "DAY",
                                                    "timeInterval": {
                                                        "startDate": "2022-01-01T00:00:00Z",
                                                        "endDate": "2023-01-01T00:00:00Z"
                                                    },
                                                    "metrics": [
                                                        "SHIPPED_SUBSCRIPTION_UNITS",
                                                        "TOTAL_SUBSCRIPTIONS_REVENUE",
                                                        "NOT_DELIVERED_DUE_TO_OOS",
                                                        "ACTIVE_SUBSCRIPTIONS",
                                                        "SUBSCRIBER_NON_SUBSCRIBER_AVERAGE_REVENUE",
                                                        "LOST_REVENUE_DUE_TO_OOS",
                                                        "SUBSCRIBER_NON_SUBSCRIBER_AVERAGE_REORDERS",
                                                        "COUPONS_REVENUE_PENETRATION"
                                                    ],
                                                    "timePeriodType": "PERFORMANCE",
                                                    "marketplaceId": "ATVPDKIKX0DER",
                                                    "programTypes": [
                                                        "SUBSCRIBE_AND_SAVE"
                                                    ]
                                                }
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Unsupported aggregationFrequency is provided. Only WEEK, MONTH, QUARTER and YEAR are supported"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The specified resource does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body"
            }
        },
        "/replenishment/2022-11-07/offers/metrics/search": {
            "post": {
                "tags": [
                    "ReplenishmentV20221107"
                ],
                "description": "Returns aggregated replenishment program metrics for a selling partner's offers.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 1 | 1 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "listOfferMetrics",
                "requestBody": {
                    "description": "The request body for the `listOfferMetrics` operation.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ListOfferMetricsRequest"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListOfferMetricsResponse"
                                },
                                "example": {
                                    "offers": [
                                        {
                                            "notDeliveredDueToOOS": 30.78,
                                            "shippedSubscriptionUnits": 20,
                                            "totalSubscriptionsRevenue": 12.89,
                                            "asin": "B000TMUDOW",
                                            "revenuePenetration": 10.34,
                                            "lostRevenueDueToOOS": 12.32,
                                            "couponsRevenuePenetration": 10,
                                            "timeInterval": {
                                                "endDate": "2023-03-11T00:00:00Z",
                                                "startDate": "2023-03-05T00:00:00Z"
                                            },
                                            "currencyCode": "USD"
                                        },
                                        {
                                            "notDeliveredDueToOOS": 40.78,
                                            "shippedSubscriptionUnits": 40,
                                            "totalSubscriptionsRevenue": 34.03,
                                            "asin": "B004CLH5CY",
                                            "revenuePenetration": 9.87,
                                            "lostRevenueDueToOOS": 17.82,
                                            "couponsRevenuePenetration": 17,
                                            "timeInterval": {
                                                "endDate": "2023-03-11T00:00:00Z",
                                                "startDate": "2023-03-05T00:00:00Z"
                                            },
                                            "currencyCode": "USD"
                                        }
                                    ],
                                    "pagination": {
                                        "totalResults": 17
                                    }
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "body": {
                                                "value": {
                                                    "filters": {
                                                        "aggregationFrequency": "YEAR",
                                                        "timeInterval": {
                                                            "startDate": "2022-01-01T00:00:00Z",
                                                            "endDate": "2022-12-31T00:00:00Z"
                                                        },
                                                        "marketplaceId": "ATVPDKIKX0DER",
                                                        "programTypes": [
                                                            "SUBSCRIBE_AND_SAVE"
                                                        ],
                                                        "timePeriodType": "PERFORMANCE",
                                                        "asins": [
                                                            "B07CYBR5GZ",
                                                            "B07CYJJW8H"
                                                        ]
                                                    },
                                                    "pagination": {
                                                        "limit": 2,
                                                        "offset": 0
                                                    },
                                                    "sort": {
                                                        "order": "ASC",
                                                        "key": "TOTAL_SUBSCRIPTIONS_REVENUE"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "response": {
                                        "offers": [
                                            {
                                                "asin": "B07CYBR5GZ",
                                                "notDeliveredDueToOOS": 10.2,
                                                "totalSubscriptionsRevenue": 100.45,
                                                "revenuePenetration": 23.6,
                                                "shippedSubscriptionUnits": 100,
                                                "activeSubscriptions": 100,
                                                "lostRevenueDueToOOS": 12.32,
                                                "couponsRevenuePenetration": 10,
                                                "timeInterval": {
                                                    "startDate": "2022-01-01T00:00:00Z",
                                                    "endDate": "2022-12-31T00:00:00Z"
                                                },
                                                "currencyCode": "USD"
                                            },
                                            {
                                                "asin": "B07CYJJW8H",
                                                "notDeliveredDueToOOS": 12.78,
                                                "totalSubscriptionsRevenue": 80.11,
                                                "revenuePenetration": 35.9,
                                                "shippedSubscriptionUnits": 100,
                                                "activeSubscriptions": 100,
                                                "lostRevenueDueToOOS": 17.82,
                                                "couponsRevenuePenetration": 17,
                                                "timeInterval": {
                                                    "startDate": "2022-01-01T00:00:00Z",
                                                    "endDate": "2022-12-31T00:00:00Z"
                                                },
                                                "currencyCode": "USD"
                                            }
                                        ],
                                        "pagination": {
                                            "totalResults": 17
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "body": {
                                                "value": {
                                                    "filters": {
                                                        "aggregationFrequency": "DAY",
                                                        "timeInterval": {
                                                            "startDate": "2022-01-01T00:00:00Z",
                                                            "endDate": "2022-12-31T00:00:00Z"
                                                        },
                                                        "marketplaceId": "ATVPDKIKX0DER",
                                                        "programTypes": [
                                                            "SUBSCRIBE_AND_SAVE"
                                                        ],
                                                        "timePeriodType": "PERFORMANCE",
                                                        "asins": [
                                                            "B07CYBR5GZ"
                                                        ]
                                                    },
                                                    "pagination": {
                                                        "limit": 1,
                                                        "offset": 0
                                                    },
                                                    "sort": {
                                                        "order": "ASC",
                                                        "key": "TOTAL_SUBSCRIPTIONS_REVENUE"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Unsupported aggregationFrequency is provided. Only WEEK, MONTH, QUARTER and YEAR are supported"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The specified resource does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body"
            }
        },
        "/replenishment/2022-11-07/offers/search": {
            "post": {
                "tags": [
                    "ReplenishmentV20221107"
                ],
                "description": "Returns the details of a selling partner's replenishment program offers.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 1 | 1 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "listOffers",
                "requestBody": {
                    "description": "The request body for the `listOffers` operation.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ListOffersRequest"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListOffersResponse"
                                },
                                "example": {
                                    "offers": [
                                        {
                                            "marketplaceId": "ATVPDKIKX0DER",
                                            "offerProgramConfiguration": {
                                                "preferences": {
                                                    "autoEnrollment": "OPTED_IN"
                                                },
                                                "promotions": {
                                                    "sellingPartnerFundedBaseDiscount": {
                                                        "percentage": 5
                                                    },
                                                    "sellingPartnerFundedTieredDiscount": {
                                                        "percentage": 0
                                                    },
                                                    "amazonFundedBaseDiscount": {
                                                        "percentage": 5
                                                    },
                                                    "amazonFundedTieredDiscount": {
                                                        "percentage": 10
                                                    }
                                                },
                                                "enrollmentMethod": "AUTOMATIC"
                                            },
                                            "programType": "SUBSCRIBE_AND_SAVE",
                                            "eligibility": "ELIGIBLE",
                                            "asin": "B09KR5B7FH",
                                            "sku": "SKU_OPTED_IN"
                                        }
                                    ],
                                    "pagination": {
                                        "totalResults": 1
                                    }
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "body": {
                                                "value": {
                                                    "filters": {
                                                        "eligibilities": [
                                                            "ELIGIBLE"
                                                        ],
                                                        "marketplaceId": "ATVPDKIKX0DER",
                                                        "programTypes": [
                                                            "SUBSCRIBE_AND_SAVE"
                                                        ],
                                                        "preferences": {
                                                            "autoEnrollment": [
                                                                "OPTED_IN",
                                                                "OPTED_OUT"
                                                            ]
                                                        },
                                                        "promotions": {
                                                            "sellingPartnerFundedTieredDiscount": {
                                                                "percentage": [
                                                                    0,
                                                                    5,
                                                                    10
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "pagination": {
                                                        "limit": 25,
                                                        "offset": 0
                                                    },
                                                    "sort": {
                                                        "order": "ASC",
                                                        "key": "ASIN"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "response": {
                                        "offers": [
                                            {
                                                "asin": "B07CYBR5GZ",
                                                "marketplaceId": "ATVPDKIKX0DER",
                                                "sku": "TEST_SKU_A",
                                                "eligibility": "ELIGIBLE",
                                                "vendorCodes": [
                                                    "ABCDE",
                                                    "PQRST"
                                                ],
                                                "offerProgramConfiguration": {
                                                    "preferences": {
                                                        "autoEnrollment": "OPTED_IN"
                                                    },
                                                    "promotions": {
                                                        "sellingPartnerFundedBaseDiscount": {
                                                            "percentage": 0
                                                        },
                                                        "sellingPartnerFundedTieredDiscount": {
                                                            "percentage": 5
                                                        },
                                                        "amazonFundedBaseDiscount": {
                                                            "percentage": 10
                                                        },
                                                        "amazonFundedTieredDiscount": {
                                                            "percentage": 15
                                                        }
                                                    },
                                                    "enrollmentMethod": "AUTOMATIC"
                                                },
                                                "programType": "SUBSCRIBE_AND_SAVE"
                                            },
                                            {
                                                "asin": "B07CYCR5GZ",
                                                "marketplaceId": "ATVPDKIKX0DER",
                                                "sku": "TEST_SKU_A",
                                                "eligibility": "ELIGIBLE",
                                                "vendorCodes": [
                                                    "ABCDE",
                                                    "PQRST"
                                                ],
                                                "offerProgramConfiguration": {
                                                    "preferences": {
                                                        "autoEnrollment": "OPTED_IN"
                                                    },
                                                    "promotions": {
                                                        "sellingPartnerFundedBaseDiscount": {
                                                            "percentage": 5
                                                        },
                                                        "sellingPartnerFundedTieredDiscount": {
                                                            "percentage": 0
                                                        },
                                                        "amazonFundedBaseDiscount": {
                                                            "percentage": 5
                                                        },
                                                        "amazonFundedTieredDiscount": {
                                                            "percentage": 10
                                                        }
                                                    },
                                                    "enrollmentMethod": "AUTOMATIC"
                                                },
                                                "programType": "SUBSCRIBE_AND_SAVE"
                                            }
                                        ],
                                        "pagination": {
                                            "totalResults": 2
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "body": {
                                                "value": {
                                                    "filters": {
                                                        "eligibilities": [
                                                            "BAD_VALUE"
                                                        ],
                                                        "marketplaceId": "ATVPDKIKX0DER",
                                                        "programTypes": [
                                                            "SUBSCRIBE_AND_SAVE"
                                                        ]
                                                    },
                                                    "pagination": {
                                                        "limit": 25,
                                                        "offset": 0
                                                    },
                                                    "sort": {
                                                        "order": "ASC",
                                                        "key": "ASIN"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Unsupported eligibility is provided. Only ELIGIBLE, INELIGIBLE, SUSPENDED and REPLENISHMENT_ONLY_ORDERING are supported"
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The specified resource does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body"
            }
        }
    },
    "components": {
        "schemas": {
            "GetSellingPartnerMetricsRequest": {
                "required": [
                    "marketplaceId",
                    "programTypes",
                    "timeInterval",
                    "timePeriodType"
                ],
                "type": "object",
                "properties": {
                    "aggregationFrequency": {
                        "$ref": "#/components/schemas/AggregationFrequency"
                    },
                    "timeInterval": {
                        "$ref": "#/components/schemas/TimeInterval"
                    },
                    "metrics": {
                        "minItems": 1,
                        "uniqueItems": true,
                        "type": "array",
                        "description": "The list of metrics requested. If no metric value is provided, data for all of the metrics will be returned.",
                        "items": {
                            "$ref": "#/components/schemas/Metric"
                        }
                    },
                    "timePeriodType": {
                        "$ref": "#/components/schemas/TimePeriodType"
                    },
                    "marketplaceId": {
                        "$ref": "#/components/schemas/MarketplaceId"
                    },
                    "programTypes": {
                        "$ref": "#/components/schemas/ProgramTypes"
                    }
                },
                "description": "The request body for the `getSellingPartnerMetrics` operation."
            },
            "ListOfferMetricsRequest": {
                "required": [
                    "filters",
                    "pagination"
                ],
                "type": "object",
                "properties": {
                    "pagination": {
                        "$ref": "#/components/schemas/ListOfferMetricsRequestPagination"
                    },
                    "sort": {
                        "$ref": "#/components/schemas/ListOfferMetricsRequestSort"
                    },
                    "filters": {
                        "$ref": "#/components/schemas/ListOfferMetricsRequestFilters"
                    }
                },
                "description": "The request body for the `listOfferMetrics` operation."
            },
            "ListOffersRequest": {
                "required": [
                    "filters",
                    "pagination"
                ],
                "type": "object",
                "properties": {
                    "pagination": {
                        "$ref": "#/components/schemas/ListOffersRequestPagination"
                    },
                    "filters": {
                        "$ref": "#/components/schemas/ListOffersRequestFilters"
                    },
                    "sort": {
                        "$ref": "#/components/schemas/ListOffersRequestSort"
                    }
                },
                "description": "The request body for the `listOffers` operation."
            },
            "EligibilityStatus": {
                "type": "string",
                "description": "The current eligibility status of an offer.",
                "enum": [
                    "ELIGIBLE",
                    "INELIGIBLE",
                    "SUSPENDED",
                    "REPLENISHMENT_ONLY_ORDERING"
                ],
                "x-docgen-enum-table-extension": [
                    {
                        "value": "ELIGIBLE",
                        "description": "The offer is able to fulfill current subscriptions and add new subscriptions."
                    },
                    {
                        "value": "INELIGIBLE",
                        "description": "The offer will not be able to add new subscriptions and existing subscriptions will be cancelled."
                    },
                    {
                        "value": "SUSPENDED",
                        "description": "The offer will not be able to add new subscriptions but existing subscriptions will be fulfilled."
                    },
                    {
                        "value": "REPLENISHMENT_ONLY_ORDERING",
                        "description": "The offer will not be able to add new subscriptions but existing subscriptions will be fulfilled. This eligibility status also blocks one-time purchases to preserve inventory for existing subscriptions."
                    }
                ]
            },
            "Preference": {
                "type": "object",
                "properties": {
                    "autoEnrollment": {
                        "minItems": 1,
                        "uniqueItems": true,
                        "type": "array",
                        "description": "Filters the results to only include offers with the auto-enrollment preference specified.",
                        "items": {
                            "$ref": "#/components/schemas/AutoEnrollmentPreference"
                        }
                    }
                },
                "description": "Offer preferences that you can include in the result filter criteria."
            },
            "Promotion": {
                "type": "object",
                "properties": {
                    "sellingPartnerFundedBaseDiscount": {
                        "$ref": "#/components/schemas/DiscountFunding"
                    },
                    "sellingPartnerFundedTieredDiscount": {
                        "$ref": "#/components/schemas/DiscountFunding"
                    },
                    "amazonFundedBaseDiscount": {
                        "$ref": "#/components/schemas/DiscountFunding"
                    },
                    "amazonFundedTieredDiscount": {
                        "$ref": "#/components/schemas/DiscountFunding"
                    }
                },
                "description": "Offer promotions to include in the result filter criteria."
            },
            "DiscountFunding": {
                "type": "object",
                "properties": {
                    "percentage": {
                        "maxItems": 10,
                        "minItems": 1,
                        "uniqueItems": true,
                        "type": "array",
                        "description": "Filters the results to only include offers with the percentage specified.",
                        "items": {
                            "maximum": 100,
                            "minimum": 0,
                            "type": "number",
                            "format": "int64"
                        }
                    }
                },
                "description": "The discount funding on the offer."
            },
            "OfferProgramConfiguration": {
                "type": "object",
                "properties": {
                    "preferences": {
                        "$ref": "#/components/schemas/OfferProgramConfigurationPreferences"
                    },
                    "promotions": {
                        "$ref": "#/components/schemas/OfferProgramConfigurationPromotions"
                    },
                    "enrollmentMethod": {
                        "$ref": "#/components/schemas/EnrollmentMethod"
                    }
                },
                "description": "The offer program configuration contains a set of program properties for an offer."
            },
            "OfferProgramConfigurationPreferences": {
                "type": "object",
                "properties": {
                    "autoEnrollment": {
                        "$ref": "#/components/schemas/AutoEnrollmentPreference"
                    }
                },
                "description": "An object which contains the preferences applied to the offer."
            },
            "OfferProgramConfigurationPromotions": {
                "type": "object",
                "properties": {
                    "sellingPartnerFundedBaseDiscount": {
                        "$ref": "#/components/schemas/OfferProgramConfigurationPromotionsDiscountFunding"
                    },
                    "sellingPartnerFundedTieredDiscount": {
                        "$ref": "#/components/schemas/OfferProgramConfigurationPromotionsDiscountFunding"
                    },
                    "amazonFundedBaseDiscount": {
                        "$ref": "#/components/schemas/OfferProgramConfigurationPromotionsDiscountFunding"
                    },
                    "amazonFundedTieredDiscount": {
                        "$ref": "#/components/schemas/OfferProgramConfigurationPromotionsDiscountFunding"
                    }
                },
                "description": "An object which represents all promotions applied to an offer."
            },
            "OfferProgramConfigurationPromotionsDiscountFunding": {
                "type": "object",
                "properties": {
                    "percentage": {
                        "maximum": 100,
                        "minimum": 0,
                        "type": "number",
                        "description": "The percentage discount on the offer.",
                        "format": "int64"
                    }
                },
                "description": "A promotional percentage discount applied to the offer."
            },
            "ListOfferMetricsRequestPagination": {
                "required": [
                    "limit",
                    "offset"
                ],
                "type": "object",
                "properties": {
                    "limit": {
                        "maximum": 500,
                        "minimum": 1,
                        "type": "integer",
                        "description": "The maximum number of results to return in the response.",
                        "format": "int64"
                    },
                    "offset": {
                        "maximum": 9000,
                        "minimum": 0,
                        "type": "integer",
                        "description": "The offset from which to retrieve the number of results specified by the `limit` value. The first result is at offset 0.",
                        "format": "int64"
                    }
                },
                "description": "Use these parameters to paginate through the response."
            },
            "AutoEnrollmentPreference": {
                "type": "string",
                "description": "The auto-enrollment preference indicates whether the offer is opted-in to or opted-out of Amazon's auto-enrollment feature.",
                "enum": [
                    "OPTED_IN",
                    "OPTED_OUT"
                ],
                "x-docgen-enum-table-extension": [
                    {
                        "value": "OPTED_IN",
                        "description": "The offer is opted-in to the auto-enrollment program."
                    },
                    {
                        "value": "OPTED_OUT",
                        "description": "The offer is opted-out to the auto-enrollment program."
                    }
                ]
            },
            "ProgramTypes": {
                "minItems": 1,
                "uniqueItems": true,
                "type": "array",
                "description": "A list of replenishment program types.",
                "items": {
                    "$ref": "#/components/schemas/ProgramType"
                }
            },
            "ProgramType": {
                "type": "string",
                "description": "The replenishment program type.",
                "enum": [
                    "SUBSCRIBE_AND_SAVE"
                ],
                "x-docgen-enum-table-extension": [
                    {
                        "value": "SUBSCRIBE_AND_SAVE",
                        "description": "Subscribe And Save Program."
                    }
                ]
            },
            "EnrollmentMethod": {
                "type": "string",
                "description": "The enrollment method used to enroll the offer into the program.",
                "enum": [
                    "MANUAL",
                    "AUTOMATIC"
                ],
                "x-docgen-enum-table-extension": [
                    {
                        "value": "MANUAL",
                        "description": "Offer was manually enrolled in the program."
                    },
                    {
                        "value": "AUTOMATIC",
                        "description": "Offer was automatically enrolled in the program."
                    }
                ]
            },
            "ListOfferMetricsRequestFilters": {
                "required": [
                    "marketplaceId",
                    "programTypes",
                    "timeInterval",
                    "timePeriodType"
                ],
                "type": "object",
                "properties": {
                    "aggregationFrequency": {
                        "$ref": "#/components/schemas/AggregationFrequency"
                    },
                    "timeInterval": {
                        "$ref": "#/components/schemas/TimeInterval"
                    },
                    "timePeriodType": {
                        "$ref": "#/components/schemas/TimePeriodType"
                    },
                    "marketplaceId": {
                        "$ref": "#/components/schemas/MarketplaceId"
                    },
                    "programTypes": {
                        "$ref": "#/components/schemas/ProgramTypes"
                    },
                    "asins": {
                        "maxItems": 20,
                        "minItems": 1,
                        "uniqueItems": true,
                        "type": "array",
                        "description": "A list of Amazon Standard Identification Numbers (ASINs).",
                        "items": {
                            "type": "string",
                            "description": "Amazon Standard Identification Number."
                        }
                    }
                },
                "description": "Use these parameters to filter results. Any result must match all provided parameters. For any parameter that is an array, the result must match at least one element in the provided array."
            },
            "ListOfferMetricsRequestSort": {
                "required": [
                    "key",
                    "order"
                ],
                "type": "object",
                "properties": {
                    "order": {
                        "$ref": "#/components/schemas/SortOrder"
                    },
                    "key": {
                        "$ref": "#/components/schemas/ListOfferMetricsSortKey"
                    }
                },
                "description": "Use these parameters to sort the response."
            },
            "ListOfferMetricsSortKey": {
                "type": "string",
                "description": "The attribute to use to sort the results.",
                "enum": [
                    "SHIPPED_SUBSCRIPTION_UNITS",
                    "TOTAL_SUBSCRIPTIONS_REVENUE",
                    "ACTIVE_SUBSCRIPTIONS",
                    "NEXT_90DAYS_SHIPPED_SUBSCRIPTION_UNITS",
                    "NEXT_60DAYS_SHIPPED_SUBSCRIPTION_UNITS",
                    "NEXT_30DAYS_SHIPPED_SUBSCRIPTION_UNITS",
                    "NEXT_90DAYS_TOTAL_SUBSCRIPTIONS_REVENUE",
                    "NEXT_60DAYS_TOTAL_SUBSCRIPTIONS_REVENUE",
                    "NEXT_30DAYS_TOTAL_SUBSCRIPTIONS_REVENUE"
                ],
                "x-docgen-enum-table-extension": [
                    {
                        "value": "SHIPPED_SUBSCRIPTION_UNITS",
                        "description": "The number of units shipped to the subscribers over a period of time. Applicable only for the `PERFORMANCE` `timePeriodType`."
                    },
                    {
                        "value": "TOTAL_SUBSCRIPTIONS_REVENUE",
                        "description": "The revenue generated from subscriptions over a period of time. Applicable only for the `PERFORMANCE` `timePeriodType`."
                    },
                    {
                        "value": "ACTIVE_SUBSCRIPTIONS",
                        "description": "The number of active subscriptions present at the end of the period. Applicable only for the `PERFORMANCE` `timePeriodType`."
                    },
                    {
                        "value": "NEXT_90DAYS_SHIPPED_SUBSCRIPTION_UNITS",
                        "description": "The forecasted shipped subscription units for the next 90 days. Applicable only for the `FORECAST` `timePeriodType`."
                    },
                    {
                        "value": "NEXT_60DAYS_SHIPPED_SUBSCRIPTION_UNITS",
                        "description": "The forecasted shipped subscription units for the next 60 days. Applicable only for the `FORECAST` `timePeriodType`."
                    },
                    {
                        "value": "NEXT_30DAYS_SHIPPED_SUBSCRIPTION_UNITS",
                        "description": "The forecasted shipped subscription units for the next 30 days. Applicable only for the `FORECAST` `timePeriodType`."
                    },
                    {
                        "value": "NEXT_90DAYS_TOTAL_SUBSCRIPTIONS_REVENUE",
                        "description": "The forecasted total subscription revenue for the next 90 days. Applicable only for the `FORECAST` `timePeriodType`."
                    },
                    {
                        "value": "NEXT_60DAYS_TOTAL_SUBSCRIPTIONS_REVENUE",
                        "description": "The forecasted total subscription revenue for the next 60 days. Applicable only for the `FORECAST` `timePeriodType`."
                    },
                    {
                        "value": "NEXT_30DAYS_TOTAL_SUBSCRIPTIONS_REVENUE",
                        "description": "The forecasted total subscription revenue for the next 30 days. Applicable only for the `FORECAST` `timePeriodType`."
                    }
                ]
            },
            "ListOffersRequestPagination": {
                "required": [
                    "limit",
                    "offset"
                ],
                "type": "object",
                "properties": {
                    "limit": {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "description": "The maximum number of results to return in the response.",
                        "format": "int64"
                    },
                    "offset": {
                        "maximum": 9000,
                        "minimum": 0,
                        "type": "integer",
                        "description": "The offset from which to retrieve the number of results specified by the `limit` value. The first result is at offset 0.",
                        "format": "int64"
                    }
                },
                "description": "Use these parameters to paginate through the response."
            },
            "ListOffersRequestFilters": {
                "required": [
                    "marketplaceId",
                    "programTypes"
                ],
                "type": "object",
                "properties": {
                    "marketplaceId": {
                        "$ref": "#/components/schemas/MarketplaceId"
                    },
                    "skus": {
                        "maxItems": 20,
                        "minItems": 1,
                        "uniqueItems": true,
                        "type": "array",
                        "description": "A list of SKUs to filter. This filter is only supported for sellers and not for vendors.",
                        "items": {
                            "type": "string",
                            "description": "Sku."
                        }
                    },
                    "asins": {
                        "maxItems": 20,
                        "minItems": 1,
                        "uniqueItems": true,
                        "type": "array",
                        "description": "A list of Amazon Standard Identification Numbers (ASINs).",
                        "items": {
                            "type": "string",
                            "description": "Amazon Standard Identification Number (ASIN)."
                        }
                    },
                    "eligibilities": {
                        "minItems": 1,
                        "uniqueItems": true,
                        "type": "array",
                        "description": "A list of eligibilities associated with an offer.",
                        "items": {
                            "$ref": "#/components/schemas/EligibilityStatus"
                        }
                    },
                    "preferences": {
                        "$ref": "#/components/schemas/Preference"
                    },
                    "promotions": {
                        "$ref": "#/components/schemas/Promotion"
                    },
                    "programTypes": {
                        "$ref": "#/components/schemas/ProgramTypes"
                    }
                },
                "description": "Use these parameters to filter results. Any result must match all of the provided parameters. For any parameter that is an array, the result must match at least one element in the provided array."
            },
            "ListOffersRequestSort": {
                "required": [
                    "key",
                    "order"
                ],
                "type": "object",
                "properties": {
                    "order": {
                        "$ref": "#/components/schemas/SortOrder"
                    },
                    "key": {
                        "$ref": "#/components/schemas/ListOffersSortKey"
                    }
                },
                "description": "Use these parameters to sort the response."
            },
            "ListOffersSortKey": {
                "type": "string",
                "description": "The attribute to use to sort the results.",
                "enum": [
                    "ASIN",
                    "SELLING_PARTNER_FUNDED_BASE_DISCOUNT_PERCENTAGE",
                    "SELLING_PARTNER_FUNDED_TIERED_DISCOUNT_PERCENTAGE",
                    "AMAZON_FUNDED_BASE_DISCOUNT_PERCENTAGE",
                    "AMAZON_FUNDED_TIERED_DISCOUNT_PERCENTAGE"
                ],
                "x-docgen-enum-table-extension": [
                    {
                        "value": "ASIN",
                        "description": "Sort the offers on the Amazon Standard Identification Number (ASIN)."
                    },
                    {
                        "value": "SELLING_PARTNER_FUNDED_BASE_DISCOUNT_PERCENTAGE",
                        "description": "Sort the offers on the base discount percentage set by the selling partner on the offer."
                    },
                    {
                        "value": "SELLING_PARTNER_FUNDED_TIERED_DISCOUNT_PERCENTAGE",
                        "description": "Sort the offers on the tiered discount percentage set by the selling partner on the offer."
                    },
                    {
                        "value": "AMAZON_FUNDED_BASE_DISCOUNT_PERCENTAGE",
                        "description": "Sort the offers on the base discount percentage set by Amazon on the offer."
                    },
                    {
                        "value": "AMAZON_FUNDED_TIERED_DISCOUNT_PERCENTAGE",
                        "description": "Sort the offers on the tiered discount percentage set by Amazon on the offer."
                    }
                ]
            },
            "MarketplaceId": {
                "type": "string",
                "description": "The marketplace identifier. The supported marketplaces for both sellers and vendors are US, CA, ES, UK, FR, IT, IN, DE and JP. The supported marketplaces for vendors only are BR, AU, MX, AE and NL. Refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids) to find the identifier for the marketplace."
            },
            "AggregationFrequency": {
                "type": "string",
                "description": "The time period used to group data in the response. Note that this is only valid for the `PERFORMANCE` time period type.",
                "enum": [
                    "WEEK",
                    "MONTH",
                    "QUARTER",
                    "YEAR"
                ],
                "x-docgen-enum-table-extension": [
                    {
                        "value": "WEEK",
                        "description": "ISO Calendar Week."
                    },
                    {
                        "value": "MONTH",
                        "description": "ISO Calendar Month."
                    },
                    {
                        "value": "QUARTER",
                        "description": "ISO Calendar Quarter."
                    },
                    {
                        "value": "YEAR",
                        "description": "ISO Calendar Year."
                    }
                ]
            },
            "TimeInterval": {
                "required": [
                    "endDate",
                    "startDate"
                ],
                "type": "object",
                "properties": {
                    "startDate": {
                        "type": "string",
                        "description": "When this object is used as a request parameter, the specified `startDate` is adjusted based on the aggregation frequency.\n\n* For `WEEK` the metric is computed from the first day of the week (Sunday, based on ISO 8601) that contains the `startDate`.\n* For `MONTH` the metric is computed from the first day of the month that contains the `startDate`.\n* For `QUARTER` the metric is computed from the first day of the quarter that contains the `startDate`.\n* For `YEAR` the metric is computed from the first day of the year that contains the `startDate`.",
                        "format": "date-time"
                    },
                    "endDate": {
                        "type": "string",
                        "description": "When this object is used as a request parameter, the specified `endDate` is adjusted based on the aggregation frequency.\n\n* For `WEEK` the metric is computed up to the last day of the week (Sunday, based on ISO 8601) that contains the `endDate`.\n* For `MONTH`, the metric is computed up to the last day that contains the `endDate`.\n* For `QUARTER` the metric is computed up to the last day of the quarter that contains the `endDate`.\n* For `YEAR` the metric is computed up to the last day of the year that contains the `endDate`.\n Note: The end date may be adjusted to a lower value based on the data available in our system.",
                        "format": "date-time"
                    }
                },
                "description": "A date-time interval in ISO 8601 format which is used to compute metrics. Only the date is required, but you must pass the complete date and time value. For example, November 11, 2022 should be passed as \"2022-11-07T00:00:00Z\". Note that only data for the trailing 2 years is supported.\n\n **Note**: The `listOfferMetrics` operation only supports a time interval which covers a single unit of the aggregation frequency. For example, for a MONTH aggregation frequency, the duration of the interval between the startDate and endDate can not be more than 1 month."
            },
            "Metric": {
                "type": "string",
                "description": "The metric name and description.",
                "enum": [
                    "SHIPPED_SUBSCRIPTION_UNITS",
                    "TOTAL_SUBSCRIPTIONS_REVENUE",
                    "ACTIVE_SUBSCRIPTIONS",
                    "NOT_DELIVERED_DUE_TO_OOS",
                    "SUBSCRIBER_NON_SUBSCRIBER_AVERAGE_REVENUE",
                    "LOST_REVENUE_DUE_TO_OOS",
                    "SUBSCRIBER_NON_SUBSCRIBER_AVERAGE_REORDERS",
                    "COUPONS_REVENUE_PENETRATION"
                ],
                "x-docgen-enum-table-extension": [
                    {
                        "value": "SHIPPED_SUBSCRIPTION_UNITS",
                        "description": "The number of units shipped to the subscribers over a period of time."
                    },
                    {
                        "value": "TOTAL_SUBSCRIPTIONS_REVENUE",
                        "description": "The revenue generated from subscriptions over a period of time."
                    },
                    {
                        "value": "ACTIVE_SUBSCRIPTIONS",
                        "description": "The number of active subscriptions present at the end of the period."
                    },
                    {
                        "value": "NOT_DELIVERED_DUE_TO_OOS",
                        "description": "The percentage of items that were not shipped out of the total shipped units over a period of time due to being out of stock."
                    },
                    {
                        "value": "SUBSCRIBER_NON_SUBSCRIBER_AVERAGE_REVENUE",
                        "description": "The average revenue per subscriber and non-subscriber over the past 12 months for sellers and 6 months for vendors."
                    },
                    {
                        "value": "LOST_REVENUE_DUE_TO_OOS",
                        "description": "The revenue that would have been generated had there not been out of stock."
                    },
                    {
                        "value": "SUBSCRIBER_NON_SUBSCRIBER_AVERAGE_REORDERS",
                        "description": "The average reorders per subscriber and non-subscriber over the last 12 months."
                    },
                    {
                        "value": "COUPONS_REVENUE_PENETRATION",
                        "description": "The percentage of revenue from ASINs with coupons out of total revenue from all ASINs."
                    }
                ]
            },
            "SortOrder": {
                "type": "string",
                "description": "The sort order.",
                "enum": [
                    "ASC",
                    "DESC"
                ],
                "x-docgen-enum-table-extension": [
                    {
                        "value": "ASC",
                        "description": "Sort the results in ascending order."
                    },
                    {
                        "value": "DESC",
                        "description": "Sort the results in descending order."
                    }
                ]
            },
            "TimePeriodType": {
                "type": "string",
                "description": "The time period type that determines whether the metrics requested are backward-looking (performance) or forward-looking (forecast).",
                "enum": [
                    "PERFORMANCE",
                    "FORECAST"
                ],
                "x-docgen-enum-table-extension": [
                    {
                        "value": "PERFORMANCE",
                        "description": "Indicates past performance metrics."
                    },
                    {
                        "value": "FORECAST",
                        "description": "Indicates forecasted metrics. Only `TOTAL_SUBSCRIPTIONS_REVENUE` and `SHIPPED_SUBSCRIPTION_UNITS` are supported. Forecast data is supported for sellers but not for vendors."
                    }
                ]
            },
            "GetSellingPartnerMetricsResponse": {
                "type": "object",
                "properties": {
                    "metrics": {
                        "type": "array",
                        "description": "A list of metrics data for the selling partner.",
                        "items": {
                            "$ref": "#/components/schemas/GetSellingPartnerMetricsResponseMetric"
                        }
                    }
                },
                "description": "The response schema for the `getSellingPartnerMetrics` operation."
            },
            "GetSellingPartnerMetricsResponseMetric": {
                "type": "object",
                "properties": {
                    "notDeliveredDueToOOS": {
                        "maximum": 100,
                        "minimum": 0,
                        "type": "number",
                        "description": "The percentage of items that were not shipped out of the total shipped units over a period of time due to being out of stock. Applicable only for the `PERFORMANCE` `timePeriodType`.",
                        "format": "double"
                    },
                    "totalSubscriptionsRevenue": {
                        "minimum": 0,
                        "type": "number",
                        "description": "The revenue generated from subscriptions over a period of time. Applicable for both the `PERFORMANCE` and `FORECAST` `timePeriodType`.",
                        "format": "double"
                    },
                    "shippedSubscriptionUnits": {
                        "minimum": 0,
                        "type": "number",
                        "description": "The number of units shipped to the subscribers over a period of time. Applicable for both the `PERFORMANCE` and `FORECAST` `timePeriodType`.",
                        "format": "int64"
                    },
                    "activeSubscriptions": {
                        "minimum": 0,
                        "type": "number",
                        "description": "The number of active subscriptions present at the end of the period. Applicable only for the `PERFORMANCE` `timePeriodType`.",
                        "format": "int64"
                    },
                    "subscriberAverageRevenue": {
                        "minimum": 0,
                        "type": "number",
                        "description": "The average revenue per subscriber of the program over a period of past 12 months for sellers and 6 months for vendors. Applicable only for the `PERFORMANCE` `timePeriodType`.",
                        "format": "double"
                    },
                    "nonSubscriberAverageRevenue": {
                        "minimum": 0,
                        "type": "number",
                        "description": "The average revenue per non-subscriber of the program over a period of past 12 months for sellers and 6 months for vendors. Applicable only for the `PERFORMANCE` `timePeriodType`.",
                        "format": "double"
                    },
                    "lostRevenueDueToOOS": {
                        "minimum": 0,
                        "type": "number",
                        "description": "The revenue that would have been generated had there not been out of stock. Applicable only for the PERFORMANCE timePeriodType.",
                        "format": "double"
                    },
                    "subscriberAverageReorders": {
                        "minimum": 0,
                        "type": "number",
                        "description": "The average reorders per subscriber of the program over a period of 12 months. Applicable only for the PERFORMANCE timePeriodType.",
                        "format": "double"
                    },
                    "nonSubscriberAverageReorders": {
                        "minimum": 0,
                        "type": "number",
                        "description": "The average reorders per non-subscriber of the program over a period of past 12 months. Applicable only for the PERFORMANCE timePeriodType.",
                        "format": "double"
                    },
                    "couponsRevenuePenetration": {
                        "maximum": 100,
                        "minimum": 0,
                        "type": "number",
                        "description": "The percentage of revenue from ASINs with coupons out of total revenue from all ASINs. Applicable only for the PERFORMANCE timePeriodType.",
                        "format": "double"
                    },
                    "timeInterval": {
                        "$ref": "#/components/schemas/TimeInterval"
                    },
                    "currencyCode": {
                        "type": "string",
                        "description": "The currency code in ISO 4217 format."
                    }
                },
                "description": "An object which contains metric data for a selling partner."
            },
            "ListOfferMetricsResponse": {
                "type": "object",
                "properties": {
                    "offers": {
                        "type": "array",
                        "description": "A list of offers and associated metrics.",
                        "items": {
                            "$ref": "#/components/schemas/ListOfferMetricsResponseOffer"
                        }
                    },
                    "pagination": {
                        "$ref": "#/components/schemas/PaginationResponse"
                    }
                },
[...]
