{
    "openapi": "3.0.1",
    "info": {
        "title": "The Selling Partner API for Amazon External Fulfillment Shipments Processing",
        "description": "You can use the External Fulfillment Shipments API to retrieve, manage, and track shipments processed through Amazon's external fulfillment network. Use this API to get shipment details, monitor status changes, and access fulfillment requirements.",
        "contact": {
            "name": "Selling Partner API Developer Support",
            "url": "https://sellercentral.amazon.com/gp/mws/contactus.html",
            "email": "marketplaceapitest@amazon.com"
        },
        "license": {
            "name": "Amazon Software License",
            "url": "https://aws.amazon.com/asl/"
        },
        "version": "2024-09-11"
    },
    "servers": [
        {
            "url": "https://sellingpartnerapi-na.amazon.com/"
        }
    ],
    "paths": {
        "/externalFulfillment/2024-09-11/shipments": {
            "get": {
                "tags": [
                    "shipmentRetrieval"
                ],
                "description": "Get a list of shipments created for the seller in the status you specify. Shipments can be further filtered based on the fulfillment node or the time of the shipments' last update.",
                "operationId": "getShipments",
                "parameters": [
                    {
                        "name": "locationId",
                        "in": "query",
                        "description": "The Amazon channel location identifier for the shipments you want to retrieve.",
                        "schema": {
                            "maxLength": 36,
                            "type": "string"
                        },
                        "example": "ABCD"
                    },
                    {
                        "name": "marketplaceId",
                        "in": "query",
                        "description": "The marketplace ID associated with the location. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).",
                        "schema": {
                            "type": "string"
                        },
                        "example": "A21TJRUUN4KGV"
                    },
                    {
                        "name": "channelName",
                        "in": "query",
                        "description": "The channel name associated with the location.",
                        "schema": {
                            "maxLength": 10,
                            "type": "string"
                        },
                        "example": "FBA"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "The status of shipment you want to include in the response. To retrieve all new shipments, set this value to `CREATED` or `ACCEPTED`.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "CREATED",
                                "ACCEPTED",
                                "CONFIRMED",
                                "PACKAGE_CREATED",
                                "PICKUP_SLOT_RETRIEVED",
                                "INVOICE_GENERATED",
                                "SHIPLABEL_GENERATED",
                                "CANCELLED",
                                "SHIPPED",
                                "DELIVERED"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "value": "CREATED",
                                    "description": "The order is newly created, but there is not enough inventory to accept it automatically."
                                },
                                {
                                    "value": "ACCEPTED",
                                    "description": "The order is newly created and is accepted."
                                },
                                {
                                    "value": "CONFIRMED",
                                    "description": "The order is confirmed by the seller."
                                },
                                {
                                    "value": "PACKAGE_CREATED",
                                    "description": "The order's package is created by the seller."
                                },
                                {
                                    "value": "PICKUP_SLOT_RETRIEVED",
                                    "description": "The order's pickup slots are retrieved by the seller."
                                },
                                {
                                    "value": "INVOICE_GENERATED",
                                    "description": "The order's invoice is generated by the seller."
                                },
                                {
                                    "value": "SHIPLABEL_GENERATED",
                                    "description": "The order's shipping label is generated by the seller."
                                },
                                {
                                    "value": "CANCELLED",
                                    "description": "The order is cancelled."
                                },
                                {
                                    "value": "SHIPPED",
                                    "description": "The order is shipped."
                                },
                                {
                                    "value": "DELIVERED",
                                    "description": "The order is delivered."
                                }
                            ]
                        },
                        "example": "CONFIRMED",
                        "x-docgen-enum-table-extension": [
                            {
                                "value": "CREATED",
                                "description": "The order is newly created, but there is not enough inventory to accept it automatically."
                            },
                            {
                                "value": "ACCEPTED",
                                "description": "The order is newly created and is accepted."
                            },
                            {
                                "value": "CONFIRMED",
                                "description": "The order is confirmed by the seller."
                            },
                            {
                                "value": "PACKAGE_CREATED",
                                "description": "The order's package is created by the seller."
                            },
                            {
                                "value": "PICKUP_SLOT_RETRIEVED",
                                "description": "The order's pickup slots are retrieved by the seller."
                            },
                            {
                                "value": "INVOICE_GENERATED",
                                "description": "The order's invoice is generated by the seller."
                            },
                            {
                                "value": "SHIPLABEL_GENERATED",
                                "description": "The order's shipping label is generated by the seller."
                            },
                            {
                                "value": "CANCELLED",
                                "description": "The order is cancelled."
                            },
                            {
                                "value": "SHIPPED",
                                "description": "The order is shipped."
                            },
                            {
                                "value": "DELIVERED",
                                "description": "The order is delivered."
                            }
                        ]
                    },
                    {
                        "name": "lastUpdatedAfter",
                        "in": "query",
                        "description": "The response includes shipments whose latest update is after the specified time. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "example": "2020-06-08T17:23:58Z"
                    },
                    {
                        "name": "lastUpdatedBefore",
                        "in": "query",
                        "description": "The response includes shipments whose latest update is before the specified time. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "example": "2020-06-08T17:23:58Z"
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "description": "The maximum number of shipments to include in the response.",
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer"
                        },
                        "example": 10
                    },
                    {
                        "name": "paginationToken",
                        "in": "query",
                        "description": "A token that you use to retrieve the next page of results. The response includes `nextToken` when there are multiple pages of results. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `nextToken` is null. Note that this operation can return empty pages.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "eyJsYXN0VXBkYXRlZFRpbWVzdGFtcCI6eyJzIjpLL"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success. The response contains a list of shipments.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShipmentsResponse"
                                },
                                "example": {
                                    "pagination": {
                                        "nextToken": "eyJsYXN0VXBkYXRlZFRpbWVzdGFtcCI6eyJzIjpu"
                                    },
                                    "shipments": [
                                        {
                                            "locationId": "ABCD",
                                            "marketplaceAttributes": {
                                                "channelName": "FBA",
                                                "marketplaceId": "A21TJRUUN4KGV",
                                                "merchantId": "ABCDEFGH",
                                                "customAttributes": [
                                                    "PRIME"
                                                ]
                                            },
                                            "charges": [
                                                {
                                                    "baseCharge": {
                                                        "baseAmount": {
                                                            "value": "160",
                                                            "currencyCode": "INR"
                                                        },
                                                        "discountAmount": {
                                                            "value": "30",
                                                            "currencyCode": "INR"
                                                        },
                                                        "netAmount": {
                                                            "value": "130",
                                                            "currencyCode": "INR"
                                                        }
                                                    },
                                                    "taxBreakup": [
                                                        {
                                                            "type": "IGST",
                                                            "rate": "0.18",
                                                            "charge": {
                                                                "baseAmount": {
                                                                    "value": "33",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "discountAmount": {
                                                                    "value": "11",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "netAmount": {
                                                                    "value": "22",
                                                                    "currencyCode": "INR"
                                                                }
                                                            }
                                                        }
                                                    ],
                                                    "totalCharge": {
                                                        "baseAmount": {
                                                            "value": "193",
                                                            "currencyCode": "INR"
                                                        },
                                                        "discountAmount": {
                                                            "value": "41",
                                                            "currencyCode": "INR"
                                                        },
                                                        "netAmount": {
                                                            "value": "152",
                                                            "currencyCode": "INR"
                                                        }
                                                    },
                                                    "totalTax": {
                                                        "type": "TOTAL",
                                                        "rate": "0.18",
                                                        "charge": {
                                                            "baseAmount": {
                                                                "value": "33",
                                                                "currencyCode": "INR"
                                                            },
                                                            "discountAmount": {
                                                                "value": "11",
                                                                "currencyCode": "INR"
                                                            },
                                                            "netAmount": {
                                                                "value": "22",
                                                                "currencyCode": "INR"
                                                            }
                                                        }
                                                    },
                                                    "chargeType": "TOTAL"
                                                },
                                                {
                                                    "baseCharge": {
                                                        "baseAmount": {
                                                            "value": "40",
                                                            "currencyCode": "INR"
                                                        },
                                                        "discountAmount": {
                                                            "value": "10",
                                                            "currencyCode": "INR"
                                                        },
                                                        "netAmount": {
                                                            "value": "30",
                                                            "currencyCode": "INR"
                                                        }
                                                    },
                                                    "taxBreakup": [
                                                        {
                                                            "type": "IGST",
                                                            "rate": "0.25",
                                                            "charge": {
                                                                "baseAmount": {
                                                                    "value": "10",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "discountAmount": {
                                                                    "value": "5",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "netAmount": {
                                                                    "value": "5",
                                                                    "currencyCode": "INR"
                                                                }
                                                            }
                                                        }
                                                    ],
                                                    "totalCharge": {
                                                        "baseAmount": {
                                                            "value": "50",
                                                            "currencyCode": "INR"
                                                        },
                                                        "discountAmount": {
                                                            "value": "15",
                                                            "currencyCode": "INR"
                                                        },
                                                        "netAmount": {
                                                            "value": "35",
                                                            "currencyCode": "INR"
                                                        }
                                                    },
                                                    "totalTax": {
                                                        "type": "TOTAL",
                                                        "rate": "0.25",
                                                        "charge": {
                                                            "baseAmount": {
                                                                "value": "10",
                                                                "currencyCode": "INR"
                                                            },
                                                            "discountAmount": {
                                                                "value": "5",
                                                                "currencyCode": "INR"
                                                            },
                                                            "netAmount": {
                                                                "value": "5",
                                                                "currencyCode": "INR"
                                                            }
                                                        }
                                                    },
                                                    "chargeType": "SHIPPING"
                                                }
                                            ],
                                            "creationDateTime": "2020-06-08T17:23:58Z",
                                            "id": "Dg79mc6BT",
                                            "lastUpdatedDateTime": "2020-06-08T22:10:15Z",
                                            "earliestPackDateTime": "2020-06-09 14:00:00Z",
                                            "lineItems": [
                                                {
                                                    "shipmentLineItemId": "1",
                                                    "merchantSku": "1002400773021",
                                                    "numberOfUnits": 2,
                                                    "complianceAttributes": {
                                                        "serialNumberRequirement": "DISALLOWED",
                                                        "hazmatLabelsRequirement": "DISALLOWED",
                                                        "countryOfOriginRequirement": "DISALLOWED",
                                                        "itemValueRequirement": "DISALLOWED"
                                                    },
                                                    "giftAttributes": {
                                                        "giftWrapRequirement": "DISALLOWED",
                                                        "giftMessagePresence": "ABSENT"
                                                    },
                                                    "charges": [
                                                        {
                                                            "baseCharge": {
                                                                "baseAmount": {
                                                                    "value": "100",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "discountAmount": {
                                                                    "value": "20",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "netAmount": {
                                                                    "value": "80",
                                                                    "currencyCode": "INR"
                                                                }
                                                            },
                                                            "taxBreakup": [
                                                                {
                                                                    "type": "IGST",
                                                                    "rate": "0.18",
                                                                    "charge": {
                                                                        "baseAmount": {
                                                                            "value": "18",
                                                                            "currencyCode": "INR"
                                                                        },
                                                                        "discountAmount": {
                                                                            "value": "6",
                                                                            "currencyCode": "INR"
                                                                        },
                                                                        "netAmount": {
                                                                            "value": "12",
                                                                            "currencyCode": "INR"
                                                                        }
                                                                    }
                                                                }
                                                            ],
                                                            "totalCharge": {
                                                                "baseAmount": {
                                                                    "value": "118",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "discountAmount": {
                                                                    "value": "26",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "netAmount": {
                                                                    "value": "92",
                                                                    "currencyCode": "INR"
                                                                }
                                                            },
                                                            "totalTax": {
                                                                "type": "TOTAL",
                                                                "rate": "0.18",
                                                                "charge": {
                                                                    "baseAmount": {
                                                                        "value": "18",
                                                                        "currencyCode": "INR"
                                                                    },
                                                                    "discountAmount": {
                                                                        "value": "6",
                                                                        "currencyCode": "INR"
                                                                    },
                                                                    "netAmount": {
                                                                        "value": "12",
                                                                        "currencyCode": "INR"
                                                                    }
                                                                }
                                                            },
                                                            "chargeType": "PRODUCT"
                                                        },
                                                        {
                                                            "baseCharge": {
                                                                "baseAmount": {
                                                                    "value": "20",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "discountAmount": {
                                                                    "value": "0",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "netAmount": {
                                                                    "value": "20",
                                                                    "currencyCode": "INR"
                                                                }
                                                            },
                                                            "taxBreakup": [
                                                                {
                                                                    "type": "IGST",
                                                                    "rate": "0.25",
                                                                    "charge": {
                                                                        "baseAmount": {
                                                                            "value": "5",
                                                                            "currencyCode": "INR"
                                                                        },
                                                                        "discountAmount": {
                                                                            "value": "0",
                                                                            "currencyCode": "INR"
                                                                        },
                                                                        "netAmount": {
                                                                            "value": "5",
                                                                            "currencyCode": "INR"
                                                                        }
                                                                    }
                                                                }
                                                            ],
                                                            "totalCharge": {
                                                                "baseAmount": {
                                                                    "value": "25",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "discountAmount": {
                                                                    "value": "0",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "netAmount": {
                                                                    "value": "25",
                                                                    "currencyCode": "INR"
                                                                }
                                                            },
                                                            "totalTax": {
                                                                "type": "IGST",
                                                                "rate": "0.25",
                                                                "charge": {
                                                                    "baseAmount": {
                                                                        "value": "5",
                                                                        "currencyCode": "INR"
                                                                    },
                                                                    "discountAmount": {
                                                                        "value": "0",
                                                                        "currencyCode": "INR"
                                                                    },
                                                                    "netAmount": {
                                                                        "value": "5",
                                                                        "currencyCode": "INR"
                                                                    }
                                                                }
                                                            },
                                                            "chargeType": "GIFT"
                                                        }
                                                    ],
                                                    "hsnCode": "HSN0001"
                                                },
                                                {
                                                    "shipmentLineItemId": "2",
                                                    "merchantSku": "1002400773022",
                                                    "numberOfUnits": 2,
                                                    "complianceAttributes": {
                                                        "serialNumberRequirement": "DISALLOWED",
                                                        "hazmatLabelsRequirement": "DISALLOWED",
                                                        "countryOfOriginRequirement": "DISALLOWED",
                                                        "itemValueRequirement": "DISALLOWED"
                                                    },
                                                    "giftAttributes": {
                                                        "giftWrapRequirement": "DISALLOWED",
                                                        "giftMessagePresence": "ABSENT"
                                                    },
                                                    "charges": [
                                                        {
                                                            "baseCharge": {
                                                                "baseAmount": {
                                                                    "value": "100",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "discountAmount": {
                                                                    "value": "20",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "netAmount": {
                                                                    "value": "80",
                                                                    "currencyCode": "INR"
                                                                }
                                                            },
                                                            "taxBreakup": [
                                                                {
                                                                    "type": "IGST",
                                                                    "rate": "0.18",
                                                                    "charge": {
                                                                        "baseAmount": {
                                                                            "value": "18",
                                                                            "currencyCode": "INR"
                                                                        },
                                                                        "discountAmount": {
                                                                            "value": "6",
                                                                            "currencyCode": "INR"
                                                                        },
                                                                        "netAmount": {
                                                                            "value": "12",
                                                                            "currencyCode": "INR"
                                                                        }
                                                                    }
                                                                }
                                                            ],
                                                            "totalCharge": {
                                                                "baseAmount": {
                                                                    "value": "118",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "discountAmount": {
                                                                    "value": "26",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "netAmount": {
                                                                    "value": "92",
                                                                    "currencyCode": "INR"
                                                                }
                                                            },
                                                            "totalTax": {
                                                                "type": "TOTAL",
                                                                "rate": "0.18",
                                                                "charge": {
                                                                    "baseAmount": {
                                                                        "value": "18",
                                                                        "currencyCode": "INR"
                                                                    },
                                                                    "discountAmount": {
                                                                        "value": "6",
                                                                        "currencyCode": "INR"
                                                                    },
                                                                    "netAmount": {
                                                                        "value": "12",
                                                                        "currencyCode": "INR"
                                                                    }
                                                                }
                                                            },
                                                            "chargeType": "PRODUCT"
                                                        },
                                                        {
                                                            "baseCharge": {
                                                                "baseAmount": {
                                                                    "value": "20",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "discountAmount": {
                                                                    "value": "0",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "netAmount": {
                                                                    "value": "20",
                                                                    "currencyCode": "INR"
                                                                }
                                                            },
                                                            "taxBreakup": [
                                                                {
                                                                    "type": "IGST",
                                                                    "rate": "0.25",
                                                                    "charge": {
                                                                        "baseAmount": {
                                                                            "value": "5",
                                                                            "currencyCode": "INR"
                                                                        },
                                                                        "discountAmount": {
                                                                            "value": "0",
                                                                            "currencyCode": "INR"
                                                                        },
                                                                        "netAmount": {
                                                                            "value": "5",
                                                                            "currencyCode": "INR"
                                                                        }
                                                                    }
                                                                }
                                                            ],
                                                            "totalCharge": {
                                                                "baseAmount": {
                                                                    "value": "25",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "discountAmount": {
                                                                    "value": "0",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "netAmount": {
                                                                    "value": "25",
                                                                    "currencyCode": "INR"
                                                                }
                                                            },
                                                            "totalTax": {
                                                                "type": "IGST",
                                                                "rate": "0.25",
                                                                "charge": {
                                                                    "baseAmount": {
                                                                        "value": "5",
                                                                        "currencyCode": "INR"
                                                                    },
                                                                    "discountAmount": {
                                                                        "value": "0",
                                                                        "currencyCode": "INR"
                                                                    },
                                                                    "netAmount": {
                                                                        "value": "5",
                                                                        "currencyCode": "INR"
                                                                    }
                                                                }
                                                            },
                                                            "chargeType": "GIFT"
                                                        }
                                                    ],
                                                    "hsnCode": "HSN0002"
                                                }
                                            ],
                                            "shipmentInfo": {
                                                "numberOfUnits": 4,
                                                "priority": "LOW",
                                                "shipmentType": "NEW",
                                                "buyerOrderId": "407-7727827-8514700",
                                                "orderStatesEligibleForRejection": [
                                                    "ACCEPTED",
                                                    "CONFIRMED",
                                                    "PACKAGE_CREATED",
                                                    "PICKUP_SLOT_RETRIEVED"
                                                ],
                                                "orderPlacedTimestamp": "1604923992000",
                                                "processingSource": "INTERNAL_PLATFORM"
                                            },
                                            "shipmentRequirements": {
                                                "pSlip": {
                                                    "requirement": "REQUIRED",
                                                    "status": "GENERATED"
                                                },
                                                "invoice": {
                                                    "requirement": "REQUIRED",
                                                    "status": "AVAILABLE"
                                                }
                                            },
                                            "invoiceInfo": {
                                                "invoiceId": "IN-ABCD-124",
                                                "creationDateTime": "2020-06-08T17:23:58Z"
                                            },
                                            "partyInfoList": [
                                                {
                                                    "partyId": "95930",
                                                    "partyType": "SHIP_TO_PARTY",
                                                    "address": {
                                                        "name": "ABC",
                                                        "addressLine1": "1st Main Rd",
                                                        "addressLine2": "Milk Colony",
                                                        "addressLine3": "Subramanyanagar,2 State, Rajajinagar",
                                                        "city": "Bengaluru",
                                                        "state": "Karnataka",
                                                        "district": "Bengaluru",
                                                        "municipality": "BBMP",
                                                        "postalCode": "560055",
                                                        "countryCode": "IN",
                                                        "phoneNumber": "080 49019010",
                                                        "addressType": "HOME",
                                                        "copyEmails": [
                                                            "ccedEmail@gmail.com"
                                                        ],
                                                        "email": "email@gmail.com"
                                                    },
                                                    "taxInfo": {
                                                        "type": "VAT",
                                                        "address": {
                                                            "name": "ABC",
                                                            "addressLine1": "1st Main Rd",
                                                            "addressLine2": "Milk Colony",
                                                            "addressLine3": "Subramanyanagar,2 State, Rajajinagar",
                                                            "city": "Bengaluru",
                                                            "state": "Karnataka",
                                                            "district": "Bengaluru",
                                                            "municipality": "BBMP",
                                                            "postalCode": "560055",
                                                            "countryCode": "IN",
                                                            "phoneNumber": "080 49019010",
                                                            "addressType": "HOME",
                                                            "copyEmails": [
                                                                "ccedEmail@gmail.com"
                                                            ],
                                                            "email": "email@gmail.com"
                                                        },
                                                        "number": "IE1234567T",
                                                        "messages": "additional tax information"
                                                    }
                                                }
                                            ],
                                            "packages": [
                                                {
                                                    "id": "001",
                                                    "dimensions": {
                                                        "length": {
                                                            "value": "20.0",
                                                            "dimensionUnit": "CM"
                                                        },
                                                        "width": {
                                                            "value": "20.0",
                                                            "dimensionUnit": "CM"
                                                        },
                                                        "height": {
                                                            "value": "20.0",
                                                            "dimensionUnit": "CM"
                                                        }
                                                    },
                                                    "weight": {
                                                        "value": "300.0",
                                                        "weightUnit": "G"
                                                    },
                                                    "hazmatLabels": [],
                                                    "packageLineItems": [
                                                        {
                                                            "packageLineItemId": "1",
                                                            "quantity": 1,
                                                            "serialNumbers": []
                                                        },
                                                        {
                                                            "packageLineItemId": "2",
                                                            "quantity": 1,
                                                            "serialNumbers": []
                                                        }
                                                    ]
                                                }
                                            ],
                                            "shippingInfo": {
                                                "recommendedShipMethod": "ATS_STANDARD",
                                                "expectedShippingDateTimeInUTC": "2020-06-09T14:00:00Z",
                                                "shipToAddress": {
                                                    "name": "ABC",
                                                    "addressLine1": "1st Main Rd",
                                                    "addressLine2": "Milk Colony",
                                                    "addressLine3": "Subramanyanagar,2 State, Rajajinagar",
                                                    "city": "Bengaluru",
                                                    "state": "Karnataka",
                                                    "district": "Bengaluru",
                                                    "municipality": "BBMP",
                                                    "postalCode": "560055",
                                                    "countryCode": "IN",
                                                    "phoneNumber": "080 49019010"
                                                }
                                            },
                                            "status": "CONFIRMED",
                                            "subStatus": "OUT_FOR_DELIVERY",
                                            "reason": "OutForDelivery"
                                        },
                                        {
                                            "locationId": "ABCD",
                                            "marketplaceAttributes": {
                                                "channelName": "FBA",
                                                "marketplaceId": "A21TJRUUN4KGV",
                                                "merchantId": "ABCDEFGH",
                                                "customAttributes": [
                                                    "PRIME"
                                                ]
                                            },
                                            "charges": [
                                                {
                                                    "baseCharge": {
                                                        "baseAmount": {
                                                            "value": "160",
                                                            "currencyCode": "INR"
                                                        },
                                                        "discountAmount": {
                                                            "value": "30",
                                                            "currencyCode": "INR"
                                                        },
                                                        "netAmount": {
                                                            "value": "130",
                                                            "currencyCode": "INR"
                                                        }
                                                    },
                                                    "taxBreakup": [
                                                        {
                                                            "type": "IGST",
                                                            "rate": "0.18",
                                                            "charge": {
                                                                "baseAmount": {
                                                                    "value": "33",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "discountAmount": {
                                                                    "value": "11",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "netAmount": {
                                                                    "value": "22",
                                                                    "currencyCode": "INR"
                                                                }
                                                            }
                                                        }
                                                    ],
                                                    "totalCharge": {
                                                        "baseAmount": {
                                                            "value": "193",
                                                            "currencyCode": "INR"
                                                        },
                                                        "discountAmount": {
                                                            "value": "41",
                                                            "currencyCode": "INR"
                                                        },
                                                        "netAmount": {
                                                            "value": "152",
                                                            "currencyCode": "INR"
                                                        }
                                                    },
                                                    "totalTax": {
                                                        "type": "TOTAL",
                                                        "rate": "0.18",
                                                        "charge": {
                                                            "baseAmount": {
                                                                "value": "33",
                                                                "currencyCode": "INR"
                                                            },
                                                            "discountAmount": {
                                                                "value": "11",
                                                                "currencyCode": "INR"
                                                            },
                                                            "netAmount": {
                                                                "value": "22",
                                                                "currencyCode": "INR"
                                                            }
                                                        }
                                                    },
                                                    "chargeType": "TOTAL"
                                                },
                                                {
                                                    "baseCharge": {
                                                        "baseAmount": {
                                                            "value": "40",
                                                            "currencyCode": "INR"
                                                        },
                                                        "discountAmount": {
                                                            "value": "10",
                                                            "currencyCode": "INR"
                                                        },
                                                        "netAmount": {
                                                            "value": "30",
                                                            "currencyCode": "INR"
                                                        }
                                                    },
                                                    "taxBreakup": [
                                                        {
                                                            "type": "IGST",
                                                            "rate": "0.25",
                                                            "charge": {
                                                                "baseAmount": {
                                                                    "value": "10",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "discountAmount": {
                                                                    "value": "5",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "netAmount": {
                                                                    "value": "5",
                                                                    "currencyCode": "INR"
                                                                }
                                                            }
                                                        }
                                                    ],
                                                    "totalCharge": {
                                                        "baseAmount": {
                                                            "value": "50",
                                                            "currencyCode": "INR"
                                                        },
                                                        "discountAmount": {
                                                            "value": "15",
                                                            "currencyCode": "INR"
                                                        },
                                                        "netAmount": {
                                                            "value": "35",
                                                            "currencyCode": "INR"
                                                        }
                                                    },
                                                    "totalTax": {
                                                        "type": "TOTAL",
                                                        "rate": "0.25",
                                                        "charge": {
                                                            "baseAmount": {
                                                                "value": "10",
                                                                "currencyCode": "INR"
                                                            },
                                                            "discountAmount": {
                                                                "value": "5",
                                                                "currencyCode": "INR"
                                                            },
                                                            "netAmount": {
                                                                "value": "5",
                                                                "currencyCode": "INR"
                                                            }
                                                        }
                                                    },
                                                    "chargeType": "SHIPPING"
                                                }
                                            ],
                                            "creationDateTime": "2020-06-08T11:13:58Z",
                                            "id": "D1px1063T",
                                            "lastUpdatedDateTime": "2020-06-08T12:00:15Z",
                                            "earliestPackDateTime": "2020-06-09 14:00:00Z",
                                            "lineItems": [
                                                {
                                                    "shipmentLineItemId": "1",
                                                    "merchantSku": "1002400773021",
                                                    "numberOfUnits": 2,
                                                    "complianceAttributes": {
                                                        "serialNumberRequirement": "DISALLOWED",
                                                        "hazmatLabelsRequirement": "DISALLOWED",
                                                        "countryOfOriginRequirement": "DISALLOWED",
                                                        "itemValueRequirement": "DISALLOWED"
                                                    },
                                                    "giftAttributes": {
                                                        "giftWrapRequirement": "DISALLOWED",
                                                        "giftMessagePresence": "ABSENT"
                                                    },
                                                    "charges": [
                                                        {
                                                            "baseCharge": {
                                                                "baseAmount": {
                                                                    "value": "100",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "discountAmount": {
                                                                    "value": "20",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "netAmount": {
                                                                    "value": "80",
                                                                    "currencyCode": "INR"
                                                                }
                                                            },
                                                            "taxBreakup": [
                                                                {
                                                                    "type": "IGST",
                                                                    "rate": "0.18",
                                                                    "charge": {
                                                                        "baseAmount": {
                                                                            "value": "18",
                                                                            "currencyCode": "INR"
                                                                        },
                                                                        "discountAmount": {
                                                                            "value": "6",
                                                                            "currencyCode": "INR"
                                                                        },
                                                                        "netAmount": {
                                                                            "value": "12",
                                                                            "currencyCode": "INR"
                                                                        }
                                                                    }
                                                                }
                                                            ],
                                                            "totalCharge": {
                                                                "baseAmount": {
                                                                    "value": "118",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "discountAmount": {
                                                                    "value": "26",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "netAmount": {
                                                                    "value": "92",
                                                                    "currencyCode": "INR"
                                                                }
                                                            },
                                                            "totalTax": {
                                                                "type": "TOTAL",
                                                                "rate": "0.18",
                                                                "charge": {
                                                                    "baseAmount": {
                                                                        "value": "18",
                                                                        "currencyCode": "INR"
                                                                    },
                                                                    "discountAmount": {
                                                                        "value": "6",
                                                                        "currencyCode": "INR"
                                                                    },
                                                                    "netAmount": {
                                                                        "value": "12",
                                                                        "currencyCode": "INR"
                                                                    }
                                                                }
                                                            },
                                                            "chargeType": "PRODUCT"
                                                        },
                                                        {
                                                            "baseCharge": {
                                                                "baseAmount": {
                                                                    "value": "20",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "discountAmount": {
                                                                    "value": "0",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "netAmount": {
                                                                    "value": "20",
                                                                    "currencyCode": "INR"
                                                                }
                                                            },
                                                            "taxBreakup": [
                                                                {
                                                                    "type": "IGST",
                                                                    "rate": "0.25",
                                                                    "charge": {
                                                                        "baseAmount": {
                                                                            "value": "5",
                                                                            "currencyCode": "INR"
                                                                        },
                                                                        "discountAmount": {
                                                                            "value": "0",
                                                                            "currencyCode": "INR"
                                                                        },
                                                                        "netAmount": {
                                                                            "value": "5",
                                                                            "currencyCode": "INR"
                                                                        }
                                                                    }
                                                                }
                                                            ],
                                                            "totalCharge": {
                                                                "baseAmount": {
                                                                    "value": "25",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "discountAmount": {
                                                                    "value": "0",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "netAmount": {
                                                                    "value": "25",
                                                                    "currencyCode": "INR"
                                                                }
                                                            },
                                                            "totalTax": {
                                                                "type": "IGST",
                                                                "rate": "0.25",
                                                                "charge": {
                                                                    "baseAmount": {
                                                                        "value": "5",
                                                                        "currencyCode": "INR"
                                                                    },
                                                                    "discountAmount": {
                                                                        "value": "0",
                                                                        "currencyCode": "INR"
                                                                    },
                                                                    "netAmount": {
                                                                        "value": "5",
                                                                        "currencyCode": "INR"
                                                                    }
                                                                }
                                                            },
                                                            "chargeType": "GIFT"
                                                        }
                                                    ],
                                                    "hsnCode": "HSN0001"
                                                },
                                                {
                                                    "shipmentLineItemId": "2",
                                                    "merchantSku": "1002400773022",
                                                    "numberOfUnits": 2,
                                                    "complianceAttributes": {
                                                        "serialNumberRequirement": "DISALLOWED",
                                                        "hazmatLabelsRequirement": "DISALLOWED",
                                                        "countryOfOriginRequirement": "DISALLOWED",
                                                        "itemValueRequirement": "DISALLOWED"
                                                    },
                                                    "giftAttributes": {
                                                        "giftWrapRequirement": "DISALLOWED",
                                                        "giftMessagePresence": "ABSENT"
                                                    },
                                                    "charges": [
                                                        {
                                                            "baseCharge": {
                                                                "baseAmount": {
                                                                    "value": "100",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "discountAmount": {
                                                                    "value": "20",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "netAmount": {
                                                                    "value": "80",
                                                                    "currencyCode": "INR"
                                                                }
                                                            },
                                                            "taxBreakup": [
                                                                {
                                                                    "type": "IGST",
                                                                    "rate": "0.18",
                                                                    "charge": {
                                                                        "baseAmount": {
                                                                            "value": "18",
                                                                            "currencyCode": "INR"
                                                                        },
                                                                        "discountAmount": {
                                                                            "value": "6",
                                                                            "currencyCode": "INR"
                                                                        },
                                                                        "netAmount": {
                                                                            "value": "12",
                                                                            "currencyCode": "INR"
                                                                        }
                                                                    }
                                                                }
                                                            ],
                                                            "totalCharge": {
                                                                "baseAmount": {
                                                                    "value": "118",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "discountAmount": {
                                                                    "value": "26",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "netAmount": {
                                                                    "value": "92",
                                                                    "currencyCode": "INR"
                                                                }
                                                            },
                                                            "totalTax": {
                                                                "type": "TOTAL",
                                                                "rate": "0.18",
                                                                "charge": {
                                                                    "baseAmount": {
                                                                        "value": "18",
                                                                        "currencyCode": "INR"
                                                                    },
                                                                    "discountAmount": {
                                                                        "value": "6",
                                                                        "currencyCode": "INR"
                                                                    },
                                                                    "netAmount": {
                                                                        "value": "12",
                                                                        "currencyCode": "INR"
                                                                    }
                                                                }
                                                            },
                                                            "chargeType": "PRODUCT"
                                                        },
                                                        {
                                                            "baseCharge": {
                                                                "baseAmount": {
                                                                    "value": "20",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "discountAmount": {
                                                                    "value": "0",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "netAmount": {
                                                                    "value": "20",
                                                                    "currencyCode": "INR"
                                                                }
                                                            },
                                                            "taxBreakup": [
                                                                {
                                                                    "type": "IGST",
                                                                    "rate": "0.25",
                                                                    "charge": {
                                                                        "baseAmount": {
                                                                            "value": "5",
                                                                            "currencyCode": "INR"
                                                                        },
                                                                        "discountAmount": {
                                                                            "value": "0",
                                                                            "currencyCode": "INR"
                                                                        },
                                                                        "netAmount": {
                                                                            "value": "5",
                                                                            "currencyCode": "INR"
                                                                        }
                                                                    }
                                                                }
                                                            ],
                                                            "totalCharge": {
                                                                "baseAmount": {
                                                                    "value": "25",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "discountAmount": {
                                                                    "value": "0",
                                                                    "currencyCode": "INR"
                                                                },
                                                                "netAmount": {
                                                                    "value": "25",
                                                                    "currencyCode": "INR"
                                                                }
                                                            },
                                                            "totalTax": {
                                                                "type": "IGST",
                                                                "rate": "0.25",
                                                                "charge": {
                                                                    "baseAmount": {
                                                                        "value": "5",
                                                                        "currencyCode": "INR"
                                                                    },
                                                                    "discountAmount": {
                                                                        "value": "0",
                                                                        "currencyCode": "INR"
                                                                    },
                                                                    "netAmount": {
                                                                        "value": "5",
                                                                        "currencyCode": "INR"
                                                                    }
                                                                }
                                                            },
                                                            "chargeType": "GIFT"
                                                        }
                                                    ],
                                                    "hsnCode": "HSN0002"
                                                }
                                            ],
                                            "shipmentInfo": {
                                                "numberOfUnits": 4,
                                                "priority": "LOW",
                                                "shipmentType": "NEW",
                                                "buyerOrderId": "407-7727827-8514700",
                                                "orderStatesEligibleForRejection": [
                                                    "ACCEPTED",
                                                    "CONFIRMED",
                                                    "PACKAGE_CREATED",
                                                    "PICKUP_SLOT_RETRIEVED"
                                                ],
                                                "orderPlacedTimestamp": "1604923992000",
                                                "processingSource": "INTERNAL_PLATFORM"
                                            },
                                            "invoiceInfo": {
                                                "invoiceId": "IN-ABCD-124",
                                                "creationDateTime": "2020-06-08T17:23:58Z"
                                            },
                                            "shipmentRequirements": {
                                                "pSlip": {
                                                    "requirement": "REQUIRED",
                                                    "status": "GENERATED"
                                                },
                                                "invoice": {
                                                    "requirement": "REQUIRED",
                                                    "status": "AVAILABLE"
                                                }
                                            },
                                            "partyInfoList": [
                                                {
                                                    "partyId": "95930",
                                                    "partyType": "SHIP_TO_PARTY",
                                                    "address": {
                                                        "name": "ABC",
                                                        "addressLine1": "1st Main Rd",
                                                        "addressLine2": "Milk Colony",
                                                        "addressLine3": "Subramanyanagar,2 State, Rajajinagar",
                                                        "city": "Bengaluru",
                                                        "state": "Karnataka",
                                                        "district": "Bengaluru",
                                                        "municipality": "BBMP",
                                                        "postalCode": "560055",
                                                        "countryCode": "IN",
                                                        "phoneNumber": "080 49019010",
                                                        "addressType": "HOME",
                                                        "copyEmails": [
                                                            "ccedEmail@gmail.com"
                                                        ],
                                                        "email": "email@gmail.com"
                                                    },
                                                    "taxInfo": {
                                                        "type": "VAT",
                                                        "address": {
                                                            "name": "ABC",
                                                            "addressLine1": "1st Main Rd",
                                                            "addressLine2": "Milk Colony",
                                                            "addressLine3": "Subramanyanagar,2 State, Rajajinagar",
                                                            "city": "Bengaluru",
                                                            "state": "Karnataka",
                                                            "district": "Bengaluru",
                                                            "municipality": "BBMP",
                                                            "postalCode": "560055",
                                                            "countryCode": "IN",
                                                            "phoneNumber": "080 49019010",
                                                            "addressType": "HOME",
                                                            "copyEmails": [
                                                                "ccedEmail@gmail.com"
                                                            ],
                                                            "email": "email@gmail.com"
                                                        },
                                                        "number": "IE1234567T",
                                                        "messages": "additional tax information"
                                                    }
                                                }
                                            ],
                                            "packages": [
                                                {
                                                    "id": "001",
                                                    "dimensions": {
                                                        "length": {
                                                            "value": "10.0",
                                                            "dimensionUnit": "CM"
                                                        },
                                                        "width": {
                                                            "value": "10.0",
                                                            "dimensionUnit": "CM"
                                                        },
                                                        "height": {
                                                            "value": "10.0",
                                                            "dimensionUnit": "CM"
                                                        }
                                                    },
                                                    "weight": {
                                                        "value": "200.0",
[...]
