{
    "openapi": "3.0.1",
    "info": {
        "title": "The Selling Partner API for CustomerFeedback",
        "description": "The Selling Partner API for Customer Feedback (Customer Feedback API) provides information about customer reviews and returns at both the item and browse node level.",
        "contact": {
            "name": "Selling Partner API Developer Support",
            "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
        },
        "license": {
            "name": "Apache License 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "2024-06-01"
    },
    "servers": [
        {
            "url": "https://sellingpartnerapi-na.amazon.com/"
        }
    ],
    "paths": {
        "/customerFeedback/2024-06-01/items/{asin}/reviews/topics": {
            "get": {
                "tags": [
                    "customerFeedback"
                ],
                "description": "Retrieve an item's ten most positive and ten most negative review topics.",
                "operationId": "getItemReviewTopics",
                "parameters": [
                    {
                        "name": "asin",
                        "in": "path",
                        "description": "The Amazon Standard Identification Number (ASIN) is the unique identifier of a product within a marketplace. The value must be a child ASIN.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "marketplaceId",
                        "in": "query",
                        "description": "The MarketplaceId is the globally unique identifier of a marketplace, you can refer to the marketplaceId here : https://developer-docs.amazon.com/sp-api/docs/marketplace-ids.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "The metric by which to sort data in the response.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "MENTIONS"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ItemReviewTopicsResponse"
                                },
                                "example": {
                                    "asin": "B0BT5K9B2T",
                                    "itemName": "LANTEFUL 10 Tiers Tall Shoe Rack 20-25 Pairs Boots Organizer Storage Sturdy Narrow Shoe Shelf for Entryway Closets with Hooks Black",
                                    "marketplaceId": "ATVPDKIKX0DER",
                                    "countryCode": "US",
                                    "dateRange": {
                                        "startDate": "2024-03-22T08:35:43.717Z",
                                        "endDate": "2024-09-22T08:35:43.717Z"
                                    },
                                    "topics": {
                                        "positiveTopics": [
                                            {
                                                "topic": "Assembly/Installation",
                                                "asinMetrics": {
                                                    "numberOfMentions": 36,
                                                    "occurrencePercentage": 17.31,
                                                    "starRatingImpact": 4
                                                },
                                                "parentAsinMetrics": {
                                                    "numberOfMentions": 107,
                                                    "occurrencePercentage": 18.01,
                                                    "starRatingImpact": 3
                                                },
                                                "browseNodeMetrics": {
                                                    "occurrencePercentage": {
                                                        "allProducts": 16.41
                                                    },
                                                    "starRatingImpact": {
                                                        "allProducts": 1.5
                                                    }
                                                },
                                                "childAsinMetrics": {
                                                    "mostMentions": {
                                                        "asin": "B08576RCY4",
                                                        "numberOfMentions": 36
                                                    },
                                                    "leastMentions": {
                                                        "asin": "B08576DCY4",
                                                        "numberOfMentions": 4
                                                    }
                                                },
                                                "reviewSnippets": [
                                                    "Easy installation!",
                                                    "Easy to install.",
                                                    "Easy to assemble"
                                                ],
                                                "subtopics": [
                                                    {
                                                        "subtopic": "Simple and easy to assemble",
                                                        "metrics": {
                                                            "numberOfMentions": 9,
                                                            "occurrencePercentage": 25.01
                                                        },
                                                        "reviewSnippets": [
                                                            "Easy installation!",
                                                            "Not difficult to assemble.",
                                                            "Easy to assemble"
                                                        ]
                                                    },
                                                    {
                                                        "subtopic": "easy to put together and quick",
                                                        "metrics": {
                                                            "numberOfMentions": 5,
                                                            "occurrencePercentage": 13.01
                                                        },
                                                        "reviewSnippets": [
                                                            "Easy to put together!!.",
                                                            "Putting the product togetherwas alot however this saved so much room in my closet",
                                                            "love that it came with the one little tool you needed to putit all together!"
                                                        ]
                                                    },
                                                    {
                                                        "subtopic": "quick and easy to install",
                                                        "metrics": {
                                                            "numberOfMentions": 3,
                                                            "occurrencePercentage": 9.01
                                                        },
                                                        "reviewSnippets": [
                                                            "Easy installation!",
                                                            "Easy to install.",
                                                            "install was straight forward."
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "topic": "Strong",
                                                "asinMetrics": {
                                                    "numberOfMentions": 36,
                                                    "occurrencePercentage": 17.31,
                                                    "starRatingImpact": 4.7
                                                },
                                                "parentAsinMetrics": {
                                                    "numberOfMentions": 107,
                                                    "occurrencePercentage": 18.01,
                                                    "starRatingImpact": 3.8
                                                },
                                                "browseNodeMetrics": {
                                                    "occurrencePercentage": {
                                                        "allProducts": 16.41
                                                    },
                                                    "starRatingImpact": {
                                                        "allProducts": 1.5
                                                    }
                                                },
                                                "childAsinMetrics": {
                                                    "mostMentions": {
                                                        "asin": "B08576RCY4",
                                                        "numberOfMentions": 36
                                                    },
                                                    "leastMentions": {
                                                        "asin": "B08576DCY4",
                                                        "numberOfMentions": 4
                                                    }
                                                },
                                                "reviewSnippets": [
                                                    "Sturdy and strong.",
                                                    "Fairly sturdy.",
                                                    "very sturdy"
                                                ],
                                                "subtopics": [
                                                    {
                                                        "subtopic": "sturdy and well built",
                                                        "metrics": {
                                                            "numberOfMentions": 9,
                                                            "occurrencePercentage": 25.01
                                                        },
                                                        "reviewSnippets": [
                                                            "very sturdy",
                                                            "Sturdiness is ok.",
                                                            "Sturdier than expected."
                                                        ]
                                                    },
                                                    {
                                                        "subtopic": "durable and sturdy",
                                                        "metrics": {
                                                            "numberOfMentions": 4,
                                                            "occurrencePercentage": 12.01
                                                        },
                                                        "reviewSnippets": [
                                                            "This IS sturdy.",
                                                            "Sturdiness construction.",
                                                            "it much sturdier than the other two brands that I have purchased."
                                                        ]
                                                    },
                                                    {
                                                        "subtopic": "strong and durable",
                                                        "metrics": {
                                                            "numberOfMentions": 2,
                                                            "occurrencePercentage": 6.01
                                                        },
                                                        "reviewSnippets": [
                                                            "This IS sturdy.",
                                                            "Sturdiness construction.",
                                                            "it much sturdier than the other two brands that I have purchased."
                                                        ]
                                                    }
                                                ]
                                            }
                                        ],
                                        "negativeTopics": [
                                            {
                                                "topic": "Assembly/Installation",
                                                "asinMetrics": {
                                                    "numberOfMentions": 36,
                                                    "occurrencePercentage": 17.31,
                                                    "starRatingImpact": -2.3
                                                },
                                                "parentAsinMetrics": {
                                                    "numberOfMentions": 107,
                                                    "occurrencePercentage": 18.01,
                                                    "starRatingImpact": -2.6
                                                },
                                                "browseNodeMetrics": {
                                                    "occurrencePercentage": {
                                                        "allProducts": 16.41
                                                    },
                                                    "starRatingImpact": {
                                                        "allProducts": -1.5
                                                    }
                                                },
                                                "childAsinMetrics": {
                                                    "mostMentions": {
                                                        "asin": "B08576RCY4",
                                                        "numberOfMentions": 36
                                                    },
                                                    "leastMentions": {
                                                        "asin": "B08576DCY4",
                                                        "numberOfMentions": 4
                                                    }
                                                },
                                                "reviewSnippets": [
                                                    "Difficult to assemble",
                                                    "Difficult to assemble",
                                                    "impossible to put together"
                                                ],
                                                "subtopics": [
                                                    {
                                                        "subtopic": "difficult to put together",
                                                        "metrics": {
                                                            "numberOfMentions": 9,
                                                            "occurrencePercentage": 25.01
                                                        },
                                                        "reviewSnippets": [
                                                            "impossible to put together",
                                                            "Had a little hard time putting together either."
                                                        ]
                                                    },
                                                    {
                                                        "subtopic": "hard to assemble",
                                                        "metrics": {
                                                            "numberOfMentions": 6,
                                                            "occurrencePercentage": 18.01
                                                        },
                                                        "reviewSnippets": [
                                                            "impossible to put together",
                                                            "Had a little hard time putting together either."
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "asin": {
                                                "value": "B08PD3JNPF"
                                            },
                                            "marketplaceId": {
                                                "value": "ATVPDKIKX0DER"
                                            },
                                            "sortBy": {
                                                "value": "MENTIONS"
                                            }
                                        }
                                    },
                                    "response": {
                                        "asin": "B0BT5K9B2T",
                                        "itemName": "LANTEFUL 10 Tiers Tall Shoe Rack 20-25 Pairs Boots Organizer Storage Sturdy Narrow Shoe Shelf for Entryway Closets with Hooks Black",
                                        "marketplaceId": "ATVPDKIKX0DER",
                                        "countryCode": "US",
                                        "dateRange": {
                                            "startDate": "2024-03-22T08:35:43.717Z",
                                            "endDate": "2024-09-22T08:35:43.717Z"
                                        },
                                        "topics": {
                                            "positiveTopics": [
                                                {
                                                    "topic": "Assembly/Installation",
                                                    "asinMetrics": {
                                                        "numberOfMentions": 36,
                                                        "occurrencePercentage": 17.31,
                                                        "starRatingImpact": 4
                                                    },
                                                    "parentAsinMetrics": {
                                                        "numberOfMentions": 107,
                                                        "occurrencePercentage": 18.01,
                                                        "starRatingImpact": 3
                                                    },
                                                    "browseNodeMetrics": {
                                                        "occurrencePercentage": {
                                                            "allProducts": 16.41
                                                        },
                                                        "starRatingImpact": {
                                                            "allProducts": 1.5
                                                        }
                                                    },
                                                    "childAsinMetrics": {
                                                        "mostMentions": {
                                                            "asin": "B08576RCY4",
                                                            "numberOfMentions": 36
                                                        },
                                                        "leastMentions": {
                                                            "asin": "B08576DCY4",
                                                            "numberOfMentions": 4
                                                        }
                                                    },
                                                    "reviewSnippets": [
                                                        "Easy installation!",
                                                        "Easy to install.",
                                                        "Easy to assemble"
                                                    ],
                                                    "subtopics": [
                                                        {
                                                            "subtopic": "Simple and easy to assemble",
                                                            "metrics": {
                                                                "numberOfMentions": 9,
                                                                "occurrencePercentage": 25.01
                                                            },
                                                            "reviewSnippets": [
                                                                "Easy installation!",
                                                                "Not difficult to assemble.",
                                                                "Easy to assemble"
                                                            ]
                                                        },
                                                        {
                                                            "subtopic": "easy to put together and quick",
                                                            "metrics": {
                                                                "numberOfMentions": 5,
                                                                "occurrencePercentage": 13.01
                                                            },
                                                            "reviewSnippets": [
                                                                "Easy to put together!!.",
                                                                "Putting the product togetherwas alot however this saved so much room in my closet",
                                                                "love that it came with the one little tool you needed to putit all together!"
                                                            ]
                                                        },
                                                        {
                                                            "subtopic": "quick and easy to install",
                                                            "metrics": {
                                                                "numberOfMentions": 3,
                                                                "occurrencePercentage": 9.01
                                                            },
                                                            "reviewSnippets": [
                                                                "Easy installation!",
                                                                "Easy to install.",
                                                                "install was straight forward."
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "topic": "Strong",
                                                    "asinMetrics": {
                                                        "numberOfMentions": 36,
                                                        "occurrencePercentage": 17.31,
                                                        "starRatingImpact": 4.7
                                                    },
                                                    "parentAsinMetrics": {
                                                        "numberOfMentions": 107,
                                                        "occurrencePercentage": 18.01,
                                                        "starRatingImpact": 3.8
                                                    },
                                                    "browseNodeMetrics": {
                                                        "occurrencePercentage": {
                                                            "allProducts": 16.41
                                                        },
                                                        "starRatingImpact": {
                                                            "allProducts": 1.5
                                                        }
                                                    },
                                                    "childAsinMetrics": {
                                                        "mostMentions": {
                                                            "asin": "B08576RCY4",
                                                            "numberOfMentions": 36
                                                        },
                                                        "leastMentions": {
                                                            "asin": "B08576DCY4",
                                                            "numberOfMentions": 4
                                                        }
                                                    },
                                                    "reviewSnippets": [
                                                        "Sturdy and strong.",
                                                        "Fairly sturdy.",
                                                        "very sturdy"
                                                    ],
                                                    "subtopics": [
                                                        {
                                                            "subtopic": "sturdy and well built",
                                                            "metrics": {
                                                                "numberOfMentions": 9,
                                                                "occurrencePercentage": 25.01
                                                            },
                                                            "reviewSnippets": [
                                                                "very sturdy",
                                                                "Sturdiness is ok.",
                                                                "Sturdier than expected."
                                                            ]
                                                        },
                                                        {
                                                            "subtopic": "durable and sturdy",
                                                            "metrics": {
                                                                "numberOfMentions": 4,
                                                                "occurrencePercentage": 12.01
                                                            },
                                                            "reviewSnippets": [
                                                                "This IS sturdy.",
                                                                "Sturdiness construction.",
                                                                "it much sturdier than the other two brands that I have purchased."
                                                            ]
                                                        },
                                                        {
                                                            "subtopic": "strong and durable",
                                                            "metrics": {
                                                                "numberOfMentions": 2,
                                                                "occurrencePercentage": 6.01
                                                            },
                                                            "reviewSnippets": [
                                                                "This IS sturdy.",
                                                                "Sturdiness construction.",
                                                                "it much sturdier than the other two brands that I have purchased."
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "negativeTopics": [
                                                {
                                                    "topic": "Assembly/Installation",
                                                    "asinMetrics": {
                                                        "numberOfMentions": 36,
                                                        "occurrencePercentage": 17.31,
                                                        "starRatingImpact": -2.3
                                                    },
                                                    "parentAsinMetrics": {
                                                        "numberOfMentions": 107,
                                                        "occurrencePercentage": 18.01,
                                                        "starRatingImpact": -2.6
                                                    },
                                                    "browseNodeMetrics": {
                                                        "occurrencePercentage": {
                                                            "allProducts": 16.41
                                                        },
                                                        "starRatingImpact": {
                                                            "allProducts": -1.5
                                                        }
                                                    },
                                                    "childAsinMetrics": {
                                                        "mostMentions": {
                                                            "asin": "B08576RCY4",
                                                            "numberOfMentions": 36
                                                        },
                                                        "leastMentions": {
                                                            "asin": "B08576DCY4",
                                                            "numberOfMentions": 4
                                                        }
                                                    },
                                                    "reviewSnippets": [
                                                        "Difficult to assemble",
                                                        "Difficult to assemble",
                                                        "impossible to put together"
                                                    ],
                                                    "subtopics": [
                                                        {
                                                            "subtopic": "difficult to put together",
                                                            "metrics": {
                                                                "numberOfMentions": 9,
                                                                "occurrencePercentage": 25.01
                                                            },
                                                            "reviewSnippets": [
                                                                "impossible to put together",
                                                                "Had a little hard time putting together either."
                                                            ]
                                                        },
                                                        {
                                                            "subtopic": "hard to assemble",
                                                            "metrics": {
                                                                "numberOfMentions": 6,
                                                                "occurrencePercentage": 18.01
                                                            },
                                                            "reviewSnippets": [
                                                                "impossible to put together",
                                                                "Had a little hard time putting together either."
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "204": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "example": {}
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "asin": {
                                                "value": "B08PD3JTPF"
                                            },
                                            "marketplaceId": {
                                                "value": "ATVPDKIKR0DER"
                                            },
                                            "sortBy": {
                                                "value": "MENTIONS"
                                            }
                                        }
                                    },
                                    "response": {}
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "asin": {
                                                "value": "123456"
                                            },
                                            "marketplaceId": {
                                                "value": "abcd"
                                            },
                                            "sortBy": {
                                                "value": "starRatingImpact"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Invalid input."
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customerFeedback/2024-06-01/items/{asin}/browseNode": {
            "get": {
                "tags": [
                    "customerFeedback"
                ],
                "description": "This API returns the associated browse node of the requested ASIN. A browse node is a location in a browse tree that is used for navigation, product classification, and website content on the Amazon retail website.",
                "operationId": "getItemBrowseNode",
                "parameters": [
                    {
                        "name": "asin",
                        "in": "path",
                        "description": "The Amazon Standard Identification Number (ASIN) is the unique identifier of a product within a marketplace.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "marketplaceId",
                        "in": "query",
                        "description": "The MarketplaceId is the globally unique identifier of a marketplace, you can refer to the marketplaceId here : https://developer-docs.amazon.com/sp-api/docs/marketplace-ids.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BrowseNodeResponse"
                                },
                                "example": {
                                    "browseNodeId": "37584319",
                                    "displayName": "Shoes & Jewelry"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "asin": {
                                                "value": "B08PD3JNPF"
                                            },
                                            "marketplaceId": {
                                                "value": "ATVPDKIKX0DER"
                                            }
                                        }
                                    },
                                    "response": {
                                        "browseNodeId": "37584319",
                                        "displayName": "Shoes & Jewelry"
                                    }
                                }
                            ]
                        }
                    },
                    "204": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "example": {}
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "asin": {
                                                "value": "B08PD3JTPF"
                                            },
                                            "marketplaceId": {
                                                "value": "ATVPDKIKR0DER"
                                            }
                                        }
                                    },
                                    "response": {}
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "asin": {
                                                "value": "123456"
                                            },
                                            "marketplaceId": {
                                                "value": "abcd"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Invalid input."
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customerFeedback/2024-06-01/browseNodes/{browseNodeId}/reviews/topics": {
            "get": {
                "tags": [
                    "customerFeedback"
                ],
                "description": "Retrieve a browse node's ten most positive and ten most negative review topics.",
                "operationId": "getBrowseNodeReviewTopics",
                "parameters": [
                    {
                        "name": "browseNodeId",
                        "in": "path",
                        "description": "The ID of a browse node. A browse node is a named location in a browse tree that is used for navigation, product classification, and website content.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "marketplaceId",
                        "in": "query",
                        "description": "The MarketplaceId is the globally unique identifier of a marketplace, you can refer to the marketplaceId here : https://developer-docs.amazon.com/sp-api/docs/marketplace-ids.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "The metric by which to sort the data in the response.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "MENTIONS"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BrowseNodeReviewTopicsResponse"
                                },
                                "example": {
                                    "browseNodeId": "123456789",
                                    "displayName": "Shoe rack",
                                    "marketplaceId": "US",
                                    "countryCode": "US",
                                    "dateRange": {
                                        "startDate": "2024-03-22T08:35:43.717Z",
                                        "endDate": "2024-03-22T08:35:43.717Z"
                                    },
                                    "topics": {
                                        "positiveTopics": [
                                            {
                                                "topic": "Assembly/Installation",
                                                "browseNodeMetrics": {
                                                    "occurrencePercentage": {
                                                        "allProducts": 27.5,
                                                        "topTwentyFivePercentProducts": 13.5
                                                    },
                                                    "starRatingImpact": {
                                                        "topTwentyFivePercentProducts": 1.85,
                                                        "allProducts": 1.1
                                                    }
                                                },
                                                "reviewSnippets": [
                                                    "Easy installation!",
                                                    "Easy to install.",
                                                    "Easy to assemble"
                                                ],
                                                "subtopics": [
                                                    {
                                                        "subtopic": "Simple and easy to assemble",
                                                        "metrics": {
                                                            "occurrencePercentage": 45.47
                                                        },
                                                        "reviewSnippets": [
                                                            "Easy installation!",
                                                            "Not difficult to assemble.",
                                                            "Easy to assemble"
                                                        ]
                                                    },
                                                    {
                                                        "subtopic": "easy to put together and quick",
                                                        "metrics": {
                                                            "occurrencePercentage": 24.47
                                                        },
                                                        "reviewSnippets": [
                                                            "Easy to put together!!.",
                                                            "Putting the product togetherwas alot however this saved so much room in my closet",
                                                            "love that it came with the one little tool you needed to putit all together!"
                                                        ]
                                                    },
                                                    {
                                                        "subtopic": "quick and easy to install",
                                                        "metrics": {
                                                            "occurrencePercentage": 14.47
                                                        },
                                                        "reviewSnippets": [
                                                            "Easy installation!",
                                                            "Easy to install.",
                                                            "install was straight forward."
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "topic": "Strong",
                                                "browseNodeMetrics": {
                                                    "occurrencePercentage": {
                                                        "allProducts": 27.3,
                                                        "topTwentyFivePercentProducts": 13.5
                                                    },
                                                    "starRatingImpact": {
                                                        "topTwentyFivePercentProducts": 1.85,
                                                        "allProducts": 1.1
                                                    }
                                                },
                                                "reviewSnippets": [
                                                    "Sturdy and strong.",
                                                    "Fairly sturdy.",
                                                    "very sturdy"
                                                ],
                                                "subtopics": [
                                                    {
                                                        "subtopic": "sturdy and well built",
                                                        "metrics": {
                                                            "occurrencePercentage": 24.47
                                                        },
                                                        "reviewSnippets": [
                                                            "very sturdy",
                                                            "Sturdiness is ok.",
                                                            "Sturdier than expected."
                                                        ]
                                                    },
                                                    {
                                                        "subtopic": "durable and sturdy",
                                                        "metrics": {
                                                            "occurrencePercentage": 18.47
                                                        },
                                                        "reviewSnippets": [
                                                            "This IS sturdy.",
                                                            "Sturdiness construction.",
                                                            "it much sturdier than the other two brands that I have purchased."
                                                        ]
                                                    },
                                                    {
                                                        "subtopic": "strong and durable",
                                                        "metrics": {
                                                            "occurrencePercentage": 11.47
                                                        },
                                                        "reviewSnippets": [
                                                            "This IS sturdy.",
                                                            "Sturdiness construction.",
                                                            "it much sturdier than the other two brands that I have purchased."
                                                        ]
                                                    }
                                                ]
                                            }
                                        ],
                                        "negativeTopics": [
                                            {
                                                "topic": "Assembly/Installation",
                                                "browseNodeMetrics": {
                                                    "occurrencePercentage": {
                                                        "allProducts": 22,
                                                        "topTwentyFivePercentProducts": 13.5
                                                    },
                                                    "starRatingImpact": {
                                                        "topTwentyFivePercentProducts": -1.85,
                                                        "allProducts": -1.1
                                                    }
                                                },
                                                "reviewSnippets": [
                                                    "Difficult to assemble",
                                                    "Difficult to assemble",
                                                    "impossible to put together"
                                                ],
                                                "subtopics": [
                                                    {
                                                        "subtopic": "difficult to put together",
                                                        "metrics": {
                                                            "occurrencePercentage": 24.47
                                                        },
                                                        "reviewSnippets": [
                                                            "impossible to put together",
                                                            "Had a little hard time putting together either."
                                                        ]
                                                    },
                                                    {
                                                        "subtopic": "hard to assemble",
                                                        "metrics": {
                                                            "occurrencePercentage": 21.47
                                                        },
                                                        "reviewSnippets": [
                                                            "impossible to put together",
                                                            "Had a little hard time putting together either."
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "browseNodeId": {
                                                "value": "123456789"
                                            },
                                            "marketplaceId": {
                                                "value": "ATVPDKIKX0DER"
                                            },
                                            "sortBy": {
                                                "value": "STAR_RATING_IMPACT"
                                            }
                                        }
                                    },
                                    "response": {
                                        "browseNodeId": "123456789",
                                        "displayName": "Shoe rack",
                                        "marketplaceId": "US",
                                        "countryCode": "US",
                                        "dateRange": {
                                            "startDate": "2024-03-22T08:35:43.717Z",
                                            "endDate": "2024-03-22T08:35:43.717Z"
                                        },
                                        "topics": {
                                            "positiveTopics": [
                                                {
                                                    "topic": "Assembly/Installation",
                                                    "browseNodeMetrics": {
                                                        "occurrencePercentage": {
                                                            "allProducts": 27.5,
                                                            "topTwentyFivePercentProducts": 13.5
                                                        },
                                                        "starRatingImpact": {
                                                            "topTwentyFivePercentProducts": 1.85,
                                                            "allProducts": 1.1
                                                        }
                                                    },
                                                    "reviewSnippets": [
                                                        "Easy installation!",
                                                        "Easy to install.",
                                                        "Easy to assemble"
                                                    ],
                                                    "subtopics": [
                                                        {
                                                            "subtopic": "Simple and easy to assemble",
                                                            "metrics": {
                                                                "occurrencePercentage": 45.47
                                                            },
                                                            "reviewSnippets": [
                                                                "Easy installation!",
                                                                "Not difficult to assemble.",
                                                                "Easy to assemble"
                                                            ]
                                                        },
                                                        {
                                                            "subtopic": "easy to put together and quick",
                                                            "metrics": {
                                                                "occurrencePercentage": 24.47
                                                            },
                                                            "reviewSnippets": [
                                                                "Easy to put together!!.",
                                                                "Putting the product togetherwas alot however this saved so much room in my closet",
                                                                "love that it came with the one little tool you needed to putit all together!"
                                                            ]
                                                        },
                                                        {
                                                            "subtopic": "quick and easy to install",
                                                            "metrics": {
                                                                "occurrencePercentage": 14.47
                                                            },
                                                            "reviewSnippets": [
                                                                "Easy installation!",
                                                                "Easy to install.",
                                                                "install was straight forward."
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "topic": "Strong",
                                                    "browseNodeMetrics": {
                                                        "occurrencePercentage": {
                                                            "allProducts": 27.3,
                                                            "topTwentyFivePercentProducts": 13.5
                                                        },
                                                        "starRatingImpact": {
                                                            "topTwentyFivePercentProducts": 1.85,
                                                            "allProducts": 1.1
                                                        }
                                                    },
                                                    "reviewSnippets": [
                                                        "Sturdy and strong.",
                                                        "Fairly sturdy.",
                                                        "very sturdy"
                                                    ],
                                                    "subtopics": [
                                                        {
                                                            "subtopic": "sturdy and well built",
                                                            "metrics": {
                                                                "occurrencePercentage": 24.47
                                                            },
                                                            "reviewSnippets": [
                                                                "very sturdy",
                                                                "Sturdiness is ok.",
                                                                "Sturdier than expected."
                                                            ]
                                                        },
                                                        {
                                                            "subtopic": "durable and sturdy",
                                                            "metrics": {
                                                                "occurrencePercentage": 18.47
                                                            },
                                                            "reviewSnippets": [
                                                                "This IS sturdy.",
                                                                "Sturdiness construction.",
                                                                "it much sturdier than the other two brands that I have purchased."
                                                            ]
                                                        },
                                                        {
                                                            "subtopic": "strong and durable",
                                                            "metrics": {
                                                                "occurrencePercentage": 11.47
                                                            },
                                                            "reviewSnippets": [
                                                                "This IS sturdy.",
                                                                "Sturdiness construction.",
                                                                "it much sturdier than the other two brands that I have purchased."
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "negativeTopics": [
                                                {
                                                    "topic": "Assembly/Installation",
                                                    "browseNodeMetrics": {
                                                        "occurrencePercentage": {
                                                            "allProducts": 22,
                                                            "topTwentyFivePercentProducts": 13.5
                                                        },
                                                        "starRatingImpact": {
                                                            "topTwentyFivePercentProducts": -1.85,
                                                            "allProducts": -1.1
                                                        }
                                                    },
                                                    "reviewSnippets": [
                                                        "Difficult to assemble",
                                                        "Difficult to assemble",
                                                        "impossible to put together"
                                                    ],
                                                    "subtopics": [
                                                        {
                                                            "subtopic": "difficult to put together",
                                                            "metrics": {
                                                                "occurrencePercentage": 24.47
                                                            },
                                                            "reviewSnippets": [
                                                                "impossible to put together",
                                                                "Had a little hard time putting together either."
                                                            ]
                                                        },
                                                        {
                                                            "subtopic": "hard to assemble",
                                                            "metrics": {
                                                                "occurrencePercentage": 21.47
                                                            },
                                                            "reviewSnippets": [
                                                                "impossible to put together",
                                                                "Had a little hard time putting together either."
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "204": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "example": {}
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "browseNodeId": {
                                                "value": "123456789"
                                            },
                                            "marketplaceId": {
                                                "value": "ATVPTKIKX0DER"
                                            },
                                            "sortBy": {
                                                "value": "STAR_RATING_IMPACT"
                                            }
                                        }
                                    },
                                    "response": {}
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "browseNodeId": {
                                                "value": "123456"
                                            },
                                            "marketplaceId": {
                                                "value": "abcd"
                                            },
                                            "sortBy": {
                                                "value": "STAR_RATING_IMPACT"
                                            }
                                        }
                                    },
                                    "response": {
                                        "errors": [
                                            {
                                                "code": "InvalidInput",
                                                "message": "Invalid input."
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customerFeedback/2024-06-01/items/{asin}/reviews/trends": {
            "get": {
                "tags": [
                    "customerFeedback"
                ],
[...]
