{
    "openapi": "3.0.1",
    "info": {
        "title": "Selling Partner API for Retail Procurement Shipments",
        "description": "The Selling Partner API for Retail Procurement Shipments provides programmatic access to retail shipping data for vendors.",
        "contact": {
            "name": "Selling Partner API Developer Support",
            "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
        },
        "license": {
            "name": "Apache License 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://sellingpartnerapi-na.amazon.com/"
        }
    ],
    "paths": {
        "/vendor/shipping/v1/shipmentConfirmations": {
            "post": {
                "tags": [
                    "vendorShipping"
                ],
                "description": "Submits one or more shipment confirmations for vendor orders.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 10 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "SubmitShipmentConfirmations",
                "requestBody": {
                    "description": "A request to submit shipment confirmation.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubmitShipmentConfirmationsRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubmitShipmentConfirmationsResponse"
                                },
                                "example": {
                                    "payload": {
                                        "transactionId": {
                                            "description": "GUID assigned by Amazon to identify this transaction. It will be used in Transaction Status API as reference to get status of this transaction.",
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "x-amzn-api-sandbox": {
                            "static": [
                                {
                                    "request": {
                                        "parameters": {
                                            "body": {
                                                "value": {
                                                    "shipmentConfirmations": [
                                                        {
                                                            "shipmentIdentifier": "TestShipmentConfirmation202",
                                                            "shipmentConfirmationDate": "2021-03-11T12:38:23.388Z",
                                                            "sellingParty": {
                                                                "partyId": "ABCD1"
                                                            },
                                                            "shipFromParty": {
                                                                "partyId": "EFGH1"
                                                            },
                                                            "shipToParty": {
                                                                "partyId": "JKL1"
                                                            },
                                                            "shipmentConfirmationType": "Original",
                                                            "shippedItems": [
                                                                {
                                                                    "itemSequenceNumber": "001",
                                                                    "shippedQuantity": {
                                                                        "amount": 100,
                                                                        "unitOfMeasure": "Eaches"
                                                                    },
                                                                    "itemDetails": {
                                                                        "purchaseOrderNumber": "TestOrder202"
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            }
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "transactionId": "20190905010908-8a3b6901-ef20-412f-9270-21c021796605"
                                        }
                                    }
                                },
                                {
                                    "request": {
                                        "parameters": {
                                            "body": {}
                                        }
                                    },
                                    "response": {
                                        "payload": {
                                            "transactionId": "mock-TransactionId-20190905010908-8a3b6901-ef20-412f-9270-21c021796605"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubmitShipmentConfirmationsResponse"
                                }
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "body": {
                                            "value": {
                                                "shipmentConfirmations": [
                                                    {
                                                        "shipmentIdentifier": "MOCKSHIPMENTID"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "code": "InvalidInput",
                                            "message": "Invalid Shipment ID"
                                        }
                                    ]
                                }
                            }
                        ]
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubmitShipmentConfirmationsResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubmitShipmentConfirmationsResponse"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubmitShipmentConfirmationsResponse"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubmitShipmentConfirmationsResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubmitShipmentConfirmationsResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubmitShipmentConfirmationsResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubmitShipmentConfirmationsResponse"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body"
            }
        },
        "/vendor/shipping/v1/shipments": {
            "get": {
                "tags": [
                    "vendorShipping"
                ],
                "description": "Returns the Details about Shipment, Carrier Details,  status of the shipment, container details and other details related to shipment based on the filter parameters value that you specify.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 10 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "GetShipmentDetails",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The limit to the number of records returned. Default value is 50 records.",
                        "schema": {
                            "maximum": 50,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "sortOrder",
                        "in": "query",
                        "description": "Sort in ascending or descending order by purchase order creation date.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ASC",
                                "DESC"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "value": "ASC",
                                    "description": "Sort in ascending order by shipment creation date."
                                },
                                {
                                    "value": "DESC",
                                    "description": "Sort in descending order by shipment creation date."
                                }
                            ]
                        },
                        "x-docgen-enum-table-extension": [
                            {
                                "value": "ASC",
                                "description": "Sort in ascending order by shipment creation date."
                            },
                            {
                                "value": "DESC",
                                "description": "Sort in descending order by shipment creation date."
                            }
                        ]
                    },
                    {
                        "name": "nextToken",
                        "in": "query",
                        "description": "Used for pagination when there are more shipments than the specified result size limit.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "createdAfter",
                        "in": "query",
                        "description": "Get Shipment Details that became available after this timestamp will be included in the result. Must be in <a href='https://developer-docs.amazon.com/sp-api/docs/iso-8601'>ISO 8601</a> format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Get Shipment Details that became available before this timestamp will be included in the result. Must be in <a href='https://developer-docs.amazon.com/sp-api/docs/iso-8601'>ISO 8601</a> format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "shipmentConfirmedBefore",
                        "in": "query",
                        "description": "Get Shipment Details by passing Shipment confirmed create Date Before. Must be in <a href='https://developer-docs.amazon.com/sp-api/docs/iso-8601'>ISO 8601</a> format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "shipmentConfirmedAfter",
                        "in": "query",
                        "description": "Get Shipment Details by passing Shipment confirmed create Date After. Must be in <a href='https://developer-docs.amazon.com/sp-api/docs/iso-8601'>ISO 8601</a> format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "packageLabelCreatedBefore",
                        "in": "query",
                        "description": "Get Shipment Details by passing Package label create Date by buyer. Must be in <a href='https://developer-docs.amazon.com/sp-api/docs/iso-8601'>ISO 8601</a> format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "packageLabelCreatedAfter",
                        "in": "query",
                        "description": "Get Shipment Details by passing Package label create Date After by buyer. Must be in <a href='https://developer-docs.amazon.com/sp-api/docs/iso-8601'>ISO 8601</a> format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "shippedBefore",
                        "in": "query",
                        "description": "Get Shipment Details by passing Shipped Date Before. Must be in <a href='https://developer-docs.amazon.com/sp-api/docs/iso-8601'>ISO 8601</a> format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "shippedAfter",
                        "in": "query",
                        "description": "Get Shipment Details by passing Shipped Date After. Must be in <a href='https://developer-docs.amazon.com/sp-api/docs/iso-8601'>ISO 8601</a> format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "estimatedDeliveryBefore",
                        "in": "query",
                        "description": "Get Shipment Details by passing Estimated Delivery Date Before. Must be in <a href='https://developer-docs.amazon.com/sp-api/docs/iso-8601'>ISO 8601</a> format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "estimatedDeliveryAfter",
                        "in": "query",
                        "description": "Get Shipment Details by passing Estimated Delivery Date Before. Must be in <a href='https://developer-docs.amazon.com/sp-api/docs/iso-8601'>ISO 8601</a> format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "shipmentDeliveryBefore",
                        "in": "query",
                        "description": "Get Shipment Details by passing Shipment Delivery Date Before. Must be in <a href='https://developer-docs.amazon.com/sp-api/docs/iso-8601'>ISO 8601</a> format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "shipmentDeliveryAfter",
                        "in": "query",
                        "description": "Get Shipment Details by passing Shipment Delivery Date After. Must be in <a href='https://developer-docs.amazon.com/sp-api/docs/iso-8601'>ISO 8601</a> format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "requestedPickUpBefore",
                        "in": "query",
                        "description": "Get Shipment Details by passing Before Requested pickup date. Must be in <a href='https://developer-docs.amazon.com/sp-api/docs/iso-8601'>ISO 8601</a> format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "requestedPickUpAfter",
                        "in": "query",
                        "description": "Get Shipment Details by passing After Requested pickup date. Must be in <a href='https://developer-docs.amazon.com/sp-api/docs/iso-8601'>ISO 8601</a> format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "scheduledPickUpBefore",
                        "in": "query",
                        "description": "Get Shipment Details by passing Before scheduled pickup date. Must be in <a href='https://developer-docs.amazon.com/sp-api/docs/iso-8601'>ISO 8601</a> format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "scheduledPickUpAfter",
                        "in": "query",
                        "description": "Get Shipment Details by passing After Scheduled pickup date. Must be in <a href='https://developer-docs.amazon.com/sp-api/docs/iso-8601'>ISO 8601</a> format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "currentShipmentStatus",
                        "in": "query",
                        "description": "Get Shipment Details by passing Current shipment status.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "vendorShipmentIdentifier",
                        "in": "query",
                        "description": "Get Shipment Details by passing Vendor Shipment ID",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "buyerReferenceNumber",
                        "in": "query",
                        "description": "Get Shipment Details by passing buyer Reference ID",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "buyerWarehouseCode",
                        "in": "query",
                        "description": "Get Shipping Details based on buyer warehouse code. This value should be same as 'shipToParty.partyId' in the Shipment.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sellerWarehouseCode",
                        "in": "query",
                        "description": "Get Shipping Details based on vendor warehouse code. This value should be same as 'sellingParty.partyId' in the Shipment.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetShipmentDetailsResponse"
                                },
                                "example": {
                                    "payload": {
                                        "pagination": {
                                            "nextToken": "MDAwMDAwMDAwMQ=="
                                        },
                                        "shipments": [
                                            {
                                                "vendorShipmentIdentifier": "00050003",
                                                "buyerReferenceNumber": "1234567",
                                                "currentShipmentStatus": "CarrierAssigned",
                                                "currentshipmentStatusDate": "2019-08-09T19:56:45.632",
                                                "shipmentStatusDetails": [
                                                    {
                                                        "shipmentStatus": "CarrierAssigned",
                                                        "shipmentStatusDate": "2019-08-09T19:56:45.632"
                                                    },
                                                    {
                                                        "shipmentStatus": "TransportationRequested",
                                                        "shipmentStatusDate": "2019-07-07T19:56:45.632"
                                                    },
                                                    {
                                                        "shipmentStatus": "Created",
                                                        "shipmentStatusDate": "2019-07-06T19:56:45.632"
                                                    }
                                                ],
                                                "shipmentCreateDate": "2019-07-07T19:56:45.632",
                                                "shipmentConfirmDate": "2019-08-07T19:56:45.632",
                                                "packageLabelCreateDate": "2019-08-07T19:56:45.632",
                                                "shipmentFreightTerm": "Collect",
                                                "sellingParty": {
                                                    "partyId": "998US"
                                                },
                                                "shipFromParty": {
                                                    "address": {
                                                        "name": "ABC electronics warehouse",
                                                        "addressLine1": "DEF 1st street",
                                                        "city": "Lisses",
                                                        "stateOrRegion": "abcland",
                                                        "postalCode": "91090",
                                                        "countryCode": "DE"
                                                    },
                                                    "partyId": "ABCD12"
                                                },
                                                "shipToParty": {
                                                    "partyId": "999US"
                                                },
                                                "shipmentMeasurements": {
                                                    "totalCartonCount": 30,
                                                    "totalPalletStackable": 30,
                                                    "totalPalletNonStackable": 30,
                                                    "shipmentWeight": {
                                                        "unitOfMeasure": "Kg",
                                                        "value": "120.45"
                                                    },
                                                    "shipmentVolume": {
                                                        "unitOfMeasure": "CuFt",
                                                        "value": "2.4"
                                                    }
                                                },
                                                "collectFreightPickupDetails": {
                                                    "requestedPickUp": "2019-08-07T19:56:45.632",
                                                    "scheduledPickUp": "2019-08-07T19:56:45.632",
                                                    "carrierAssignmentDate": "2019-08-07T19:56:45.632"
                                                },
                                                "purchaseOrders": [
                                                    {
                                                        "purchaseOrderNumber": "1BBBAAAA",
                                                        "purchaseOrderDate": "2019-08-06T19:56:45.632",
                                                        "shipWindow": "08/25/2021 - 08/31/2021",
                                                        "items": [
                                                            {
                                                                "itemSequenceNumber": "001",
                                                                "vendorProductIdentifier": "9782700001659",
                                                                "buyerProductIdentifier": "9782700001690",
                                                                "shippedQuantity": {
                                                                    "amount": 100,
                                                                    "unitOfMeasure": "Eaches",
                                                                    "unitSize": 1
                                                                },
                                                                "maximumRetailPrice": {
                                                                    "currencyCode": "USD",
                                                                    "amount": "12345"
                                                                }
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "importDetails": {
                                                    "methodOfPayment": "PaidByBuyer",
                                                    "sealNumber": "1232142132",
                                                    "route": {
                                                        "stops": [
                                                            {
                                                                "functionCode": "PortOfDischarge",
                                                                "locationIdentification": {
                                                                    "type": "string",
                                                                    "locationCode": "string",
                                                                    "countryCode": "US"
                                                                },
                                                                "arrivalTime": "2021-07-12T22:22:25.038Z",
                                                                "departureTime": "2021-07-12T22:22:25.038Z"
                                                            }
                                                        ]
                                                    },
                                                    "importContainers": "string",
                                                    "billableWeight": {
                                                        "unitOfMeasure": "G",
                                                        "value": "10"
                                                    },
                                                    "estimatedShipByDate": "2021-07-12T22:22:25.038Z",
                                                    "handlingInstructions": "Oversized"
                                                },
                                                "containers": [
                                                    {
                                                        "containerType": "carton",
                                                        "containerSequenceNumber": "001",
                                                        "containerIdentifiers": [
                                                            {
                                                                "containerIdentificationType": "SSCC",
                                                                "containerIdentificationNumber": "213124134213"
                                                            }
                                                        ],
                                                        "trackingNumber": "XXXX",
                                                        "dimensions": {
                                                            "length": "12",
                                                            "width": "12",
                                                            "height": "12",
                                                            "unitOfMeasure": "IN"
                                                        },
                                                        "weight": {
                                                            "unitOfMeasure": "KG",
                                                            "value": "10"
                                                        },
                                                        "packedItems": [
                                                            {
                                                                "itemSequenceNumber": "001",
                                                                "buyerProductIdentifier": "B07DFVDRAA",
                                                                "vendorProductIdentifier": "12312412421",
                                                                "packedQuantity": {
                                                                    "amount": 1,
                                                                    "unitOfMeasure": "Each"
                                                                },
                                                                "itemDetails": {
                                                                    "purchaseOrderNumber": "string",
                                                                    "lotNumber": "string",
                                                                    "expiry": {
                                                                        "manufacturerDate": "2021-07-12T22:22:25.038Z",
                                                                        "expiryDate": "2021-07-12T22:22:25.038Z",
                                                                        "expiryAfterDuration": {
                                                                            "durationUnit": "Days",
                                                                            "durationValue": 0
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            {
                                                                "containerType": "pallet",
                                                                "containerSequenceNumber": "002",
                                                                "containerIdentifiers": [
                                                                    {
                                                                        "containerIdentificationType": "SSCC",
                                                                        "containerIdentificationNumber": "ARK123214214213"
                                                                    }
                                                                ],
                                                                "trackingNumber": "TRACK001",
                                                                "dimensions": {
                                                                    "length": "12",
                                                                    "width": "12",
                                                                    "height": "12",
                                                                    "unitOfMeasure": "IN"
                                                                },
                                                                "weight": {
                                                                    "unitOfMeasure": "KG",
                                                                    "value": "10"
                                                                },
                                                                "tier": 2,
                                                                "block": 2,
                                                                "innerContainersDetails": {
                                                                    "containerCount": 10,
                                                                    "containerSequenceNumbers": [
                                                                        {
                                                                            "containerSequenceNumber": "002"
                                                                        },
                                                                        {
                                                                            "containerSequenceNumber": "003"
                                                                        }
                                                                    ]
                                                                },
                                                                "packedItems": [
                                                                    {
                                                                        "itemSequenceNumber": "001",
                                                                        "buyerProductIdentifier": "B07DFVDRAA",
                                                                        "vendorProductIdentifier": "12312412421",
                                                                        "packedQuantity": {
                                                                            "amount": 1,
                                                                            "unitOfMeasure": "Each"
                                                                        },
                                                                        "itemDetails": {
                                                                            "purchaseOrderNumber": "string",
                                                                            "lotNumber": "string",
                                                                            "expiry": {
                                                                                "manufacturerDate": "2021-07-12T22:22:25.038Z",
                                                                                "expiryDate": "2021-07-12T22:22:25.038Z",
                                                                                "expiryAfterDuration": {
                                                                                    "durationUnit": "Days",
                                                                                    "durationValue": 0
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "transportationDetails": {
                                                    "shipMode": "LessThanTruckLoad",
                                                    "transportationMode": "Road",
                                                    "shippedDate": "2019-08-07T19:56:45.632",
                                                    "estimatedDeliveryDate": "2019-08-07T19:56:45.632",
                                                    "shipmentDeliveryDate": "2019-08-07T19:56:45.632",
                                                    "carrierDetails": {
                                                        "name": "UPS",
                                                        "phone": "1234567890",
                                                        "email": "abc@xyz.com",
                                                        "code": "string",
                                                        "shipmentReferenceNumber": "TRACK001"
                                                    },
                                                    "billOfLadingNumber": "string"
                                                }
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "vendorShipmentIdentifier": {
                                            "value": "12345678"
                                        }
                                    }
                                },
                                "response": {
                                    "payload": {
                                        "pagination": {
                                            "nextToken": "MDAwMDAwMDAwMQ=="
                                        },
                                        "shipments": [
                                            {
                                                "vendorShipmentIdentifier": "00050003",
                                                "buyerReferenceNumber": "1234567",
                                                "currentShipmentStatus": "Created",
                                                "currentshipmentStatusDate": "2019-08-07T19:56:45.632",
                                                "shipmentStatusDetails": [
                                                    {
                                                        "shipmentStatus": "Created",
                                                        "shipmentStatusDate": "2019-08-07T19:56:45.632"
                                                    }
                                                ],
                                                "shipmentCreateDate": "2019-07-07T19:56:45.632",
                                                "shipmentConfirmDate": "2019-08-07T19:56:45.632",
                                                "packageLabelCreateDate": "2019-08-07T19:56:45.632",
                                                "shipmentFreightTerm": "Collect",
                                                "sellingParty": {
                                                    "partyId": "998US"
                                                },
                                                "shipFromParty": {
                                                    "address": {
                                                        "name": "ABC electronics warehouse",
                                                        "addressLine1": "DEF 1st street",
                                                        "city": "Lisses",
                                                        "stateOrRegion": "abcland",
                                                        "postalCode": "91090",
                                                        "countryCode": "DE"
                                                    },
                                                    "partyId": "ABCD12"
                                                },
                                                "shipToParty": {
                                                    "partyId": "999US"
                                                },
                                                "shipmentMeasurements": {
                                                    "totalCartonCount": 30,
                                                    "totalPalletStackable": 30,
                                                    "totalPalletNonStackable": 30,
                                                    "shipmentWeight": {
                                                        "unitOfMeasure": "Kg",
                                                        "value": "120.45"
                                                    },
                                                    "shipmentVolume": {
                                                        "unitOfMeasure": "CuFt",
                                                        "value": "2.4"
                                                    }
                                                },
                                                "collectFreightPickupDetails": {
                                                    "requestedPickUp": "2019-08-07T19:56:45.632",
                                                    "scheduledPickUp": "2019-08-07T19:56:45.632",
                                                    "carrierAssignmentDate": "2019-08-07T19:56:45.632"
                                                },
                                                "purchaseOrders": [
                                                    {
                                                        "purchaseOrderNumber": "1BBBAAAA",
                                                        "purchaseOrderDate": "2019-08-07T19:56:45.632",
                                                        "shipWindow": "08/25/2021 - 08/31/2021",
                                                        "items": [
                                                            {
                                                                "itemSequenceNumber": "001",
                                                                "vendorProductIdentifier": "9782700001659",
                                                                "buyerProductIdentifier": "9782700001690",
                                                                "shippedQuantity": {
                                                                    "amount": 100,
                                                                    "unitOfMeasure": "Eaches",
                                                                    "unitSize": 1
                                                                },
                                                                "maximumRetailPrice": {
                                                                    "currencyCode": "USD",
                                                                    "amount": "12345"
                                                                }
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "importDetails": {
                                                    "methodOfPayment": "PaidByBuyer",
                                                    "sealNumber": "1232142132",
                                                    "route": {
                                                        "stops": [
                                                            {
                                                                "functionCode": "PortOfDischarge",
                                                                "locationIdentification": {
                                                                    "type": "string",
                                                                    "locationCode": "string",
                                                                    "countryCode": "US"
                                                                },
                                                                "arrivalTime": "2021-07-12T22:22:25.038Z",
                                                                "departureTime": "2021-07-12T22:22:25.038Z"
                                                            }
                                                        ]
                                                    },
                                                    "importContainers": "string",
                                                    "billableWeight": {
                                                        "unitOfMeasure": "G",
                                                        "value": "10"
                                                    },
                                                    "estimatedShipByDate": "2021-07-12T22:22:25.038Z",
                                                    "handlingInstructions": "Oversized"
                                                },
                                                "containers": [
                                                    {
                                                        "containerType": "carton",
                                                        "containerSequenceNumber": "001",
                                                        "containerIdentifiers": [
                                                            {
                                                                "containerIdentificationType": "SSCC",
                                                                "containerIdentificationNumber": "213124134213"
                                                            }
                                                        ],
                                                        "trackingNumber": "XXXX",
                                                        "dimensions": {
                                                            "length": "12",
                                                            "width": "12",
                                                            "height": "12",
                                                            "unitOfMeasure": "IN"
                                                        },
                                                        "weight": {
                                                            "unitOfMeasure": "KG",
                                                            "value": "10"
                                                        },
                                                        "packedItems": [
                                                            {
                                                                "itemSequenceNumber": "001",
                                                                "buyerProductIdentifier": "B07DFVDRAA",
                                                                "vendorProductIdentifier": "12312412421",
                                                                "packedQuantity": {
                                                                    "amount": 1,
                                                                    "unitOfMeasure": "Each"
                                                                },
                                                                "itemDetails": {
                                                                    "purchaseOrderNumber": "string",
                                                                    "lotNumber": "string",
                                                                    "expiry": {
                                                                        "manufacturerDate": "2021-07-12T22:22:25.038Z",
                                                                        "expiryDate": "2021-07-12T22:22:25.038Z",
                                                                        "expiryAfterDuration": {
                                                                            "durationUnit": "Days",
                                                                            "durationValue": 0
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "containerType": "pallet",
                                                        "containerSequenceNumber": "002",
                                                        "containerIdentifiers": [
                                                            {
                                                                "containerIdentificationType": "SSCC",
                                                                "containerIdentificationNumber": "ARK123214214213"
                                                            }
                                                        ],
                                                        "trackingNumber": "TRACK001",
                                                        "dimensions": {
                                                            "length": "12",
                                                            "width": "12",
                                                            "height": "12",
                                                            "unitOfMeasure": "IN"
                                                        },
                                                        "weight": {
                                                            "unitOfMeasure": "KG",
                                                            "value": "10"
                                                        },
                                                        "tier": 2,
                                                        "block": 2,
                                                        "innerContainersDetails": {
                                                            "containerCount": 10,
                                                            "containerSequenceNumbers": [
                                                                {
                                                                    "containerSequenceNumber": "002"
                                                                },
                                                                {
                                                                    "containerSequenceNumber": "003"
                                                                }
                                                            ]
                                                        },
                                                        "packedItems": [
                                                            {
                                                                "itemSequenceNumber": "001",
                                                                "buyerProductIdentifier": "B07DFVDRAA",
                                                                "vendorProductIdentifier": "12312412421",
                                                                "packedQuantity": {
                                                                    "amount": 1,
                                                                    "unitOfMeasure": "Each"
                                                                },
                                                                "itemDetails": {
                                                                    "purchaseOrderNumber": "123142341",
                                                                    "lotNumber": "A12312412",
                                                                    "expiry": {
                                                                        "manufacturerDate": "2021-07-12T22:22:25.038Z",
                                                                        "expiryDate": "2021-07-12T22:22:25.038Z",
                                                                        "expiryAfterDuration": {
                                                                            "durationUnit": "Days",
                                                                            "durationValue": 0
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "transportationDetails": {
                                                    "shipMode": "LessThanTruckLoad",
                                                    "transportationMode": "Road",
                                                    "shippedDate": "2019-08-07T19:56:45.632",
                                                    "estimatedDeliveryDate": "2019-08-07T19:56:45.632",
                                                    "shipmentDeliveryDate": "2019-08-07T19:56:45.632",
                                                    "carrierDetails": {
                                                        "name": "UPS",
                                                        "phone": "1234567890",
                                                        "email": "abc@xyz.com",
                                                        "code": "1-1231",
                                                        "shipmentReferenceNumber": "TRACK001"
                                                    },
                                                    "billOfLadingNumber": "12534233421"
                                                }
                                            }
                                        ]
                                    }
                                }
                            }
                        ]
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetShipmentDetailsResponse"
                                }
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "vendorShipmentIdentifier": {
                                            "value": "null"
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "code": "InvalidRequest",
                                            "message": "Request is missing or has invalid parameters",
                                            "details": "vendor Shipment Identifier cannot be null"
                                        }
                                    ]
                                }
                            }
                        ]
                    },
                    "401": {
                        "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetShipmentDetailsResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetShipmentDetailsResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetShipmentDetailsResponse"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetShipmentDetailsResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetShipmentDetailsResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetShipmentDetailsResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetShipmentDetailsResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "vendorShipping"
                ],
                "description": "Submits one or more shipment request for vendor Orders.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 10 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "SubmitShipments",
                "requestBody": {
                    "description": "A request to submit shipment request.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubmitShipments"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubmitShipmentConfirmationsResponse"
                                }
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "body": {
                                            "value": {
                                                "shipments": [
                                                    {
                                                        "vendorShipmentIdentifier": "00050003",
                                                        "buyerReferenceNumber": "1234567",
                                                        "transactionType": "New",
                                                        "transactionDate": "2019-08-07T19:56:45.632",
                                                        "shipmentFreightTerm": "Collect",
                                                        "sellingParty": {
                                                            "partyId": "PQRSS"
                                                        },
                                                        "shipFromParty": {
                                                            "address": {
                                                                "name": "ABC electronics warehouse",
                                                                "addressLine1": "DEF 1st street",
                                                                "city": "Lisses",
                                                                "stateOrRegion": "abcland",
                                                                "postalCode": "91090",
                                                                "countryCode": "DE"
                                                            },
                                                            "partyId": "999US"
                                                        },
                                                        "shipToParty": {
                                                            "partyId": "ABCDF"
                                                        },
                                                        "shipmentMeasurements": {
                                                            "totalCartonCount": 30,
                                                            "totalPalletStackable": 30,
                                                            "totalPalletNonStackable": 30,
                                                            "shipmentWeight": {
                                                                "unitOfMeasure": "Kg",
                                                                "value": "120.45"
                                                            },
                                                            "shipmentVolume": {
                                                                "unitOfMeasure": "CuFt",
                                                                "value": "2.4"
                                                            }
                                                        },
                                                        "collectFreightPickupDetails": {
                                                            "requestedPickUp": "2019-08-07T19:56:45.632"
                                                        },
                                                        "purchaseOrders": [
                                                            {
                                                                "purchaseOrderNumber": "1BBBAAAA",
                                                                "items": [
                                                                    {
                                                                        "itemSequenceNumber": "001",
                                                                        "vendorProductIdentifier": "9782700001659",
                                                                        "buyerProductIdentifier": "9782700001610",
                                                                        "shippedQuantity": {
                                                                            "amount": 100,
                                                                            "unitOfMeasure": "Eaches",
                                                                            "unitSize": 1
                                                                        },
                                                                        "maximumRetailPrice": {
                                                                            "currencyCode": "USD",
                                                                            "amount": "90.80"
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "importDetails": {
                                                            "methodOfPayment": "PaidByBuyer",
                                                            "sealNumber": "0010101",
                                                            "route": {
                                                                "stops": [
                                                                    {
                                                                        "functionCode": "PortOfDischarge",
                                                                        "locationIdentification": {
                                                                            "type": "string",
                                                                            "locationCode": "string",
                                                                            "countryCode": "US"
                                                                        },
                                                                        "arrivalTime": "2021-07-12T22:22:25.038Z",
                                                                        "departureTime": "2021-07-12T22:22:25.038Z"
                                                                    }
                                                                ]
                                                            },
                                                            "importContainers": "string",
                                                            "billableWeight": {
                                                                "unitOfMeasure": "G",
                                                                "value": "string"
                                                            },
                                                            "estimatedShipByDate": "2021-07-12T22:22:25.038Z"
                                                        },
                                                        "containers": [
                                                            {
                                                                "containerType": "carton",
                                                                "containerSequenceNumber": "001",
                                                                "containerIdentifiers": [
                                                                    {
                                                                        "containerIdentificationType": "SSCC",
                                                                        "containerIdentificationNumber": "4251245123534"
                                                                    }
                                                                ],
                                                                "trackingNumber": "1Z69663R0347795889",
                                                                "dimensions": {
                                                                    "length": "12",
                                                                    "width": "12",
                                                                    "height": "12",
                                                                    "unitOfMeasure": "IN"
                                                                },
                                                                "weight": {
                                                                    "unitOfMeasure": "KG",
                                                                    "value": "10"
                                                                },
                                                                "packedItems": [
                                                                    {
                                                                        "itemSequenceNumber": "001",
                                                                        "buyerProductIdentifier": "B07DFVDRAA",
                                                                        "vendorProductIdentifier": "12312412421",
                                                                        "packedQuantity": {
                                                                            "amount": 1,
                                                                            "unitOfMeasure": "Each"
                                                                        },
                                                                        "itemDetails": {
                                                                            "purchaseOrderNumber": "MBvnLr0fw",
                                                                            "lotNumber": "10101010",
                                                                            "expiry": {
                                                                                "manufacturerDate": "2021-07-12T22:22:25.038Z",
                                                                                "expiryDate": "2021-07-12T22:22:25.038Z",
                                                                                "expiryAfterDuration": {
                                                                                    "durationUnit": "Days",
                                                                                    "durationValue": 0
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "containerType": "pallet",
                                                                "containerSequenceNumber": "002",
                                                                "containerIdentifiers": [
                                                                    {
                                                                        "containerIdentificationType": "SSCC",
                                                                        "containerIdentificationNumber": "ATR123213216"
                                                                    }
                                                                ],
                                                                "trackingNumber": "TRACK12345",
                                                                "dimensions": {
                                                                    "length": "12",
                                                                    "width": "12",
                                                                    "height": "12",
                                                                    "unitOfMeasure": "IN"
                                                                },
                                                                "weight": {
                                                                    "unitOfMeasure": "KG",
                                                                    "value": "10"
                                                                },
                                                                "tier": 2,
                                                                "block": 2,
                                                                "innerContainersDetails": {
                                                                    "containerCount": 10,
                                                                    "containerSequenceNumbers": [
                                                                        {
                                                                            "containerSequenceNumber": "002"
                                                                        },
                                                                        {
                                                                            "containerSequenceNumber": "003"
                                                                        }
                                                                    ]
                                                                },
                                                                "packedItems": [
                                                                    {
                                                                        "itemSequenceNumber": "001",
                                                                        "buyerProductIdentifier": "B07DFVDRAA",
                                                                        "vendorProductIdentifier": "12312412421",
                                                                        "packedQuantity": {
                                                                            "amount": 1,
                                                                            "unitOfMeasure": "Each"
                                                                        },
                                                                        "itemDetails": {
                                                                            "purchaseOrderNumber": "MBvnLr0fw",
                                                                            "lotNumber": "101001",
                                                                            "expiry": {
                                                                                "manufacturerDate": "2021-07-12T22:22:25.038Z",
                                                                                "expiryDate": "2021-07-12T22:22:25.038Z",
                                                                                "expiryAfterDuration": {
                                                                                    "durationUnit": "Days",
                                                                                    "durationValue": 0
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "transportationDetails": {
                                                            "shipMode": "LessThanTruckLoad",
                                                            "transportationMode": "Road",
                                                            "shippedDate": "2019-08-07T19:56:45.632",
                                                            "estimatedDeliveryDate": "2019-08-07T19:56:45.632",
                                                            "shipmentDeliveryDate": "2019-08-07T19:56:45.632",
                                                            "carrierDetails": {
                                                                "name": "UPS",
                                                                "phone": "1234567890",
                                                                "email": "abc@xyz.com",
                                                                "code": "string",
                                                                "shipmentReferenceNumber": "TRACK123123"
                                                            },
                                                            "billOfLadingNumber": "1234567890"
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "payload": {
                                        "transactionId": "mock-TransactionId-5a3066ab-e904-42bd-b6ae-bc70ca1c37e6-20210728234390"
                                    }
                                }
                            },
                            {
                                "request": {
                                    "parameters": {
                                        "body": {
                                            "value": {
                                                "shipments": [
                                                    {
                                                        "vendorShipmentIdentifier": "00050003",
                                                        "buyerReferenceNumber": "1234567",
                                                        "transactionType": "Cancel",
                                                        "transactionDate": "2019-08-07T19:56:45.632",
                                                        "shipmentFreightTerm": "Collect",
                                                        "sellingParty": {
                                                            "partyId": "PQRSS"
                                                        },
                                                        "shipFromParty": {
                                                            "address": {
                                                                "name": "ABC electronics warehouse",
                                                                "addressLine1": "DEF 1st street",
                                                                "city": "Lisses",
                                                                "stateOrRegion": "abcland",
                                                                "postalCode": "91090",
                                                                "countryCode": "DE"
                                                            },
                                                            "partyId": "999US"
                                                        },
                                                        "shipToParty": {
                                                            "partyId": "ABCDF"
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "payload": {
                                        "transactionId": "mock-TransactionId-5a3066ab-e904-42bd-b6ae-bc70ca1c37e6-20210728234390"
                                    }
                                }
                            },
                            {
                                "request": {
                                    "parameters": {
                                        "body": {}
                                    }
                                },
                                "response": {
                                    "payload": {
                                        "transactionId": "mock-TransactionId-a3066ab-e904-42bd-b6ae-bc70ca1c37e6-20210728234395"
                                    }
                                }
                            }
                        ]
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
[...]
