{
    "openapi": "3.0.1",
    "info": {
        "title": "Amazon Shipping API",
        "description": "The Amazon Shipping API is designed to support outbound shipping use cases both for orders originating on Amazon-owned marketplaces as well as external channels\/marketplaces. With these APIs, you can request shipping rates, create shipments, cancel shipments, and track shipments.",
        "contact": {
            "name": "Amazon Shipping API Support",
            "email": "[email\u00a0protected]"
        },
        "license": {
            "name": "Amazon Software License",
            "url": "https:\/\/aws.amazon.com\/asl\/"
        },
        "version": "v2"
    },
    "servers": [
        {
            "url": "https:\/\/sellingpartnerapi-eu.amazon.com\/"
        }
    ],
    "paths": {
        "\/shipping\/v2\/shipments\/rates": {
            "post": {
                "tags": [
                    "ShippingV2"
                ],
                "description": "Returns the available shipping service offerings.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 80 | 100 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values then those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "getRates",
                "parameters": [
                    {
                        "name": "x-amzn-shipping-business-id",
                        "in": "header",
                        "description": "Amazon shipping business to assume for this request. The default is AmazonShipping_UK.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "AmazonShipping_US",
                                "AmazonShipping_IN",
                                "AmazonShipping_UK",
                                "AmazonShipping_UAE",
                                "AmazonShipping_SA",
                                "AmazonShipping_EG",
                                "AmazonShipping_IT"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "value": "AmazonShipping_US",
                                    "description": "The United States Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_IN",
                                    "description": "The India Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_UK",
                                    "description": "The United Kingdom Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_UAE",
                                    "description": "The United Arab Emirates Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_SA",
                                    "description": "The Saudi Arabia Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_EG",
                                    "description": "The Egypt Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_IT",
                                    "description": "The Italy Amazon shipping business."
                                }
                            ]
                        },
                        "x-docgen-enum-table-extension": [
                            {
                                "value": "AmazonShipping_US",
                                "description": "The United States Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_IN",
                                "description": "The India Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_UK",
                                "description": "The United Kingdom Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_UAE",
                                "description": "The United Arab Emirates Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_SA",
                                "description": "The Saudi Arabia Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_EG",
                                "description": "The Egypt Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_IT",
                                "description": "The Italy Amazon shipping business."
                            }
                        ]
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/GetRatesRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetRatesResponse"
                                },
                                "example": {
                                    "requestToken": "6DCCEDD3FF961C15FEB94F342D41C",
                                    "rates": [
                                        {
                                            "rateId": "F4B68849F969E239FF9FCA9C12E35",
                                            "carrierId": "FOOSHIPGRD",
                                            "carrierName": "FOO SHIP GRD",
                                            "billedWeight": {
                                                "value": 5,
                                                "unit": "GRAMS"
                                            },
                                            "totalCharge": {
                                                "value": 7,
                                                "unit": "USD"
                                            },
                                            "serviceId": "FOORSID",
                                            "serviceName": "FOO RS ID",
                                            "promise": {
                                                "deliveryWindow": {
                                                    "start": "2018-08-24T08:22:30.737Z",
                                                    "end": "2018-08-24T20:22:30.737Z"
                                                },
                                                "pickupWindow": {
                                                    "start": "2018-08-23T08:22:30.737Z",
                                                    "end": "2018-08-23T20:22:30.737Z"
                                                }
                                            },
                                            "supportedDocumentSpecifications": [
                                                {
                                                    "format": "PNG",
                                                    "size": {
                                                        "length": 6,
                                                        "width": 4,
                                                        "unit": "INCH"
                                                    },
                                                    "printOptions": [
                                                        {
                                                            "supportedDPIs": [
                                                                300,
                                                                203
                                                            ],
                                                            "supportedPageLayouts": [
                                                                "LEFT",
                                                                "RIGHT"
                                                            ],
                                                            "supportedFileJoiningOptions": [
                                                                true,
                                                                false
                                                            ],
                                                            "supportedDocumentDetails": [
                                                                {
                                                                    "name": "LABEL",
                                                                    "isMandatory": true
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "format": "ZPL",
                                                    "size": {
                                                        "length": 6,
                                                        "width": 4,
                                                        "unit": "INCH"
                                                    },
                                                    "printOptions": [
                                                        {
                                                            "supportedDPIs": [
                                                                300,
                                                                203
                                                            ],
                                                            "supportedPageLayouts": [
                                                                "LEFT",
                                                                "RIGHT"
                                                            ],
                                                            "supportedFileJoiningOptions": [
                                                                true,
                                                                false
                                                            ],
                                                            "supportedDocumentDetails": [
                                                                {
                                                                    "name": "LABEL",
                                                                    "isMandatory": true
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "availableValueAddedServiceGroups": [
                                                {
                                                    "groupId": "SIG_VERIFICATION",
                                                    "groupDescription": "Signature Verification",
                                                    "isRequired": true,
                                                    "valueAddedServices": [
                                                        {
                                                            "id": "CUST_SIG_VERIFICATION",
                                                            "name": "Customer Signature Verification",
                                                            "cost": {
                                                                "unit": "USD",
                                                                "value": 2
                                                            }
                                                        }
                                                    ]
                                                }
                                            ],
                                            "requiresAdditionalInputs": false
                                        }
                                    ],
                                    "ineligibleRates": [
                                        {
                                            "carrierId": "FOOSTDGRD",
                                            "serviceId": "FOO8420430",
                                            "carrierName": "FOOSTDGRD",
                                            "serviceName": "FOO8420430",
                                            "ineligibilityReasons": [
                                                {
                                                    "code": "NO_COVERAGE",
                                                    "message": "Required shipping network coverage doesn't exist for the offering"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "InvalidRequest",
                                            "message": "Request is missing or has invalid parameters",
                                            "details": "ChannelDetails object cannot be null"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "Unauthorized",
                                            "message": "You don't have access to the requested response or the credentials are invalid."
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "Unauthorized",
                                            "message": "You don't have access to the requested response or the credentials are invalid."
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "NotFound",
                                            "message": "The requested resource is invalid or doesn't exist"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "InvalidRequest",
                                            "message": "The request payload size is greater than maximum accepted size."
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "InvalidRequest",
                                            "message": "The request payload format is not supported."
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "TooManyRequests",
                                            "message": "The total number of requests exceeded your allowed limit."
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "InternalError",
                                            "message": "Something went wrong while processing the request."
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "ServiceUnavailable",
                                            "message": "Service temporarily unavailable or down for maintenance. Please try again after sometime."
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-amzn-api-sandbox": {
                    "dynamic": {}
                },
                "x-codegen-request-body-name": "body"
            }
        },
        "\/shipping\/v2\/shipments\/directPurchase": {
            "post": {
                "tags": [
                    "ShippingV2"
                ],
                "description": "Purchases the shipping service for a shipment using the best fit service offering. Returns purchase related details and documents.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 80 | 100 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values then those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "directPurchaseShipment",
                "parameters": [
                    {
                        "name": "x-amzn-IdempotencyKey",
                        "in": "header",
                        "description": "A unique value which the server uses to recognize subsequent retries of the same request.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "The IETF Language Tag. Note that this only supports the primary language subtag with one secondary language subtag (i.e. en-US, fr-CA).\nThe secondary language subtag is almost always a regional designation.\nThis does not support additional subtags beyond the primary and secondary language subtags.\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-amzn-shipping-business-id",
                        "in": "header",
                        "description": "Amazon shipping business to assume for this request. The default is AmazonShipping_UK.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "AmazonShipping_US",
                                "AmazonShipping_IN",
                                "AmazonShipping_UK",
                                "AmazonShipping_UAE",
                                "AmazonShipping_SA",
                                "AmazonShipping_EG",
                                "AmazonShipping_IT"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "value": "AmazonShipping_US",
                                    "description": "The United States Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_IN",
                                    "description": "The India Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_UK",
                                    "description": "The United Kingdom Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_UAE",
                                    "description": "The United Arab Emirates Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_SA",
                                    "description": "The Saudi Arabia Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_EG",
                                    "description": "The Egypt Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_IT",
                                    "description": "The Italy Amazon shipping business."
                                }
                            ]
                        },
                        "x-docgen-enum-table-extension": [
                            {
                                "value": "AmazonShipping_US",
                                "description": "The United States Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_IN",
                                "description": "The India Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_UK",
                                "description": "The United Kingdom Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_UAE",
                                "description": "The United Arab Emirates Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_SA",
                                "description": "The Saudi Arabia Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_EG",
                                "description": "The Egypt Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_IT",
                                "description": "The Italy Amazon shipping business."
                            }
                        ]
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/DirectPurchaseRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {
                            "x-amzn-IdempotencyKey": {
                                "description": "A unique value which the server uses to recognize subsequent retries of the same request.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/DirectPurchaseResponse"
                                },
                                "example": {
                                    "shipmentId": "445454-3232-3232",
                                    "packageDocumentDetailList": [
                                        {
                                            "packageClientReferenceId": "ASUSDI-45343854",
                                            "trackingId": "T1234567",
                                            "packageDocuments": [
                                                {
                                                    "type": "LABEL",
                                                    "format": "PNG",
                                                    "contents": "iVBORw0KGgoAAAANSUhEUgAAAywAAATCCAMAAABouZLTAAAABlBMVEUAAAD\/\/\/+l2Z\/dAAAACXBIWXMAAB84AAAfOAGTPyf1AAAfLklEQVR42u3dCXajShZAQb2u2v+WX3+XNTBkMgkQoIhz+ndZlsCWucpEA0TcgCn+5y4AsYBYQCwgFhALiAUQC4gFxAJiAbGAWEAsgFhALCAWEAuIBcQCiAXEAmIBsYBYQCwgFkAsIBYQC4gFxAJiAbEAYgGxgFhALCAWEAsgFhALiAXEAmIBsYBYALGAWEAsIBYQC1zaX3fBeaW7YCVhZAHTMDANY4vpw6cninGGH9LIAqZhIBYQC4gFxAKIBcQCYgGxgFhALCAWQCwgFhALiAXEAmIB9vkM\/s9nnGPuDTq3KFw0\/4doLODt5SGWFft4bI358\/85Z8OM\/jEEnhflwm28s8xw0C0OEku8Nur0CL6rvDUeqCrXiCmjf94aS8qxha71w0f1Qbd2te4kofOgeLJpmBnPrqnct+0s3uc5XFhh8P1dSmz\/mJe1X+aWnd8le9fJ3GMLO90OfoTuxh+Worj1ZdZaiQmL3fR+L\/1ozz6j\/th7v07scixbB9m7aDJZaCBuy7epjM0Tz0orE0ejjLPHku1f+zGwZ2ucb06YC89aFean2Xr+4HlXx6256NcfIIbm5r3Lvm4va8pmtvs9ku+Vd8ZYor3pxXPrbXSSjT9YtobU3yfSGvPR1u0fs+loXbOxzMfFr60h+3uRvXWcfxJ2rEFjhVaisnufrX2qzX+PA0zD8reO1zZ\/n0Q8voqcdNe2rpnN0SeetWR\/tJ++DrqbcuMpgE2eLTtaxAfYwY9bc5YWE4fkZw1ZeqIkynd1DAzxeb3nEKb9GvMfkH92xuP3OajmBRG3zP2TXWXmdvod\/On7DtVrRm3f9+r7J9O3m\/FWMor7eJHd3cYVB+gs78L2Z9F7+nvav\/l9cpUxfM1ccbs6VyprbVKjNeXWf\/6j7FAePJZ485o54Sn4uGAo03+tCSlk1NvYdKc6F75+stVZYU78ruMo\/CEXT+SuI+J3n2va7sOkjT2nb6Dr7+HH3MHr\/vtvsP90uFiysA8\/eu3lL+DGNU9jOnsLW6uWDeYVnd9l0pxsm1z+95keKr9GzLrjY9lYOzrcZOa31JKxQi1xxLttixnF\/z7xSwy+BPjfff74E76eHp48QOTguJH9Vqav44K15L97O++beXlrj8KA3\/ni9U6to92J6\/48f2LLHzIKL1ZFv\/t4Xiua343nFDj6Edyv0B53e2uM5\/caT222X0R73fKEO\/2x7Psx4\/pR\/Fb70ojBRcfC3yiKk46Yc4NY53789XfjP2IMzkQL14ry7WPyPRu1lUXt54odRvAzj1FZuCDb7+irvUa83kqnXOkL3u7CAQamoY9+R3Yq+FdLdX5wXWK5liy+p\/rNx9xuLb3PYsXmtUT1B8voxL7dS5iO7nLZalacl7R38ncZQSqfvZlZQoiFvTeVmFxJrP7DD84Q62veIOk\/9mavlkMUtrDobEIxY6rT\/F71A74xtFVPfPdz58qNjwvXm3hdqfB6wPT3E0y7ok+0X2oH5dZ\/b1hWRoYYuE372q1Xq6K0nOr70Sa\/Syurg0rnk7IxYcI5871hKZZvjWWX3aGYuFGu\/ZbGTX7jybHYZ2HJUwcb7D4f398v+ePG+GXj3+L22bcFffiDLX8\/cF\/v\/AuXjtQ6cPRWB3Z962HoykzDmPvYc7u\/Y3L\/Vj68h32YaVhudXQFNhmpv3G2+nf\/u\/qNibAJ0nEGly9kGgYfHVnah2VtHFC1fNjWzjFeO0dg7V3t8ejWW1gUDgdbGJkq77Wdfc4lxLLutDZ\/9sryVjq88fO9rJ1jvJaOwPo8MGs0N\/rszaG7h4PttlI9mOu1juLKyfZZ2sdKzd6hIZqHba3cPCcfXrWx+KHlVg\/m6iiufHKfJXpzn+J74IZuHpN37hvXnnwci+LhMeTCp3bw353VrPoaZlQ\/5Oxcfnx0GrbqswXbL8uQwvljWfM9qwMH1TOy8OFp2MGGKEVw3Vh2OrxqmIbx8Vg2ezTPlY5\/aLjhALHkjE1xcFfidXjVaLyBb\/4LiEMHc73qUVxZ0YYHrIj2qYULB7eJxkFUm\/vY7SOwNo+VEKWr9xYfrQV0V1I4mGtzNZucHXHD6aOfcrefcKtPCJjd7PKMRRz+JzxBLD6DD2fbwYfL2PAt+t7Bi1iust8JpmEgFhALiAXEAmIBxAJiAbGAWOB0nIAVvEUfTMPgM+OPaRgYWUAsIBYQC4gFxAKIBcQCYgGxgFhALCAWQCwgFhALiAXEAmIBxAJiAbGAWEAsIBYQCyAWEAuIBcQCYgGxgFgAsYBYQCwgFhALiAUQC4gFxAJiAbGAWEAsgFhALCAWEAuIBcQCiAXEAmIBsYBYQCwgFkAsIBYQC4gFxAJiAbEAYgGxgFhALCAWEAsgFhALiAXEAmIBsYBYALHA0WJJdyrX9HfrFfy2E+5pTi9i\/Tii9WX0LwTTsFKN7mPEUp11ZakYuzKIZXgkMbAglsrAEkYRxAJi2YFnwxBLfxZW2pvXClew+YuSv+FohfNb9UXJjMpIYmjBNGxqkp4hw8jSm3C98jC2YJ9laAB5pJHSwDQMxLLW7r19FMTy7n4MiKU7sPSHFvv3iGXa0KIVLmCtp47br9Pnc3xp\/hPEAqZhgFhALCAWEAuIBcQCYgHEAmIBsYBY4Iy2O27Y8\/MsUbw8Zi2jyVs\/uUIszRDi31evLfvx4bC49Y9mUT+8Re9IZKt99NIhNfhgLPn4BEvec\/GZYuyzDLVSmSblwJiQG31UPwe\/94mUPXyIpT1nipGtY6cJUB5uy0ytiKWWRbx161vxc5wrfrTTpsvnRpaFG+cndrXt3vPRHfyhEWXvR\/F8\/Te2Xku0\/53l+2Cfn4izxVJ6CH89NdZ9UP85D+WCgyN3t8ns7jcNHX+pss7edl654LWWbDxCZPfCVhnhiFBiGZrbbPfk8eNp6uy8EvO6YMkyW898Fy+4b\/TPS5q\/4fPfkY2uUiD2WUpzrxx6JB+ai809OHLjaersXjDjB26u85FZVC\/4t5K4P8mQU37EcKQpscyvZfVd7fbT1DMnOOV19p757lyQ3TnVyDAVSx4G+IpYHtOgkRFjjeehsrAbscq++npPSRhTxDL+aF965S3rG+C9ndUegKdspOV1RncRYcNns1juW1Xl5cmNX0187+XxCQNLdmZoZlffZu2njv89b7pkpjXz2ePs3XrB807hdH58MJbf7fa1Cfa2x87WuXRjLT9JPS0XgXCQWDq1NPcRSg\/kudJWHLfpuaRyOEYsc16KzBWf1XrkEjuuEzv468rbTltn9fkFOEMs3efB6jsw059gql9zwpO85XX2FtlfR+sSb\/MSyzvjR04KZ6PBy3DCWUeWWHijXPuak5c0YWgZmWYKViwblrP8mah4bZuZnZ2hGFxtdZ3NRdYv6M3CGiedjU0eQjiMP7F+FdnZSYnivytbT0zb0gq7QVHYlSgcd6m6zuobKFsXPN4uGr3lRfOnaK0nhn8iTmK9tz09t6DuQ2zrqdru07a9D29VP2PY+052Cq1cJXq3qa+z9znG8gW1hQ48IxC1n4hvjMUp7xELsNcOPogFxAKIBcQCYgGxgFhALCAWQCwgFtjXuqec+PnP5Hdmbv6xDp8b4bCxPE5nEiMf+xjtrckGz1Gsez7TeD2gNz6zmFF6qC8fHyWj\/c03RgcHYOGo+yyf2zY\/d6AIh6gQy9pbVBamVLnWtlY7qEpuvjE7nItY3p7ZPf6bg4\/DMXDjVXZZzMFY1xZHd+l\/3Ttcyv0kk0Mb9MChJxrnEK4e5qKwgtLRKspftg9B0fzH6+dIUX6bzU\/t\/TsdireXEf\/NeponkLwfkT8m7yvl40hgMf5l\/zTdcf89niuesWZMw\/ojQQ4OERlvtfLccB9fLRr4ovxlPr8c2g\/JCddBLBNryQnxLNnsorTXc5uzXefQ\/pO9IHbewS+e2\/t332Hd8z3+ri1mLiMaN6t+adhgl1j+bXmTnk999xTFufUKYONY2oNLrHg+uvzRXIcG2N3qZyvO0r5Ddt\/pkgsibK9j8KD1aUDh+LFMO1124xWTRacBH30++s0VwPbTsPrOxboP9RE3uyNcKJbXCxntVziydeKTXL7wkd17u\/gcNJbcMrrWMwX5\/jJqX3pRnn1HlpHNbeEpimdku+IKDEtsF0v5rcXxbn2tE0fmbf7riM+XgLL25a1zqsjRN7WZ4n2ZVU+TF915zGtby+Z54rrvH+62VLg0m5cMvn24voK8Fb5Vud3z\/cX3i\/tvrCzdBrHMGlRsO4gF7LMAYgGxgFhALCAWEAsgFhALiAXEAifhzF\/wgVic+YtLc+Yv2H2fxZm\/EMv7W5QzfyGW8szu8V9n\/uJSnPmr9KUzf1HgzF\/O\/MXu0zBn\/kIsc2px5i\/EMnVbcuYvxDKpFmf+QixLBhdn\/uJanPkLPhSLM39hGvbuvrkzfyGW4Yd3Z\/5CLAODyAbROfMX1xxZnPkLsczfupz5i+tw5q\/y7Zz5iw1jceYvxAJstYMPYgGxAGIBsYBYQCwgFhALIBYQC4gFPmu1A1a0Ptnh3Zlc0AZn\/mof8R5Mw4YD3OwjhD6byLX2WTarxZEoudwOvo+nYwd\/8cyp8\/H59n7N+KfoXx+iz\/bCWh+GdyQjTraD39vdbx3I4udf2bukcWbw9lbf\/jLbFcXrkMd5PwayWDjZNKwXTWte1jvTUPuIldE76l1UFxytxSqFM8dS2aPpztLeWIwzoXKNfZbXsfBqx7NvHi2vuslHeUdowvXg1CPLgucH4PIjy7t1\/Oy0185bpCK+PJbs7PvXT\/NlzsVVpmGxzg0jjCJcOpZc8YZO84Ud\/O0HKTh8LP2zp1TfiTL8NrLqOye9+4xrxOI9Wohl0g5HNlvpnVOrOEa8TsIVrfN73eqn+eqeDgy23huIVTsp7mP03nVcPoNW732Vjbcax8DC4lY7gxgcMhYwDQPEAmIBsYBYQCwgFhALIBYQC4gFxAJn8\/cUP2XrXcnwGRu\/RX\/4+N9RXVZ0Fh231kdi2h9hERHniqV25q\/O4cKbn18pbeWF7xSOCp5xKy8fzrXP0j3zVxauUYu0\/51sHtg1q4XCOXfwVzyaROEjylrhQrEUPyu\/7uLhIrFsNMyYhHHBWDqnKsp1cnCwMK49smy3jRtYuFwsJmGI5QC7LXCxkWWLWgwsXHMaZmxBLPZYEMsag8mGQ4tWuEosudJErH0rhfAd07BVxxbZcJVYittybLYuOG0sKz7uN8ej7JzDBc4bS+HMX28PLa1TgWmFz9nhY8X1T0oWAsryQnysmAvFsilnwUMsM5NRC2LZ\/XkDuHYsDiCGWIwuiAWuw7GOQSwgFhALiAXEAt\/jwCcz6r4J8\/gLxsjyIZu9BOS1JT47srTeGDzw2P3GK\/CNVTTe9uIlfc4WSzS32miem+u2wSq2WQEcdRr2zofntcL1d\/BjjVSaragGO\/jGFb5oZHns52d\/zz8fX70OQVE9B\/hQK+0FRnlBOfTMQ\/Oi3kLS0MVrErPBqb0b2\/PPZRnFA7Nk95AU2TweRdQ27OiOK60Fttf1u8j2gS6il0fvx3supLM0TMP2mDINH43yd4OMziGPah1nTF3Xb37R7Sr6lzR\/vOdCJvzkiGWTPfoJV8qp8U1aV94WPZkQnjrgsDv4s85tn2udzLV1ifGDc8Qyd6CyWfMRB3kj5YztP9Izx3xzLHO2frVgGrb2TMyr\/Hx9LDNqyZujvvLVscypJbXChWLpbPpTSphWS2b8qN\/oeYnX6dk1ltY5utbY9PLNWnLJguF4I0tjc28+wL++HA5u6tjy61ZZ8OMSAwsTNtk1N5J8vle3dYKvKPzj+e3WG12aZ\/bqv5WyeePHvwdX0T+NWGHB\/Z+i+gMjlnVzOc6mleX3\/8MyK78oeaRN8jWuhJ0UTr3PAmI55nTTn5qD7bMcSjqyGGKZudsiFcQC9llALCAWEAsgFhALiAXEAmIBsYBYALGAWEAsIBYQC4gFxAKIBcQCYgGxgFhALIBYQCwgFhALiAXEAmIBxAJiAbGAWEAsIBZALCAWEAuIBcQCYgGxAGIBsYBYQCwgFgAAgJVEuA\/ADj6IBcQCYgGxgFgAsYBYQCwgFhALiAXEAogFxAJiAbGAWEAsgFhALCAWEAuIBcQCYgHEAmKBzf11F7CpvP9\/dC6Y+\/X0GxhZuFg83a9z5HqzFyAWsM8CYgGxgFgAsYBYOIuofB0j15u9gA1+dGcrZlO5dl1ZiyO3rsbIAmIBsYBYQCwgFhALbCsq\/7\/agjf4kb3Owqa6r37k2Eaeu238RhYQC4gFxAJiAbEAYuGYTvTahYPs8Vk5tx6fZwHTMBALiAUQC4gFxMLVeZ0FJkbSe51l7PMs1Rtunp2RBcQCYgGxgFhALCAWoMNxw9jW2PlZJn8spfb6y36vtxhZQCwgFhALiAXEAmIBOnyehX2Mnp+lKyd+P7K9AiMLjESTYgH7LGCf5UNjcYzNeCvvNYr6yD727qT2NbK6qrGfZeAgvcsW+sYK21fyzsGrxZJv3Sbrm2FO31qy+9WSG3ZvtnihS1f47r0qlsuF8rhZPP6R\/QEiSt8aE42faOINs3O7\/s0WLPS9FWrlkvssme+2cn9gze634vGfORtNtKY2uex2udJCF69QK5cdWWLJnzUb20rkyEYy+dH8cb3IJZvu83bt9S1d6OIVbtbK6H7SY0cxpi4gR74WS++vXt+Mxu71QhHtb0V\/JjbjL7H0duss9N0VxqfGlly2m7hgAd81Dds0wv1vPjgviu1+z8Jo6mmwK07DNq5m8k5+HDDaN2ZMWhHL0pH9sIPYJivUyvdNw2JGGLHxtr37wPPGCj0RZp9l943ivDMzA4tYuttCPv8Tq2aVW2yquVcbJmH2Wfr77a\/t4iBjQG6x0Lkr3KyVqS+PRO2nG13A5pH\/uczDSMz4RgxfYcEFvU0wlm7ssepC566w00qs\/\/fJytej6xxdwOab8heMLKV3C0b53bwx\/H6p4WWOb9WL3wy5fKEzV2jn\/itjab3pqz+3aNQykEbOWWb93fQjP8tQEcsWunSFaef+i3fwI8qvUrfegZmjpzWctMzBJY7fLsemErMXumSFWvneWG7l93RkZ38wi\/PizDnL\/Nk2n5tn5bYxtGNd3Ed9b6EzV+iJsG+PpbDB3D8DGDFQy7+3\/8esWtrPyczesIdWt3ihc1aoFbEM7IlE3AaeUln4XOSiz57kyOrW\/UBLcYV27sd8wVPH3WfwW3P16N38sQk1N6UYW+a73xvfs958hTn\/jl3095n6\/4sXsJ1vfSPlq43+J3bj3c1l8jPQ01tZsNB3V7jZeD78dc5dUPUFGNOw1f9ocYgfKa69Qvssl5+\/7TSNzw\/EiWnY3jWttenG3q3E6G+Zt5vxx8hy7GmhccXI8vndgHj3djO\/N+1nGXoAX7rQxSvk60eWLGw2k97rmgsfnnPRIqf9FnMXahwxsqy455HD2+AWH97tvnUg11hq7L3CN\/8eOfz\/B9zFvHAsGeVtvnPIlpx6u6nfK40BQ7eb9EvMXejiFe73oFV\/uXThGOnDX9MnWeUneAobWeuvVHoDYwxsZjEwI2od7zWm3C7H\/+jzF\/rmCkdnfQd54N9\/yz11LDn5Huxsf5Pfl754Dhax\/I8cKy90\/gpzw43yxLFcdRrWPAZyDH679zheHaqGlhmDH9PKZX\/hpQtdvEJuCx8BYYPhf7UTwuy\/5XpREsQCYoGP8EZKdto7HtuHGb3C1H0dn2cB0zAQC4gFxAKIBcQCe\/E6C\/sYPapX7bwrtcvfPrybkQXEAmIBsYBYQCyAWOBdf3wGn4+K1Y+Z6fMsXNSJji8rFhALiAXEAmIBscD3cKxjMLKAWEAsIBYQC4gFEAuIBcQCYgGxgFhALIBYQCwgFhALiAXEAogFxAJiAbGAWEAsIBZALCAWEAuIBcQCYgGxAGKBFf1dYyHpfuQ4Njvzo5EF9hxZOP6j4tfYcJpjZAGxgFhALCAWuIBTPRtWeKooZ10hhm\/k9SIGt781nqvMnXvJ1maes64QpR84Sr9EfCIeTx2\/vzFudh\/+OdtfJ3pfxrwrRGmT7IYREXGEX48j3Ydnf1Hy53FkcAgoXyHS9sr37eDn2PadMwPIf2waXC+W8T2LNHwglunbfnTjUQvfGMvsocUci2\/cwZ+yx96\/QsaEW3ydbI\/D2bvjWhfXri6WK1JLb6ramqD++zKqF1cvNw274oOo3ZbRXb8Yurh6uVgOvunPfPbYqDJlDy\/GL65eLpaLP5AaWpqbf8bIxdXLxWIi9r2PH+Hh5qtHFrWMTMR6I0Xl4urlYrnk3JzyzGr04urlYrHb8kX3SMaUi6uXi8VE7GvumuLGX7m4erlYTMRMxL5zIuYz+IaW4j0SUy+uXi6W844SaSK2wv2Z3zxIXyKWWHwFtajFNMxuyxv3Sfn4A5WLq5eL5VKzMLst5Y2\/eI9VLq5eLpaLDi1qKT18eEbsgrHEW1cwESuNFDHx4urlYjlsK\/nWFejPqjp3WuXi6uViueYei47m3jXf+ozY+WOJsT\/S6BXU0h8ppn20pXr5Nf09fyrvz8HSDr6hZIKzHeu4vTsZ\/VFj7ApRfSfHwGIO9GTFxq1E70eJ6sXVy4+wjWyy4DMdRX+tU07cColldSH5LbG0DmaU5Z+scTdVrv7pWlIs38KE8MCxeNcxiAXEAmIBsYBYQCyAWEAsIBYQC4gFxAJiAcQCYgGxgFhALHB5f90Fh+JwBkYWEAuIBRALiAW2tMqzYQ6juALPgxlZQCwgFkAsIBYQC4gFxAJiAbEAYgGxgFhALCAWEAsgFhALiAXEAmIBsYBYALGAWEAsIBYQC4gFEAuIBcQCYgGxgFhALIBYQCwgFhALiAXEAmIBxAJiAbGAWEAsIBZALCAWEAuIBcQCYgEAANhFhPvgGNJdsNY2bQcfjCxwDkYWEAuIBcQCYgGxgFgAsYBYYFN\/V1nK7\/ua4t8\/4nFJVK5w6135ef3n1W69hRRv2Lx+58KBKw\/\/DMM\/\/MRV3Hq\/1+gNo3c\/3Hq\/flQW2F9j\/x4buKOmXGHuzzDl1yzet7fSMvt\/sv5KjSxgGgZiAbGAWACxgFhALCAWEAuIBRALiAXEAmIBsYBYQCyAWEAsIBYQC4gFxAKIBcQCYgGxgFhALCAWQCwgFhALiAXEAmIBsQBiAbGAWEAsIBYQCyAWEAuIBcQCYgGxgFgAsYBYQCwgFhALiAXE4i4AsYBYQCwgFhALiAUQC4gFxAJiAbGAWEAsgFhALCAWEAuIBcQCiAXEAmIBsYBYQCwgFkAsIBYQC4gFxAJiAbEAYgGxgFhALCAWEAsgFhALiAXEAmIBsYBYALGAWEAsIBYQC4gFEAuIBcQCYgGxgFhALIBYQCwgFhALiAXEAmIBxAJiAbGAWEAsIBZALCAWEAuIBcQCYgGxAGIBsYBYQCwgFhALiMVdAGIBsYBYQCwgFhALIBYQC4gFxAJiAbGAWACxgFhALCAWEAuIBRALiAXEAmIBsYBYQCxASYT7AIwsIBYQC4gFxAJiAcQCYgGxgFhALCAWEAsgFhALiAXEAmf1112wjfz5j4+hiuV7tvafzT1fl8VYDc8b\/fe\/XLLKGI4tWxdm90cS56Z8Bn9ow71vva\/\/e26bzW+Xb9T\/7qS1xtCmn\/8WH5WvjGT2WT7XSmfji9cw8\/x2NkeU0o26o860AW0gpXits\/FVpr+ZWI41Dpc35ilb6uStOce\/k\/2vwhRBLGecpb653eZgrI2RKzyHsK8\/7uzhTbP972hcHJ2xJno3uk+SmtfJ1sWNJwTuF0VnZZXd\/+h8dSveorQCjCxbhDLyEJ\/37TXiMQ3q3yjvM7DndSJa86iIRmXPL1bc\/+ivALFsUksOjzq956u6N8oo7kvk76W5JFPEctBJWM7cvejcKMrX60zm7s9nRXUutc6TEl6FEcu2O\/dZzaQcU+FGsXjzRiwX2HHJekxzp1H3NDKGx6y3hxYDi1i2n4qVW6nvjMeGkSKW08jiE8orPPJnjNYSrX\/G9J+isALEsmIVudeNirOuGLha5YX8mU9FIJZtZ2LZf4Ir5tyovoqYUEvlpfuY9DsYWMSy6Yyr+3ic3Zfps7UL3b9RtvZvcnGkz8uy8cbk9lfs8MDpvh6auHR2HqI7r+m+P775KZR8vbvldZ1HXtla4H2Hov0ZltJeRvXzLDk8zthjEcuXJDv7yYRlt8I0DIwsYGQBsYBYQCyAWEAsIBYQC4gFxAJiAcQCYgGxgFhALCAWEAsgFhALiAXEAmIBsQBiAbGAWEAsIBYQC4gFEAuIBcQCYgGxgFgAsYBYQCwgFhALiAXEAogFxAJiAbGAWEAsIBZALCAWEAuIBcQCYgHEAmIBsYBYQCwgFhALIBYQC4gFxAJiAbEAYgGxgFhALCAWEAuIBRALiAXEAmIBsYBYQCyAWEAsIBYQC4gFxAKIBcQCYgGxgFhALCAWQCwgFhALiAXEAmIBsQBiAbGAWEAsIBYQCyAWEAuIBcQCYgGxgFgAsYBYQCwgFhALiAUQC4gFxAJiAbGAWEAsgFhALCAWEAuIBcQCYgHEAmIBsYBYQCwgFkAsIBYQC4gFxAJiAbEAYgGxgFhALCAWEAsgFhALiAXEAmIBsYBYALGAWEAsIBYQC4gFxAKIBcQCYgGxgFhALIBYQCwgFhALiAXEAmIByv4PwWms3AV97VoAAAAASUVORK5CYII="
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "InvalidRequest",
                                            "message": "Request is missing or has invalid parameters",
                                            "details": "ChannelDetails object cannot be null"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "Unauthorized",
                                            "message": "You don't have access to the requested response or the credentials are invalid."
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "Unauthorized",
                                            "message": "You don't have access to the requested response or the credentials are invalid."
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "NotFound",
                                            "message": "The requested resource is invalid or doesn't exist"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "InvalidRequest",
                                            "message": "The request payload size is greater than maximum accepted size."
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "InvalidRequest",
                                            "message": "The request payload format is not supported."
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "TooManyRequests",
                                            "message": "The total number of requests exceeded your allowed limit."
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "InternalError",
                                            "message": "Something went wrong while processing the request."
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "ServiceUnavailable",
                                            "message": "Service temporarily unavailable or down for maintenance. Please try again after sometime."
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body"
            }
        },
        "\/shipping\/v2\/shipments": {
            "post": {
                "tags": [
                    "ShippingV2"
                ],
                "description": "Purchases a shipping service and returns purchase related details and documents.\n\nNote: You must complete the purchase within 10 minutes of rate creation by the shipping service provider. If you make the request after the 10 minutes have expired, you will receive an error response with the error code equal to \"TOKEN_EXPIRED\". If you receive this error response, you must get the rates for the shipment again.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 80 | 100 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values then those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "purchaseShipment",
                "parameters": [
                    {
                        "name": "x-amzn-IdempotencyKey",
                        "in": "header",
                        "description": "A unique value which the server uses to recognize subsequent retries of the same request.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-amzn-shipping-business-id",
                        "in": "header",
                        "description": "Amazon shipping business to assume for this request. The default is AmazonShipping_UK.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "AmazonShipping_US",
                                "AmazonShipping_IN",
                                "AmazonShipping_UK",
                                "AmazonShipping_UAE",
                                "AmazonShipping_SA",
                                "AmazonShipping_EG",
                                "AmazonShipping_IT"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "value": "AmazonShipping_US",
                                    "description": "The United States Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_IN",
                                    "description": "The India Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_UK",
                                    "description": "The United Kingdom Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_UAE",
                                    "description": "The United Arab Emirates Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_SA",
                                    "description": "The Saudi Arabia Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_EG",
                                    "description": "The Egypt Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_IT",
                                    "description": "The Italy Amazon shipping business."
                                }
                            ]
                        },
                        "x-docgen-enum-table-extension": [
                            {
                                "value": "AmazonShipping_US",
                                "description": "The United States Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_IN",
                                "description": "The India Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_UK",
                                "description": "The United Kingdom Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_UAE",
                                "description": "The United Arab Emirates Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_SA",
                                "description": "The Saudi Arabia Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_EG",
                                "description": "The Egypt Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_IT",
                                "description": "The Italy Amazon shipping business."
                            }
                        ]
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/PurchaseShipmentRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/PurchaseShipmentResponse"
                                },
                                "example": {
                                    "shipmentId": "87852211788104",
                                    "packageDocumentDetails": [
                                        {
                                            "packageClientReferenceId": "abcd",
                                            "packageDocuments": [
                                                {
                                                    "type": "LABEL",
                                                    "format": "PNG",
                                                    "contents": "sdioadaiosfhdodsaiufhouafhoudfhdouahfac=="
                                                }
                                            ],
                                            "trackingId": 1578648261977
                                        }
                                    ],
                                    "promise": {
                                        "pickupWindow": {
                                            "start": "2019-12-11T07:09:05.513Z",
                                            "end": "2019-12-11T09:09:05.513Z"
                                        },
                                        "deliveryWindow": {
                                            "start": "2019-12-13T07:09:05.513Z",
                                            "end": "2019-12-13T09:09:05.513Z"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "InvalidRequest",
                                            "message": "Request is missing or has invalid parameters",
                                            "details": "RateId cannot be null"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "Unauthorized",
                                            "message": "You don't have access to the requested response or the credentials are invalid."
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "Unauthorized",
                                            "message": "You don't have access to the requested response or the credentials are invalid."
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "NotFound",
                                            "message": "The requested resource is invalid or doesn't exist"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "InvalidRequest",
                                            "message": "The request payload size is greater than maximum accepted size."
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "InvalidRequest",
                                            "message": "The request payload format is not supported."
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "TooManyRequests",
                                            "message": "The total number of requests exceeded your allowed limit."
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "InternalError",
                                            "message": "Something went wrong while processing the request."
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "ServiceUnavailable",
                                            "message": "Service temporarily unavailable or down for maintenance. Please try again after sometime."
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-amzn-api-sandbox": {
                    "dynamic": {}
                },
                "x-codegen-request-body-name": "body"
            }
        },
        "\/shipping\/v2\/tracking": {
            "get": {
                "tags": [
                    "ShippingV2"
                ],
                "description": "Returns tracking information for a purchased shipment.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 80 | 100 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values then those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).",
                "operationId": "getTracking",
                "parameters": [
                    {
                        "name": "trackingId",
                        "in": "query",
                        "description": "A carrier-generated tracking identifier originally returned by the purchaseShipment operation.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "carrierId",
                        "in": "query",
                        "description": "A carrier identifier originally returned by the getRates operation for the selected rate.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-amzn-shipping-business-id",
                        "in": "header",
                        "description": "Amazon shipping business to assume for this request. The default is AmazonShipping_UK.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "AmazonShipping_US",
                                "AmazonShipping_IN",
                                "AmazonShipping_UK",
                                "AmazonShipping_UAE",
                                "AmazonShipping_SA",
                                "AmazonShipping_EG",
                                "AmazonShipping_IT"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "value": "AmazonShipping_US",
                                    "description": "The United States Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_IN",
                                    "description": "The India Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_UK",
                                    "description": "The United Kingdom Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_UAE",
                                    "description": "The United Arab Emirates Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_SA",
                                    "description": "The Saudi Arabia Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_EG",
                                    "description": "The Egypt Amazon shipping business."
                                },
                                {
                                    "value": "AmazonShipping_IT",
                                    "description": "The Italy Amazon shipping business."
                                }
                            ]
                        },
                        "x-docgen-enum-table-extension": [
                            {
                                "value": "AmazonShipping_US",
                                "description": "The United States Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_IN",
                                "description": "The India Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_UK",
                                "description": "The United Kingdom Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_UAE",
                                "description": "The United Arab Emirates Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_SA",
                                "description": "The Saudi Arabia Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_EG",
                                "description": "The Egypt Amazon shipping business."
                            },
                            {
                                "value": "AmazonShipping_IT",
                                "description": "The Italy Amazon shipping business."
                            }
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetTrackingResponse"
                                },
                                "example": {
                                    "trackingId": "23AA47DE2B3B6",
                                    "alternateLegTrackingId": "null",
                                    "eventHistory": [
                                        {
                                            "eventCode": "ReadyForReceive",
                                            "location": {
                                                "postalCode": "4883493",
                                                "countryCode": "CC"
                                            },
                                            "eventTime": "2019-12-11T07:09:05.513Z"
                                        }
                                    ],
                                    "promisedDeliveryDate": "2019-12-12T13:09:05.513Z",
                                    "summary": {
                                        "status": "PreTransit"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorList"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "InvalidRequest",
                                            "message": "Request is missing or has invalid parameters",
                                            "details": "CarrierId is missing in the request"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RateLimit-Limit": {
                                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned.",
                                "schema": {
[...]
